[2019-09-26 08:50] yds05 commented on #1565
Hey, apatsekin, thanks for reporting this  issue. Have you explicitly set gpuNum in  your nni config? Looks like you didn't specify this config entry so 1 trial can use all of the GPUs on the machine. If 2 trials are scheduled onto the same machine, one of them will fail due to OOM.

[2019-09-26 17:40] apatsekin commented on #1565
@yds05
`gpuNum` solved the problem, thanks! It would be great to mention it in remote tutorials

@SparkSnail due to the absense of `gpuNum` in my configuration, NNI randomly assigned tasks to one of the two machines. So even if #1 machine is having one RUNNING task at the moment and #2 is totally idle, new task might be assigned to #1 machine. In general it's kind of imbalanced dispatching from on

[2019-09-26 17:40] #1565 closed

[2019-09-26 20:01] apatsekin opened #1573 "Assessor visibility: progress, logs, logic"
**Short summary about the issue/question**: While running two different experiments and having over >12 successful trials in each, I haven't encountered any clues of assessor's work.

**Brief what process you are following**: I was running `remote` experiments with two worker machines (concurrency=2, 1 trial per 1 node). First experiment was using CurveFitting assessor: after > 10 completed trials

[2019-09-27 04:59] ultmaster opened #1576 "nnictl package install not working for venv"
It seems that `nnictl package install` makes the package going to user level, which makes it not accessible from a venv.

Warning:

[code]

Corresponding code:

https://github.com/microsoft/nni/blob/958efabf066b975a5cdcde293c9de33ec1430cb2/tools/nni_cmd/command_utils.py#L49

We could consider removing this `--user`.

[2019-09-27 06:49] lvybriage commented on #1492
Hi, @martsalz
Thanks for reporting this issue. We show this `Experiment Parameters` and provide the `Download` function for these users who wants to export the data for further study. So we show the origin timestamp rather than the local time(string type).

For resolve your issue, we add the `Start Time` and `End Time` column in the table. This columns are hidden by default, you can see them by cl

[2019-09-27 06:51] lvybriage commented on #1466
This feature is implemented in v1.1

[2019-09-27 06:51] #1466 closed

[2019-09-27 06:53] lvybriage commented on #1209
This feature will be implemented in v1.1

[2019-09-27 06:53] #1209 closed

[2019-09-27 10:06] QuanluZhang commented on #1567
@martsalz thanks for your feedback. May I ask how did you calculate `n`? And did you use `trialConcurrency=1` in your experiment?

[2019-09-27 10:30] SparkSnail commented on #1561
Hi,
    For the fourth problem, it might caused by the subprocess module in python, maybe you could refer the [issue](https://github.com/jupyter/notebook/issues/4079) to find the solution in your machine.
    NNI is a toolkit of AutoML, used for neural architecture search and hyper-parameter tuning.

[2019-09-27 10:33] martsalz commented on #1567
Yes, `trialConcurrency=1 `

After the experiment was finished, I sorted the table by trial no.. Afterwards I checked the `TRIAL_BUDGET ` parameter for each single experiment. Then I counted how many trials have `TRIAL_BUDGET=81 `or how many have `TRIAL_BUDGET=27` etc..

[2019-09-27 11:23] QuanluZhang commented on #1567
@martsalz According to line 2 in Algorithm 1, `n_0` should be 34 when `s=3`, right? If the `s` in `(s+1)` (line 2) is `s_max`, then the `n_0` is 27.

[2019-09-27 12:09] martsalz commented on #1567
Yes, it is.

[2019-09-29 08:45] justttry opened #1578 "failed to train with remote mode"
hello, everyone,
      I used the experiment examples/trials/weight_sharing/ga_squad/config_remote.yml, and I modified the machineList with my own machine, but the experiment was waiting and the log is below. Is there any suggestion?
[code]

[2019-09-29 12:27] martsalz commented on #1578
Can you check if `nvidia-smi` is available on your machine?

[2019-09-30 02:13] xuehui1991 commented on #1578
The log shows that you might have enough GPU resource to run this code. If you want to run in CPU, you can change the setting in `config.yml`.

[2019-09-30 07:22] QuanluZhang commented on #1573
@apatsekin thanks for your feedback and suggestions.

your question 1: yes, in the current version, logs will be wiped out after resume. We also think keeping the old log is better, so this will be supported in the next release.

your question 2: after resume, assessor's state is not resumed, only tuner's state is resumed by replaying the results of finished trials. Thanks, we will consider to sup

[2019-09-30 08:49] #1560 closed

[2019-09-30 10:00] thomas-beznik opened #1580 "View Web UI in Google Colab"
Hello everyone,

I am trying to use nni inside of Google colaboratory. I am able to run experiments (I see that the experiment folder and trial folders are created), but I can't open the Web UI...
Since the experiment isn't started on my local machine but on the google colab server, I know that I can't access it with the usual "http://127.0.0.1"; I have thus obtained the IP address of the notebook

[2019-09-30 12:41] martsalz commented on #1567
But I still can't reproduce the table according to your instructions (replace in line 2 `s` in `(s+1)` with `s_max`). See:

i | s=4 | s=3  | s=2  | s=1  | s=0  |
---|---|---|---|---|---|
0 | 81, 1  | 27, 3  | 9, 9  | 3, 27  | 1, 81  |
1 | 27, 3  | 9, 9  | 3, 27  | 1, 81  |   |
2 | 9, 9  | 3, 27  | 1, 81  |   |   |
3 | 3, 27  | 1, 81  |   |   |   |
4 | 1, 81  |   |   |   |   |

The left value repre

[2019-10-01 12:31] modaiwang opened #1581 "[10/01/2019, 07:44:07 PM] ERROR (nni.msg_dispatcher_base/Thread-1) index 510 is out of bounds for axis 1 with size 507"
when i run my experiment on nni，i find my WebUI is offline，and i search for the logs, i see the message below:

[10/01/2019, 07:44:07 PM] ERROR (nni.msg_dispatcher_base/Thread-1) index 510 is out of bounds for axis 1 with size 507

i don't know how to fix it .

**nni Environment**:
- nni version: latest
- nni mode  local
- OS: linux ubuntu
- python version:3.6
- is conda or virtualenv used?: yes
-

[2019-10-01 13:28] martsalz opened #1582 "GridSearch: specify learning rate range in search_space.json"
I would like to use the RandomSearch tuner for the hyperparameter search. Using RandomSearch I would like to find the learning rate in the range 0.0001 to 0.1. Which command do I use to specify the range for the `search_space.json`?

https://github.com/microsoft/nni/blob/v1.0/docs/en_US/Tutorial/SearchSpaceSpec.md

[2019-10-01 13:41] #1582 closed

[2019-10-01 13:58] PurityFan commented on #1567
@martsalz thanks for your great finding!

After my investigation, the table is calculated by the following formula:
`n = math.ceil(B/(R*(s+1))) * (eta**s)`
which is different from the formula given in algorithm1:
`n = math.ceil(B/(R*(s+1)) * (eta**s))`
Due to the different order of math.ceil, they come to different result of `n = 27` and `n = 34`.

Algorithm 1 and the table are from the published

[2019-10-01 14:29] martsalz commented on #1567
Thanks. What do you think the table above would look like? `(R=81, eta=3)`

Where did you find this line of code? I found the following under https://github.com/microsoft/nni/blob/master/src/sdk/pynni/nni/hyperband_advisor/hyperband_advisor.py (line 140):

`self.n = math.ceil((s_max + 1) * (eta**s) / (s + 1) - _epsilon) # pylint: disable=invalid-name`

[2019-10-01 14:40] PurityFan commented on #1567
Yes, line 140 you found is the place we calculate the value of `n` in NNI. You can calculate the new table by yourself using the pseudocode in Algorithm1, it may only have little difference :)

[2019-10-01 14:52] martsalz commented on #1567
Thanks.

Then, the table should be changed in the documentation.
Back to my previous question/problem:

If you execute the Hyperband example with `R=81, eta=3, maxTrialNum=187` and `trialConcurrency=1`, are you able to reproduce the (new) table with NNI? - I can't.

https://github.com/microsoft/nni/blob/master/docs/en_US/Tuner/HyperbandAdvisor.md

i | s=4 | s=3  | s=2  | s=1  | s=0  |
---|---|---|

[2019-10-02 03:16] QuanluZhang commented on #1576
@ultmaster Could you try to fix it?

[2019-10-02 03:18] ultmaster commented on #1576
Sure. By removing this `--user`. I just don't understand why we have it in the first place.

[2019-10-02 09:49] QuanluZhang commented on #1567
@martsalz First, thanks for your suggestion, we will update the document to make it more clear.

Second, for the reproduction, I ran an experiment using your configuration. The table is as follows:
[code]
There are 206 trials in total. If you set `maxTrialNum=179`, you cannot get all the trials.
**Note that** the implementation of hyperband in NNI is optimized for high `trialConcurrency`. For exam

[2019-10-02 12:34] thomas-beznik opened #1583 "logDir: Allow to have spaces in the path to the directory"
Hello everyone!

**Short summary about the issue/question**:
I would like to save the experiments in a specific folder; I thus set the "logDir" in the config file to the path to this folder. The problem is that in the path to that folder there is a folder which has a space in its name ("My Drive"). The name of this last folder cannot be changed. Because of this space, I get the following error:

E

[2019-10-02 13:05] QuanluZhang commented on #1576
If users installed nni locally (not in virtual env), no `--user` means users have to use `sudo` to run pip command.

[2019-10-02 14:36] ultmaster commented on #1576
I don't know about this. As far as I remember, last time I run pip outside a virtual env, it automatically goes into some `~/.pip` without asking `sudo`. I think removing `--user` is better than adding this, because `--user` might contaminate the outside environment, which is definitely not wanted.

Meanwhile, I will check whether there is a way to tell `pip` is inside a virtualenv/conda or not.

[2019-10-03 14:24] modaiwang commented on #1581
o, i figure out the problem right now, i have save the tf model every optimal step ( wrong), maybe the random filename is out of range, delete my wrong code, the tuner can work well. Sorry for that.

[2019-10-05 10:05] justttry commented on #1578
@martsalz nvidia-smi is available and the print is below. I want to use the GPUs, but it seems to find no GPUs. @xuehui1991
`
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 410.104      Driver Version: 410.104      CUDA Version: 10.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M|

[2019-10-05 10:10] martsalz commented on #1578
Do other applications/users use the GPUs in parallel? If yes, please specify `useActiveGpu=true` in the `config.yml`. By default, NNI will use the GPU only if there is no another active process in the GPU. See:

https://github.com/microsoft/nni/blob/master/docs/en_US/Tutorial/ExperimentConfig.md

[2019-10-07 03:12] justttry commented on #1578
The config.yml is below:
`authorName: default
experimentName: example_cifar10-network-morphism
trialConcurrency: 2
maxExecDuration: 48h
maxTrialNum: 200
#choice: local, remote, pai
trainingServicePlatform: remote
#searchSpacePath: search_space.json
#choice: true, false
useAnnotation: false
tuner:
  #choice: TPE, Random, Anneal, Evolution, BatchTuner, NetworkMorphism
  #SMAC (SMAC should be install

[2019-10-08 01:47] xuehui1991 opened #1584 "How to request the specific GPU(a GPU with large memory) in OpenPAI?"
**Short summary about the issue/question**:
Some task may cost large memory usage of GPU, how can I request a GPU with large memory when using nni PAI mode?

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- OS:
- python version:
- is conda or virtualenv used?:
- is running in docker?:

**need to update document

[2019-10-08 01:51] xuehui1991 opened #1585 "NAS-cifar10 Example got some error in version 1.0"
**Short summary about the issue/question**:
when running the [example](https://github.com/microsoft/nni/tree/master/examples/trials/nas_cifar10) in nni-1.0, got some error like:
ERRPR: tuner builtinTunerName error!

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**: linux
- nni version: 1.0
- nni mode(local|pai|remote):
- OS:
- python version:
- is conda or v

[2019-10-08 02:55] xuehui1991 opened #1586 "Can nni support to customize a One-Shot tuner?"
**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- OS:
- python version:
- is conda or virtualenv used?:
- is running in docker?:

**need to update document(yes/no)**:

**Anything else we need to know**:

[2019-10-08 02:55] xuehui1991 opened #1587 "Any example to show weight sharing in OpenPAI?"
**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- OS:
- python version:
- is conda or virtualenv used?:
- is running in docker?:

**need to update document(yes/no)**:

**Anything else we need to know**:

[2019-10-08 05:56] ultmaster commented on #1585
It turns out that PPO Tuner isn't included in 1.0 release. Please install by master or daily build.

[2019-10-08 05:57] ultmaster commented on #1586
It's already supported: `https://github.com/microsoft/nni/tree/master/examples/trials/mnist-nas`

Please make this clear. What type of one-shot tuner do you want?

[2019-10-08 06:15] scarlett2018 commented on #1586
The support document for One-shot: https://github.com/microsoft/nni/blob/482c70d1ea57dc88c6e354248fc9fc65d0d7841f/docs/en_US/AdvancedFeature/GeneralNasInterfaces.md#oneshot_mode

[2019-10-08 06:55] xuehui1991 commented on #1586
Just wondering can I use it to run in PAI? How about weight sharing? Does this example sharing weight in local or remote mode?

[2019-10-08 07:20] martsalz opened #1589 "ValueError: Out of range float values are not JSON compliant"
**Short summary about the issue/question**:

When executing an experiment, the following error message appears for some trials:

`ValueError: Out of range float values are not JSON compliant`

What's the reason for this?

**nni Environment**:
- nni version: v0.8-320-g421065b
- nni mode(local|pai|remote): local
- OS: CentOS 7
- python version: Python 3.6
- is conda or virtualenv used?: virtualenv
-

[2019-10-08 07:35] martsalz commented on #1567
@QuanluZhang, thank you for the updated table.

Did you reproduce the table exactly with NNI (trial details)? Despite the fact that the hyperband algorithm in NNI is identical to the pseudocode in the paper, I cannot reproduce your table with NNI...

https://github.com/microsoft/nni/blob/master/src/sdk/pynni/nni/hyperband_advisor/hyperband_advisor.py (line 140)

[2019-10-08 09:30] QuanluZhang commented on #1567
@martsalz Here is how I generated the table: I added a log record in `get_n_r` function in hyperband_advisor.py as follow:
[code]
This log record is written in `dispatcher.log`.

BTW, hyperband_advisor.py is the installed one, if you installed NNI locally, its location is `~/.local/lib/python3.x/site-packages/nni/hyperband_advisor/hyperband_advisor.py`.

[2019-10-08 14:21] martsalz commented on #1567
As I see it, the table is processed line by line with NNI, i.e. not each bracket separated but for each iteration for s=3...0 `n_i` and `r_i` are calculated. In the pseudocode each bracket is calculated for itself (iter. 0-x), afterwards the next bracket.

[2019-10-08 14:59] martsalz commented on #1567
Could you run the experiment completely and provide me the `experiment.json` file please?

[2019-10-09 01:50] #1585 closed

[2019-10-09 04:10] SparkSnail commented on #1583
Hi, thanks for raising the issue. NNI does not support spaces in logDir yet, we will support the feature in next release.

[2019-10-09 07:09] chicm-ms commented on #1589
@martsalz Hi, can you log the value of logs["val_loss"] ?  I suspect that the value of logs["val_loss"] is out of range for the failed trail.   Sometimes if learning rate is too large, the loss value could be 'nan'.

[2019-10-09 07:15] chicm-ms commented on #1581
Close the issue since it has been resolved.

[2019-10-09 07:15] #1581 closed

[2019-10-09 08:20] martsalz opened #1593 "BOHB Tuner: TUNER_NO_MORE_TRIAL"
**Short summary about the issue/question**:

When I execute the MNIST BOHB tuner example with NNI, the status changes to `TUNER_NO_MORE_TRIAL ` after a few trials. However, the status changes back to `RUNNING ` after a few seconds and the experiment continues.

What does the status `TUNER_NO_MORE_TRIAL ` mean?
Why does this status appear in the BOHB MINIST example?

https://github.com/microsoft/nn

[2019-10-09 08:35] martsalz commented on #1593
The behavior does not occur when I set `trialConcurrency=1`.

[2019-10-09 10:42] chicm-ms opened #1595 "example mnist-pytorch fails"
example mnist-pytorch failed with following errors:
config file: https://github.com/microsoft/nni/blob/master/test/config_test/examples/mnist-pytorch.test.yml

[code]

Then change maxTrialNum from 4 to 2, trialConcurrency from 2 to 1, got following errors:

[code]

[2019-10-09 10:52] chicm-ms commented on #1595
Manully upgrade pytorch from 0.4.1 to 1.2.0,  second problem solved.

[2019-10-09 13:01] martsalz commented on #1507
Good suggestion. Why is the issue closed?

[2019-10-09 13:05] gxiaotian commented on #1507
I submitted it twice due to browser crash #1506

[2019-10-09 22:07] Grzechu11 commented on #1367
Hello all,
I have the same error.

When I run `nnictl create --config config.yml` or `nnictl create --config nni\examples\trials\ mnist\config_windows.yml` web nni starts, but all trials have the status `failed`.

same as Author @anandhperumal `stderr` file is empty
Moreover, I keep getting a pop-up:

[code]
Please help me. Thanks

[2019-10-10 01:07] xuehui1991 commented on #1586
I change the title.

[2019-10-10 03:09] ultmaster commented on #1586
Currently no. It's already in our plan.

[2019-10-10 03:14] ultmaster commented on #1367
@Grzechu11 What's your environment? Windows or Linux? What's your nni version? Can you post your `nnimanager.log`?

It doesn't look like the same problem to me. Please post a new issue instead of commenting. And please provide more details so that we can help.

[2019-10-10 05:34] martsalz commented on #1506
Inside the code, where is `experiment.json` created for the web interface?

[2019-10-10 05:52] xuehui1991 opened #1598 "Can nni offer some test metric for the example using one-shot/dart/enas model?"
**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- OS:
- python version:
- is conda or virtualenv used?:
- is running in docker?:

**need to update document(yes/no)**:

**Anything else we need to know**:

[2019-10-10 05:55] martsalz commented on #1506
https://github.com/microsoft/nni/blob/master/src/webui/src/static/function.ts (line 150)

[2019-10-10 06:08] martsalz opened #1599 "Order of trials in experiments folder"
Is it possible to determine the order of the trials in the `nni/experiments/<exp_id>/trials/` folder?

[2019-10-10 07:47] Grzechu11 commented on #1367
I still think that I have the same problem as described by @anandhperumal (here: https://github.com/microsoft/nni/issues/1367#issue-472712556)

**nni Environment:**
- nni version: 1.0
- nni mode(local|pai|remote): local
- OS: Windows 10 x64
- python version: 3.7.3
- is conda: yes
- is running in docker?: no

**nnimanager.log**
[code]

When I run nni, every few seconds a message pops up to open the

[2019-10-10 08:07] Grzechu11 commented on #1367
Yes this is output
Content is:
[code]

[2019-10-10 08:47] Grzechu11 commented on #1367
![nni_stderr_empty](https://user-images.githubusercontent.com/10400521/66553407-54d79580-eb4b-11e9-92db-fccedc73f866.gif)

[2019-10-10 09:08] ultmaster commented on #1367
Have you ever installed `MSYS2`? It might be causing a conflict on cmd.

[2019-10-10 09:27] ultmaster commented on #1367
@Grzechu11 It's also possible that there is a file named `cmd` somewhere under your system path. Please check your environment variables or do a global search for `cmd`.

[2019-10-10 10:16] lizhaodong opened #1600 "The trial won't run under Ubuntu18.04 when gpuNum is set to 1."
The trial won't run under Ubuntu18.04 when gpuNum is set to 1. The trail keeps waiting. When I set gpuNum to 0, it works normally.

**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:
My own code didn't work. I tried on the mnist-keras example and it didn't work if gpuNum = 1.

**nni Environment**:
- nni version: v1.0
- nni mode(local|pa

[2019-10-10 10:20] lizhaodong commented on #1600
~/nni/experiments/xmNdwRon: only exist checkpoint  db  log folders, not exist trails .
vim nnimanager.log:
  1 [2019-10-10 18:07:43] INFO [ 'Datastore initialization done' ]
  2 [2019-10-10 18:07:43] INFO [ 'Rest server listening on: http://0.0.0.0:8080' ]
  3 [2019-10-10 18:07:43] INFO [ 'RestServer start' ]
  4 [2019-10-10 18:07:43] INFO [ 'Construct local machine training service.' ]
  5 [2019-

[2019-10-10 10:44] Grzechu11 commented on #1367
I check a command path, Anaconda has cmd file

![image](https://user-images.githubusercontent.com/10400521/66562042-05996100-eb5b-11e9-9514-3768df1d5356.png)

![image](https://user-images.githubusercontent.com/10400521/66562198-6c1e7f00-eb5b-11e9-9ebb-064557c8de3b.png)

I changed the name of the cmd file
And now everything is correct

Thanks for help

[2019-10-11 00:57] QuanluZhang commented on #1567
@martsalz the experiment that I ran have 10000 trials, the file is too large. I also tried an experiment with 220 trials, and found that the out-of-order bracket&round (i.e., bracket 4 is not finished while bracket 3 is started even when trialConcurrrency is 1) is mainly due to the handling of multi-thread at the backend (i.e., msg_dispatcher_base). Thanks for your help, we will fix this bug soon.

[2019-10-11 09:10] xinshouke commented on #1583
I had met this issue now,will fix refer to the above later...

[2019-10-11 10:23] chicm-ms commented on #1595
problem fixed.

[2019-10-11 10:23] #1595 closed

[2019-10-11 10:52] ultmaster commented on #1580
Hi. Sorry for slow response.

Here is some hint: facebookresearch/visdom#419.

It turns out a little modification could work. You can directly copy the following and try it in your colab:

[code]

Output looks like:

[code]

Done.

![image](https://user-images.githubusercontent.com/8463288/66646129-dcaac600-ec57-11e9-8c08-7a12991ff586.png)

[2019-10-12 02:25] #1204 closed

[2019-10-12 08:13] SparkSnail commented on #1600
Hi, this problem might caused by that nni does not collect gpu_mterics file correctly. Could you please check if there is a nni_gpu_collector process when you start an experiment? You could use `ps -ef | grep nni` to check processes. Could you please check if there are some gpu metric files in /tmp/nni/script?

[2019-10-12 08:46] xinshouke commented on #1367
Hello all,
I had also met the same problem...

[2019-10-12 08:49] ultmaster commented on #1367
@xinshouke This problem will be fixed in future releases. For now, please change the name of your `cmd` file or use platforms other than Windows.

[2019-10-12 09:13] SparkSnail commented on #1584
Hi, according to https://github.com/microsoft/pai/blob/b2324866d0280a2d22958717ea6025740f71b9f0/docs/job_tutorial.md, pai support setting gpuType in configuration, this parameter will set specific kind of GPU (with large memory). NNI does not support setting gpuType configuration.
PAI also support [dedicated_vc](https://github.com/microsoft/pai/blob/65b44e1ab37cab0790af392a016cc9fb1d2318fe/docs/to

[2019-10-14 02:19] #1367 closed

[2019-10-14 02:50] QuanluZhang opened #1605 "Refine SDK documentation"

[2019-10-14 02:55] scarlett2018 commented on #1599
@martsalz - how do you prefer to order these trials? we original thought the ranking by creation time provide by system is already good enough.

[2019-10-14 03:03] scarlett2018 commented on #1580
@thomas-beznik had you tried the suggestion from @ultmaster , does it work for you? may we close the issue in this case? thanks.

[2019-10-14 03:08] SparkSnail opened #1606 "Merge pai configuration with NNI"
In current NNI design, if users want to use a new PAI configuration, NNI should use add the
 configuration and have a lot of code change. It's better to support merging PAI configuration with NNI configuration, and no need to change NNI code to support new config anymore.

[2019-10-14 05:38] #1599 closed

[2019-10-14 05:38] #1567 closed

[2019-10-14 06:03] xinshouke commented on #1367
@ultmaster I had no Anaconda,I just install tensorflow thr pip...   Since the problem was fixed, I hope upgrade the nni to resolve the problem, may not I?  May I execute the below command as 'python -m pip install --upgrade nni'  for this problem?

[2019-10-14 06:07] ultmaster commented on #1367
@xinshouke Not before NNI 1.1 is released. For now, you can install NNI from source code follow instructions in README "Install through source code" for testing.

[2019-10-14 08:17] thomas-beznik commented on #1580
It works indeed, thank you very much !

[2019-10-14 08:17] #1580 closed

[2019-10-14 10:36] Garfield2013 commented on #1561
I gaved up on NNI... way to buggy for the average user...

[2019-10-14 10:51] justttry commented on #1156
I met the same problem. @husimple. Do you solve it?

[2019-10-14 11:39] justttry opened #1608 "setClusterMetadata timeout with remote mode using sshKey"
**Short summary about the issue/question**:
Below is the error:
[code]

**Brief what process you are following**:

**How to reproduce it**:
Run nnictl in docker with remote mode using sshKey.

**nni Environment**:
- nni version: v1.0
- nni mode(local|pai|remote): remote
- OS: ubuntu16.04
- python version: 3.7
- is conda or virtualenv used?:  anaconda
- is running in docker?: yes

**need to update

[2019-10-15 01:29] Weak-Chicken commented on #1223
I had the same problem when I tried to run nni in docker container.

I solved this by removing my docker container proxy config file: ```~/.docker/config.json```

So for those of you who do not use it in docker, I think it is a good idea to check your environment variables like ```HTTP_PROXY``` or ```HTTPS_PROXY``` and remove them if they are set.

[2019-10-15 02:03] lizhaodong commented on #1600
Thank you!
exec "ps -ef | grep nni" result:
xx      25760 16423  0 10月09 pts/0  00:00:00 bash /tmp/nni/script/gpu_metrics_collector.sh
xx      25761 25760  0 10月09 pts/0  00:18:45 python3 -m nni_gpu_tool.gpu_metrics_collector
xx      30309 16423  1 09:53 pts/0    00:00:01 node /home/lzd/.local/nni/main.js --port 8080 --mode local --start_mode new
xx      30323 30309  0 09:53 pts/0    00:00:00 /bin

[2019-10-15 02:18] lizhaodong commented on #1600
This function maybe have a problem!
    public getAvailableGPUIndices(useActiveGpu: boolean, occupiedGpuIndexNumMap: Map<number, number>): number[] {
        if (this.gpuSummary !== undefined) {
            if (process.platform === 'win32' || useActiveGpu) {
                return this.gpuSummary.gpuInfos.map((info: GPUInfo) => info.index);
            } else {
                return this.gpuSumma

[2019-10-15 02:22] lizhaodong commented on #1600
look here:   info.activeProcessNum === 0,  but my gpu always contains system processes.

| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|    0      5134      G   /usr/lib/xorg/Xorg

[2019-10-15 03:06] qtz93 commented on #1492
Hello, can you tell me your tensorflow gpu version. I see you've run successfully on centos. I have tried the 1.14 gpu version of tensorflow (centos) and the result running mnist sample to access the web page always appears failed.

After viewing the log, it was found that the reason was that the data had not been successfully read and the tensorflow interface call failed.

Note: I use tensorflow

[2019-10-15 03:47] justttry commented on #1608
I found that there was a error in keyParse,  The function keyParse return "Unsupported key format".
My key's header is "-----BEGIN OPENSSH PRIVATE KEY-----".
How to solve this problem, any suggestion?

[2019-10-15 04:12] justttry commented on #1608
I solve the problem by regenerate the private key with rsa type.

[2019-10-15 04:53] qtz93 opened #1609 "The mnist example failed to run on the Tensorflow 1.14 GPU of the CentOS7 system."
**Short summary about the issue/question**:
When I run the mnist sample, the results of accessing the web page always show failed.

**Brief what process you are following**:
After viewing the log, it was found that the data was not read successfully and the tensorflow interface call failed. The error log is as follows:

Traceback (most recent call last):
  File "mnist.py", line 10, in <module>

[2019-10-15 05:14] martsalz commented on #1492
@qtz93, I have installed TF GPU 1.12.0.

[2019-10-15 08:18] PurityFan commented on #1593
@martsalz Thanks for providing the detailed information, the status you provided is as our expectation.

The status `TUNER_NO_MORE_TRIAL` here means the tuner hasn't gotten enough information to generate the next hyperparameters, so BOHB tuner **stops generating new trial**. It's worth noting that the **experiment is still running** at this time, the BOHB tuner will generate a new trial after it g

[2019-10-15 08:20] #1593 closed

[2019-10-15 12:41] #1492 closed

[2019-10-16 02:58] ultmaster commented on #1609
See https://stackoverflow.com/questions/50313441/modulenotfounderror-no-module-named-tensorflow-examples.

Please check whether you code can work without nni first.

[2019-10-16 03:34] liuzhe-lz opened #1614 "TensorFlow 2.0 API change"
TensorFlow 2.0 have significantly changed their API. `tensorflow.compat.v1` must be used to make legacy code work.
However this module only appears in latest versions of TensorFlow. And we want to keep NNI compatible with "stable" platforms.
Let's discuss a solution.

An example approach (does not work if user wants to use tf 2.0 features):
[code]

[2019-10-16 03:37] qtz93 commented on #1609
The mnist example can be run without the nni framework. --__--

[2019-10-16 03:54] ultmaster commented on #1609
@qtz93 So your problem is: your tensorflow works in an environment without nni, but doesn't work in whatever environment is launched by nni.

Sounds like you are using different environments to me. My suggestion is to reinstall in a new environment, with conda or without conda, installing tensorflow with conda or without conda, trying tensorflow from 1.12 to 1.14, and update nni to 1.0.

[2019-10-16 04:54] qtz93 commented on #1609
Thank you, I downgraded tensorflow version to 1.13.1 and passed the mnist test. ^_^

[2019-10-16 06:18] #1609 closed

[2019-10-16 06:50] ultmaster opened #1615 "More information in experiment list"
1. Maybe we should display the name of the experiment here:

[code]

Currently there is no way I can tell the difference other than examining them one by one.

2. Maybe we should ask users whether they are sure to stop all the experiments when they execute `nnictl stop --all`.

[2019-10-16 07:45] leckie-chn opened #1616 "out-of-date prompt information after `nnictl create`"
![image](https://user-images.githubusercontent.com/3284327/66898441-cae86a80-f02b-11e9-9df3-584362e51b9a.png)

should align w/ the result of `nnictl --help` or [nnictl reference](https://nni.readthedocs.io/en/latest/Tutorial/Nnictl.html)

[2019-10-16 08:23] chicm-ms opened #1618 "Model compress example user experience"
The model compress example directory (examples/model_compress) is very confusing.

1. It seems configure_example.yaml is useless.

2. There is no guide about how to run the examples.

3. I tried with python main_torch_pruner.py,  there is no any information about model compress/sparsity in the output, the output looks like this:
[code]

4.  ```Module  does not have parameter "weight" ```

[2019-10-16 22:34] Guptajakala commented on #769
Hi I met the same problem. Did you solve it?

[2019-10-16 23:27] Guptajakala opened #1619 ""error":"TrainingService setClusterMetadata timeout. Please check your config file.""
**Short summary about the issue/question**:
When creating a job on remote, I met this error
`"error":"TrainingService setClusterMetadata timeout. Please check your config file."`

**Brief what process you are following**:
My config.yml file is like below.
[code]
And then start the experiment
`nnictl creat --config config.yml`

**How to reproduce it**:

**nni Environment**:
- nni version: latest
-

[2019-10-17 00:15] apatsekin opened #1620 "Bug: Error: EMFILE: too many open files, open at lazyFs.open (internal/fs/streams.js:273:12)"
**Short summary about the issue/question**:
NNI control server crashes while running experiment for several days. The only signs of crash are found in `nnictl log stderr [exp_id]`. Everything else just looks like process disappeared.

**Brief what process you are following**: Running a `nnicreate` on one machine to create `remote` experiment which involves 2 workers (2 different machines). After 6

[2019-10-17 06:43] scarlett2018 commented on #769
@Guptajakala  - which version are you using? Had you tried upgrade NNI to 0.6, there is a fix in 0.6.

[2019-10-17 13:27] Guptajakala commented on #769
Thanks for your reply, could you tell me how to check the version? nni.__version does not work.

[2019-10-17 14:41] cjissmart opened #1621 "Can't run any trials"
When I run the NNI example mnist in a Linux environment, it seems like everything is ok. However, it can't run any trials and the experiment has been over. Could you give me some suggestions?
Notation that the environment which I can't manage is a Cloud Platform controlled by someone, and any python script is run by sbatch, python x.py is prohibited.

![image](https://user-images.githubusercontent

[2019-10-17 17:22] Guptajakala commented on #769
OK, from conda, I found the version is 1.0

[2019-10-18 02:59] ultmaster opened #1622 "report_result fails when running in standalone mode"
In standalone mode, report intermediate result and final result will both fail because `_params` is None.

Now I have to do this as a workaround:

[code]

Maybe this workaround should be embedded into trial SDK.

[2019-10-18 03:04] ultmaster commented on #1621
Can you share your `config.yml`? Did you use `sbatch` to launch trial? As far as I know, `sbatch` will return immediately when the job gets queued.

[2019-10-18 03:17] #1546 closed

[2019-10-18 03:26] cjissmart commented on #1621
This is my config.yml. And I don't know how to run a trial by sbatch. I can run a experiment by sbatch only.
![image](https://user-images.githubusercontent.com/37531166/67063570-d8236780-f199-11e9-8ee3-1a609ecc44bb.png)

[2019-10-18 03:28] suiguoxin opened #1623 "hyperopt 0.2 support"

[2019-10-18 03:56] ultmaster commented on #1621
So you run `nnictl` with `sbatch` right? It's like `sbatch nnictl ...`?

Assuming you are using slurm, did you check `squeue` for your job status? Does the job complete very quickly in seconds (or minutes)?

[2019-10-18 08:32] cjissmart commented on #1621
I checked squeue. The job finishes quickly ( about two or three munites ).

I modify my sbatch file, according to your advice
![image](https://user-images.githubusercontent.com/37531166/67078473-f00fe100-f1c3-11e9-8397-800de98f73b4.png)
Then I find it doesn't still work. And NNI's log file is empty.

[2019-10-18 09:36] ultmaster opened #1626 "Too many setup.py's"
We have too many setup.py's, in different modules, for deployment, for installing from source. All of them have a similar look with subtle differences.

Looks like something that demands refactoring.

[2019-10-18 13:09] ksachdeva opened #1627 "Crashes after the first trial on macOS & Ubuntu with AttributeError: module 'bson' has no attribute 'BSON'"
**Short summary about the issue/question**:

The nni server stops (port still occupied) after the first trial in an experiment on macOS
The nni server crashes after the first trial in an experiment on Ubuntu 18

**Brief what process you are following**:

This Example - https://github.com/microsoft/nni/tree/master/examples/trials/mnist

[code]

**How to reproduce it**:

**nni Environment**:
- nni v

[2019-10-18 13:29] ksachdeva commented on #1627
I managed to resolve it by installing pymongo as well. Not sure what is the connection here but here is the workaround.

[code]

[2019-10-18 15:16] ksachdeva opened #1628 "nnictl experiment list --all should show experiment name as well"
**What would you like to be added**:

At present
[code]
shows all the previous experiments however they are listed by experiment ID.

It would be good to display the experiment name as well

**Why is this needed**:

Since experiment Id is auto generated it is difficult to remember to which experiment it belongs.

**Without this feature, how does current nni work**：

I have to go in all the experim

[2019-10-18 15:21] ksachdeva opened #1629 "Dedicated command and viewer to browse all experiments"
**What would you like to be added**:

At present the process to look at the results of old experiments is bit tedious. It would be good to have the webui present an interface that allows one to browse old experiments. Click on an experiment and see what happened (readonly mode).

**Why is this needed**:

Browsing and managing old experiments are tedious and not very friendly.

**Without this featu

[2019-10-18 21:12] jing-IG opened #1631 "Some parameter combinations are skipped during search"
**Short summary about the issue/question**:
I'm not able to get results for all the possible parameter combinations. It seems that some combinations are skipped by NNI.

**Brief what process you are following**:
I ran a simple experiment. From WebUI, I saw that results are missing for some combinations of parameters. See attached screenshot. For example, there is no line linking 'SGD' to 'ReLU', a

[2019-10-20 02:29] ultmaster commented on #1631
Hi. For your particular case, if you intended to see all the combinations, you should set `builtinTunerName` to `GridSearch`. `TPE` does not guarantee it will see all the combinations (in a limited budget of course). For more details, please refer to https://nni.readthedocs.io/en/latest/Tuner/BuiltinTuner.html

[2019-10-20 02:31] ultmaster commented on #1629
In NNI 1.1, there will be a `nnictl view` command to launch a WebUI to see an old experiment. Maybe that's what you need.

[2019-10-20 02:32] ultmaster commented on #1628
Duplicate of #1615.

[2019-10-20 02:34] ultmaster commented on #1627
Try to run `pip install hyperopt==0.1.2`. This issue is likely to caused by a recent hyperopt release.

[2019-10-20 02:39] ultmaster commented on #1620
It looks to me that the upper limit of number of files opened is reached. Is there other processes running that would open a lot of files (like file sync, or database...).

[2019-10-20 02:42] ultmaster commented on #1619
Try to set nniManagerIp to your nni control server IP. This might help: https://nni.readthedocs.io/en/latest/Tutorial/ExperimentConfig.html

[2019-10-20 02:45] ultmaster commented on #1623
Temporarily fixed to 0.1.2 via #1625.

[2019-10-20 02:50] ultmaster commented on #1600
Maybe you should set `useActiveGpu` to `true`. Refer to https://nni.readthedocs.io/en/latest/Tutorial/ExperimentConfig.html.

[2019-10-20 02:51] ultmaster commented on #1598
This will be done after we implement the "correct" one-shot model.

[2019-10-20 02:56] Guptajakala commented on #1619
@ultmaster I forgot to mention this: acutally I tried to set the "nniManagerIp" using the same IP address as the first machine in the machine list. It still does not work.

Does the error's occurance location (as I mentioned in the problem description) imply anything?

[2019-10-20 02:58] ultmaster commented on #1619
It should be IP where you launch nnictl. Does this machine happen to be the first one in your machine list?

[2019-10-20 02:59] ultmaster commented on #1561
Sorry about that. Closing this issue.

[2019-10-20 02:59] #1561 closed

[2019-10-20 03:00] ultmaster commented on #1558
@RitchieAlpha Any updates?

[2019-10-20 03:01] #1553 closed

[2019-10-20 03:02] ultmaster commented on #1544
@daniel347x Any updates?

[2019-10-20 03:02] Guptajakala commented on #1619
@ultmaster OK, I will try this. I previously was using the remote machine since I was bit confused if my local machine should really appear in the machine list.
Btw, there is another question that in the "remote" mode, I first upload my code to the server. Then in the config.yaml file, should the code location and running command be the one on local or on server? I did not find this in document.

[2019-10-20 03:03] ultmaster commented on #1540
@daniel347x Any updates?

[2019-10-20 03:04] ultmaster commented on #1619
CodeDir should be on local. All the contens in CodeDir will be uploaded to remote. Running command should be on remote.

I have to admit this is kind of confusing.

[2019-10-20 03:08] Guptajakala commented on #1619
@ultmaster "All the contens in CodeDir will be uploaded to remote" Do you mean nni will automatically upload this for me so that I dont need to upload myself? If so, that's good to know.

[2019-10-20 03:10] ultmaster commented on #1619
@Guptajakala Yes.

[2019-10-20 03:10] ultmaster commented on #1529
Our current design is to add a command in nnictl that will compare several experiments in the past and generate, maybe, a simple HTML.

[2019-10-20 03:16] ultmaster commented on #1506
I don't think I'd totally understand. By experiment parameters, do you mean search space? or the parameters in a single trial?

[2019-10-20 03:17] ultmaster commented on #1553
The example can be found here: https://github.com/microsoft/nni/tree/master/examples/tuners/mnist_keras_customized_advisor

[2019-10-20 03:21] ultmaster commented on #1483
I agree that current design for multiple metrics is really weak.

[2019-10-20 03:23] ultmaster commented on #1465
It seems to be that this feature is actually intended to show parameters as table columns.

[2019-10-20 03:27] Guptajakala commented on #1619
@ultmaster Thanks! I will add the nniManagerIp setting and report my findings here soon.

[2019-10-20 03:27] ultmaster commented on #1425
Tracking in a new issue #1490. Closing it.

[2019-10-20 03:27] #1425 closed

[2019-10-20 03:31] ultmaster commented on #1398
Seems to me that echarts is blocking a number of features and bugs. Can we consider switching to other libraries?

[2019-10-20 03:34] ultmaster commented on #1371
Let's discuss it case by case.

For NAS, the derivation of final architecture is what is needed. For most algorithms, this post-processing might not be easily. So yes. I agree that an API should be designed to obtain the final model for user.

[2019-10-20 03:41] ultmaster commented on #1357
Personally, I believe our multiPhase mode has two semantics.

1. A trial functions as a worker, in which case users use multiPhase mainly because they want to save the cost of launching a trial or preparing datasets or whatever. In this case, different parameters should have different rows in the table.

2. The algorithm needs it to be one single trial to share network weights or etc. In this case

[2019-10-20 03:49] ultmaster commented on #1356
The easiest way out is to write a tuner inheriting an existing tuner that filters the parameters generated by the parent tuner. See https://github.com/microsoft/nni/blob/master/examples/trials/efficientnet/tuner.py

[2019-10-20 03:51] ultmaster commented on #1355
In this case, will the first experiment be stopped or not? Do you mean to combine/update search space so that they can be seen as a single experiment?

[2019-10-20 03:52] ultmaster commented on #1300
@H-arshit Any updates?

[2019-10-20 03:55] ultmaster commented on #1302
I think we've discussed and our current challenge is to find a shared storage for users to write checkpoints?

[2019-10-20 03:57] #1282 closed

[2019-10-20 03:58] ultmaster commented on #1281
What does "relative value" mean?

[2019-10-20 04:00] gxiaotian commented on #1506
![image](https://user-images.githubusercontent.com/17501307/67154568-25860d00-f331-11e9-9f03-323fedbfa21f.png)

[2019-10-20 04:00] ultmaster commented on #1269
@Royzon Any updates? thanks.

[2019-10-20 04:01] Guptajakala commented on #1355
@ultmaster The first experiment either is stopped or not is fine. I'm mostly curious about the second part: to combine/update search space so that they can be seen as a single experiment.

[2019-10-20 04:03] ultmaster commented on #1506
If this downloadable, there should be a corresponding Restful API. You can investigate into it after you press F12 to see the console. And if it's not listed in our documentation, this might be a docs issue.

[2019-10-20 04:43] gxiaotian commented on #1506
Each experiment has its own log folder located at `~/nni/experiment/XXXX/log`.  For now, there are only `dispatcher.log` and `nnimanager.log`. What I am saying is that can we save the downloadable `experiment.json` in this folder as well, so that we could easily fetch all experiment details even webui is closed.

[2019-10-20 05:10] ultmaster commented on #1355
Looks like what you need is to update the search space of a running experiment. This can be done with `nnictl update`:

![image](https://user-images.githubusercontent.com/8463288/67155097-fe343d80-f33a-11e9-83ea-d1a3ee0ae1ad.png)

[2019-10-20 05:15] ultmaster commented on #1238
Hi all. It seems the issue itself has been addressed. We will have future plans on NAS refactoring. Closing it for now.

[2019-10-20 05:15] #1238 closed

[2019-10-20 05:21] ultmaster commented on #1223
Can we add some FAQs about the common network issue that could cause the start failure of Restful Server?

[2019-10-20 05:25] ultmaster commented on #1506
If you are trying to get experiment parameters without WebUI, you can try `nnictl`. Refer to the docs for more details.

[2019-10-20 05:28] gxiaotian commented on #1506
I don't think I can get all historical experiment parameters via `nnictl`.

[2019-10-20 05:35] ultmaster commented on #1483
Also tracked in #1202.

[2019-10-20 05:36] ultmaster commented on #1202
Using #1483 to track this issue. Closing it for now.

[2019-10-20 05:36] #1202 closed

[2019-10-20 05:38] ultmaster commented on #1506
In the next release, 1.1, you will be able to use `nnictl experiment view` to launch a WebUI to view a historical experiment. Maybe we should make this tool more powerful.

[2019-10-20 05:41] ultmaster commented on #1167
No updates. Closing it. #1367 might be a similar issue.

[2019-10-20 05:41] #1167 closed

[2019-10-20 05:41] gxiaotian commented on #1506
Sounds cool~ Looking forward to the next release.

[2019-10-20 05:43] ultmaster commented on #1110
Nested params is working for at least examples now.

[2019-10-20 05:45] ultmaster commented on #1100
No updates. Closing it for now. If there are further questions, you can reopen it.

[2019-10-20 05:45] #1100 closed

[2019-10-20 05:47] ultmaster commented on #1059
Done.

[2019-10-20 05:47] #1059 closed

[2019-10-20 05:53] ultmaster commented on #965
If this problem is not reproducible any more, we are closing it. Reopen it if needed.

[2019-10-20 05:53] #965 closed

[2019-10-20 05:54] ultmaster commented on #964
Hi all. Is this problem fixed or still reproducible?

[2019-10-20 06:14] ultmaster commented on #930
So is this problem fixed?

[2019-10-20 06:33] ultmaster commented on #907
Close as duplicate.

[2019-10-20 06:33] #907 closed

[2019-10-20 06:38] ultmaster commented on #872
It seems there is already a PPO Tuner supported on NNI. Closing it.

[2019-10-20 06:38] #872 closed

[2019-10-20 06:39] ultmaster commented on #874
Merged. Closing it.

[2019-10-20 06:39] #874 closed

[2019-10-20 06:40] ultmaster commented on #876
I think it has been supported. Closing it.

[2019-10-20 06:40] #876 closed

[2019-10-20 06:41] ultmaster commented on #84
Tracked with #878. Closing this issue for now.

[2019-10-20 06:41] #84 closed

[2019-10-20 06:46] ultmaster commented on #825
Is this problem fixed or reproducible?

Resubmit will be tracked with other issues.

[2019-10-20 06:47] ultmaster commented on #781
Tracked in #1110.

[2019-10-20 06:47] #781 closed

[2019-10-20 06:49] ultmaster commented on #774
Tracked in #1529. Closing it.

[2019-10-20 06:49] #774 closed

[2019-10-20 06:53] ultmaster commented on #674
This setLevel should be dealt with by users. Closing it.

[2019-10-20 06:53] #674 closed

[2019-10-20 06:58] ultmaster commented on #590
Tracked in #1425. Closing it.

[2019-10-20 06:58] #590 closed

[2019-10-20 06:59] ultmaster commented on #583
The design is outdated. Closing it.

[2019-10-20 06:59] #583 closed

[2019-10-20 07:06] ultmaster commented on #525
No updates. Closing it. Reopen if needed.

[2019-10-20 07:06] #525 closed

[2019-10-20 14:02] Guptajakala commented on #1355
@ultmaster This looks exactly what I want. Thanks!

[2019-10-20 14:02] #1355 closed

[2019-10-20 15:05] Guptajakala commented on #1619
@ultmaster
I tried to set nniManagerIp to my local IP address and still got the error:
[code]

[2019-10-21 00:16] ksachdeva opened #1633 "scikit-nni - A helper tool to tune parameters of scikit-learn pipelines (for classification) using NNI"
Hi,

This is not an issue.

First, thanks for this awesome tool. Really great work. I played with it for last 2 days and it works really well.

I was tuning some classification algorithms and end up creating a generic tool and package that I call scikit-nni.

Please find the repository here - https://github.com/ksachdeva/scikit-nni.

It essentially generates the NNI configuration files and also ha

[2019-10-21 01:36] QuanluZhang commented on #1619
@Guptajakala thanks for reporting this issue, could you join the chat on gitter https://gitter.im/Microsoft/nni?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge, so that we can find the root cause faster.

[2019-10-21 02:02] Guptajakala commented on #1619
@QuanluZhang
Sure, I have signed in.

[2019-10-21 02:06] xuehui1991 commented on #1633
Hello @ksachdeva  This work is interesting! It's a good example of using NNI to build a tool~

[2019-10-21 03:54] NTU-P04922004 commented on #1600
@ultmaster

Thanks for the update, now I can run NNI in full speed on a single GPU machine with the following configuration.

trial:
  ...
  gpuNum: 1
localConfig:
  ...
  useActiveGpu: true

[2019-10-21 06:21] yds05 opened #1634 "Support AAD authentication for PAI Training Service"
**Short summary about the issue/question**:
Right now, NNI uses username/password as authentication for PAI. This solution is obviously unsecure, so PAI starts to migrate AAD and deprecate old username/passwd method.

**Brief what process you are following**:
Support AAD authentication for PAI Training Service

[2019-10-21 06:25] yds05 opened #1635 "Support NFS storage for PAI Training Service"
**Short summary about the issue/question**:
PAI will deprecate built-in HDFS cluster. So NNI needs to support NFS storage to remove HDFS dependency.

[2019-10-21 09:40] leckie-chn opened #1638 "new pylint rules plan"
reference: [Pylint Documentation](https://buildmedia.readthedocs.org/media/pdf/pylint/latest/pylint.pdf)

* On CI pipeline, by default enable all Error(E), Fatal(F) check, along with the following rules:
          **W0614, C0326, W0611, C0330, C0411, C0303, W1201, C0301, W0612, W0401, W0235, C1801, W1202, W0622, W1505**
* **C0111** will be enabled later
* **E1101, R0912, W0212** will not be enforc

[2019-10-21 09:42] leckie-chn opened #1639 "docstring convention"
Will follow [Numpy docstring guide](https://numpydoc.readthedocs.io/en/latest/format.html) and [Pandas docstring guide](https://python-sprints.github.io/pandas/guide/pandas_docstring.html)

Detailed convention will be updated into https://nni.readthedocs.io/en/latest/contribution.html

[2019-10-21 09:48] #1558 closed

[2019-10-22 02:25] ultmaster opened #1641 "SMAC cannot have lower bound equal to upper bound"
Found by #1570.

SMAC does not allow lower bound equal to upper bound. The problem exists for randint, uniform, quniform and loguniform.

Seems that intercepting these kinds of search space with nni is a valid fix.

[2019-10-22 02:27] ultmaster commented on #1641
For NAS search space converter, optional input size will be converted into a randint field. Fails in SMAC if the size is set to be a constant value.

[2019-10-22 06:11] leckie-chn commented on #1638
related PR: https://github.com/microsoft/nni/pull/1643

[2019-10-22 06:12] leckie-chn commented on #1639
related PR: https://github.com/microsoft/nni/pull/1645

[2019-10-23 03:36] apatsekin commented on #1620
So far every `remote` experiments eventually errors out with this message. After resuming this experiment it had been working for 5 days until crash. Same error message.
[code]

also this warning in stderr is pretty annoying (takes MBs of logs):
[code]

@ultmaster thanks for response! not really, server is almost idle. I don't even run training on the machine where nni manager is working. Also I n

[2019-10-23 19:12] apatsekin commented on #1620
After 12 hours of run, `node` keeps 1.5m opened file handlers to `log/nnimanager.log`.

[2019-10-24 02:04] SparkSnail commented on #1620
Hi, @apatsekin . Thanks for raising the issue, does this problem only occur on remote mode? will it happen on local mode?

[2019-10-24 03:31] #1619 closed

[2019-10-24 03:32] Guptajakala commented on #1619
Might be due to keyboard-interaction.

[2019-10-24 08:58] chicm-ms opened #1652 "Tensorflow version pruner not working"
Run tf pruner example:
`python main_tf_pruner.py`
I got following messages:
[code]

After some debugging,  I found that `calc_mask` interface in Pruner class is not called.
I tried 2 systems, got same problem.

[2019-10-24 17:02] jing-IG commented on #1631
Wonderful. That works. Thanks a lot!

[2019-10-24 17:02] #1631 closed

[2019-10-25 03:48] qtz93 commented on #1238
Hello, I ran the cifar10 example of enas_nni(Reference: https://github.com/countif/enas nunni) with NNI version 0.8.1, which caused the following error:

[code]

Later, I found that during the execution of the program src/cifar10/nni_child_cifar10.py, the following fragment reported an error, in which the printed result of the parameters value was None.

[code]

Who can help me? Thanks!

[2019-10-25 03:50] ultmaster commented on #1238
@qtz93 Probably you should try with 0.9.1.1?

[2019-10-25 03:56] qtz93 commented on #1238
Thank you for your prompt answer. I tried 0.9.1.1 yesterday and made the following error:

[10/24/2019, 03:31:30 PM] ERROR (nni.main/MainThread) No module named 'nni.multi_phase'
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.6/site-packages/nni/__main__.py", line 198, in <module>
    main()
  File "/opt/anaconda3/lib/python3.6/site-packages/nni/__main__.py", line 163, in ma

[2019-10-25 07:22] chaos0625 commented on #1367
Hello all, I also get the same problem in Linux System. Although I check my log, I cannot find obviously error. Do you have any idea? Please give me some advice

[2019-10-25 07:23] ultmaster commented on #1367
@chaos0625 Please elaborate. Including nnimanager.log, dispatcher.log, trial logs, stderrs and system configurations.

[2019-10-25 07:58] chaos0625 commented on #1367
@ultmaster Thanks your reply!
system configurations:
python: 3.6
tensorflow: 1.14.0
nni: 1.1
system: Ubuntu

nnimanager.log:
[10/25/2019, 3:47:00 PM] INFO [ 'Datastore initialization done' ]
[10/25/2019, 3:47:00 PM] INFO [ 'Rest server listening on: http://0.0.0.0:8080' ]
[10/25/2019, 3:47:00 PM] INFO [ 'RestServer start' ]
[10/25/2019, 3:47:00 PM] INFO [ 'Construct local machine training service.

[2019-10-25 08:01] ultmaster commented on #1367
@chaos0625. I'm pretty sure this is a new issue. Please open a new one if you need additional help.

Meanwhile, please check whether you can run `mnist.py` alone successfully. And please downgrade your tensorflow to 1.12.0 for another try.

[2019-10-25 08:08] chaos0625 opened #1654 "All trails are getting failed in Linux System"
When I run "nnictl create --config nni-master/examples/trials/mnist/config.yml", all trails are getting failed. Please help me solve this problem

system configurations:
python: 3.6
tensorflow: 1.14.0
nni: 1.1
system: Ubuntu

nnimanager.log:
[10/25/2019, 3:47:00 PM] INFO [ 'Datastore initialization done' ]
[10/25/2019, 3:47:00 PM] INFO [ 'Rest server listening on: http://0.0.0.0:8080' ]
[10/25/201

[2019-10-25 08:11] chaos0625 commented on #1367
@ultmaster I have opened a new issue for help. I run mnist.py alone, but I got an error:
Traceback (most recent call last):
  File "mnist.py", line 234, in <module>
    params.update(tuner_params)
TypeError: 'NoneType' object is not iterable
Traceback (most recent call last):
  File "mnist.py", line 234, in <module>
    params.update(tuner_params)
TypeError: 'NoneType' object is not iterable

I'll

[2019-10-25 08:55] chicm-ms commented on #1600
Fixed.

[2019-10-25 08:55] #1600 closed

[2019-10-25 09:18] chicm-ms commented on #1622
Need to support standalone mode.

[2019-10-25 09:25] #1576 closed

[2019-10-25 09:28] #1537 closed

[2019-10-25 09:33] #1261 closed

[2019-10-25 09:35] chicm-ms commented on #1240
fixed by disable logCollection by default.

[2019-10-25 09:35] #1240 closed

[2019-10-25 09:37] chicm-ms commented on #964
Fixed.

[2019-10-26 03:56] #1654 closed

[2019-10-28 03:25] #964 closed

[2019-10-28 20:48] apatsekin opened #1658 "ERROR: HTTPConnectionPool(host='localhost', port=8080): Read timed out. (read timeout=20)"
**Short summary about the issue/question**: Trying to resume experiment which failed due to out-of-disk-space error. Please see log attached.

**Brief what process you are following**: Running remote experiment. Start experiment on one machine, which uses 2 other worker machines.

**How to reproduce it**: nni daemon that controls remote experiment should run into out-of-disk-space error. Than try

[2019-10-28 21:24] taylor4712 opened #1659 "How can I use my own datatset and apply neural architecture search"
**Short summary about the issue/question**:
I would like to test my own dataset or one of kaggle's dataset and apply neural architecture search on it.
**Brief what process you are following**:
I have read the documentation and the examples of MNIST and CIFAR-10, datasets which only need to be downloaded - therefore my question, if there is any tutorial or someone who can help me with applying NAS

[2019-10-29 02:12] cjissmart commented on #1621
Thanks for your help !!!
How to add sleep 30000000 after nnitcl ?
modify the config file?

[2019-10-29 02:24] blakeedwards823 commented on #1065
where did you find setup.py? I am running into the same issue!

[2019-10-29 02:39] ultmaster commented on #1621
@cjissmart You can follow the practice of sbatch, which writes a script containing nnictl and sleep. I'm sure it's mentioned in your manual.

[2019-10-29 02:47] blakete opened #1661 "[macOS] nnictl: command not found"
**Short summary about the issue/question**:
I  am running into an error where the 'nnictl' command is not found after installing nni via pip3.

**Brief what process you are following**:
I  am following the Mac/Linux install instructions from the official documentation (https://github.com/Microsoft/nni/) and am unable to run the nnictl command even after the package is installed.

- Operating type:

[2019-10-29 10:31] Markus92 opened #1665 "Temporary dir for gpu collection is not always unique among users"
**Short summary about the issue/question**:
When running NNI, it puts the gpu metrics collector in /tmp/nni/script, which is not unique among users. So two people cannot run NNI simultaneously (for example on different GPU).

**Brief what process you are following**:
User 1: runs NNI fine
User 2: runs NNI on different port, but it'll give status error: "Training service error: EACCES: permission d

[2019-10-29 12:10] taylor4712 commented on #1158
Where can I find the NAS examples for NNI?

[2019-10-29 12:29] #1641 closed

[2019-10-29 13:28] ultmaster opened #1666 "EvolutionTuner fails when population size is less than concurrency"
Reproducible with `population_size=20` and `concurrency=50`.

[2019-10-29 13:30] ultmaster opened #1667 "Tuners should have precondition check"
Tuners should throw error in case of invalid search space, such as: `{"_type": "randint", "_value": [1, 2, 3]}`, or `{"_type": "randint", "_value": [0.5, 1.5]}`.

[2019-10-30 05:02] chicm-ms commented on #1667
@ultmaster What is current Tuners behaviour in case of invalid search space?

[2019-10-30 05:11] chicm-ms commented on #1658
@apatsekin   Hi, would you please attach the dispatcher.log and nnimanager.log under `~/nni/experiments/cJd6Fzn0/log` ?

[2019-10-30 05:14] xuehui1991 commented on #1666
```population_size``` should be larger than ```concurrency``` based on the understanding of evolution algorithm.

[2019-10-30 05:33] liuzhe-lz opened #1668 "Redesign SDK hierarchy"
The current hierarchy of Python SDK is very free-style. For example compressors are grouped in "compression" folder while tuners are placed at top-level directory. Also it's verbose to import some classes like `nni.tuner.Tuner` or even `nni.curvefitting_assessor.curvefitting_assessor.CurvefittingAssessor`.
We should redesign both Python package structure and source files' organization.

[2019-10-30 06:56] ultmaster commented on #1667
Sometimes they get processed as is. Sometimes tuners fail. Tuners' behaviors are undefined.

[2019-10-30 06:57] ultmaster commented on #1666
@xuehui1991 So won't fix? Should we put a note in our documentation?

[2019-10-30 08:56] xuehui1991 commented on #1666
I don't think we should fix it because it's not a bug.   We could mention it in the docs.

[2019-10-30 09:01] ultmaster commented on #1666
The failure message under my tests.

[code]

Also had an integrated example, in case you question my tests:

[code]

[2019-10-30 10:05] wshzd opened #1673 "train on linux ,then view the result through webui on windows10"
recently l carry out examples\trials\mnist on linux GPU,the result is normal and is also right on linux,but l want to view the training process through webui on windows10.l use the command: ssh -p <remote_port> -L 8888:127.0.0.1:8888 <username>@<remote_ip>,when l login in 127.0.0.1:8888 on windows,unexpectedly,l get the message that  our access is refused  by 127.0.0.1, that is why?

l have anothe

[2019-10-30 10:09] qtz93 commented on #1238
The statement of nni.get_next_parameter() is None, why? Any ideas will be appreciated.

[2019-10-30 20:31] apatsekin commented on #1620
Hi @SparkSnail . Thanks for reacting! The same experiment run in a local mode doesn't cause this growth of unclosed handlers. So it's something specific to `remote` mode.

[2019-10-31 02:19] wshzd commented on #1673
of course, l know NNI's default port is 8080,but it is what you want only to reseted again by the command -p or --port, this is not important

[2019-10-31 02:22] wshzd commented on #1673
is anyone successful about training  models on linux even mnist?

[2019-10-31 03:50] Steffy-zxf opened #1677 "nnictl tensorboard start failed!"
I tried the mnist experiment as demo provided. The webui was started successful as followed:
![image](https://user-images.githubusercontent.com/48793257/67917323-9f40b500-fbd3-11e9-8aed-78ec40fc9a77.png)
But, I wanna view the visualization by the nnctl tensorboard command!
The info is that the process was started successfully!
![image](https://user-images.githubusercontent.com/48793257/67917556-48

[2019-10-31 04:22] chicm-ms commented on #1673
@wshzd   Probably you want to firstly check your network and ssh forwarding configuration using other simple program such as `python -m http.server`,   then double check the webui  URL from nnictl command output.

[2019-10-31 10:48] QuanluZhang commented on #1659
@taylor4712 thanks for reporting your needs. Tutorial is this one https://github.com/microsoft/nni/blob/master/docs/en_US/AdvancedFeature/GeneralNasInterfaces.md, and example code https://github.com/microsoft/nni/tree/master/examples/trials/mnist-nas, https://github.com/microsoft/nni/tree/master/examples/trials/nas_cifar10. Could you describe your detailed scenario, so that we can help.

BTW, we a

[2019-10-31 13:46] taylor4712 commented on #1659
I would like to do Image classification with NAS, I have a folder of test, train and validation pictures and the associated csv files with picture name and label (0 or 1). It is a binary classification and I don't know where and how to change the examples because it is no dataset which can be loaded like cifar-10 and mnist.
And my other question is: Do the classical hyperparameter like learning ra

[2019-10-31 19:21] Markus92 commented on #1673
@wshzd yes, our lab does it all the time though we don't use port forwarding (nni listens on external ip by default so we just access server/port directly).

[2019-11-01 01:21] QuanluZhang commented on #1659
@taylor4712 data loading should be part of your trial code, it is not handled by nni, you should write it for your model.

When using NAS on nni, you still need to specify hyper-parameters such as learning rate. Our current NAS support only tunes neural architecture. We are working on co-optimization of hyper-parameters and neural architecture as a research project, will be released in future.

[h

[2019-11-01 02:52] #1666 closed

[2019-11-01 06:04] wshzd commented on #1600
yes ,you are right

[2019-11-01 06:16] wshzd commented on #1673
@Markus92 yes ,access server/port directly, a blog confuse me, thank you very much.

[2019-11-01 06:16] #1673 closed

[2019-11-01 07:59] YiChunHung opened #1689 "Run experiment without web server"
**What would you like to be added**:
Support running experiment without actually launch web server/ui.

**Why is this needed**:
As the normal user in the shared resource, it is usually that normal users have no auth to open a specific port.

**Without this feature, how does current nni work**：
As the doc mentions, nni would create a web server to control the experiment.

**Components that may invo

[2019-11-01 10:00] SparkSnail commented on #1677
NNI use `tensorboard --logdir {log path} --port {port}` command to start the tensorboard process. Could you please use the command in your own terminal to check if  `tensorboard`  could work normally in your machine? the {log path} is show in NNI's `INFO` information.

[2019-11-01 10:08] SparkSnail commented on #1658
Hi @apatsekin , how do you know that this is a `out-of-disk-space error`, I didn't find related information in the log content. If you clean up your disk and release some space, will this issue be resolved?

[2019-11-01 16:10] taylor4712 commented on #1659
Is it possibe to provide the code for data loading? I am new to NAS and don't know where exactly to change the code in the example to load my own dataset.

[2019-11-02 09:04] #1390 closed

[2019-11-02 09:06] liuzhe-lz commented on #1414
#1524

[2019-11-02 09:06] #1414 closed

[2019-11-02 09:10] liuzhe-lz commented on #1634
PR #1660

[2019-11-03 07:50] Steffy-zxf commented on #1677
I try the command tensorboad for other programs not nni. It works on my computer. But it still doesn't work via the comand nnictl tensorboard.

[2019-11-04 02:05] SparkSnail commented on #1661
Hi @blakeedwards823, could you try `which nnictl` in command line to see if nnictl is installed in machine?

[2019-11-04 06:39] martsalz opened #1699 "What happens with the experiments if there is not enough GPU memory?"
**Short summary about the issue/question**:

I get the impression that if there is not enough GPU memory available, sometimes experiments are put in a "queue" and executed later, and sometimes experiments are aborted - how exactly does NNI react in this situation?

![image](https://user-images.githubusercontent.com/12211578/68102925-1d070800-fed5-11e9-8afd-87f3059fc5fc.png)

[2019-11-04 07:45] ghostplant opened #1700 "Options for a failure trial"
**Short summary about the issue/question**:
Extend options for a failure trail during tuning.

**Brief what process you are following**:

Possible options:
  1) retry_on_failure (currently behavior);
  2) skip_on_failure: ignore this point and never retry this point again if it fails;
  3) default_value_on_failure=xxx: report xxx (as default value) to nni once a trial point fails. (Different with

[2019-11-04 09:54] xyoungli opened #1701 "no data in metric"
version: v1.1
run default example: "nnictl create --config=examples/trials/sklearn/classification/config.yml"
no data in default metric after run 100 trials
![image](https://user-images.githubusercontent.com/23724654/68112213-d690c800-ff2b-11e9-9a73-3a2c911f8ac1.png)

[2019-11-05 06:09] chicm-ms commented on #1699
NNI training services schedule trial jobs base on number of GPUs / number of trials per GPU configuration, no GPU memory is used in current job scheduliing.  Users need to ensure the trial jobs can run with the GPU configuration they specify.

[2019-11-05 07:06] martsalz commented on #1699
What do you mean by that and how does NNI react if this is not considered?

[2019-11-05 07:29] chicm-ms commented on #1699
For example, I have 4 GPUs (16GB memory for each GPU) on my system,  each trial jobs consumes 7GB GPU Memory, then I will set:
[code]

If my trial jobs consumes 17GB Memory, I know that this trial job can not run on this system. I must know the GPU Memory usage of my trial jobs before running NNI, then I can configure GPU settings properly.

[2019-11-05 08:12] #1699 closed

[2019-11-05 09:09] SparkSnail commented on #1701
Hi @xyoungli ,
   Which platform are you using?  what is the OS of your system? Could you please provide the log file of nnimanager.log and dispatcher.log?

[2019-11-05 09:36] QuanluZhang commented on #1633
@ksachdeva thanks for your work, we will add a reference to your repo soon.

[2019-11-05 09:39] xyoungli commented on #1701
i am using ubuntu16.04,
logs in dispatcher.log:
[11/05/2019, 03:32:56 AM] INFO (root/MainThread) Generating grammar tables from /usr/lib/python3.6/lib2to3/Grammar.txt
[11/05/2019, 03:32:56 AM] INFO (root/MainThread) Generating grammar tables from /usr/lib/python3.6/lib2to3/PatternGrammar.txt
[11/05/2019, 03:32:56 AM] INFO (nni.msg_dispatcher_base/MainThread) Start dispatcher
[11/05/2019, 03:32:56

[2019-11-05 09:56] xyoungli commented on #1701
it works well on mac

[2019-11-05 23:50] apatsekin commented on #1658
@SparkSnail out-of-disk happened on that machine because of causes not related to NNI. But I saw it in `stderr`. Unfortunately I don't have dump of stderr after initial crash. The whole case probably is not super common thing. However, it would be great to know ways of recovering from this situation: you have a folder with experiment, you try to restore it, and get this HttpTimeout error.

[2019-11-06 02:24] konabuta opened #1708 "404 page not found (TFJob on Azure Kubernetes Service)"
**Short summary about the issue/question**:

NNI TFJob failed with error "**Job management error: 404 page not found**" on Azure Kubernetes Service.

**Brief what process you are following**:

I follow [Run an Experiment on Kubeflow](https://nni.readthedocs.io/en/latest/TrainingService/KubeflowMode.html)

The job is on CPU and simple MNIST. This is yml that I use ([config_kubeflow.yml.txt](https:/

[2019-11-06 03:19] liuzhe-lz commented on #1638
Done in PR #1697

[2019-11-06 03:19] #1638 closed

[2019-11-06 14:22] ksachdeva commented on #1633
Hi @QuanluZhang , I also wrote an article about Microsoft NNI and it got published few hours ago.

Title- Find thy hyper-parameters for scikit-learn pipelines using Microsoft NNI

Here is the link to the post -

https://towardsdatascience.com/find-thy-hyper-parameters-for-scikit-learn-pipelines-using-microsoft-nni-f1015b1224c1

Here is the friend link to the post to avoid the membership limitation

[2019-11-06 18:19] apatsekin opened #1712 "no machine can be scheduled, return TMP_NO_AVAILABLE_GPU"
**Short summary about the issue/question**: In short: after update to 1.1 my `remote` experiment stopped working with subject error. I figured the source of it and propose some modifications, which will make debugging more clear.

**Details**
When NNI is run in remote mode, master machine generates from a hard-coded pattern a bash script which is meant to be uploaded to all workers and then run th

[2019-11-07 06:11] liuzhe-lz commented on #1712
Thanks for your feedback.
We have noticed the GPU resource detector is error-prone and the error message is vague.
We are planning to refactor the detecting and reporting mechanism, and to show error messages in web UI.
There is a hotfix PR #1707 for another issue, which may solve this problem (to some extent) as well.

[2019-11-07 06:57] liuzhe-lz commented on #1700
NNI itself does not have retry mechanism for now. However some underlying training services (especially OpenPAI) may do it silently, and we don't always have a way to configure their behaviour.
In next release (v1.2) we will support "add customized trial" or "clone trial", so you can retry a failed trial manually.

[2019-11-07 07:17] liuzhe-lz commented on #1701
Can you check trials' log? They are located in `~/nni/experiments/<EXPERIMENT_ID>/trials/<TRIAL_ID>/`.
File `stderr` should be empty, and `trial.log` should contain trial's log.

[2019-11-07 08:22] xyoungli commented on #1701
the "stderr" is empty, and the "trial.log" is empty too.  but the "metrics" in ".nni" contains  message "ME000106{"parameter_id": 6, "trial_job_id": "CD6z6", "type": "FINAL", "sequence": 0, "value": 0.9422222222222222}"

[2019-11-07 14:14] Kongyj opened #1717 "Where can I change nni_output_dir?"
**Short summary about the issue/question**: I want to change the output dir but I don't know where and how to change.

**Brief what process you are following**:

I found some code in the nni_trial_tools/constant.py:
HOME_DIR = os.path.join(os.environ['HOME'], 'nni')
LOG_DIR = os.environ['NNI_OUTPUT_DIR']
and I changed HOME_DIR with  HOME_DIR = os.path.join("D:/coding",  'nni') but the outputdir di

[2019-11-07 16:15] set92 opened #1718 "GDBT example don't work"
**Short summary about the issue/question**:
I cloned the whole repo and tried to run the example with 'nnictl create --config ./config.yml' like it says in the tutorial. I didn't change anything, but when I run it, the status of every trial was failed, so not sure if there is something missing in the tutorial, there is something that I'm not doing, or not sure where is the error.

**Brief what pro

[2019-11-08 03:40] liuzhe-lz commented on #1718
Please check `trial.log` and `stderr` in `~/nni/experiments/<EXPERIMENT_ID>/trials/<TRIAL_ID>/`.
They should show why did trials fail.

[2019-11-08 03:47] liuzhe-lz commented on #1717
Have you tried setting `$env:NNI_OUTPUT_DIR="YOUR_PATH"` in powershell?
I'm not familiar with the Windows part.
@SparkSnail

[2019-11-08 04:11] liuzhe-lz commented on #1701
So trials have successfully sent their results but the manager did not receive them.
Please open `http://127.0.0.1:8080/api/v1/nni/metric-data` (change IP and port to yours) in Chrome or Edge and check if it's empty. (Seems it can't be viewed in Firefox)

[2019-11-08 04:18] xyoungli commented on #1701
hi, i open it on chrome and safari, and get the same result. it is empty.

![image](https://user-images.githubusercontent.com/23724654/68449377-ce81a280-0221-11ea-8b37-33b9be7efb10.png)

[2019-11-08 05:28] xuehui1991 commented on #1718
Could you post you trial.log and dispatcher.log?

By the way, have you install `lightgbm` and `pandas`?

[2019-11-08 05:40] liuzhe-lz commented on #1701
Please re-run the experiment in debug mode: `nnictl create --config=examples/trials/sklearn/classification/config.yml --debug`
Then see if there are "Sending metrics" sentences in nnimanager.log. If no, we'll have to use some testing scripts...

[2019-11-08 05:58] xyoungli commented on #1701
hi， i re-run the experiment as you said, and there is no "Sending metrics" sentence in nnimanager.log
![image](https://user-images.githubusercontent.com/23724654/68453168-c892be00-022f-11ea-8afc-28dbfb9b4cda.png)

[2019-11-08 06:07] SparkSnail commented on #1708
Hi @konabuta, this issue may be caused by the kubeflow environment. Could you please verify that your kubeflow tf-operator is installed correctly, and the apiVersion is `v1alpha2`? You could run a normal kubeflow job directly instead of from NNI to test.

[2019-11-08 06:11] gaocegege commented on #1708
What's the version of kubeflow in your environment? TFJob v1alpha2 is deprecated after kubeflow 0.4

[2019-11-08 06:15] gaocegege commented on #1708
@sparksnail If you have time, I suggest upgrading TFJob/PyTorchJob to v1 since the API is stable now.

[2019-11-08 06:37] SparkSnail commented on #1708
Thanks @gaocegege, NNI support `v1alpha2`, `v1beta1`, `v1beta2` api-versions now, I'll investigate the `v1` version, and evaluate the effort of supporting.

[2019-11-08 07:03] gaocegege commented on #1708
@SparkSnail

v1 is similar to v1beta2. Thus if NNI supports v1beta2, it should be easy to support v1. And v1 is stable now and we will not have breaking changes about API in the future.

[2019-11-08 07:42] SparkSnail commented on #1677
Hi @Steffy-zxf , could you please try if your data used in tensorboard is under the path listed in nnictl? Could you please offer the log content in `/tmp/nni/{experimentId}/tensorboard_stdout` and `/tmp/nni/{experimentId}/tensorboard_stderr`?

[2019-11-08 07:51] SparkSnail commented on #1658
@apatsekin Do you mean that NNI should provide more meaningful error information when restarting an experiment? This is a good suggestion, we will give some time to investigate the case and give some improvement for NNI according to your advice, thanks.

[2019-11-08 08:39] QuanluZhang opened #1723 "add more log info about GPU usage"
**What would you like to be added**:
Adding more log info about GPU usage could help debugging, and make users be aware of GPU usage.
Detail: add more log info when users does not enable useActiveGPU but GPUs are occupied by others.

**Why is this needed**: user friendly

**Components that may involve changes**: training service

[2019-11-08 08:46] QuanluZhang opened #1724 "show warning and error messages on webui through notification popup"
**What would you like to be added**: show warning and error messages on webui through notification popup

**Why is this needed**: more friendly and timely show warnings and errors to users

**Without this feature, how does current nni work**：users need view the full log of nnimanager.log and dispatcher.log from the top row `Download` on webui.

[2019-11-08 08:46] set92 commented on #1718
Fixed, thanks, it helped me the output of stderr that said that I didn't have installed lightgbm, and the thing was that I was using another python that I had installed. I created a symbolic link from python3.6 to python3 and done.

In the interface (http://10.12.11.13:8080/detail), the section of log only shows the log path, is normal? It should be cool if it could show it there the contents of t

[2019-11-08 08:46] #1718 closed

[2019-11-08 08:55] scarlett2018 commented on #1717
@Cjkkkk to follow up.

[2019-11-08 08:57] scarlett2018 commented on #1701
@tanglang96 to follow up.

[2019-11-08 09:58] SparkSnail commented on #1717
Hi @Kongyj, if you want to run NNI on local mode of windows OS, you will not use `nni_trial_tools/constant.py` file. Do you mean that you want to change the log output path of NNI? You could set `logDir` in you config file. [refer](https://github.com/microsoft/nni/blob/master/docs/en_US/Tutorial/ExperimentConfig.md#configuration-spec)

[2019-11-08 10:15] SparkSnail commented on #1701
Hi @xyoungli, could you please use
[code]
command to install NNI, run NNI using `nnictl create --config=examples/trials/sklearn/classification/config.yml --debug` to start an experiment, and provide nnimanager.log here? It's a strange behavior that your experiment does not have metrics info while you have metric file in local, so I add some debug info in the code.
Thanks!

[2019-11-08 12:48] Kongyj commented on #1717
Thank you. It's useful.

[2019-11-11 01:22] #1628 closed

[2019-11-11 02:42] xyoungli commented on #1701
hi， @SparkSnail, i re-install the nni and re-run the experiment, and got result as following:
![image](https://user-images.githubusercontent.com/23724654/68557139-e64e6600-046f-11ea-9c52-857e31485cc0.png)

[2019-11-11 02:55] liuzhe-lz commented on #1701
Could you provide your docker configuration? Especially how did you mount home or `~/nni` directory.
It seems NNI failed to receive notification when files in `~/nni` get updated.

[2019-11-11 03:20] SparkSnail commented on #1583
fixed in https://github.com/microsoft/nni/pull/1694, close this issue.

[2019-11-11 03:20] #1583 closed

[2019-11-11 03:23] konabuta commented on #1708
Let me share the current situation. Please see attached file.
[nni_error_log.txt](https://github.com/microsoft/nni/files/3829561/nni_error_log.txt)

-  I tied very simple TFJob and it works.
- My kubernetes is 0.7.0
- I tried v1beta2 and got the **same** error.

as for v1, it got error. How can I use v1 ?
[code]

[2019-11-11 03:25] gaocegege commented on #1708
Do you mean your kubeflow version is 0.7.0?

[2019-11-11 03:27] xyoungli commented on #1701
i only mount the github repo to my docker container, and the experiment directory '~/nni' is create on '/root/nni'
here is my code: 'docker run --name jupyter --net=bridge -itd -p 8070:8080 -v /home/lixiaoyang/:/home/lixiaoyang ubt:9.0-v0.1.2 /bin/bash'

[2019-11-11 03:46] xuehui1991 opened #1725 "There is some risk when using `nnictl update concurrency`"
**Short summary about the issue/question**:

In the evolution algorithm, the `concurrency` related to the `population_size`. If directly change the `concurrency`, may cause the experiment to fail or hurt the algorithm performance.

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- OS:
- python version:
- is cond

[2019-11-11 04:03] SparkSnail commented on #1708
What is the version of your tf-operator? NNI only support `v1alpha2, v1beta1, v1beta2` now, the `v1` version is not supported yet. You should specify the correct version in NNI's kubeflowConfig.

[2019-11-11 06:22] scarlett2018 commented on #1717
@Kongyj - seems the question is addressed, I'm closing the issue for now. feel free to reopen if there are still problems with it.

[2019-11-11 06:22] #1717 closed

[2019-11-11 06:27] SparkSnail commented on #1701
Hi @xyoungli , have you tried `msranni/nni:latest` image?

[2019-11-11 06:54] scarlett2018 commented on #1158
Adding @ultmaster to share.

[2019-11-11 07:44] xyoungli commented on #1701
hi, @SparkSnail, i used the docker image 'msranni/nni:latest', but got the same result.
i run the container on a remote mechine, and open the webui on a local mechine.
![image](https://user-images.githubusercontent.com/23724654/68569827-16126380-049a-11ea-8a1e-eb390ddeab07.png)

[2019-11-11 07:51] SparkSnail commented on #1701
What do you mean that `run the container on a remote machine`? Do you mean that you use container as the remote server, and set `remote` mode in config? What are the OS of remote machine and local machine?

[2019-11-11 08:01] ultmaster commented on #1158
@taylor4712 Sorry for slow response.

Currently here: https://github.com/microsoft/nni/tree/master/examples/trials/mnist-nas. More in future.

[2019-11-11 08:27] konabuta commented on #1708
@gaocegege  yes, kubeflow is 0.7.0.

@SparkSnail  I use v1beta2 in NNI config file.

[code]

[2019-11-11 08:31] xyoungli commented on #1701
The nni was run on a docker container on a remote server. The OS of container on the remote server is ubuntu16.04, the OS of remote server is Centos6.3. The OS of my local mechine is macOS.
i did not use the remote mode

[2019-11-11 09:25] SparkSnail commented on #1708
@konabuta did your simple TFJob use v1beta2 operator?

[2019-11-11 11:01] #1615 closed

[2019-11-11 16:25] konabuta commented on #1708
@SparkSnail  I'm sorry ... I found **v1beta2** apiversion is working in my kubeflow.
[code]
I'm investigating how to use **v1beta2** in my kubeflow 0.7.0.

[2019-11-12 07:51] diggerdu opened #1731 "How to restart a failed trial?"
**Short summary about the issue/question**:
The nni framework does not support rerun the trial after the trial failed occasionally. Sorry for posting here beacuse I can't find a forum for nni.
**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version: 1.0
- nni mode(local|pai|remote): local
- OS: Ubuntu 16.04
- python version: 1.3
- is conda or virtual

[2019-11-12 08:34] liuzhe-lz commented on #1731
I'm sorry but it's not supported in current version.
This feature will come in next release.

[2019-11-12 08:35] liuzhe-lz commented on #1731
Duplicate of #1700

[2019-11-12 08:35] #1731 closed

[2019-11-12 12:21] SparkSnail commented on #1701
hi @xyoungli , I've tested running a docker image on Centos 7.7 system, and it works normally. Could you please try running NNI directly on your Centos6.3 machine to test whether it works? I suspect there might be some kind of compatibility problem on docker with Centos6.3. I also want you to double confirm that when you run a docker image on your machine, you didn't mount your `~/nni` path in doc

[2019-11-13 03:06] chicm-ms commented on #1544
Closed since no response,  you can reopen it if you still have this issue.

[2019-11-13 03:06] #1544 closed

[2019-11-13 06:18] apatsekin opened #1733 "GPU utilizations monitoring in remote experiments"
**Short summary about the issue/question**: currently `gpu_metrics_collector.sh` collects GPU utilization data for each available GPU to figure out if on this node a trial can be run. However, if nni is run in Docker container, it doesn't see external processes that may occupy GPUs. Solution to that might be monitoring memory utilization of GPUs as well, when you can set in configuration required

[2019-11-13 19:10] apatsekin commented on #1620
bump... any ideas? I'm sure it's a matter of one-line closing file handler in some `final` block.

[code]

[2019-11-14 01:28] scarlett2018 commented on #1620
@SparkSnail seems a remote mode problem.

[2019-11-14 02:07] SparkSnail commented on #1620
Hi @apatsekin , thanks for raising the problem, I've checked NNI's code, and perhaps this problem is caused by https://github.com/microsoft/nni/blob/master/src/nni_manager/training_service/remote_machine/sshClientUtility.ts#L152. I'm investigating and will give a hot fix ASAP.

[2019-11-14 05:51] apatsekin opened #1735 "Feature request: UNKNOWN state - ability to cancel trial"
In remote experiment, when one of the nodes by any chance goes off, there is no way to recover from that state. In webUI this trial just goes in "UNKNOWN" state and that's it. You can't cancel current trial and let it start new one when machine is back online. Especially when it's docker, and node doesn't even have trial src in /tmp folder anymore.

Feature request: enable "cancel" action for `UNK

[2019-11-14 09:11] martsalz commented on #1589
Because the experiments take a few hours/days and the error message occurs sporadically in my opinion, the reproducibility is not that easy.....

[2019-11-14 23:49] twelshed opened #1737 "Using NNI NAS interface with keras/tf.keras"
Hello,

I am attempting to use the nas interface with some tf.keras code to develop a U-net with learnable modules at each resolution. Are there any examples of using nni.mutable layers with tf.keras layers? All the examples I've found use tensorflow ops.

I get errors like this:

[11/14/2019, 10:46:01 PM] ERROR (dstl-nas-keras/MainThread) int() argument must be a string, a bytes-like object or a

[2019-11-18 02:04] QuanluZhang opened #1740 "output log on stdout in "standalone" mode"
**What would you like to be added**: model compression and one-shot NAS in NNI SDK can run with a single trial without starting an NNI experiment. This can be called "standalone" mode, in this mode, better to output some log content to stdout.

**Why is this needed**: more user friendly

**Without this feature, how does current nni work**：check the log

**Components that may involve changes**: log

[2019-11-18 02:56] scarlett2018 commented on #1712
the fix will go with the upcoming release, please stay tuned.

[2019-11-18 02:59] scarlett2018 commented on #1652
This is a known issue with TF 1.0, but not a problem with TF 2.0.

[2019-11-18 02:59] #1652 closed

[2019-11-18 03:00] #1634 closed

[2019-11-18 03:05] scarlett2018 commented on #1542
@Markus92 any comments?

[2019-11-18 03:06] scarlett2018 commented on #1506
Please check 1.1, and let us know your feedback =).

[2019-11-18 03:06] #1506 closed

[2019-11-18 03:09] liuzhe-lz opened #1741 "Write documentation for IPC interface"
In GitHub wiki maybe.

[2019-11-18 03:11] liuzhe-lz commented on #1735
Plan to be implemented in v1.3 release.

[2019-11-18 06:58] knsong opened #1743 "About NNI"
Hi, firstly thanks a lot for the great work.
But I'm wondering what the main differences with [ray/tune](https://github.com/ray-project/ray#tune-quick-start) ？

[2019-11-19 06:21] martsalz opened #1747 "Error: This socket has been ended by the other party"
**Short summary about the issue/question**:

The following error message appears during execution of NNI:

"Error: This socket has been ended by the other party"

The status then changes from RUNNING to ERROR. Why does this message appear "sporadically"?

**nni Environment**:
- nni version: 1.1
- nni mode(local|pai|remote): local
- OS: CentOS 7
- python version: python 3.6
- is conda or virtualenv

[2019-11-19 06:42] lsvih commented on #1700
Looking forward to this feature

[2019-11-19 06:58] ultmaster opened #1748 "Support multiple CUDA version in docker images"

[2019-11-19 07:21] chicm-ms commented on #1747
Looks like this was caused by dispatcher error,  would you please paste dispatcher.log and the config yml file?

[2019-11-19 07:33] martsalz commented on #1747
dispatcher.log:

`[11/18/2019, 04:43:17 PM] INFO (hyperopt.utils/MainThread) Failed to load dill, try installing dill via "pip install dill" for enhanced pickling support.
[11/18/2019, 04:43:17 PM] INFO (hyperopt.fmin/MainThread) Failed to load dill, try installing dill via "pip install dill" for enhanced pickling support.
[11/18/2019, 04:43:17 PM] INFO (nni.msg_dispatcher_base/MainThread) Start d

[2019-11-19 08:16] chicm-ms commented on #1747
what is the version of the hyperopt in your environment?   can this problem be reproduced?  I can not reproduce this problem with nni 1.1

[2019-11-19 08:24] martsalz commented on #1747
OK, if you don't get the error message without hyperopt, I'll try it as well. Which numpy version do you have?

numpy==1.16.4
hyperopt==0.1.2

[2019-11-19 08:28] chicm-ms commented on #1747
My numpy version is 1.17.2,   I can not reproduce this problem on both hyperopt 0.1.2  and 0.2.2.
The error stack  is in numpy and hyperopt

[2019-11-19 14:42] SparkSnail commented on #1620
https://github.com/microsoft/nni/pull/1749

[2019-11-19 19:57] jimbojumbo opened #1750 "Potential typo in sklearn example"
**There is a potential typo in the sklearn trail example**:

I was looking at the example provided to run the sklearn trail, and I noticed in the 'main.py' file,  the 'run' function takes PARAM as one of the input, should it be model instead?

[code]

Maybe I understand something wrong here, any clarification would be appreciated?

Thanks and great work!

[2019-11-20 02:04] QuanluZhang commented on #1743
@knsong thanks for asking. Ray is a great work. It is originally designed for easy scale-out of reinforcement learning algorithms. Then they support hyper-parameter tuning through the same distributed manner, because distributed reinforcement learning and hyper-parameter tuning can be easily unified in the same framework.

NNI is a pure AutoML toolkit for both hyper-parameter tuning and neural arc

[2019-11-20 04:04] cjissmart commented on #1558
I have the same problem. When I use pytorch, the intermediate result noly updates once, which means only one intermediate result during one trial. And no final result is reported. The same code is run well on ubuntu. Besides, it's ok when I use tensorflow.

[2019-11-20 04:26] cjissmart opened #1752 "Windows10 pytorch NO Final result"
**Short summary about the issue/question**:
When I use pytorch, I can't get result and some unusual thing happened
**Brief what process you are following**:
When I run the example: mnist-pytorch, I can't get the trial's final result. And the intermediate result noly updates once, which means only one intermediate result during one trial.The same code is run well on ubuntu. Besides, it's ok when I

[2019-11-20 05:54] ultmaster commented on #1752
Hi. Thanks for reaching out.

I tried running mnist-pytorch with the exact same settings as you on Windows, and everything is fine.

![image](https://user-images.githubusercontent.com/8463288/69212637-d683ff80-0b9c-11ea-8cf2-bf650dfb5911.png)

The issue with `trial.log` really intrigues me. Have you tried running `mnist.py` alone? Does it show the same result?

Meanwhile, try to find `.nni/metrics

[2019-11-20 06:31] QuanluZhang commented on #1750
fixed, and closed

[2019-11-20 06:31] #1750 closed

[2019-11-20 06:34] QuanluZhang commented on #1748
upgrade to the new cuda version for our maintained docker image

[2019-11-20 07:30] QuanluZhang commented on #1633
@ksachdeva thanks again for your contribution, we have reference the repo and article in pr #1754.

[2019-11-20 08:02] SparkSnail commented on #1620
https://github.com/microsoft/nni/pull/1755

[2019-11-20 09:04] cjissmart commented on #1752
Appreciate!!!
This is the metrics. It's so strange! As the figure show, the whole file exist so many null, and all useful message is the right side of the figure.
![image](https://user-images.githubusercontent.com/37531166/69224377-633bb700-0bb7-11ea-84b7-a5b7a6483caa.png)

[2019-11-20 09:23] ultmaster commented on #1752
@cjissmart Sorry I'm not a fan of Notepad++. I'm not sure `NUL` means corrupted or actually zero. Could you open your file in binary mode and show the data presented?

It would be better if you can show several versions of this file during the run of your experiment.

[2019-11-20 14:09] cjissmart commented on #1752
![image](https://user-images.githubusercontent.com/37531166/69244946-e9202800-0be0-11ea-83cb-a9da889281ba.png)
I dont know this figure is right . In binary mode, `20` indicates `NUL`
And other versions are same as the figure. The difference between different metrics is the end characters of files.

[2019-11-20 14:10] cjissmart commented on #1752
![image](https://user-images.githubusercontent.com/37531166/69244946-e9202800-0be0-11ea-83cb-a9da889281ba.png)
I dont know this figure is right . In binary mode, `20` indicates `NUL`
And other versions are same as the figure. The difference between different metrics is the end characters of files.

[2019-11-20 14:32] cjissmart commented on #1752
I'm sure that the same code is run well on other windows' computer.
So strange!!!

[2019-11-21 00:17] #1633 closed

[2019-11-21 01:25] kepsail commented on #1701
I have the same problem, and http://127.0.0.1:8080/api/v1/nni/metric-data  is **not** empty.

[2019-11-21 02:10] SparkSnail commented on #1701
Seems to be a problem in webportal, add @lvybriage for this issue.

[2019-11-21 03:58] kepsail opened #1762 "No data in Default metric visulalizaiton tab"
No data in the Default metric visualization tab, but there are default metrics in the Trial jobs tab.

![nni_bug](https://user-images.githubusercontent.com/6028345/69302911-1b1fa180-0c56-11ea-840b-dfacb504be67.png)

[2019-11-21 04:19] kepsail commented on #1762
Sorry, I should not report the final result in the early stop block, but report the final result in the end of the main script.

[2019-11-21 04:19] #1762 closed

[2019-11-21 04:33] ultmaster commented on #1752
@SparkSnail Any clue on why this happen on Windows?

[2019-11-21 05:59] SparkSnail commented on #1752
Hi @cjissmart , could you please try using `http://localhost:8080/api/v1/nni/metric-data` to get the metrics data and paste them here after you start an experiment in your Windows machine?

[2019-11-21 06:14] lvybriage commented on #1701
Hi, kepsail
We show the `default metric`  is trial's `final metric` rather than the `intermediate result` in the detail page. So, Could you help to check the api `xxx/api/v1/nni/trial-jobs` to find that whether these trials have the final result?
![e](https://user-images.githubusercontent.com/35484733/69312149-24fed000-0c69-11ea-9d90-4e452f4aae17.png)

[2019-11-21 07:45] lvybriage commented on #1490
related PR: #1557

[2019-11-21 07:45] #1490 closed

[2019-11-21 08:16] kepsail commented on #1701
Sorry, I mistakenly call the function report_final_result() in the early stopping block, which could not be executed when the number of epochs is small.
We should call report_final_result() at the end of the training script.

https://github.com/microsoft/nni/issues/1762#issuecomment-556913134

[2019-11-21 08:21] kepsail opened #1764 "cannot sort by Default metric in the Trial jobs tab"
In the Trial jobs tab, when I click the (sort by) Default metric button, the results are always sorted by the column Trial No.

[2019-11-21 08:25] kepsail commented on #1764
In Edge, the results are actually sorted by Trial No.
In Chrome, the results are confused.

[2019-11-21 08:32] kepsail opened #1765 "The operation "kill the trial" in the Web UI is not safe"
The  Web UI is not authorized. Other users in the same LAN who can access the WebUI could kill one trial.

[2019-11-21 08:33] kepsail commented on #1765
I think the 'kill' button can be removed from the WebUI.

[2019-11-21 10:59] liuzhe-lz commented on #1765
Duplicate of #1542

[2019-11-21 12:09] #1765 closed

[2019-11-22 05:39] lvybriage commented on #1764
@kepsail Thanks for reporting this bug. I'll fix it soon.

[2019-11-22 05:47] lvybriage commented on #1764
The results are not sorted by `Trial No.` when you sorted by `default metric` column. Because webui sorted `default metric` column by trial's final metric but some trial hadn't final metric. It caused the confuse. I'll sort `default metric` by `final/Iatest intermediate` metric.

[2019-11-22 05:59] ZhangEleven commented on #1533
{
    "models": {
        "_type": "choice",
        "_value": [
            {
                "_name": "SVD",
                "n_components": {
                    "_type": "choice",
                    "_value": [1, 2, 3]
                },
                "n_iter": {
                    "_type": "choice",
                    "_value": [4, 5, 6]
                }
            },
            {

[2019-11-22 11:08] martsalz commented on #1589
@chicm-ms Yes, logs["val_loss"] returns the value `nan`:

`[11/22/2019, 12:05:09 PM] PRINT  - ETA: 0s - loss: nan
[11/22/2019, 12:05:09 PM] PRINT 499/500 [============================>.]
[11/22/2019, 12:05:09 PM] PRINT  - ETA: 0s - loss: nan
[11/22/2019, 12:05:13 PM] PRINT 500/500 [==============================]
[11/22/2019, 12:05:13 PM] PRINT  - 118s 236ms/step - loss: nan - val_loss: nan

[11/2

[2019-11-23 13:42] cjissmart commented on #1752
I'm sorry for responsing not in time.
![image](https://user-images.githubusercontent.com/37531166/69479563-9ee5b380-0e39-11ea-9c6a-ba0cc621b1ff.png)
this is what `http://localhost:8080/api/v1/nni/metric-data` shows.
![image](https://user-images.githubusercontent.com/37531166/69479582-d18fac00-0e39-11ea-9144-fe7c6c69648b.png)
this is what `http://localhost:8080/api/v1/nni/trial-jobs` shows.
The fis

[2019-11-23 20:34] KOLANICH opened #1774 "Split hyperparams tuner into a separate lib and combine with UniOpt"
**What would you like to be added**: https://gitlab.com/KOLANICH/UniOpt.py

**Why is this needed**: In UniOpt.py I have implemented the framework which architecture have allowed me to easily wrap 3rd-party hyperparams tuners libs easily (more than 15 backends). Some of them are already present here. Some are not. Also the architecture like in UniOpt is not present here. Unfortunately I don't have

[2019-11-25 09:33] martsalz commented on #1589
How can this bug be fixed quickly? In my experiment with `173 `trainings, `65 `of them failed due to this error. With 8h/model very frustrating.

[2019-11-25 10:22] goooxu opened #1782 "Will NNI support a customized deep learning framework developed under OneAPI?"
**Background**

We known that Intel released oneAPI Toolkits recently, which provides a unified, standards-based programming model, our ML training system is just developed under oneAPI.
The NNI toolkit doesn't only support Tensorflow or Pytorch, am I right? So, how to tune a customized native training system (e.g. written in DPC++ and oneAPI) via NNI. Because the customized training system has an

[2019-11-25 14:19] Markus92 commented on #1542
@scarlett2018 Hi I unfortunately made that comment before looking at your code, and didn't realize it's mostly Node/TS which I have zero experience with unfortunately. It might take me some time before I'm familiar enough with it to be able to contribute a decent patch, sorry about that.

[2019-11-26 03:09] scarlett2018 commented on #1542
No worries, take your time =)!

[2019-11-26 06:02] cjissmart commented on #1752
The Same code is run well if I don't use GPU.
When I use CUDA_VISIBLE_DEVICES to select GPU and set gpu_num being 0, CUDA_VISIBLE_DEVICES commad is unavailable. You know how to fix it?

[2019-11-26 07:58] scarlett2018 commented on #1733
@apatsekin - the scenario is valid, but currently NNI would like to focus more on the API for parameter selection and architecture search, and leverage OpenPAI or Kubeflow alike platform to handle the GPU scheduling and utilization. hope it makes senses to you.

[2019-11-26 09:44] SparkSnail commented on #1752
Hi @cjissmart , do you mean that if you do not use GPU in the experiment, you could get the `final_result` of trials? If you want to select gpu in NNI's trial job, you could use `gpu_indices` field in config file, [refer](https://nni.readthedocs.io/en/latest/Tutorial/ExperimentConfig.html#configuration-spec).

[2019-11-26 11:40] cjissmart commented on #1752
I modify mnist-pytorch's config.yml as the figure shows:
![image](https://user-images.githubusercontent.com/37531166/69626781-4fdf8e80-1084-11ea-907f-27387022bad1.png)
However, it doesn't fix the bug.
It seems that it always happens when use pytorch with gpu.

[2019-11-26 12:14] SparkSnail commented on #1752
If you set `gpuIndices` value, you need to set `gpuNum` a non-zero number too, or it would not work. Does nni works on a tensorflow example in your machine?

[2019-11-26 20:55] thomasbkahn commented on #1521
Can a maintainer comment on whether this is indeed a bug or is it intended?

I'm running this example now and the results appear strange

[2019-11-27 00:20] QuanluZhang commented on #1521
@thomasbkahn The previous NAS interface becomes deprecated, thus, the corresponding examples using this interface including this one will also become deprecated. The refactored NAS interface can be found here (https://github.com/microsoft/nni/tree/v1.2/docs/en_US/NAS). You could follow the document to reproduce enas, darts and pdarts. We are supporting more NAS algorithms following the new NAS int

[2019-11-27 03:04] scarlett2018 opened #1794 "Iteration Plan for Dec 2019"
**Feature freeze date**: 16 Dec, 2019
**Code freeze date**: 10:30AM 24 Dec, 2019
**Release Manager**: @leckie-chn
**End Game Issue**: is tracking in #1872

-----------------------------------------------
### Planned Features
- [x] NFS support (PAI - Dian Wang) (#1635 ) –  #1848 **in review** @SparkSnail
- [x] Kubeflow update adoption (investigation) @SparkSnail #1814 (resolving conflict)
- [x] Pro

[2019-11-27 03:08] #1110 closed

[2019-11-27 03:09] #1521 closed

[2019-11-27 03:44] chaos0625 opened #1796 "pdarts error"
**nni Environment**:
- nni version: 1.1
- nni mode(local|pai|remote): local
- OS: ubuntu18
- python version: 3.7
- is conda or virtualenv used?: conda
- is running in docker?: no

When I run python pdarts.py, I met an error: ModuleNotFoundError: No module named 'nni.nas'.
After I add sys.path.insert(0, '../../../src/sdk/pynni'), it works.
I set epoch to 1 so that I can test the code quickly. And I

[2019-11-27 06:09] chaos0625 commented on #1796
Sorry, I make a mistake about above problem. I ran python pdarts/search.py not python pdarts.py. And I met en error:

File "../../../src/sdk/pynni/nni/nas/pytorch/mutables.py", line 104, in forward
out, mask = self.mutator.on_forward_layer_choice(self, *inputs)
File "../../../src/sdk/pynni/nni/nas/pytorch/mutator.py", line 83, in on_forward_layer_choice
"Invalid mask, expected {} to be of length {

[2019-11-27 11:46] QuanluZhang commented on #1737
@twelshed sorry for the late response. We are refactoring NNI NAS interface, the refactored interface will be released in v1.2 on next Monday. You could refer to this tutorial (https://github.com/microsoft/nni/blob/v1.2/docs/en_US/NAS/Overview.md) for the usage of the new interface. The previous NAS interface becomes deprecated.

The new NAS interface is planned to support both pytorch and tensorf

[2019-11-27 11:50] QuanluZhang commented on #1659
@taylor4712 sorry for the late response. We are refactoring NNI NAS interface, the refactored interface will be released in v1.2 on next Monday. You could refer to this tutorial (https://github.com/microsoft/nni/blob/v1.2/docs/en_US/NAS/Overview.md) for the usage of the new interface (the previous NAS interface becomes deprecated). If you want to try it now, you could install NNI from source code

[2019-11-28 01:54] squirrelsc commented on #1796
Thanks for reporting this
#1797 is addressing this issue.

[2019-11-28 02:14] chaos0625 commented on #1796
@squirrelsc Thanks for your favor, but there is another bug.
When I run pdarts/search.py，it has below error:
File "../../../src/sdk/pynni/nni/nas/pytorch/pdarts/mutator.py", line 31, in __init__ switches.requires_grad = False
AttributeError: 'list' object has no attribute 'requires_grad'

So I delete 'switches.requires_grad = False' and run it again, and I got another error:
  File "search.py", li

[2019-11-28 05:12] squirrelsc commented on #1796
It's still a problem in the intermediate code. I pushed a new version, and solved this problem.

[2019-11-28 06:15] #1740 closed

[2019-11-28 06:33] joshua-xia opened #1801 "Can the server push the result to web ui using websocket rather than frequently request from frontend"
**What would you like to be added**:

push the result to web ui using websocket

**Why is this needed**:

frontend need not frequently request data from server and the information update/refresh in time

**Without this feature, how does current nni work**：

current nni  request data from server frequently even the data not updated

**Components that may involve changes**:

 server and frontend

**

[2019-11-28 07:03] chaos0625 commented on #1796
@squirrelsc It works!  Thanks and expect more nas implemented in nni

[2019-11-28 07:08] xuehui1991 opened #1802 "Confuse about windows doc."
**Short summary about the issue/question**:
Can we run nni manager in one windows machine and remote trials to other windows machines?
The [doc](https://github.com/microsoft/nni/blob/master/docs/en_US/Tutorial/NniOnWindows.md) only mention "Currently we support local, remote and pai mode on Windows. Windows 10.1809 is well tested and recommended." which confuse me.

**Brief what process you are fo

[2019-11-28 07:24] squirrelsc commented on #1796
you are welcome. I will get this fix merged asap. Feel free to let us know, if there is any problem or question.

[2019-11-28 07:57] joshua-xia opened #1803 "Should we consider a new design to no algorithm engineer modification needed?"
**What would you like to be added**:
a new design let algorithm engineer need NOT modify the code according to the parameters input

**Why is this needed**:
reduce algorithm engineer 's work

**Without this feature, how does current nni work**：
current nni need modify the code according to the parameters

**Components that may involve changes**:
the pipeline design

**Brief description of your pro

[2019-11-28 08:24] squirrelsc commented on #1796
Fixed on v1.2 branch, and will merge back to master soon.

[2019-11-28 08:24] #1796 closed

[2019-11-28 08:51] xuehui1991 commented on #1803
Hello @joshua-xia,  could you give more detail about your proposal? Could you give some examples? Thank you.

[2019-11-28 11:30] #1764 closed

[2019-11-28 12:03] QuanluZhang commented on #1665
fixed, close.

[2019-11-28 12:03] #1665 closed

[2019-11-28 12:08] #1639 closed

[2019-11-28 12:12] QuanluZhang commented on #1622
resolved, close

[2019-11-28 12:12] #1622 closed

[2019-11-28 12:18] QuanluZhang commented on #1618
@chicm-ms could we close this issue now?

[2019-11-28 12:21] QuanluZhang commented on #1614
@liuzhe-lz can we close this issue now?

[2019-11-28 12:21] #1608 closed

[2019-11-28 12:23] QuanluZhang commented on #1605
refined, close

[2019-11-28 12:23] #1605 closed

[2019-11-28 12:28] QuanluZhang commented on #1586
supported, close

[2019-11-28 12:28] #1586 closed

[2019-11-28 12:37] QuanluZhang commented on #1528
done, close

[2019-11-28 12:37] #1528 closed

[2019-11-28 12:41] QuanluZhang commented on #1489
@ultmaster can we close this issue now?

[2019-11-28 12:50] QuanluZhang commented on #1464
@squirrelsc @chicm-ms can we close this issue now?

[2019-11-28 12:52] QuanluZhang commented on #1446
@lvybriage could you update the status related to this issue?

[2019-11-28 13:02] QuanluZhang commented on #1337
@yangou1988 have we supported it?

[2019-11-28 13:04] QuanluZhang commented on #1287
supported, close

[2019-11-28 13:04] #1287 closed

[2019-11-28 13:04] #1281 closed

[2019-11-28 13:05] QuanluZhang commented on #1279
@yangou1988 can we close this issue now?

[2019-11-28 13:06] #1243 closed

[2019-11-28 13:11] QuanluZhang commented on #1205
@SparkSnail can we close this issue now?

[2019-11-28 13:14] #1160 closed

[2019-11-28 13:19] QuanluZhang commented on #721
@squirrelsc  this can be achieved using standalone mode?

[2019-11-28 16:20] ultmaster commented on #1489
No. It hasn't been done yet. I don't know why people forget it.

[2019-11-29 00:34] joshua-xia commented on #1803
I am trying to write a prototype. you know to use the current NNI, the algorithm engineer have to modify the model code according to the parameters input,  and report the results using the SDK API, I wonder if there is a design/implement reduce this kind of modification

[2019-11-29 01:57] chicm-ms commented on #1618
Sure.

[2019-11-29 01:57] #1618 closed

[2019-11-29 03:01] joshua-xia commented on #1803
for example:

I have to write the following code to get model:

def get_model(PARAMS):
    '''Get model according to parameters'''
    if PARAMS.get('_name') == 'GradientBoostingClassifier':
        model = ensemble.GradientBoostingClassifier()
        model.loss = PARAMS.get('loss')
        model.learning_rate = PARAMS.get('learning_rate')
        model.n_estimators = PARAMS.get('n_estimators')

[2019-11-29 03:09] squirrelsc commented on #721
Does this command support? Can standalone mode input with yaml file, and output all log in console or single log file?

[2019-11-29 03:22] squirrelsc commented on #1464
Are the logs splited?

[2019-11-29 03:32] liuzhe-lz commented on #1614
This is only partially done.
For example our docker image is still using TF 1.10.

[2019-11-29 03:35] SparkSnail commented on #1205
I don't remember the scenario to use this feature, perhaps we could have a short discussion about this feature, and close it if it's not necessary to be implemented.

[2019-11-29 04:07] liuzhe-lz commented on #1801
By default NNI web UI only raises two requests per 10 seconds. So I think HTTP protocol overhead is not the bottleneck.
I do agree that incremental loading can potentially improve the performance, but it may need some huge refactor and is therefore unlikely to happen in near releases.

[2019-11-29 07:39] yangou1988 commented on #1279
@QuanluZhang Yes, this issue has been fixed.

[2019-11-29 07:43] yangou1988 commented on #1337
No, we are not going to support it since the content of the setting is not ready.

[2019-11-29 07:43] #1337 closed

[2019-11-29 17:04] andreyvelich commented on #1065
Try to add `/Users/{user_id}/Library/Python/3.7/bin` folder to your PATH.
The `nnictl` binary file should be there.

[2019-11-30 09:40] Markus92 commented on #1747
Are you using default search space?

We’ve gotten this error message when search space is set invalid (for example, switch min/max in loguniform]. It doesn’t tend to fail right away so, but only after some iterations.

[2019-12-02 09:15] BaySalt opened #1812 "Strange param search field while using Annotation mode"
Environment :  tf-GPU == 1.8.0 on python 3.6 on Ubuntu with virtualenv
i was trying to create a nni experiment with Annotation mode , and files are like this:

firstly i did these :

then i opened an experiment , and it looks fine on Web Watcher , nni begins to search models/model_A/param_A  in [1,2,3] as expected

later i did these:

then i opened an experiment , but on Web Watcher nni begins to

[2019-12-02 13:02] Fangyh09 commented on #1578
I had the same problem...

[2019-12-03 01:54] QuanluZhang commented on #1812
@BaySalt thanks for reporting this. This is a known issue. NNI will extract annotation lines from all the .py files under codeDir. One workaround is move `model_B.py` out of codeDir when using `model_A.py`. Another workaround is remove suffix `.py` of `model_B.py` when using `model_A.py`.

We have not supported only parsing used py files, the current behavior is parsing all the py files under code

[2019-12-03 06:21] BaySalt commented on #1812
Thanks for your reply !
Currently i avoid this by copying minimized project-files to another folder path,
Looking forward to your further Annotation Update :P

[2019-12-03 06:21] #1812 closed

[2019-12-04 03:02] #1748 closed

[2019-12-04 03:18] #1351 closed

[2019-12-04 07:12] nwb5233 opened #1816 "ERROR"
Job management error: getIPV4Address() failed because os.networkInterfaces().eth0 is undefined.

[2019-12-04 08:30] zlwzlwzlw opened #1817 "nni run in openPAI"
**Short summary about the issue/question**:
1.where to submit the command "nnictl create --config exp_pai.yml"
2.paiConfig:hostIp is deploy the openPAI host IP?
**Brief what process you are following**:
my yaml file:
![image](https://user-images.githubusercontent.com/33961256/70125417-b92d5600-16b1-11ea-8fe7-1c4d5566241f.png)
running yaml
![image](https://user-images.githubusercontent.com/33961256

[2019-12-04 08:49] skyser2003 opened #1818 "Suggestion: Allow gpuNum: 0 to be run on kubernetes"
**What would you like to be added**:
gpuNum: 0 to be possible on k8s/kubeflow

**Why is this needed**:
For CPU training or for other reasons,
sometimes no gpu containers is needed.

**Without this feature, how does current nni work**：
Always requires at least one nvidia.com/gpu resource.

**Components that may involve changes**:

**Brief description of your proposal if any**:

Hello, I am currentl

[2019-12-04 11:26] SparkSnail commented on #1689
Hi, in remote/pai/kubeflow mode, NNI need another port to accept metric data from trail_keeper, so if we support this kind of running mode, NNI may need a lot of refactor change, it might be a big effort. As we discussed internal, we may not support this feature. If you have another good suggestion, please feel free to give feedback. Thanks!

[2019-12-05 02:16] SparkSnail commented on #1817
Hi @zlwzlwzlw, this issue might caused by `eth0` device error. NNI use `eth0` to get your host IP, and communicate with webui. You could set `nniManagerIp` field in your config file to avoid this error. refer https://github.com/microsoft/nni/wiki/FAQ#job-management-error-getipv4address-failed-because-osnetworkinterfaceseth0-is-undefined, https://nni.readthedocs.io/en/latest/Tutorial/ExperimentConf

[2019-12-05 05:04] chicm-ms commented on #1816
This is a known issue, reference: https://github.com/microsoft/nni/blob/master/docs/en_US/Tutorial/FAQ.md

[2019-12-05 05:18] chicm-ms commented on #1589
We are trying to fix this with PR https://github.com/microsoft/nni/pull/1711

I assume that your are running mnist-keras example, it appears that learning rate 0.01 is too large for Adam optimizer,  you can remove the 0.01 and 0.005 from search space as workaround.

[2019-12-05 06:55] scarlett2018 commented on #1803
Thanks @joshua-xia  for raising the feature request. This is not in our recent roadmap, we will leave this open in case any other users have the interests or raise any proposals.

[2019-12-05 07:43] zlwzlwzlw commented on #1817
host IP is OpenPAI's master host IP? nniManagerIp is the one of openPAI work IP?

[2019-12-05 07:46] ultmaster commented on #1817
Host IP is the IP address where you access OpenPAI (yes, master IP). nniManagerIp is the IP address of the machine where you run `nnictl`. This is provided so that trial jobs on OpenPAI can send results back to nni manager.

[2019-12-05 08:43] zlwzlwzlw commented on #1817
it work,thankyou!

[2019-12-06 08:09] chicm-ms opened #1825 "eslint rules and scan results"
[typscript Eslint plugin](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin)
[eslint rules](https://eslint.org/docs/rules/)
[eslint typescript rules](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin/docs/rules)

Rule | description | enforce
-----|--------- | ------
[@typescript-eslint/no-explicit-any](https://github.c

[2019-12-06 08:58] liuzhe-lz commented on #1712
According to the code, I think this script uses the first `python3` appears in PATH, not hard-coded path.

[2019-12-07 08:44] QuanluZhang opened #1827 "Refactor the outline of NNI document in readthedocs"
Below is a proposal:

![image](https://user-images.githubusercontent.com/16907603/70371651-b3817b80-1910-11ea-931a-49bc9ba145ad.png)

[2019-12-08 17:20] Cherishty commented on #651
Any update?

[2019-12-09 03:19] scarlett2018 commented on #1668
Assign to @liuzhe-lz to drive the design and discussion first.

[2019-12-09 03:21] scarlett2018 commented on #1667
Assign to @QuanluZhang for further triage.

[2019-12-09 03:22] ashutoshIITK commented on #651
I just added the link to this GitHub repo in paper. :p

[2019-12-09 03:25] scarlett2018 commented on #1598
Assign @ultmaster for follow up with when/how the "correct" one-shot model implementation address the issue

[2019-12-09 03:26] ultmaster commented on #1598
Reproduction results of DARTS have been released in docs. ENAS is still under revision.

[2019-12-09 03:27] scarlett2018 commented on #1606
Assign to @SparkSnail for driving the design and discussion first.

[2019-12-09 03:52] scarlett2018 commented on #1626
Assign to @ultmaster for further design discussion first.

[2019-12-09 03:58] #1549 closed

[2019-12-09 04:09] SparkSnail commented on #1818
Hi @skyser2003 ,
    Thanks for raising the issue. In current design, NNI support setting gpuNum=0 by using `export CUDA_VISIBLE_DEVICES='0'`  command to shield gpu in kubeflow, at the same time, NNI will use
[code]
to set `'nvidia.com/gpu': `${gpuNum}``, which `${gpuNum}` could be 0.
I didn't get the point by changing code to
[code]
Do you mean that if you set gpuNum=0 in NNI config, it does not

[2019-12-09 04:20] skyser2003 commented on #1818
Yes, because of

[code]

[2019-12-09 04:29] SparkSnail commented on #1818
It seems that `CUDA_VISIBLE_DEVICES='0'` does not work on your k8s,  this might be a bug of NNI. Have you tried changing the source code to `export CUDA_VISIBLE_DEVICES=''` or `export CUDA_VISIBLE_DEVICES='-1'`, and use `source install.sh` to test?

[2019-12-09 04:41] skyser2003 commented on #1818
Tested CUDA_VISIBLE_DEVICES='', it works fine.

As long as I know, CUDA_VISIBLE_DEVICES is used to set index of gpus you want to use, not the number of gpus.

So if the above code is intended to use 0 gpus inside the container, I think it is wrongly used.

https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#env-vars
https://stackoverflow.com/questions/39649102/how-do-i-select-which-gp

[2019-12-09 04:50] SparkSnail commented on #1818
It seems so. I'll fix it ASAP, or if you are interested in NNI, it will be great if you can give a pr to fix this bug.
Thanks for giving the feedback.

[2019-12-11 02:53] scarlett2018 commented on #1300
@H-arshit any feedback? thanks.

[2019-12-11 02:55] scarlett2018 commented on #1356
Assign to @ultmaster to drive the design discussion.

[2019-12-11 02:58] scarlett2018 commented on #1357
Assign to @lvybriage for driving the discussion.

[2019-12-11 03:04] scarlett2018 commented on #1426
Assign to @QuanluZhang for further triage.

[2019-12-11 03:05] scarlett2018 commented on #1511
Assign to @liuzhe-lz for engineering estimation and suggestions.

[2019-12-11 03:07] scarlett2018 commented on #1530
Assign to @xuehui1991 for more information.

[2019-12-11 03:10] scarlett2018 commented on #860
Tracking in other places.

[2019-12-11 03:10] #860 closed

[2019-12-11 03:11] scarlett2018 commented on #825
closing long no responds issues. please feel free to reopen if this is still a problem.

[2019-12-11 03:11] #825 closed

[2019-12-11 03:13] scarlett2018 commented on #537
Assign to @QuanluZhang for more information.

[2019-12-11 05:48] ghostplant commented on #1700
Another workaround design:
[code]

[2019-12-11 10:57] chaos1992 opened #1846 "flops and parameters question about slim pruner"
**nni Environment**:
- nni version: 1.2
- nni mode(local|pai|remote): local
- OS: ubuntu18.04
- python version: 3.7
- is conda or virtualenv used?: conda
- is running in docker?: no

Q1:
After running slim_pruner_torch_vgg19.py (I set epoch to 5 for testting quickly and other config is default), I compare the size of vgg19_cifar10.pth with pruned_vgg19_cifar10.pth. I find their size are both 78321

[2019-12-12 09:10] tanglang96 commented on #1846
Q1:
Currently, our pruning implementation is masking the parameters with zeros but not directly removing them, the compressed model can be obtained by manually constructing the compact model(such as Conv2d(3,32,3)->Conv2d(3,16,3)) and inheriting the unmasked weights.

Q2:
Same to Q1, we only mask parameters but not remove them, the parameters count in our docs is computed from a new constructed co

[2019-12-12 09:41] chaos0625 commented on #1846
@tanglang96 thanks for your reply! Could you please release the code that can obtain the new constructed compact model?

[2019-12-12 13:33] QuanluZhang commented on #1846
@chaos0625 we are working on it, and will release the code soon.

[2019-12-13 01:25] chaos0625 commented on #1846
@tanglang96 @QuanluZhang thanks for your work, I expect that you will release the whole code because it's not completely for now.
Thanks nni team again!

[2019-12-13 08:55] leckie-chn commented on #1846
add @Cjkkkk to track this.

[2019-12-13 08:56] #1818 closed

[2019-12-13 08:57] #1817 closed

[2019-12-13 09:05] leckie-chn commented on #1747
@martsalz - any feedback on @chicm-ms and @Markus92 's suggestions? has the problem been addressed somehow? thanks.

[2019-12-13 09:06] #1743 closed

[2019-12-15 07:15] diggerdu opened #1852 "How to debug "no machine can be scheduled"?"
**Short summary about the issue/question**:
My experiment works well on local mode, but it stucks on "'Scheduler: trialJob id xxxx, no machine can be scheduled, return TMP_NO_AVAILABLE_GPU '" while I change the mode to remotemachine

**Brief what process you are following**:
1. add "debug: true" to the yaml file
2. "DEBUG [ 'remoteExeCommand: command: [tail -n 1 /tmp/root/nni/scripts/gpu_metrics]'

[2019-12-16 04:56] chicm-ms commented on #1852
Typically TMP_NO_AVAILABLE_GPU is caused by that number of required GPUs > number of available GPUs. Could you please paste the config yaml file?  let's check the configuration firstly.
Please also paste full nnimanager.log if you can ensure the configuration is right.

For debug suggestion,
While you search source code for TMP_NO_AVAILABLE_GPU , you can see that TMP_NO_AVAILABLE_GPU is only used

[2019-12-16 05:10] diggerdu commented on #1852
`
authorName: sinodragon
experimentName: leaf_s3
trialConcurrency: 1
maxExecDuration: 1000h
maxTrialNum: 1000
trainingServicePlatform: remote
debug: true
# The path to Search Space
searchSpacePath: search_space.json
useAnnotation: false
tuner:
  builtinTunerName: TPE
  classArgs:
    optimize_mode: minimize
# The path and the running command of trial
trial:
  command: zsh dist_train.sh 1 experimen

[2019-12-16 05:14] diggerdu commented on #1852
Please also paste full nnimanager.log if you can ensure the configuration is right.
[code]
#### After I execute ```bash -c echo $$ > /tmp/root/nni/scripts/pid ; METRIC_OUTPUT_DIR=/tmp/root/nni/scripts python3 -m nni_gpu_tool.gpu_metrics_collector``` manually

[code]

[2019-12-16 09:15] henryslzhao commented on #1223
I have this issue too! The nni is run in docker.
I checked my "/etc/hosts" file and "127.0.0.1 localhost" has been there.

[2019-12-16 10:21] chicm-ms commented on #1852
This is a bug when local system is used as remote training service.
PR https://github.com/microsoft/nni/pull/1856 is submitted to fix this.  You can use local training service as a temporary workaround.
If you would like to use local system as remote machine, you can install nni from master branch once the PR is merged.

[2019-12-16 10:38] diggerdu commented on #1852
But the bug is still exits after I using a remote machine.
The ```/tmp/root/nni/scripts/gpu_metrics``` does not exits in the remote machine
[code]

[2019-12-16 10:51] chicm-ms commented on #1852
Can you paste nnimanager.log again for the real remote machine?  And the output of command `nnictl log stderr`

[2019-12-16 10:56] diggerdu commented on #1852
[code]
➜  ume_dev_debug nnictl log stderr

-----------------------------------------------------------------------
                Experiment start time 2019-12-16 18:50:21
-----------------------------------------------------------------------
(node:898745) UnhandledPromiseRejectionWarning: SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at AnonymousObserver.disposab

[2019-12-16 11:10] diggerdu commented on #1852
I print out the content of ```cmdresult.stdout```
[code]

[code]

[2019-12-16 11:39] chicm-ms commented on #1852
It seems the cmdresult.stdout is correct,  the `\n` won't cause SyntaxError.  I dont have this problem with a real remote machine on my side.
You can add some log info in prepareTrialJob method to check whether prepareTrialJob  is finished correctly.

[2019-12-20 00:45] QuanluZhang commented on #1700
This feature request will be included in v1.4

[2019-12-20 08:57] #1620 closed

[2019-12-23 02:29] #873 closed

[2019-12-23 02:30] #1733 closed

[2019-12-23 02:40] scarlett2018 commented on #1782
@goooxu - Yes, NNI supports DL training in Tensorflow and Pytorch, as long as the program is written in Python. If the native training with OneAPI you mentioned is written in Python, theoretically, NNI should able to support it.

On the other hands, if I understood correctly, the OneAPI is more a unique API layer for connect, utilize and accelerate the interact between Applications and Hardware. s

[2019-12-23 02:50] scarlett2018 commented on #1338
assigning to Quanlu for more detailed design and triage to dev.

[2019-12-23 02:53] scarlett2018 commented on #1205
any conclusion from the discussion?

[2019-12-23 03:01] scarlett2018 commented on #651
Thanks @ashutoshIITK !

[2019-12-23 07:35] vivounicorn opened #1870 "Error: This socket has been ended by the other party\n at Socket.writeAfterFin"
Hi, I met the issue when i using nni framework, error message as following:

# 1、nnimanager.log

[2019-12-23 15:26:21] INFO [ 'Datastore initialization done' ]
[2019-12-23 15:26:21] INFO [ 'RestServer start' ]
[2019-12-23 15:26:21] INFO [ 'Construct local machine training service.' ]
[2019-12-23 15:26:21] INFO [ 'RestServer base port is 8080' ]
[2019-12-23 15:26:21] INFO [ 'Rest server listening o

[2019-12-24 02:41] goooxu commented on #1782
@scarlett2018 Yes, the OneAPI is a C++ layer for the interaction between Application and Hardware, so our customized machine learning framework is written in C++.
I checked the documents of NNI but didn't find anywhere mentions of how to support a C ++ training framework (similar to Caffe), will NNI support it in the future?

[2019-12-24 05:00] chicm-ms commented on #1870
Thansk for reporting this problem.
Please run `nnictl log stderr`  and `nnctl log stdout`, and paste the output.

[2019-12-24 05:01] chicm-ms commented on #1825
Eslint is enabled in pipeline now.

[2019-12-24 05:01] #1825 closed

[2019-12-24 05:04] xuehui1991 commented on #1870
Hello @vivounicorn ,  I noticed that you run the code `feature_engineering/auto_feature_engineering/test_large`, is it the example link in our repo? have you changed the code?

It seems the trial  rR2km run successfully, but the socket been killed. Also, I noticed that `sample_feature` are null in the first trial, I not sure you expect that.

[2019-12-24 05:05] chicm-ms commented on #882
Done

[2019-12-24 05:05] #882 closed

[2019-12-24 05:09] chicm-ms commented on #1269
@Royzon
Closing this issue for now since no feedback from you, if you still have the problem, you can reopen it.

[2019-12-24 05:09] #1269 closed

[2019-12-25 02:36] leckie-chn opened #1872 "Endgame for Iteration Dec. 2019"
**Feature freeze date**: 16 Dec, 2019
**Code freeze date**: 10:30AM 24 Dec, 2019
**Release endgame done**: 30 Dec. 2019
**Release Manager**: @leckie-chn
**The original plan** is in #1794

## Bug Bash
-----------------------------------------------
### Planned Features
- [x] NFS support @chicm-ms
- [x] Kubeflow update adoption @chicm-ms (@SparkSnail help setup env)

#### more NAS algorithm support

[2019-12-27 03:21] wrzzd opened #1884 "DocError: some details of document needs be updated."
**Short summary about the issue/question**:
some details of document needs be updated.

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- OS:
- python version:
- is conda or virtualenv used?:
- is running in docker?:

**need to update document(yes/no)**:
yes
**Anything else we need to know**:
Some details of doc

[2019-12-27 07:56] scarlett2018 commented on #1884
Adding @Cjkkkk to validate and update accordingly

[2019-12-27 07:57] #1794 closed

[2019-12-27 13:29] Cjkkkk commented on #1884
Thank you for bringing up this issue. The doc has been updated accordingly in PR #1881

[2019-12-28 10:16] forhonourlx opened #1885 "Failed quickstart: ERROR: Restful server start failed!"
**nni Environment**:
- nni version: 1.2
- nni mode(local|pai|remote): local
- OS: ubuntu 18
- python version: 3.6
- is conda or virtualenv used?: no
- is running in docker?: no

After `pip install nni`, trying quickstart and got:
nnictl create --config mnist-tfv1/config.yml
INFO: expand searchSpacePath: search_space.json to /home/simon/Desktop/nni-master/examples/trials/mnist-tfv1/search_space.jso

[2019-12-28 13:34] scarlett2018 commented on #1885
@ultmaster - similar to #1223 ?

[2019-12-28 13:41] forhonourlx commented on #1885
Not really.
It was running locally without docker.

[2019-12-28 15:22] ultmaster commented on #1885
A FAQ is related to this issue: https://nni.readthedocs.io/en/latest/Tutorial/FAQ.html. Please check before proceeds.

Use `which node` and `node -v` to check which node you are using. It should be a node installed in your user directory or virtualenv (not a global one).

[2019-12-28 15:42] scarlett2018 commented on #1885
@forhonourlx - let us know whether the FAQ works for you, thanks.

[2019-12-28 17:03] forhonourlx commented on #1885
It works when I `unset http_proxy && https_proxy`, then reset.
Thank you for your help.

[2019-12-28 18:40] alex44jzy opened #1886 "Try to install through the source code but occur the issue regarding to tsc Duplicate identifier 'IteratorResult'"
the error detail when i type 'source install.sh':

[code]

[2019-12-29 02:59] #1885 closed

[2019-12-29 03:13] xuehui1991 commented on #1886
hello @alex44jzy , if you want to install from source, you could try commands as follows:
[code]

It works for me.
Thanks

[2019-12-30 05:49] ultmaster opened #1893 "Source install issue in conda"
Use `sh install.sh` to install nni from source in a conda environment. Then `nnictl` appears in user directory (instead env bin of conda).

[code]

And I cannot uninstall.

And why it's v1.1 even if cloned with `-b v1.3`?

[2019-12-30 06:00] ultmaster commented on #1893
I managed to uninstall with `/usr/bin/python3 -m pip uninstall nni`.

[2019-12-30 08:38] vivounicorn commented on #1870
@chicm-ms @xuehui1991 Thank you.
I test this project: https://github.com/SpongebBob/tabular_automl_NNI
I have found the problem and i make a mistake, the solution as follows:
1. fe_util.py has function name2feature, and the code like this:
`  for key in feature_space:
        temp = key.split('_')
        assert len(temp) > 1`

2. search_space.json:
my original features like this:
`summ_gualoannum

[2019-12-30 08:38] #1870 closed

[2019-12-30 09:25] scarlett2018 opened #1900 "Iteration Plan for Jan-Feb 2020"
**Release Manager**: @QuanluZhang
**Feature freeze date**: 2020/1/23
**Code freeze date**: 2/10 4PM
_this will be a 5-week sprint_ , _mid sprint break: 1/24-1/30 Chinese Spring Festival_
**End Game Issue 2/17-2/23**: is tracking in [Jan-Feb 2020 End Game Plan #2025](https://github.com/microsoft/nni/issues/2025)
**Target release date**: 2/24/2020

-----------------------------------------------
###

[2019-12-30 10:39] scarlett2018 commented on #1893
@ultmaster - is this problem reproducible? shall we add this to the FAQ?

[2019-12-30 10:40] ultmaster commented on #1893
Unfortunately no. Closing it.

[2019-12-30 10:40] #1893 closed

[2019-12-30 10:44] #1884 closed

[2019-12-30 10:48] scarlett2018 commented on #1852
@diggerdu hope what @chicm-ms suggested works for you. in addition to github issue, you guys might also consider IM in NNI Gitter channel: https://gitter.im/Microsoft/nni

[2019-12-30 11:12] scarlett2018 commented on #1802
https://github.com/microsoft/nni/pull/1901

[2019-12-30 11:17] scarlett2018 commented on #1725
@xuehui1991 - is this problem only to evolution algorithm?

shall we disable the concurrency changes for evolution algorithm or just through warnings to user about this but keep our original generic behavior?

[2019-12-30 11:34] scarlett2018 commented on #1659
@taylor4712 - you can try https://www.kaggle.com/discussion for how to jump start with manipulate data. I'm closing the issue as the question about how to use NNI to implement NAS is answered by @QuanluZhang .

[2019-12-30 11:34] #1659 closed

[2019-12-30 20:00] goodman-ops opened #1902 "..."
**What would you like to be added**:

**Why is this needed**:

**Without this feature, how does current nni work**：

**Components that may involve changes**:

**Brief description of your proposal if any**:

[2019-12-31 02:30] xuehui1991 commented on #1902
@goodman-ops so what's the question?

[2019-12-31 02:33] xuehui1991 commented on #1725
@scarlett2018  I don't think it only for evolution. I think we could add some tips for the button that we change the concurrency. I have discussed the UI design with OU YANG.

[2019-12-31 02:49] #1902 closed

[2019-12-31 02:50] scarlett2018 commented on #1902
closing the empty issue.

[2019-12-31 03:19] scarlett2018 commented on #1725
Thanks for the confirm, let's discuss on our Friday planning meeting.

[2019-12-31 03:36] scarlett2018 commented on #1223
@henryslzhao - may you try suggestions in https://nni.readthedocs.io/en/latest/Tutorial/FAQ.html ? thanks.

[2019-12-31 03:49] scarlett2018 commented on #1621
Seems the "can't run trials" problem is resolved closing the issue. thanks for the feedback, feel free to open issue for new questions or reopen the issue if the problem occur again.

[2019-12-31 03:49] #1621 closed

[2019-12-31 03:56] #1584 closed

[2019-12-31 04:58] yangou1988 opened #1908 "Web UI Imrpovement"
**1. Top Navigation**  @lvybriage

- [x] Change the name 'View' to 'Download'
- [x] Too many buttons on the right side of top navigation, let's keep the 'Auto-refresh'  and 'Download' and then combine 'Feedback', 'Help', and 'Version' into a drop-down 'About'
- [x] Change the name 'Experiment Parameters' to 'Experiment  Summary'
- [x] Merge the two buttons 'NNImanager Logfile' and 'Dispatcher Logf

[2019-12-31 06:38] lvybriage commented on #1908
Merge the two buttons 'NNImanager Logfile' and 'Dispatcher Logfile' to one 'Logfiles'
question: when user click the "Disable auto refresh", what's the title change?

[2020-01-01 11:27] forhonourlx opened #1912 "Any example of distributed RL?"
Hi,
Is there any example of distributed RL?
Thanks in advance.

[2020-01-02 00:59] QuanluZhang commented on #1912
@forhonourlx thanks for asking. The framework of NNI can be used to support distributed RL. Specifically, [tuner](https://github.com/microsoft/nni/blob/master/docs/en_US/Tuner/CustomizeTuner.md) could act as, for example, policy network. While [trials](https://github.com/microsoft/nni/blob/master/docs/en_US/TrialExample/Trials.md) could be the episodes. NNI by design runs trials in parallel on var

[2020-01-02 04:07] yangou1988 commented on #1908
@lvybriage question: when user click the "Disable auto-refresh", what's the title change?

![image](https://user-images.githubusercontent.com/44491713/71651432-58e50f00-2d58-11ea-8388-7ee138f9e152.png)

[2020-01-02 07:06] xuezu29 opened #1915 "How to use multiple gpus for pruner"
### Lottery Ticket pruner  running on one GPU  is OK, but when i used multi gpus was defeated.

[code]

RuntimeError: weight__storage_saved.value().is_alias_of(weight_.storage()) ASSERT FAILED at /opt/conda/conda-bld/pytorch_1556653114079/work/torch/csrc/autograd/generated/VariableType_2.cpp:8492, please report a bug to PyTorch.

[2020-01-02 10:43] scarlett2018 commented on #1912
@forhonourlx thanks for raising the question, I'm closing the issue as the question has been answered in the above comment. please feel free to raise more questions whenever needed.

[2020-01-02 10:43] #1912 closed

[2020-01-03 02:57] lastrei opened #1916 "status changed from RUNNING to FAILED"
status changed from RUNNING to FAILED

nni Environment:

nni version: v1.2
nni mode(local|pai|remote): local
OS: windows server 2012 r2
python version: 3.6
is conda or virtualenv used?: yes  in conda
is running in docker?: no
I just starting with NNI on my job
And I see all my trails are getting failed
The exact command I ran and it's output:

D:\tzx\match>nnictl create --config config_windows.yml

[2020-01-03 03:13] SparkSnail commented on #1916
Could you please check the content in `C:\Users\tzx\nni\experiments\GjtiL7vn\trials\rol8f\stderr` ?

[2020-01-03 03:21] lastrei commented on #1916
there is no message in rol8f stderr..

[2020-01-03 03:39] #1872 closed

[2020-01-03 03:43] scarlett2018 opened #1917 "NNI Backlog - welcome to comment and suggest"
This ticket is to track issues that are not yet planned but considered as future candidate items. To review or follow active undergoing efforts, please refer to the following plans:

**[v2.3-monthly-release-candiate](https://github.com/microsoft/nni/issues/3581)**

**[NAS 2.0-Retiarii-support-roadmap](https://github.com/microsoft/nni/issues/3301)**

As NNI's user, you are highly encouraged to comm

[2020-01-03 04:20] SparkSnail commented on #1916
There is no error message in `nniManager.log`, this problem might caused by the trial job running time. Which example are you using? Have you tried the official example of NNI, and will it work? When you start a new experiment, you could use `nnictl create --config {file} --debug` to start a debug mode, this mode will offer more log information.

[2020-01-03 04:26] lastrei commented on #1916
o i used nni on my own job
Strangely, I seem to get the right result
i'll use nnictl create --config {file} --debug to try
thank you

[2020-01-03 05:41] xuezu29 commented on #1915
I have tested fpgm_torch_mnist.py on multi gpus also defeated.

[2020-01-03 05:53] lvybriage opened #1918 "WebUI is broken when final result's type is tensor"
**Short summary about the issue/question**:
[code]

![image](https://user-images.githubusercontent.com/35484733/71709184-b187db00-2e30-11ea-817e-3f9a3c272877.png)

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- OS:
- python version:
- is conda or virtualenv used?:
- is running in docker?:

**need to update do

[2020-01-03 07:47] #1852 closed

[2020-01-03 08:23] whtlook opened #1919 "Training service error: GPU not available. Please check your CUDA configuration"
I use Windows 10 ,anaconda with python 3.6.9.
I have tensorflow-gpu==1.12.0 installed, I use pip install not conda.
I have CUDA9.0 and cudnn 7.6.5 downloaded from official website, and add them to path.

![path](https://user-images.githubusercontent.com/45705345/71713366-5e1f8800-2e44-11ea-8516-2c0ade8d47ec.PNG)

tensorflow can detect my GPU:
![tensorflow can detect GPU](https://user-images.github

[2020-01-03 13:55] QuanluZhang commented on #1915
thanks @xuezu29 for reporting this issue. Currently model compression does not support DataParallel. The support will be included in release v1.4. Now, we are also checking DistributedDataParallel, will update when we get result.

[2020-01-03 15:39] marsggbo commented on #1846
Hello, do you solve the problem? If so, could you please share your code? Thanks!

[2020-01-04 01:50] chaos0625 commented on #1846
@marsggbo not yet

[2020-01-04 04:37] stone-doc opened #1922 "status error while powershell is lower than v5"
Training service error: Command failed: powershell.exe New-Item -Path "C:\Users\Administrator\nni\experiments\X5dwci2P\trials\g4zvy" -ItemType "directory" -Force 'powershell.exe' �����ڲ����ⲿ���Ҳ���ǿ����еĳ���
 ���������ļ���
 `powershell.exe New-Item -Path "C:\Users\Administrator\nni\experiments\X5dwci2P\trials\g4zvy" -ItemType "directory" -Force` (exited with error code 1)

windows

[2020-01-05 16:07] SparkSnail commented on #1919
Hi @whtlook, NNI use `nvidia-smi` command to collect gpu information, could you please check if `nvidia-smi` command could work in your machine?

[2020-01-05 16:19] SparkSnail commented on #1922
Hi @stone-doc, NNI use powershell to execute shell scripts, could you please check if the `powershell.exe New-Item -Path "C:\Users\Administrator\nni\experiments\X5dwci2P\trials\g4zvy" -ItemType "directory" -Force` command could work in your environment? You could run the command in your cmd terminal directly.

[2020-01-05 16:49] whtlook commented on #1919
Add C:\Program Files\NVIDIA Corporation\NVSMI to my path and it's done.

[2020-01-05 16:49] #1919 closed

[2020-01-05 17:04] whtlook commented on #1919
Actually I found that it doesn't need tensorflow-gpu to run. And it works with python 3.7.5 and pytorch 1.3.

[2020-01-06 00:55] xuezu29 commented on #1915
@QuanluZhang Thanks nni team !

[2020-01-06 00:59] QuanluZhang commented on #1846
@marsggbo @chaos0625 we will provide an Alpha version for this feature in v1.4

[2020-01-06 01:24] stone-doc commented on #1922
Thank you very much. It's ready to use. However, the trial job failed to display
![image](https://user-images.githubusercontent.com/59304289/71789495-550e0100-3066-11ea-8bb7-af964c6d66ee.png)

[2020-01-06 01:25] stone-doc commented on #1922
Thank you very much. It's ready to use. However, the trial job failed to display
Thank you very much. It's ready to use. However, the trial job failed to display
![image](https://user-images.githubusercontent.com/59304289/71789520-7a9b0a80-3066-11ea-9ba1-477f9773ebfb.png)

[2020-01-06 02:05] SparkSnail commented on #1922
Could you please show the content of nniManager.log and dispatcher.log?

[2020-01-06 02:23] stone-doc commented on #1922
[2020-1-6 09:40:47] INFO [ 'Datastore initialization done' ]
[2020-1-6 09:40:47] INFO [ 'RestServer start' ]
[2020-1-6 09:40:47] INFO [ 'Construct local machine training service.' ]
[2020-1-6 09:40:47] INFO [ 'RestServer base port is 8080' ]
[2020-1-6 09:40:47] INFO [ 'Rest server listening on: http://0.0.0.0:8080' ]
[2020-1-6 09:40:50] INFO [ 'NNIManager setClusterMetadata, key: trial_config, val

[2020-01-06 02:23] stone-doc commented on #1922
[2020-1-6 09:40:47] INFO [ 'Datastore initialization done' ]
[2020-1-6 09:40:47] INFO [ 'RestServer start' ]
[2020-1-6 09:40:47] INFO [ 'Construct local machine training service.' ]
[2020-1-6 09:40:47] INFO [ 'RestServer base port is 8080' ]
[2020-1-6 09:40:47] INFO [ 'Rest server listening on: http://0.0.0.0:8080' ]
[2020-1-6 09:40:50] INFO [ 'NNIManager setClusterMetadata, key: trial_config, val

[2020-01-06 02:37] stone-doc commented on #1922
[01/06/2020, 09:40:51 AM] INFO (hyperopt.utils/MainThread) Failed to load dill, try installing dill via "pip install dill" for enhanced pickling support.
[01/06/2020, 09:40:51 AM] INFO (hyperopt.fmin/MainThread) Failed to load dill, try installing dill via "pip install dill" for enhanced pickling support.
[01/06/2020, 09:40:51 AM] INFO (nni.msg_dispatcher_base/MainThread) Start dispatcher
[01/06/2

[2020-01-06 03:07] stone-doc commented on #1922
I updated dill
However, it still runs incorrectly
as follows

[01/06/2020, 10:59:21 AM] INFO (nni.msg_dispatcher_base/MainThread) Start dispatcher
[01/06/2020, 10:59:21 AM] INFO (hyperopt.tpe/Thread-1) tpe_transform took 0.002000 seconds
[01/06/2020, 10:59:21 AM] INFO (hyperopt.tpe/Thread-1) TPE using 0 trials
[01/06/2020, 10:59:36 AM] INFO (hyperopt.tpe/Thread-1) tpe_transform took 0.003000 secon

[2020-01-06 04:04] SparkSnail commented on #1922
There seems to be no obvious error message in the log content, this error might caused by the trial's code, does your experiment has `stderr` file in trial folder? You could get the trial's log folder path in WebUI,

[2020-01-06 06:24] stone-doc commented on #1922
I want to cry. Why
...
Stderr file exists
but file is empty
![image](https://user-images.githubusercontent.com/59304289/71799358-fe1d2180-308f-11ea-9659-63294b901d9d.png)

[trial.log](https://github.com/microsoft/nni/files/4024925/trial.log)

What should I do。My friend

[2020-01-06 06:27] stone-doc commented on #1922
--------
I want to cry. Why
...
Stderr file exists
but file is empty
![image](https://user-images.githubusercontent.com/59304289/71799570-a03d0980-3090-11ea-8f05-d942bb0b8d56.png)
What should I do。My friend
[trial.log](https://github.com/microsoft/nni/files/4024936/trial.log)

[2020-01-06 07:19] SparkSnail commented on #1922
If you have time, please join our [Gitter](https://gitter.im/Microsoft/nni) channel, it's easier to communicate.
Does your `.nni` folder has `metric` file?

[2020-01-06 07:26] stone-doc commented on #1922
What is your ID

[2020-01-06 07:27] stone-doc commented on #1922
I have time, your gitter name

[2020-01-06 08:36] 205418367 opened #1925 "hit input type and weigh type runtimeerror while exporting onnx model"
当代码执行到：pruner.export_model('model.pth', 'mask.pth', 'model.onnx', [1, 3, 224, 224])出错
RuntimeError: Input type (torch.FloatTensor) and weight type (torch.cuda.FloatTensor) should be the same

[2020-01-06 09:05] QuanluZhang commented on #1925
@205418367 thanks for reporting this issue. I guess you are exporting onnx file. This is a bug in `export_model`, which will be fixed in the next release.

In detail, https://github.com/microsoft/nni/blob/v1.3/src/sdk/pynni/nni/compression/torch/compressor.py#L252 , here, `input_data` should be put on the same device as your model. Could add `input_data = input_data.to('cuda')` below that line if

[2020-01-06 10:10] SparkSnail commented on #1922
As synced with @stone-doc, this problem might caused by the powershell version. NNI's powershell script has a `-NoNewline` command which is not working in the lower version of powershell, currently a working powershell version for NNI's script is v5, lower versions are not fully tested.

[2020-01-06 10:30] 205418367 opened #1927 "为什么模型压缩后的占用空间没有减小？"
我执行main_torch_pruner.py这个脚本，发现模型压缩前后没有什么变化

[2020-01-06 18:48] forhonourlx opened #1928 "Missing key: 'sshKeyPath'"
Hi,
I am trying ssh remote mode on Ubuntu NNI1.3:
[code]
Got:
[code]
Could somebody help?
Thanks in advance.

[2020-01-07 00:13] QuanluZhang commented on #1927
hi @205418367 , please refer to issue #1846 . This is a feature that will be included in release v1.4. You can refer to #1900 for the release plan.

[2020-01-07 02:18] SparkSnail commented on #1928
Hi @forhonourlx , could you try using
[code]
This problem might caused by the value type of passwd, the pure digital numbers in passwd might be recognized as `Number` type, since NNI only support `String` type in passwd field.

[2020-01-07 04:06] kuoorczp opened #1929 "When the duration is more than 2 minutes, trail job status is failed"
nnimanager.log:
[2020-1-7 11:48:34] DEBUG [ 'getTrialJobsByReplayEvents done' ]
[2020-1-7 11:48:34] DEBUG [ 'ipcInterface command type: [PI], content:[]' ]
[2020-1-7 11:48:35] DEBUG [ 'trialJob status update: M8agZ, SUCCEEDED' ]
[2020-1-7 11:48:35] INFO [ 'Trial job M8agZ status changed from RUNNING to SUCCEEDED' ]
[2020-1-7 11:48:35] DEBUG [ 'storeTrialJobEvent: event: SUCCEEDED, data: undefined,

[2020-01-07 05:43] monkeyshichi opened #1930 "does sklearn algorithm can run in distributed machine?"
**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- OS:
- python version:
- is conda or virtualenv used?:
- is running in docker?:

**need to update document(yes/no)**:

**Anything else we need to know**:

[2020-01-07 05:51] forhonourlx commented on #1928
Hi @SparkSnail,
Thank you for your help, `passwd: "1"` works.
And another exception is raised, what is attribute 'last_line'?
[code]

[2020-01-07 06:18] SparkSnail commented on #1928
Hi @forhonourlx , this error is raised by NNI annotation, are you using annotation in NNI?

[2020-01-07 06:21] forhonourlx commented on #1928
Yes. I simply tried an annotation as following:
[code]

[2020-01-07 06:31] SparkSnail commented on #1928
Add @liuzhe-lz  for this issue, he is more familiar with annotation.

[2020-01-07 06:37] SparkSnail commented on #1929
Hi @kuoorczp, do you have stderr file in your log path?

[2020-01-07 06:44] kuoorczp commented on #1929
stderr 's size is 0

[2020-01-07 06:51] SparkSnail commented on #1930
Hi @monkeyshichi , for `sklearn` algorithm, do you mean NNI's tuner algorithm?
NNI support kubeflow/FrameworkController TrainingService, which support distributed training mode ,or you could use remote machine to run multiple trial jobs.
For tuner algorithm, NNI only support running in single machine.

[2020-01-07 06:57] SparkSnail commented on #1929
There is a `.nni` folder in the log path, theoretically there are two files, containing `metric` and `state`. Does your `.nni` folder have `state` file?

[2020-01-07 07:03] kuoorczp commented on #1929
state:
0 1578379106543

metrics:
ME000103{"parameter_id": 0, "trial_job_id": "q51NP", "type": "PERIODICAL", "sequence": 0, "value": 0.76006044}
ME000098{"parameter_id": 0, "trial_job_id": "q51NP", "type": "FINAL", "sequence": 0, "value": 0.76006044}

[2020-01-07 07:09] kuoorczp commented on #1929
![nni](https://user-images.githubusercontent.com/59590811/71875571-99c99300-315f-11ea-8f1e-65c2380838a3.png)

[2020-01-07 07:29] liuzhe-lz commented on #1928
I'm not sure if annotation supports attribute. Please try assigning to a local variable first.
[code]
Looks strange, but I'm not familiar with current annotation module either...

[2020-01-07 07:42] forhonourlx commented on #1928
Thank you both.
I will try or raise a new issue.

[2020-01-07 07:55] forhonourlx commented on #1928
Hi @liuzhe-lz,
Fixing annotation name `config.num_workers` works.
Thank you for your help.

[2020-01-07 07:56] SparkSnail commented on #1929
Hi @kuoorczp,
Seems the log information is insuffiient, could you please try using
[code]
to install NNI from source code, and use
[code]
to start an experiment.
This version of code have more debug information.

[2020-01-07 08:03] kuoorczp commented on #1929
ok.i'll try

[2020-01-07 08:15] lvybriage commented on #1918
WebUI doesn't support the final result's type is `tensor` at present. Please return the final result type as `{default: string}` or `{default: dict}`.

[2020-01-07 08:33] Chen-Hongji opened #1931 "How to debug?"
**nni Environment**:
- nni version: 1.0
- nni mode(local|pai|remote): remote
- OS: ubuntu16.04
- python version: 3.6
- is conda or virtualenv used?:  no
- is running in docker?: no

I run nni in an environment without graphics, and I get ERROR when running. Because there is no start trial, there is no information under / tmp / nni. At the same time, I have no condition to access the web with a bro

[2020-01-07 08:49] SparkSnail commented on #1931
Hi @Chen-Hongji , there is a [doc](https://github.com/microsoft/nni/blob/master/docs/en_US/Tutorial/HowToDebug.md) to introduce debug method in NNI.
You could also use `nnictl log stderr` command to get the stderr information from restserver, and use `nnictl log trial` command to get the logPath of trial jobs. In the logPath, you could get the error information for every trial job. You could find

[2020-01-07 08:51] monkeyshichi commented on #1930
@SparkSnail  i mean those algorithm implemented in sklearn,like svc,logistic regreesion etc.

[2020-01-07 09:38] Chen-Hongji commented on #1931
thank you very much @SparkSnail

[2020-01-07 09:39] #1931 closed

[2020-01-07 09:45] SparkSnail commented on #1930
@monkeyshichi sorry, I'm not sure about the sklearn implementation.

[2020-01-07 15:44] forhonourlx opened #1932 "ERROR [ 'Update job status exception, error is No such file' ], where to find trail log?"
Hi,
After the following trail failed, where can I find the trail log to debug?(maybe some logging or Tensorboard code)
Thanks in advance.
[code]

[2020-01-08 01:26] monkeyshichi commented on #1930
@SparkSnail . I want to speed up sklearn algorithm run  in distributed machines with nni .Thank you anyway.

[2020-01-08 05:31] ultmaster commented on #1932
Hi. Thanks for raising this issue. You can find the log path here:

![image](https://user-images.githubusercontent.com/8463288/71952828-21280c80-321b-11ea-8889-6a41634e334c.png)

Since you are running in remote training service mode, you might need to login to check.

[2020-01-08 11:08] xuehui1991 commented on #1930
@monkeyshichi  I don't think NNI could support that.

[2020-01-08 11:28] marsggbo opened #1935 "What does MutableScope mean?"
what does `mutables.MutableScope`  mean? when should we use this class? I see that it is only used in ENAS example, but `enter_mutable_scope` method is not overrided. Could you explain it, thx!

[2020-01-09 03:09] QuanluZhang commented on #1935
Thanks @marsggbo for asking. The detailed document for the design of NNI NAS interface and how to write a NAS algorithm on NNI is still ongoing, and will be complete in release v1.4

For your question, we introduce `MutableScope` in the interface because some NAS algorithms require structural/hierarchical information, for example, which `LayerChoice`s and `InputChoice` are within a cell. So a `Mut

[2020-01-09 03:23] ultmaster commented on #1935
For this *extra step*, I think it's not mentioned in the paper, you can refer to [enas code](https://github.com/melodyguan/enas/blob/master/src/cifar10/micro_controller.py#L198) for details.

Writing your own mutator is experimental and not written in docs yet, but FYI, to implement a new mutator, there are two ways:

1. Inherit `BaseMutator` and implement a bunch of callbacks, like `on_forward_la

[2020-01-09 06:37] kala-Chen opened #1937 "Question: How to config NNI run on Spark ?"
I read the document(https://github.com/microsoft/nni/tree/master/docs/zh_CN/TrainingService), But can not found how to config NNI run On Spark(Example Run XGB On Spark). Is it support now?

[2020-01-09 07:20] SparkSnail commented on #1937
Hi @kala-Chen, NNI support running on local machine, remote machine, kubernetes and OpenPAI platform, does support running on Spark platform.

[2020-01-09 08:08] kala-Chen commented on #1937
hi~ sparkSnail, "does support running on Spark platform" ?  , can you give me a reference document link or a demo link ?

[2020-01-09 10:08] lastrei opened #1938 "ERROR (nni.msg_dispatcher_base/Thread-1) index 823 is out of bounds for axis 0 with size 790"
nni Environment:

nni version: latest
nni mode local
OS: windows 10 64bit
python version:3.6
is conda or virtualenv used?: yes
is running in docker?:no

when i run my experiment on nni，after 20+ trial  it's error
and i search for the logs, i see the message below:

[01/09/2020, 05:55:34 PM] DEBUG (nni.msg_dispatcher_base/Thread-2) process_command: command: [CommandType.TrialEnd], data: [OrderedDic

[2020-01-09 10:28] lastrei commented on #1938
and buy the way
i set the max_bin "max_bin":{"_type":"randint","_value":[300,600]},
but in the log i see this "max_bin": 833,  why its >600?

[2020-01-09 10:34] lastrei commented on #1938
and nnimanager.log is here

[2020-1-9 17:55:33] INFO [ 'Trial job gM4jc status changed from RUNNING to SUCCEEDED' ]
[2020-1-9 17:55:33] DEBUG [ 'storeTrialJobEvent: event: SUCCEEDED, data: undefined, jobDetail: {"id":"gM4jc","status":"SUCCEEDED","submitTime":1578563503303,"workingDirectory":"C:\\\\Users\\\\hp680\\\\nni\\\\experiments\\\\OHl57N2z\\\\trials\\\\gM4jc","form":{"sequenceId":23,"hyperPa

[2020-01-09 10:59] lastrei commented on #1938
[dispatcher.log](https://github.com/microsoft/nni/files/4039999/dispatcher.log)

[nnimanager.log](https://github.com/microsoft/nni/files/4040015/nnimanager.log)

[2020-01-09 14:04] Sundrops opened #1939 "No data in Default metric"
I want to run comands of trial in a docker container. And I found the metics in /mnt/share/alex/nni/experiment/xxxx/trials/xxxxx/.nni/metrics after I run `nnictl create --config config.yaml`. But, they were not shown in Default metric(WebUI).
[code]
[code]
![image](https://user-images.githubusercontent.com/14829222/72073963-f5e11280-332b-11ea-9bee-ee935172a0f8.png)

[2020-01-09 15:04] Cjkkkk commented on #1915
@xuezu29  you can track the status of pr #1923 . Thanks for bringing up this issue!

[2020-01-09 15:30] Sundrops commented on #1939
Maybe the ip of docker container is different from host computer's.

[2020-01-10 02:31] xuehui1991 commented on #1938
Hello @lastrei .

Based on the [tutorial](https://github.com/microsoft/nni/blob/master/docs/en_US/Tutorial/SearchSpaceSpec.md), I think you can use `quniform` to instead `randint`. Because TPE treats integers from lower to upper as unordered ones.

![image](https://user-images.githubusercontent.com/6280746/72120832-35434980-3394-11ea-8676-6a9dcec49a4f.png)

As for why the `max_bin` is out of the b

[2020-01-10 02:45] SparkSnail commented on #1937
sorry. spelling mistake. I mean that NNI does not support spark.

[2020-01-10 03:35] marsggbo opened #1941 "Is there any convenient way to debug the model for NAS task?"
I'm trying to use enas to search a model based on my dataset. But it seems that we need to first build mutator, trainer, etc. before we can run the model. I'm wondering is there any easier way to test our model, just like a normal model:

[code]

[2020-01-10 05:05] lastrei commented on #1938
@xuehui1991
thanks for reply
hyperopt.__version__
'0.2'
the index out of bound  error  because of randint? i'll use quniform to have a try
thank you so much

[2020-01-10 08:44] QuanluZhang commented on #1938
thanks @lastrei for reporting this issue. Currently, NNI only supports hyperopt 0.1.2. Could you try 0.1.2 to check whether the problem still exists. Thank you.

[2020-01-10 13:59] SparkSnail commented on #1939
Hi @Sundrops, your docker container runs in remote server, how do you share a folder with nniManager machine?
If you want to run trial jobs in remote docker, you could use `remote` mode in NNI, set the remote container as remote machine, and use ssh to connect the docker.

[2020-01-10 14:35] lastrei commented on #1938
ok i will change hyperopt to 0.1.2
and i use quniform to instead randint  the out of bound error is not appear ..but i don't know
why randint can cause out of bound?

[2020-01-11 09:49] QuanluZhang commented on #1941
hi @marsggbo , if you want to try the search approach of enas (i.e., weight sharing and enas controller), there is no need to write a new mutator and trainer, simply use `EnasTrainer` in NNI SDK.

If you want to debug your model which uses `LayerChoice` and `InputChoice`, we provide [RandomMutator](https://github.com/microsoft/nni/blob/master/src/sdk/pynni/nni/nas/pytorch/random/mutator.py). It ra

[2020-01-11 10:59] marsggbo commented on #1941
Thank u so much!

[2020-01-11 10:59] #1941 closed

[2020-01-12 06:40] Sundrops commented on #1939
@SparkSnail
Thanks for your reply. In my company, my machine that runs nni shares the dir with remote servers. I can not use remote mode to run  trial jobs, because I can not directly connect the remote docker through ssh. The pipeline is: I run nni in my machine, and the trial command includes applying for a remote docker in a queue and runing the training task in remote docker.  After the traini

[2020-01-13 02:58] marsggbo opened #1947 "How ro calculate the model size and flops in NAS project?"
I want to use NAS method to search a resource-aware model, but for each step, the mutator generates a new model structure so that it is not easy to calculate the generated model size, especially flops. Is any possible and easy way to implement this? Thanks!

[2020-01-13 03:02] marsggbo opened #1948 "How to reload the parameter and fine-tune the best generated model in NAS?"
In DARTS and ENAS, after the searching stage, only a list of json files are saved without model parameters. If we want to finetune the best child model, we have to train it from scratch.

To this end, **how to save the parameters of the supernet and load the corresponding part of parameters to the child model and finetune it?**

[2020-01-13 04:46] ultmaster commented on #1947
Hi @marsggbo. Thanks for raising this issue.

For parameter size, because NNI builds a supernet for training, you may experience issues if you directly use `model.parameters()` which will count every parameter even if some of them is not used. This issue will be addressed later in NNI framework. For now, a simple workaround is to dry run and do back-propagation and count the parameters used. e.g.,

[2020-01-13 05:18] Sundrops commented on #1939
@SparkSnail
As  https://github.com/microsoft/nni/issues/266 said, this problem is induced by that tail-stream package does not work in remote docker container. metrics file is changed, but tail-stream does not notice that.  The nni version I used is 1.3,

[2020-01-13 05:28] ultmaster commented on #1948
Hi @marsggbo. Thanks for raising this issue.

In DARTS and ENAS, you can add a `ModelCheckpoint` to the callbacks for trainers, which will export the supernet weight into a file. For details, refer to https://github.com/microsoft/nni/blob/30152b04c4739f5b4f95087dee5f1e66ee893078/src/sdk/pynni/nni/nas/pytorch/callbacks.py#L61

To load, all you need to do this use `model.load_state_dict(torch.load(.

[2020-01-13 08:48] SparkSnail commented on #1939
@ Sundrops, I see. There might be some error when using stream to watch file change. The related
 file stream code is in https://github.com/microsoft/nni/blob/master/src/nni_manager/training_service/local/localTrainingService.ts#L529.
I  wonder how do you share a folder with remote container, so I could reproduce the problem. Are you using NFS mount?

[2020-01-13 08:52] Sundrops commented on #1939
@SparkSnail , Yes, I use NFS mount. My machine and the docker runing on remote server both can access the dir `/mnt/machine_#id`.

[2020-01-13 09:50] scarlett2018 commented on #1948
@ultmaster, may we add this issue to the FAQ? this sounds very useful to new users.

closing the ticket as ultmaster has provided the answer.

[2020-01-13 09:50] #1948 closed

[2020-01-13 11:11] scarlett2018 commented on #1927
Added to #1900 so that we can revisit this issue when it is resolved.

[2020-01-13 13:49] tyusr opened #1949 "Bugfix for nnictl"
Bugfix for `nnictl experiment delete <experiment_id>`:

in `nni/tools/nni_cmd/config_utils.py`   line 79:

https://github.com/microsoft/nni/blob/30152b04c4739f5b4f95087dee5f1e66ee893078/tools/nni_cmd/config_utils.py#L77-L81

`id` should be `expId`

[2020-01-13 15:01] tyusr opened #1950 "support create ssh connection by using sshkey"
**What would you like to be added**:
nnictl create ssh connection using ssh-key

**Why is this needed**:
ssh-key connection support in `nnictl create` by `sshKeyPath` param in config.yml, but `nnictl experiment delete` only use password to create ssh connection:

https://github.com/microsoft/nni/blob/30152b04c4739f5b4f95087dee5f1e66ee893078/tools/nni_cmd/nnictl_utils.py#L399-L412

**Without this f

[2020-01-14 02:33] xuehui1991 opened #1952 "Refine log"
The current log is redundant and some of them are meaningless.

For example,

![image](https://user-images.githubusercontent.com/6280746/72309205-5029fc80-36b9-11ea-926e-ba51e64d3836.png)

**What would you like to be added**:

**Why is this needed**:

**Without this feature, how does current nni work**：

**Components that may involve changes**:

**Brief description of your proposal if any**:

[2020-01-14 03:39] scarlett2018 commented on #1949
would you like to submit a PR? =).

[2020-01-14 04:44] liuzhe-lz commented on #1952
You can raise log level to `INFO` if you want.
Maybe we can default to that.

[2020-01-14 05:05] xuehui1991 commented on #1938
Hello @lastrei. I reproduce your error using your search space. I think it a bug and we should fix it as soon as possible,

[2020-01-14 06:19] tyusr commented on #1949
Done. #1953

[2020-01-14 07:56] xuehui1991 commented on #1952
@liuzhe-lz I think we should. This log come from users.

[2020-01-14 08:32] liuzhe-lz commented on #1952
I have confirmed the default log level is `INFO`.
The user is using `--debug` flag.

[2020-01-14 13:19] Sundrops commented on #1939
@SparkSnail Can you reproduce the problem?

[2020-01-15 03:04] #1949 closed

[2020-01-15 03:04] QuanluZhang commented on #1949
Thanks for your contribution.

[2020-01-15 04:43] enniefu opened #1960 "Can I use NNI to do NAS on my own dataset?"
I want to train a object detection model, like yolo ssd fast rcnn, than use nni to do NAS on this model. Can I do this base on NNI?

[2020-01-15 06:30] #1938 closed

[2020-01-15 12:19] SparkSnail commented on #1939
@Sundrops How do you start remote docker by `run my docker xxxx` command, since the trial runs on local machine?

[2020-01-15 12:25] Sundrops commented on #1939
@SparkSnail I used a tool(xxx run --image docker_image_name --command 'sh train.sh') provided by my company to submit a job to cluster(k8s).

[2020-01-16 01:50] QuanluZhang commented on #1960
@enniefu , yes, you can. The design goal of NAS on NNI is for users to freely tune their model's architecture and use their own dataset.

Let's say you have your object detection model in pytorch which is executable. It uses your own training data. To tune the neural architecture of your model, you may want to replace an operation in a layer with other candidate operations, in this case you can us

[2020-01-16 02:04] SparkSnail commented on #1939
NNI support running jobs in K8S clusters by KubeflowTrainingService or FramewrokControllerTrainingService, have you ever tried that?

[2020-01-16 02:12] Sundrops commented on #1939
@SparkSnail I don't have permission to modify the config of customized k8s in my company. Maybe the problem is related to docker version and kernel version.

[2020-01-16 03:43] marsggbo opened #1962 "Can we train Enas or Darts in a distributed way?"
Currently, I'm using Enas to search the network for my own dataset. Because my dataset is very large, it almost takes one night to search for only two epochs. So I wonder is it possible to search the model in a distributed way? Thanks a lot!

[2020-01-16 05:06] YanqingWu opened #1963 "BUG : bug report about auto hyper-parameter tuning."
When I put the config file, search space file and main.py in one dir, all status success.
But when i put them in 3 single directory, all status failed.
I already change the config file, and I get ""INFO: Successfully started experiment!"".
I have tried absolute path or relative path in config file , it does not help.

[2020-01-16 05:15] YanqingWu commented on #1963
Sorry, don't mind,I did not pay attention the relative path in load_data.

[2020-01-16 05:15] #1963 closed

[2020-01-17 02:12] QuanluZhang commented on #1962
@marsggbo , ENAS supports DataParallel, you could simply wrapper your model with pytorch DataParallel. DARTS in NNI has not supported DataParallel yet, we are working on it.

We have not supported running ENAS and DARTS in a distributed way yet.

[2020-01-17 05:19] #1937 closed

[2020-01-17 06:23] lvybriage opened #1969 "Copy as json bug"
I want to copy trial's parameters rather than all trial parameters details.

![image](https://user-images.githubusercontent.com/35484733/72588944-d0a86180-3934-11ea-8249-1512e920c156.png)

[2020-01-17 06:43] #1932 closed

[2020-01-17 06:47] #1930 closed

[2020-01-17 06:48] #1928 closed

[2020-01-17 06:53] #1922 closed

[2020-01-17 06:56] scarlett2018 commented on #1916
@lastrei - it seems the problem is resolved, would you mind me close the issue? please feel free to reopen the issue if there are still help needed for this issue.

[2020-01-17 06:56] #1916 closed

[2020-01-17 07:00] scarlett2018 commented on #1223
Closing the issue as overdue (with no updates from user). Please feel free to reopen the issue if you are still seeing the issue and have updates to work with us.

[2020-01-17 07:00] #1223 closed

[2020-01-17 07:02] #1279 closed

[2020-01-17 07:34] YanjieGao opened #1970 "Add a BibTeX citation text or link"
**What would you like to be added**:
Add a BibTeX citation text or link for reference
**Why is this needed**:
for research work citation
**Without this feature, how does current nni work**：
hands on write, not clear write which year?
**Components that may involve changes**:
document
**Brief description of your proposal if any**:
You could refer autokeras
https://github.com/keras-team/autokeras#cit

[2020-01-17 17:09] marsggbo commented on #1947
@ultmaster Thanks for your reply. But there is still an issue that we can only get the real size of the real model after `loss.backward()`. But in Enas, I want to add the model size as a loss item which is conflicted with your example. Is there any other solutions? Thanks!

[2020-01-18 01:26] ultmaster commented on #1947
Looks to me that you want to trace the number of parameters used for every sub architecture sampled during training phase. In fact, the model size is not differentiable. So how do you want to add it as a loss term? If all you want is to display the loss as a number without differentiation, you can add it after `loss.backward()`.

[2020-01-18 01:36] marsggbo commented on #1947
The reason why I add the model size as an loss item is that I want the mutator to find a smaller model which also has a comparable performance. Since the model size is not differentiable, is there any other substitutable method? Thanks!

[2020-01-18 01:52] ultmaster commented on #1947
For sure you can add the flops or param size as part of the reward function, so that controller is aware of the model size, that's exactly what MnasNet, FBNet, and SPOS did. What I want to add here is, other than `loss.backward()`, there is another method called lookup table method, which we provide an example, SPOS, that asks the model to give flops from a lookup table, when all choices are provi

[2020-01-18 03:07] marsggbo commented on #1947
Thanks for your reply!  But I have a question is that the flops obtained by using the lookup-table method is also not differentiable. Or the loss of enas controller is not necessary to be differentiable?

[2020-01-18 04:01] ultmaster commented on #1947
Reward for RL agent is not necessarily differentiable. There are certain tricks that can make flops differentiable, like FBNet. Please read the papers for more details.

[2020-01-19 04:35] marsggbo commented on #1947
I implement a function to calculate the real model size by using model and mutator, the function code is as follows:

[code]

[2020-01-19 04:41] ultmaster commented on #1947
I think that's true, that's basically what we do in SPOS. We might want to expose cache as public API for convenience later.

Also, these two lines can be more elegant:

[code]

->

[code]

[2020-01-20 07:07] scarlett2018 opened #1973 "Support Windows as Remote Training Node"
Currently, NNI only support windows local mode, or windows as a nnictl node, but not support windows as a node to run remote trainings. Would also like to support NNI as a remote training node.

- [x] support window node
- [x] add integration testing

[2020-01-24 06:21] marsggbo opened #1980 "How to visualize the model generated during the search stage?"

[2020-01-25 06:20] QuanluZhang commented on #1980
@marsggbo thanks for asking, we are working on visualization of NAS, hopefully we can release this feature in v1.5 in March.

[2020-01-30 06:52] maayan-hassidim opened #1983 "NAS examples"
Hi,

**Short summary about the issue/question**:
I'm trying to run a NAS example (classic_nas and also NNI-NAS-Example-dev-enas) and get errors.

**Brief what process you are following**:
When running: nnictl create --config config_nas.yml I get the error:
ERROR: Your config file is not correct, please check your config file content!
ERROR: searchSpacePath path not exist!

After a google search I

[2020-01-31 03:31] ultmaster commented on #1983
Hi. For your first question, please follow the instructions [here](https://nni.readthedocs.io/en/latest/NAS/NasInterface.html#classic-distributed-search): run `ss_gen` first, then `nnictl`.

It looks to me that the problem you show in your screenshot is caused by tensorflow. Try to downgrade your tensorflow.

Please also note that NNI-NAS-Example-dev-enas is a very old example, and not compatible

[2020-01-31 04:07] RizhaoCai commented on #536
How is it?
If we can add a label to the to function, that would be better.
E.g.
nni.report_intermediate_result( loss, label=‘loss’)
nni.report_intermediate_result( acc, label=‘accuracy’).

And in the WebUI, there shall be the title'loss' or 'accuracy' shown in the graph.

Has this been released?

[2020-01-31 05:17] xuehui1991 opened #1984 "The image in doc is out of date"
![image](https://user-images.githubusercontent.com/6280746/73514256-ef762000-442b-11ea-81ff-dce46c9e1fda.png)

 The picture of WebUI in PAI doc is out of date.

**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- OS:
- python version:
- is conda or virtualenv used?:
- i

[2020-01-31 06:56] scarlett2018 commented on #536
@lvybriage could you please share an example for how the current Web UI works with this update? for @RizhaoCai as reference.

cc @yangou1988

[2020-01-31 06:56] scarlett2018 commented on #536
reopen it till the ask from user been addressed.

[2020-01-31 14:59] scarlett2018 commented on #1661
@SparkSnail - I hit the same problem for NNI 1.3, python 3.6.9, windows' ubuntu 18 app.

[2020-01-31 15:24] scarlett2018 commented on #1661
The problem is fixed after I restart the console.

[2020-01-31 15:27] scarlett2018 commented on #1661
@blakeedwards823 - are you still seeing the problem? may you kindly responds? we will close overdue issues with no responds over months. thanks for the support.

[2020-01-31 16:04] scarlett2018 opened #1985 "“Unknown error" for clone trial with MNIST example"
NNI 1.3, Windows (using Ubuntu APP), Python 3.6.

When it happened:
- Run the MNIST example, when there are NO_MORE_TRIAL (running last trial).
- Find the trial with the largest metric value, copy and submit.

got the following failure:
![image](https://user-images.githubusercontent.com/39592018/73554227-51637380-4486-11ea-8728-11c37cf197ef.png)

[2020-02-01 04:18] xuehui1991 opened #1986 "WebUI error"
![image](https://user-images.githubusercontent.com/6280746/73586762-cb2e4800-44ec-11ea-85ac-4666d4a51767.png)

1. Intermediate results show as "FINAL" result.

2. Error when showing the comparison of the parameters.

**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- O

[2020-02-01 04:40] ultmaster commented on #1986
Could you please share the experiment parameters which is downloadable at the upper-right corner on WebUI?

[2020-02-02 10:29] maayan-hassidim commented on #1983
Thanks! Now it works.

[2020-02-02 10:29] #1983 closed

[2020-02-03 02:03] lvybriage commented on #1984
I'll fix soon. Thank you, @xuehui1991

[2020-02-03 07:35] ultmaster opened #1990 "Trial search keywords get cleared when search type is changed"
For example, when search type is changed from ID to params, keywords that has already been typed get cleared.

[2020-02-03 09:33] #1950 closed

[2020-02-03 09:55] jeffltc opened #1991 "Export the topology graph the NAS result."
**What would you like to be added**:Plot the structure of final NAS result.

**Why is this needed**:Demonstrate the topology of the result structure.

![image](https://user-images.githubusercontent.com/29009209/73643367-5440ad00-46ae-11ea-9b57-293e2792944d.png)

**Without this feature, how does current nni work**：I tried to use trainer.export() function to export the final structure, but what I go

[2020-02-03 14:08] StephenLee2016 commented on #1927
你好，什么时候可以支持将压缩后的模型导出呢？

[2020-02-03 14:15] QuanluZhang commented on #1927
@StephenLee2016  , it will be included in v1.4, https://github.com/microsoft/nni/issues/1900

[2020-02-04 04:56] ultmaster commented on #1991
Thanks for asking. Related to #1980.

[2020-02-04 06:15] jeffltc commented on #1980
Thanks for redirecting. Just curious are there any work around to export at least the connection information for each nodes in json form? Thanks in advance.

[2020-02-04 10:46] scarlett2018 opened #1994 "[PAIYarn Mode] No metric curve and intermediate info available."
**Short summary about the issue/question**:
I'm using NNI + PAIYarn mode, the jobs have been submitted correctly and succeeded on running. I can see the trial result in PAI's stdout log. but the default metric on NNI side is empty, so does intermediate results for each trial (empty as well).

![image](https://user-images.githubusercontent.com/39592018/73737854-58d49680-477e-11ea-92cc-54aa47dded65.

[2020-02-04 13:09] scarlett2018 opened #1995 "[PAIYarn + Windows] failed to create setting config due to too many files"
Using Windows 10 + Conda's VS Code

INFO: expand searchSpacePath: search_space.json to C:\Users\**\Desktop\Acoda3\mnist_pai\search_space.json
INFO: Starting restful server...
INFO: Successfully started Restful server!
INFO: Setting paiYarn config...
Error message is {"error":"Call count file error: Error: Timeout: path C:\\Users\\**/ has too many files"}
ERROR: Failed! Error is: None

[2020-02-04 13:13] scarlett2018 commented on #1995
NNI + PAI mode will check the codeDir file size, this is by design a restriction.

[2020-02-04 13:13] #1995 closed

[2020-02-04 18:15] zym604 commented on #1939
@SparkSnail
Same problem:
![Capture](https://user-images.githubusercontent.com/9557009/73772825-f31ce600-474e-11ea-843d-89737946ab8d.PNG)
![Capture2](https://user-images.githubusercontent.com/9557009/73772830-f6b06d00-474e-11ea-9076-b94607bc7df6.PNG)
System: Windows 10 Pro
code: https://github.com/microsoft/nni/blob/master/examples/trials/mnist-pytorch/config_windows.yml
(change `gpuNum: 0` to `gp

[2020-02-05 03:23] Sundrops commented on #1939
@SparkSnail I have fixed this bug. Make the machine ID launched the nni same as the the machine ID in the logdir: /mnt/ID(nfs)

[2020-02-05 03:24] Sundrops commented on #1939
@zym604 Maybe you didn't report final result. My problem is different from yours.

[2020-02-05 03:24] #1939 closed

[2020-02-05 05:18] zym604 commented on #1939
@Sundrops
I did.
[code]

[2020-02-05 10:16] Sundrops commented on #1939
You can get LATEST result while I get nothing in Default metric, so my problem is different from yours. Which mode do you use? local? remote?

[2020-02-05 22:19] jlema opened #2000 "default metric graphs are empty after completing run of examples\trials\mnist-pytorch\config_windows.yml"
Repro steps:
Environment: Conda 4.8.1 on Windows 10, CUDA 10.1, CUDNN 7501, GeForce Drivers 441.87.
Hardware: Dell XPS 15, NVIDIA GeForce GTX 1050 TI

1. Install nni v1.3, pytorch 1.3.1
2. Open config_windows.yml on examples\trials\mnist-pytorch
2.1. Update line 21 to enable GPU training: **gpuNum: 1**
3. Star the experiment: nnictl create --config examples\trials\mnist-pytorch\config_windows.yml

[2020-02-05 23:41] weiT1993 opened #2001 "Can I start the WebUI from the experiment folder?"
Can I run an NNI experiment on a remote machine, download the experiment folder after it's done to local, and view the results in WebUI from local?

The remote machine I use requires me to do a second ssh from a remote server to log in. I cannot start a browser from the remote server.

[2020-02-06 01:34] QuanluZhang commented on #2001
@weiT1993 , thanks for reporting your requirement. Unfortunately, NNI has not supported this feature. We have supported [experiment view mode](https://github.com/microsoft/nni/blob/master/docs/en_US/Tutorial/Nnictl.md#view), in this mode an experiment can be view through webui without resuming the experiment. Your requirement is one more step further: first migrate the experiment data, second view

[2020-02-06 03:42] xuehui1991 opened #2002 "WIKI is out of date"
![image](https://user-images.githubusercontent.com/6280746/73904031-b7605880-48d5-11ea-9851-c3a45a43692b.png)

![image](https://user-images.githubusercontent.com/6280746/73904042-c1825700-48d5-11ea-95bd-806323eb8231.png)

**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote)

[2020-02-06 04:41] scarlett2018 commented on #2001
is `remote `mode easier for his case?

[2020-02-06 05:28] weiT1993 commented on #2001
I did not figure out how to use the remote mode properly. The remote server 2 I use quires me to first ```ssh``` into server 1 and ```ssh``` from there to log in.  I used ```ping``` to find the IP of server 2 but that does not work in the remote mode. Are there guidelines on how to start remote mode for servers that I can ```ssh``` into?

[2020-02-06 05:36] scarlett2018 commented on #2001
can your local machine open up web ui from server 1? if so, you can run remote mode with server 2 on server 1.

[2020-02-06 07:24] xuehui1991 commented on #1986
Of course.

The parameter as following:
![image](https://user-images.githubusercontent.com/6280746/73914687-be4a9380-48f4-11ea-8b08-34dc642f93b7.png)

Json format is:
[
    "{\"parameter_id\":0,\"parameter_source\":\"algorithm\",\"parameters\":{\"batch_size\":128,\"hidden_size\":1024,\"gamma\":0.95,\"policy_lr\":0.0008350295839947315,\"value_lr\":0.0013780050113098535,\"discrete_log_prob_scale\":2

[2020-02-06 07:31] ultmaster commented on #1986
I mean the whole dict including results, like:

[code]

[2020-02-06 08:02] xuehui1991 commented on #1986
You could find the experiment parameters in upper link.

[2020-02-06 11:39] scarlett2018 opened #2004 "Update feature engineering Overview page"
2 small updates:
- Before "how to use", need to add some intro for which type of data set is supported by these selectors;
- Add intro for https://github.com/microsoft/nni/tree/master/examples/feature_engineering/auto-feature-engineering in the Overview page

[2020-02-06 11:47] scarlett2018 commented on #2002
@xuehui1991, the first search result I got from Google is no more exist. and the 2nd search result is correct: https://github.com/microsoft/nni/blob/master/docs/en_US/Tutorial/Nnictl.md#resume.

The last discussion we made for Wiki was: will not use wiki but use https://nni.readthedocs.io/en/latest/ to document features. so, let's close this issue?

[2020-02-06 12:28] RizhaoCai opened #2005 "Encounter type error when running pruning examples"
**Traceback**

  File "main_torch_pruner.py", line 97, in <module>
    main()
  File "main_torch_pruner.py", line 90, in main
    train(model, device, train_loader, optimizer)
  File "main_torch_pruner.py", line 31, in train
    output = model(data)
  File "/home/rizhao/anaconda3/envs/distiller/lib/python3.6/site-packages/torch/nn/modules/module.py", line 541, in __call__
    result = self.forward

[2020-02-06 13:01] RizhaoCai commented on #2005
I tracked back to the source code and set a tracepoint at nni/compression/torch/pruners.py", line 116.

Then, I found that `mask` is a dict, which only has a key 'weight' and `mask['weight']` is the mask_dict, of which the type a torch.Tensor and the size is the same as the weight parameter.
![image](https://user-images.githubusercontent.com/37952703/73938900-35971c00-4923-11ea-9589-be8973b4c4b9.p

[2020-02-06 13:47] scarlett2018 commented on #2005
@Cjkkkk - if @RizhaoCai 's fix works, shall we encourage him/her submit a PR directly =)?

[2020-02-06 14:10] Cjkkkk commented on #2005
Thanks for bringing up this issue. Your fix makes sense and you can submit a PR directly.

[2020-02-06 14:34] Sundrops opened #2006 "Performance issue-curvefitting assessor"
**Short summary about the issue/question**:

Firstly, Thanks for your great work.
Curvefitting is not ideal. The result predicted by curvefitting is much lower than actual value.

**How to reproduce it**:
[code]
![image](https://user-images.githubusercontent.com/14829222/73945864-ef948500-492f-11ea-80ae-2d0a30983921.png)

**nni Environment**:
- nni version: 1.3

[2020-02-06 15:29] xuehui1991 opened #2007 "webui pages are inconsistent"
In the overview page:

![image](https://user-images.githubusercontent.com/6280746/73951540-9b41d300-4938-11ea-826e-70a3a9550c88.png)

on the Trial details page:

![image](https://user-images.githubusercontent.com/6280746/73951595-b57bb100-4938-11ea-9ce1-0b3f2a5609fc.png)

The trial status are inconsistent.

**Short summary about the issue/question**:

**Brief what process you are following**:

**H

[2020-02-06 15:35] xuehui1991 opened #2008 "getIPV4Address failed when using PAIK8S mode"
When using the PAIK8S mode, I got some error:

Training service error:
getIPV4Address() fail because os.networkinterfaces().eth0 is undefined.

By the way, I already set the "nniManagerIp" in config correctly.

**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version: 1.3
- nni mode(local|pai|remote): paik8

[2020-02-07 02:19] xuehui1991 opened #2009 "No information when submit a cutimized trial in WebUI"
![image](https://user-images.githubusercontent.com/6280746/73995347-41222b80-4993-11ea-8948-bb39f9dac7ab.png)

There happened an error when I trying to submit a customized trial in WebUI. But I don't know why and how to fix it. Can nni give more inforamtion?

**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni

[2020-02-07 02:41] xuehui1991 opened #2010 "Why not put the lastest result in the picture?"
![image](https://user-images.githubusercontent.com/6280746/73996263-21d8cd80-4996-11ea-9c12-8185715411a6.png)

The top10 result only contains the final result. Why not put the lastest trial result here? because some trials might be achieved good results but fail accidentally.

**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni En

[2020-02-07 02:44] scarlett2018 commented on #2005
@RizhaoCai - could you please submit a PR for this fix? thanks.

[2020-02-07 02:52] scarlett2018 commented on #2009
seems like a dupe of #1985

[2020-02-07 03:16] scarlett2018 commented on #2010
The original design for this chart is to display "Top 10" out of all the completed results, but what Hui suggests makes senses for a long running job. While if showing the "running" but not completed job there, we need to adjust the display style for that point, and might also need to adjust the description for that chart.

@yangou1988 @lvbridge - please follow up with @xuehui1991.

[2020-02-07 03:20] scarlett2018 commented on #2002
had archived all the out of date wiki, we should use readthedocs for API and features documentation moving forward.

[2020-02-07 03:20] #2002 closed

[2020-02-07 03:21] SparkSnail commented on #2008
This error is caused by the python environment. There are two NNI environment in user's machine, and one env is for 'local python', one is for 'virtual environment python', the two environment set nnictl's path to the same place, and the 'local python' nnictl path override the 'virtual environment python' nnictl path. When user use nnictl command, the system will always use 'local python' nnictl.

[2020-02-07 03:22] scarlett2018 commented on #2007
Waiting status is missing.

[2020-02-07 03:23] SparkSnail commented on #1994
For some reason, PAI's container could not access VPN IP address. Might caused by the machine's port, fire wall or some other reasons.

[2020-02-07 03:41] SparkSnail commented on #2000
Hi @jlema, thanks for raising the issue. Could you please use `nnictl create --config examples\trials\mnist-pytorch\config_windows.yml --debug` command to start experiment, and provide `nniManager.log` here? The `debug` mode will provide more log information.
You could find a `metrics` file in your local trial's folder. You could find your trial's log path by `nnictl log trial` or from webUI, coul

[2020-02-07 04:28] RizhaoCai commented on #2005
OK. I will check if there will be any side effects and then submit a PR.

[2020-02-07 05:58] #2005 closed

[2020-02-07 09:24] QuanluZhang commented on #2006
@Sundrops , thanks for reporting this issue. Could you help check the prediction result when you feed in 100 points?

[2020-02-07 10:54] scarlett2018 opened #2013 "x-axis label of Intermediate result is incorrect."
currently it is set as "Trial", it's right for the Top 10 diagram, but for Intermediate result of one single trial, this x-axis' label should be "sequence id" (of this trial).

![image](https://user-images.githubusercontent.com/39592018/74023706-3ee3bf80-49db-11ea-87d6-51d04dbfc977.png)

[2020-02-07 11:07] JSong-Jia opened #2014 "Null links on the page of model compression"
**Null links at the bottom of the page about model compression**:

- https://nni.readthedocs.io/en/latest/Compressor/Overview.html
-Null link: To know more about Feature Engineering with NNI;
-Null link: To know more about NAS with NNI;
-Null link: To know more about Hyperparameter Tuning with NNI;

- https://nni.readthedocs.io/zh/latest/Compressor/Overview.html
-Null link: 了解 NNI 中特征工程的更多信息；
-Nul

[2020-02-07 11:29] Sundrops commented on #2006
@QuanluZhang The prediction result is 0.5572954354900362 when I feed in 100 points(0.5765).

[2020-02-08 06:30] ICEORY commented on #2008
Hi, I also get the same error: getIPV4Address() fail because os.networkinterfaces().eth0 is undefined; I also test nni 1.2, and it works fine.

### log

[code]

[code]

### environment:
- nni 1.3
- python 3.6
- openpai 0.14
- ubuntu 16.04
- running in docker
- without anaconda

[2020-02-08 07:06] ICEORY opened #2016 "Failed to submit trail with http code 500"
**nni Environment**:
- nni version: 1.3
- nni mode(local|pai|remote): pai 0.14
- OS: ubuntu  16.04
- python version: 3.6
- is conda or virtualenv used?: anaconda
- is running in docker?: no

**log**
[code]
![image](https://user-images.githubusercontent.com/11911903/74080932-e5839b00-4a83-11ea-8331-c80ade8294e8.png)

**more information**
- trail num: 5
- nni <= 1.2 works fine with the same configur

[2020-02-09 02:48] xuehui1991 opened #2018 "Loading WebUI is too slow"
When I loading the WebUI,  it takes almost 3-4 minutes to load.

![image](https://user-images.githubusercontent.com/6280746/74095288-a3149980-4b29-11ea-8529-3112726e0855.png)

**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- OS:
- python version:
- is conda or virtua

[2020-02-09 12:42] xuehui1991 opened #2021 "Values ​​on the x axis lack of units"
![image](https://user-images.githubusercontent.com/6280746/74102244-a2f1b980-4b7c-11ea-841d-051ecd1cbb09.png)

**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- OS:
- python version:
- is conda or virtualenv used?:
- is running in docker?:

**need to update document(y

[2020-02-10 02:46] SparkSnail commented on #2016
Hi @ICEORY, what is your running mode?

[2020-02-10 02:53] SparkSnail commented on #2008
Hi @ICEROY, this issue is fixed by https://github.com/microsoft/nni/pull/1987, will release this fix on v1.4.

[2020-02-10 02:53] #2008 closed

[2020-02-10 02:55] scarlett2018 commented on #2000
@jlema are you still facing the issue after re-run? if so, may you provide the logs @SparkSnail mentioned above? thanks.

[2020-02-10 02:55] #1994 closed

[2020-02-10 03:03] ICEORY commented on #2016
- config.yml
[code]

[2020-02-10 03:05] scarlett2018 commented on #1960
@enniefu - closing the issue as the question has been answered. please feel free to open new issues if there are more questions or issues.

[2020-02-10 03:05] #1960 closed

[2020-02-10 03:06] scarlett2018 commented on #1962
@marsggbo - closing the issue as the question has been answered. please feel free to open new issues if there are more questions or issues.

[2020-02-10 03:06] #1962 closed

[2020-02-10 03:26] SparkSnail commented on #2016
Does the PAI's cluster you are using support password login?  Some clusters of PAI only support token authentication, this issue might caused by the authentication problem. The default host prefix NNI used is `http`, could you please check if your host support `http` prefix, or only support `https` prefix?

[2020-02-10 06:17] ICEORY commented on #2016
1. our PAI cluster support password login
2. the host prefix is `http`, not `https`
3. nni <= 1.2 is ok, so I guess the issue is caused by the update of nni 1.3

[2020-02-10 06:35] SparkSnail commented on #2016
In nni v1.3, the original `PAI` mode is modified to `PAIYarn` mode, https://github.com/microsoft/nni/blob/master/docs/en_US/TrainingService/PaiYarnMode.md. The new PAI mode in NNI is for PAI's pure K8S version. Is your PAI cluster a pure K8S version or a Yarn based version? Is your PAI's storage HDFS or NFS? Have you tried using `paiYarn` mode in NNI?

[2020-02-10 07:01] ICEORY commented on #2016
Our PAI cluster is Yarn based. I change the config file and the issue is solved. Thanks!

[2020-02-10 07:01] #2016 closed

[2020-02-10 07:20] lvybriage commented on #2021
had fixed in PR https://github.com/microsoft/nni/pull/1964.

[2020-02-10 07:39] lvybriage commented on #1969
In latest nni version(v1.4), we change the design. when you click the button named `Copy as json`, will copy it directly.

[2020-02-10 08:46] scarlett2018 commented on #2021
@xuehui1991 please help to verify with the new 1.4 build

[2020-02-10 08:48] scarlett2018 commented on #2018
Not sure whether the delay is caused by VPN or other factors. assigning @lvbridge to reproduce the issue first.

[2020-02-10 08:50] scarlett2018 commented on #1802
fixed in another PR.

[2020-02-10 08:50] #1802 closed

[2020-02-10 09:02] scarlett2018 opened #2025 "Jan-Feb 2020 End Game Plan"
This is the endgame schedule for [Jan-Feb 2020 Iteration](https://github.com/microsoft/nni/issues/1900).
_last updated on 2/10/2020_

**Schedule** (this may change)
-----------------
- End game master: @QuanluZhang
**Feb 10**: Code freeze for the endgame
**Feb 18**: Endgame done
**Feb 18**: Expected release date

Monday 02/10
- [x] Code freeze at 4pm UTC+8
- [x] Release branch v1.4

Tue 02/11 ~ We

[2020-02-10 12:01] yeliang2258 opened #2029 "When I use nni Compressor Pruner, a 'NOT compressed' error is occurred."
The error is ：
![image](https://user-images.githubusercontent.com/30516196/74147729-cc731980-4c3e-11ea-8368-37e930f1d180.png)

My code is：

import math
import torch
import torch.nn as nn
import torch.nn.functional as F
from torchvision import datasets, transforms
from nni.compression.torch import L1FilterPruner
from vgg import VGG

def main():
    torch.manual_seed(0)

    model = VGG(depth=16)

[2020-02-10 12:18] QuanluZhang commented on #1925
The fix (add `device` argument in `export_model`) has been included in master branch and will be released in v1.4: https://github.com/microsoft/nni/blob/master/src/sdk/pynni/nni/compression/torch/compressor.py#L304

[2020-02-10 12:18] #1925 closed

[2020-02-10 16:45] weiT1993 commented on #2001
Unfortunately no. I cannot open up web ui from either server 1 or server 2.

[2020-02-11 03:09] Cjkkkk commented on #2029
Hi @yeliang2258, could you provide the nni version you are using, also could you try update nni to the latest version v1.4 and see if error still exists?

[2020-02-11 03:28] yeliang2258 commented on #2029
At first I tried version v1.3 and found the above problem, then I installed the latest version using source code and found that it didn't work either

[2020-02-11 03:47] Cjkkkk commented on #2029
You have to train to calculate mask, default mask is None, which is why you get `not compressed` message.

[2020-02-11 07:11] yeliang2258 commented on #2029
I get it, thanks!

[2020-02-11 08:58] #2029 closed

[2020-02-11 12:49] yeliang2258 opened #2034 "AGP"
**Short summary about the issue/question**:

**Brief what process you are following**:

**How to reproduce it**:

**nni Environment**:
- nni version:
- nni mode(local|pai|remote):
- OS:
- python version:
- is conda or virtualenv used?:
- is running in docker?:

**need to update document(yes/no)**:

**Anything else we need to know**:

[2020-02-11 12:49] #2034 closed

[2020-02-11 13:00] yeliang2258 opened #2035 "The AGP_Pruner example provided can not run successfully, An error occurred: TypeError: unsupported operand type (s) for *: 'Tensor' and 'dict'"
The error is:
![image](https://user-images.githubusercontent.com/30516196/74238560-01e83780-4d11-11ea-8864-98d74396143d.png)
The first epoch can run, but the second epoch reports an error.

The code is from  the sample main_torch_pruner.py（https://github.com/microsoft/nni/blob/master/examples/model_compress/main_torch_pruner.py）

code：

from nni.compression.torch import AGP_Pruner
import torch
imp