[2021-03-15 03:04] un-knight opened #3450 "The wechat QR code has expired"
I want to join IM WeChat discussion groups, but the QR code shown in the readme has expired.

[2021-03-15 03:12] kvartet commented on #3450
hello @un-knight, updated, please try again.

[2021-03-15 03:12] #3450 closed

[2021-03-15 03:23] ultmaster commented on #3447
你先试试 darts 官方搜出来的 architecture 能 train 出多少。。cifar10 起码要 97 才算合理吧

[2021-03-15 03:27] zxlgit123 commented on #3447
我们现在主要想用enas的微观搜索加训练。您那边如果只有enas的话跑出来的cifar10最高精度是多少啊？加了训练之后是多少呢？
我在nni默认参数下，这么低的精度您能帮忙分析一下是哪方面的原因呢？

[2021-03-15 06:56] CoderMusou opened #3451 "SMAC算法多并发，trial出现waiting"
**Environment**:
- NNI version: 2.0.0
- NNI mode (local|remote|pai): local
- Client OS: Ubuntu
- Server OS (for remote mode only):
- Python version: 3.7.6
- PyTorch/TensorFlow version: pytorch 1.5.1+cu101
- Is conda/virtualenv/venv used?: conda
- Is running in Docker?: no

**Log message**:
 - nnimanager.log:
[code]
 - dispatcher.log:
[code]
 - nnictl stdout and stderr:
stdout :
[code]
stderr:
[cod

[2021-03-15 07:10] duchengyao opened #3452 "[Retiarii] mnist/test.py: Error on trainer.fit"
- NNI version: latest

I tried to run CLI mode on `nni/test/retiarii_test/mnist/test.py` by adding some code blow, but error raised:

* `trainer.fit(NET)` : ```TypeError: __init__() missing 1 required positional argument: 'hidden_size'```
* `trainer.fit(base_model)` :  RuntimeError: mat1 and mat2 shapes cannot be multiplied (100x800 and 128x10)

Modify `base_model = Net(128)` to `base_model = Net(

[2021-03-15 22:18] #3249 closed

[2021-03-16 01:45] J-shang commented on #3452
Hi, do you mean that CLI mode uses `nnictl`? Retiarii currently does not support `nnictl`, and `RetiariiExperiment` is required if you want to use Retiarii. If you want to use `nnictl`, you can use the old NAS version, https://nni.readthedocs.io/en/stable/NAS/Overview.html .

And what is this mean?

[2021-03-16 02:42] YuyaKobayashi opened #3453 "L1FilterPruning failed on shufflenet"
**Environment**:
- NNI version: 2.1
- NNI mode (local|remote|pai): local
- Client OS: Ubuntu 18.04.3
- Server OS (for remote mode only):
- Python version: 3.7.4
- PyTorch/TensorFlow version: 1.4.0
- Is conda/virtualenv/venv used?: No
- Is running in Docker?: Yes

**Log message**:
 - nnimanager.log:
 - dispatcher.log:
 - nnictl stdout and stderr:

**What issue meet, what's expected?**:
When I run t

[2021-03-16 02:52] duchengyao commented on #3452
Thanks for your reply.

I mean run this demo in command line mode, not running webserver or nnicli.
I uploaded modified script in https://github.com/duchengyao/nni/blob/master/test/retiarii_test/mnist/test.py

[2021-03-16 05:43] J-shang commented on #3452
Hi, what's the reason you don't want to use the webserver? all kind of launching nni experiment ways will start webserver.

@ultmaster please help if we can use `trainer` without `RetiariiExperiment`?

[2021-03-16 05:58] ultmaster commented on #3452
Yes you can. The main reason is that the base model is just a "base model". It's very possible that the base model is not a runnable-model before running any mutation and thus cannot be trained. If you want to debug a trainer (I believe it's called evaluator now), sure you can use `trainer.fit`. But keep in mind that this API is meant to be internal and subject to change in 1-2 releases.

[2021-03-16 07:43] duchengyao commented on #3452
It's convenience to visualize parameters, metrics of NAS on webserver, but the webserver prevents me from understanding how the algorithm works.

I'm interested in your new algorithm retiarii, and tried to understand its implementation at the code level. When I read the code, some threads unrelated to the algorithm confused me. If there is a way to run MNIST demo directly without web server, it wi

[2021-03-17 01:51] ultmaster commented on #3452
For your first point, if we make the strategy running in the main thread, will it be more straightforward to you?

For your second point, oneshot experiment is just simply running trainer.fit without messy multi-trial issues. Therefore webserver is not needed.

[2021-03-17 01:53] ultmaster commented on #3447
你能 contribute 一个 enas 的 retrain 的 code 吗？我可以给你 review 一下

[2021-03-17 02:12] zxlgit123 commented on #3447
谢谢您，下面是我的训练代码，您帮我看看。
def accuracy(output, target, topk=(1,)):
    with torch.no_grad():
        maxk = max(topk)
        batch_size = target.size(0)

        _, pred = output.topk(maxk, 1, True, True)
        pred = pred.t()
        correct = pred.eq(target.view(1, -1).expand_as(pred))

        res = []
        for k in topk:
            correct_k = correct[:k].view(-1).float().sum(0, keepdim=True

[2021-03-17 02:13] zxlgit123 commented on #3447
`def accuracy(output, target, topk=(1,)):
    with torch.no_grad():
        maxk = max(topk)
        batch_size = target.size(0)

        _, pred = output.topk(maxk, 1, True, True)
        pred = pred.t()
        correct = pred.eq(target.view(1, -1).expand_as(pred))

        res = []
        for k in topk:
            correct_k = correct[:k].view(-1).float().sum(0, keepdim=True)
            res.ap

[2021-03-17 02:16] zxlgit123 commented on #3447
下面是我的代码，您帮我看看哪里不太对，谢谢啦。

def accuracy(output, target, topk=(1,)):
    with torch.no_grad():
        maxk = max(topk)
        batch_size = target.size(0)

        _, pred = output.topk(maxk, 1, True, True)
        pred = pred.t()
        correct = pred.eq(target.view(1, -1).expand_as(pred))

        res = []
        for k in topk:
            correct_k = correct[:k].view(-1).float().sum(0, keepdim=

[2021-03-17 02:53] scarlett2018 commented on #3441
@Lijiaoa may you suggest how big the effort for **prototyping** this request? would like to discuss this with team based on the prototype if it is simple one.

[2021-03-17 04:58] J-shang commented on #3338
HI @tczhangzhi , thanks for your suggestion, we support python API can be used in Jupyter notebook in v2.1, here is the usage case:
https://nni.readthedocs.io/en/stable/Tutorial/python_api_start.html
https://nni.readthedocs.io/en/stable/Tutorial/python_api_connect.html

[2021-03-17 08:15] duchengyao commented on #3452
It will be great helpful to me if the strategy is running in the main thread.

Thanks for your reply ^_^

[2021-03-17 08:44] tczhangzhi commented on #3338
Well done, dude! I have already applied it to my research project and it works well!

[2021-03-17 08:44] #3338 closed

[2021-03-17 08:51] J-shang commented on #3453
Hi @YuyaKobayashi , set `dependency_aware=False` should work for `compress`. And nni doesn't support speedup shufflenet now. We will try to support shufflenet on `speedup` and `dependency_aware`, thanks for your issue.

[2021-03-17 10:31] YuyaKobayashi commented on #3453
Thank you, J-shang-san.
I will try it.

[2021-03-17 11:41] Z7zuqer commented on #3417
Hi,

This problem is caused by installing different versions of pytorch. You could reinstall pytorch==1.2.1 as listed in *requirements*, pytorch1.7 is not supported for now.

Best,
Hao.

[2021-03-17 11:52] Z7zuqer commented on #3418
Hi,

Q1: Could you show more details about your failure to load checkpoints? We didn't store checkpoints during supernet training. While in retrain stage, we use timm.save and timm.load to deal with the checkpoint. So more details are needed to know the problem.

Q2: No. In [this line](https://github.com/microsoft/nni/blob/59521d330fee49b8d72f983a9c940aa51473cc81/nni/algorithms/nas/pytorch/cream/t

[2021-03-18 07:15] SparkSnail commented on #3451
Hi @CoderMusou, I didn't find enough information in your nniManager.log, could you please use `nnictl create --config {file} --debug` to enable debug mode on NNI, and paste nniManager.log file here? What is your experiment' status when the issue happens? You could check experiment status in overview page.
There some possible reasons:
1. Will your issue happen when you do not set GPU configuration

[2021-03-19 03:00] CoderMusou commented on #3451
My experiment's status is RUNNING and GPU has no processes running when the issue happens.  And the maxExecDuration also the maximum, 1438560. I’ll check the logs in debug mode, and I’ll let you know

[2021-03-19 03:26] GEMyy129 opened #3459 "[Cream] Errors when runinng examples/nas/cream on a single GPU."
**Environment**:
- NNI version: 2.0
- NNI mode (local|remote|pai): local
- Client OS: Win10
- Server OS (for remote mode only):
- Python version: 3.6.8
- PyTorch/TensorFlow version: PyTorch 1.2.0
- Is conda/virtualenv/venv used?: conda
- Is running in Docker?: no

I try to run the example on a single GPU. The following modifications are made on codes:

The error raised at the 22nd epoch.

[2021-03

[2021-03-19 05:42] penghouwen commented on #3417
@AliCloud-PAI  Hi, I am wondering whether you have solved the issue? Pls feel free to contact us. Thanks~

[2021-03-19 05:43] penghouwen commented on #3418
@duchengyao Hi, I am wondering whether you have solved the issue? Hao's replies may help you. Pls feel free to contact us. Thanks.

[2021-03-19 06:04] zxlgit123 commented on #3447
您好，您帮我看了代码有啥问题么？

[2021-03-19 08:03] CoderMusou commented on #3451
Hello, I have the same problem in debug mode, but the log file is larger, how can I show you?

[2021-03-19 08:05] CoderMusou commented on #3451
Hello, I have the same problem in debug mode, but the log file is larger, how can I show you? Now I’ll try to see if this happens when I update to v2.1.

[2021-03-19 08:44] Lijiaoa commented on #3441
Maybe 3-5 days. First we should find this message(cpu/gpu), and then UI should design where to show this message. Also, we should add rest api for this.

Best wishes,
Lijiao

From: Scarlett Li ***@***.***>
Sent: 2021年3月17日 10:53
To: microsoft/nni ***@***.***>
Cc: Lijiao Guo (Inspur) ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/nni] Add Htop to the Webui (#3441)

@Lijiaoa<https://nam0

[2021-03-19 09:18] SparkSnail commented on #3451
Just zip your file, and drag it to github chat dialog. Github will upload your file automatically.

[2021-03-19 11:19] CoderMusou commented on #3451
Ok, This is the log file.
[nnimanager.log](https://github.com/microsoft/nni/files/6170712/nnimanager.log)

[2021-03-20 00:57] ultmaster commented on #3447
我的意思是你开个 PR 可以吗？

[2021-03-20 08:54] LilAnthony123 opened #3463 "{"error":"ENOENT: no such file or directory, open '/home/wyrx/textcla/logs/5m78AlYQ/trials/sbm7r/stderr'"}"
Hello, I have set logDir in config.yaml, that's it

authorName: wyrx
experimentName: textcla
logDir: logs
trialConcurrency: 2
maxExecDuration: 100h
maxTrialNum: 500
trainingServicePlatform: local
searchSpacePath: ./space.json

There is only db and log under "/home/wyrx/textcla/logs/5m78AlYQ/", no trials

[2021-03-22 01:19] zxlgit123 commented on #3447
我还不太会用github，哎，伤心，我学习一下再看看吧。

[2021-03-22 01:27] QuanluZhang commented on #3441
@MaximilianArnold , this is a valid request. There will be a lot of work to support this feature when there are many different training services. For training services like AML, OpenPAI, they have collected such information (CPU/GPU/Mem/Network utilization) and displayed on their WebUI. Following "separate of concern", it is a good design choice for NNI to link each trial job to their correspondin

[2021-03-22 01:40] QuanluZhang commented on #2537
@juliocspires , thanks for reporting your requirement. The quantization algorithms in NNI support post-training quantization. You can simply take a pretrained model and apply a quantization algorithm, the output will be a quantized model (simulated with float32). Real speedup of the quantized model (using lower bits) will be supported in V2.2, we use TensorRT to do the speedup.

[2021-03-22 03:25] SparkSnail commented on #3463
Hi @LilAnthony123, please set `logDir` as an absolute path value and try again.

[2021-03-22 05:42] Z7zuqer commented on #3459
Hi,

In our source doe, we use distributed running mode, the model is wrapped to run on the different GPU card. So we need to add *module*(model.module.xxxxxx) to call functions or access parameters. Because you use *dataparallel*, you don’t need to add *module*, just quote it directly.(model.xxxxxxx)

Best,
Hao.

[2021-03-22 06:31] zheng-ningxin commented on #3256
Sincerely sorry for the late reply. There is actually no special reason. We are looking for a general way to analyze dependencies for the submodules, so we haven't supported more pruners for the time being

[2021-03-22 06:39] duchengyao commented on #3418
The problem has been solved. I can run the Cram algorithm in nni. Thank you for your reply. ^_^

[2021-03-22 11:45] faj2007 opened #3467 "RuntimeError: Has not supported infering output shape from input shape for module/function: `prim::TupleUnpack`, .prim::TupleUnpack.344"
**Environment**:
- NNI version:2.1
-
Error when in run model speedup. anyone has an idea?
- NNI mode (local|remote|pai):
- Client OS:ubuntu 18.04
- Server OS (for remote mode only):
- Python version:3.6
- PyTorch/TensorFlow version:1.6
- Is conda/virtualenv/venv used?:no
- Is running in Docker?:no

[2021-03-23 01:35] yaya6630170 opened #3468 "Does nni support contos7?or it only support ubuntu?"
as title,please

[2021-03-23 08:10] QuanluZhang commented on #3468
nni can run on centos. ubuntu is a fully tested linux os in nni.

[2021-03-23 08:27] jexterliangsufe opened #3469 "Can I use NNI to train parameters for doc2vec model?"
**Environment**:
- NNI version:
- NNI mode (local|remote|pai):
- Client OS:
- Server OS (for remote mode only):
- Python version:
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?:
- Is running in Docker?:

**Log message**:
 - nnimanager.log:
 - dispatcher.log:
 - nnictl stdout and stderr:

**What issue meet, what's expected?**:

**How to reproduce it?**:

**Additional information**:

[2021-03-23 09:15] GEMyy129 commented on #3459
Hi,
Thanks for your reply. I don't use module and try again. However, another error raised at the same epoch:

Traceback (most recent call last):
&nbsp; File "./train.py", line 215, in <module&gt;
&nbsp; &nbsp; main()
&nbsp; File "./train.py", line 210, in main
&nbsp; &nbsp; trainer.train()
&nbsp; File "C:\Users\Administrator\AppData\Roaming\Python\Python36\site-packages\nni\nas\pytorch\trainer.py

[2021-03-23 10:58] SparkSnail commented on #3451
Hi, I've checked the nniManager.log, and didn't find useful information from the log. Is there any content under the `WAITING` trials' log path? For example, the path` /home/ws/nni-experiments/4udb3gEL/trials/P03i4` in your last experimet. Is there content in `nnictl log stderr 4udb3gEL` and `nnictl log stdout 4udb3gEL`?

[2021-03-23 11:53] hjptriplebee opened #3470 "How to use a self-defined docker image in AML mode?"
I have a self-defined docker image under an azure repository which is not public. To access the repository, some image registry details are needed. How can I provide these registry info or does NNI support to run exp in AML mode with private docker image?

[2021-03-23 13:46] Z7zuqer commented on #3459
Hi,

This error is caused by failure training of meta matching network. Our original learning rate of meta matching networks is delicately tuned by experiments. It's very easy that the training of meta matching network crash.  The learning rate should vary with the magnitude of batch size(8gpu VS 1gpu).

Best,
Hao.

[2021-03-24 01:47] CoderMusou commented on #3451
I'm so sorry, the file in the directory `nni-experiments` was deleted by me. Because  I upgraded to v2.1, I still had this issue. When I used v1.9 and deleted the `nni-experiments` directory, the problem disappeared. The problem started after I upgraded from 1.9 to 2.0, and someone in the wechat group should have the same problem as me.

[2021-03-24 01:52] QuanluZhang commented on #3451
@CoderMusou , thanks for the detailed description. we will try to reproduce this problem using the mnist-pytorch example in v2.1

[2021-03-24 03:16] QuanluZhang commented on #3469
yes, you can use NNI to tune hyperparameters of doc2vec model.

[2021-03-24 03:19] jexterliangsufe commented on #3469
Thank you!

[2021-03-24 03:51] SparkSnail commented on #3470
No, NNI does not support setting private registry in AML mode. You could add your registry configuration logic at [here](https://github.com/microsoft/nni/blob/master/ts/nni_manager/config/aml/amlUtil.py#L33), and follow [this](https://nni.readthedocs.io/en/latest/Tutorial/InstallationLinux.html#build-wheel-package-from-nni-source-code) to build NNI from source code in your machine.

[2021-03-24 03:53] albertotono commented on #1580
I run the MNIST_keras example in Colab and Ngrok

![Screenshot from 2021-03-23 20-51-31](https://user-images.githubusercontent.com/11828200/112252052-9530b380-8c19-11eb-9909-7592cb114656.png)

It says that all failed.

But the code is running well below the results

[code]

How can I display more data on the WebUI and the experiments properly?

[2021-03-24 04:00] JunweiSUN commented on #1580
Can you check the log by clicking the  "View trial error" button in WebUI and post them?

[2021-03-24 04:17] atonophysna commented on #1580
I found the Dispatcher Log
[code]
This is my interface in Trails details

![Screenshot from 2021-03-23 21-16-38](https://user-images.githubusercontent.com/72926609/112254041-1ccbf180-8c1d-11eb-9142-87393ff3bdda.png)

[2021-03-24 04:18] atonophysna commented on #1580
This is in the summary

[code]
        import argparse
import logging

import keras
import numpy as np
from keras import backend as K
from keras.datasets import mnist
from keras.layers import Conv2D, Dense, Flatten, MaxPooling2D
from keras.models import Sequential

import nni #Hyperparameter Tuning

LOG = logging.getLogger('mnist_keras')
K.set_image_data_format('channels_last')

H, W = 28, 28
NUM_

[2021-03-24 04:21] albertotono commented on #1580
This is in the summary

[code]

import argparse
import logging

import keras
import numpy as np
from keras import backend as K
from keras.datasets import mnist
from keras.layers import Conv2D, Dense, Flatten, MaxPooling2D
from keras.models import Sequential

import nni #Hyperparameter Tuning

LOG = logging.getLogger('mnist_keras')
K.set_image_data_format('channels_last')

H, W = 28, 28
NUM_CLASSES

[2021-03-24 04:21] albertotono commented on #1580
I found the Dispatcher Log
[code]
This is my interface in Trails details

![Screenshot from 2021-03-23 21-16-38](https://user-images.githubusercontent.com/72926609/112254041-1ccbf180-8c1d-11eb-9142-87393ff3bdda.png)

[2021-03-24 05:24] hjptriplebee commented on #3470
Thanks

[2021-03-24 05:24] #3470 closed

[2021-03-24 07:19] JunweiSUN commented on #1580
Click each trial shows in your picture and you will find a blue "View trial error" button that records the errors.

[2021-03-24 15:43] albertotono commented on #1580
Now, I was capable to run one trial [SUCCEEDED].

Not sure why now I have only 4 Trials and not 10 like the epochs
![Screenshot from 2021-03-24 08-42-30](https://user-images.githubusercontent.com/11828200/112339500-f473df80-8c7c-11eb-9a7e-47a19f45331b.png)

[code]

[2021-03-24 16:20] albertotono commented on #1580
It took some time but now I have actually 7 trials --> it is getting there, but it is taking a lot of time.
It seems working now. Only the first 2 failed so far. I think now it exceeded the **max duration**

[2021-03-24 16:24] JunweiSUN commented on #1580
Yeah. The first two fail seems to have something wrong with the dataset downloading process. Maybe the network condition is not good at that time.

[2021-03-24 16:24] albertotono commented on #1580
Thank you so much for your help @JunweiSUN, much appreciate your support.

[2021-03-24 16:29] JunweiSUN commented on #1580
Seems that you only run your code on cpu. If you turn on the GPU on Colab, a trial will finish in a few minutes.

[2021-03-24 22:00] albertotono commented on #1580
Thanks for the suggestion, actually I am running this code https://github.com/microsoft/nni/blob/a0ae02e6c5e096b70cb6bb1ecd643dddd81000ba/examples/trials/mnist-pytorch/mnist.py

and it should be default on GPU as far as I can tell. I also place GPU on Colab.

Not sure why it is still running on CPU.

@JunweiSUN , so the model is performing the training in Colab, but how can I check the training. I

[2021-03-25 00:53] JunweiSUN commented on #1580
To use a GPU, you need to set the `gpuNum` in config.yml to be greater than 0. If you want to check the training status by not using GPU, you can try the [nnictl command](https://nni.readthedocs.io/en/latest/Tutorial/Nnictl.html) or [Launch an Experiment from Python](https://nni.readthedocs.io/en/latest/Tutorial/HowToLaunchFromPython.html).

[2021-03-25 02:12] yiwuyao3863 commented on #3417
The problem is solved by using PyTorch 1.2.1, THX:)

[2021-03-25 02:43] AnonymousPaperSubmit commented on #3467
Hi @faj2007,  could you please show us the code snippet of the model so that we can reproduce the problem you met?

[2021-03-25 02:45] colorjam commented on #3467
Hi @faj2007, could you please provide the code snippet of your model?

[2021-03-25 03:05] albertotono commented on #1580
Awesome! With the GPU it worked. I thought that gpuNum was referring to the **GPU number** ( like the first GPU) not to the **number of GPU** ( How many GPU do you want to use?) nice. now it is clear and works well. I will try to Launch Experiment from Python soon and let you know the results. Great work.

[2021-03-25 03:40] #2350 closed

[2021-03-25 04:11] koklimabc opened #3475 "Dispatcher stream error, tuner may have crashed (Error on first time)"
**Environment**: Ubuntu 20.04
- NNI version: 2.1
- NNI mode (local|remote|pai):
- Client OS: Desbian
- Server OS (for remote mode only): N\A
- Python version: 3.7
- PyTorch/TensorFlow version: 1.8.0 & 2.4.1
- Is conda/virtualenv/venv used?: N\A
- Is running in Docker?: N\A

**Log message**:
 - nnimanager.log:

[2021-03-25 12:07:53] INFO [ 'Datastore initialization done' ]
[2021-03-25 12:07:53] INF

[2021-03-25 09:27] JiaqingFu commented on #3452
@ultmaster  is it available now？

[2021-03-25 09:55] ultmaster commented on #3452
Not really. As we have a lot of features going on, looks like it will take 1-2 months, probably longer.

[2021-03-25 11:41] GEMyy129 commented on #3459
Hi,
I'm sorry to disturb you again. I have tried many different groups of training params, however, the training of meta matching network still crashed.
The train.yaml used in the last training are as follows：

AUTO_RESUME: False

DATA_DIR: './data/imagenet'

MODEL: 'Supernet_Training'

RESUME_PATH: './experiments/workspace/train/resume.pth.tar'

SAVE_PATH: './'

SEED: 42

LOG_INTERVAL: 10

RECOVE

[2021-03-26 01:25] QuanluZhang commented on #3451
@CoderMusou , sorry, I failed to reproduce your problem. It is not the problem of SMAC, because the experiment has already received new trial configurations. it is waiting mainly because there is no available resource or the training service cannot find available resource due to some reason. As @SparkSnail suggested, could you show us `nnictl log stderr <exp-id>` and `nnictl log stdout <exp-id>`?

[2021-03-26 04:04] QuanluZhang commented on #3451
@CoderMusou , we preproduce this problem. We are finding the root cause. For now, you can run `METRIC_OUTPUT_DIR=/tmp/<your-user-account>/nni/script python3 -m nni.tools.gpu_tool.gpu_metrics_collector` for workaround. after this command is executed, the waiting jobs will start running.

[2021-03-26 05:30] Z7zuqer commented on #3459
Hi,

Thanks for your interest in *cream*!

Not only meta_LR should vary with batch size, LR should also vary with batch size. From your statement, the learning rate of supernet remains 0.1 in your different tries of setting meta_LR. You might try reducing LR, e.g., LR=5e-4, meta_LR=4e-4.

Best,
Hao.

[2021-03-26 07:06] kvartet opened #3480 "The duration of the experiment is inconsistent with the duration of the trials"
**Environment**:
- NNI version: v2.1
- NNI mode (local|remote|pai): aml
- Client OS: ubuntu
- Server OS (for remote mode only):
- Python version: 3.6
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?: no
- Is running in Docker?: yes

The duration of the trials is longer than the duration of the experiment.

![image](https://user-images.githubusercontent.com/48014605/112594735-53378580

[2021-03-26 09:33] JiaojiaoYe1994 opened #3483 "Questions regarding ENAS algo"
I have two questions regrading implementation of ENAS:

1. How is the parameter sharing of child models implemented in ENAS of NNI?
2. Why in micro search mode, there is two same inputs for one node, i.e cell_x and cell_y in `example/nas/enas/micro.py`.

[code]

[2021-03-26 09:58] kvartet opened #3484 "The text is not displayed completely when searching in the right column"
**Environment**:
- NNI version: v2.1

The text is not displayed completely when searching in the right column (Search Space, Config, and Log Files).

![image](https://user-images.githubusercontent.com/48014605/112614977-df55a700-8e5c-11eb-82c1-18f93d04ce30.png)

[2021-03-26 10:05] kvartet commented on #3484
@Lijiaoa

[2021-03-29 00:51] Roy-Kid opened #3486 "How to review log after trial?"
After the experiment complete, I get a lot of logs and data in the nni-experiments fold. How can I use the webUI to review the details? I can not find a command to reload those JSON and log.

[2021-03-29 01:01] kvartet commented on #3486
You can use [this command](https://nni.readthedocs.io/en/latest/Tutorial/Nnictl.html#view) to view a stopped experiment.

If you want to view the trials' log, please refer to [here](https://nni.readthedocs.io/en/latest/Tutorial/WebUI.html#view-trials-status).

[2021-03-29 01:08] Roy-Kid commented on #3486
Thanks for your rapid reply and create such a brilliant code.
When I cd to the nni-experiement, I type the ``` nnictl view f7pr8v2y ``` then error raise.
It told me:
TypeError: expected str, bytes or os.PathLike object, not NoneType

My python is 3.8 and nni is latest 2.1. How can I fix this?

Thanks in advance!

[2021-03-29 02:03] liuzhe-lz commented on #3475
Do you mean `dispatcher.log` contains `<!doctype html><title>...` stuff?

[2021-03-29 02:54] Lijiaoa commented on #3484
Thanks for raising this issue. Looks like `className repeat` cause that. will fix in v2.2

[2021-03-29 04:01] ultmaster commented on #3483
1. Parameter sharing can be implemented by nature in PyTorch. Use the same convolution and forward-prop with different connections in `forward`.
2. Please read ENAS paper. In each node there are two operators and two inputs. The cell here is not the **cell** that is usually used in literature.

[2021-03-29 09:29] chenbohua3 opened #3493 "In quantization, why we must ensure that 0 is is in the activation/weight range."
In function `update_quantization_param`, there are two lines of codes:
[code]
I understand that if it is for quantization of activation, we must make sure that 0 is in the range, because there might be zero padding. However, if it is for quantization of weight, I can not figure out why we should keep 0 in the range.

[2021-03-29 11:45] Roy-Kid opened #3495 "error when using 'nnictl view'"
**Environment**:
- NNI version: v2.1
- NNI mode (local|remote|pai): loca (after experiment)
- Client OS: ubuntu
- Server OS (for remote mode only):
- Python version: 3.8
- PyTorch/TensorFlow version: pytorch
- Is conda/virtualenv/venv used?: no, then yes
- Is running in Docker?: no

INFO:  view experiment sr5k10ga...
Traceback (most recent call last):
  File "/home/roy/.local/bin/nnictl", line 8,

[2021-03-29 11:49] Roy-Kid opened #3496 "Failed to establish a new connection"
I try to use nni in the HPC at our school. The code is work on my computer. The HPC has many compute nodes and we should submit the tasks on the manager node. But this error raise:

[code]

I think it might be related to the url. may be I should use nniManagerIP to fix this problem? what host should i specify?

[2021-03-30 02:46] #3417 closed

[2021-03-30 02:46] AliCloud-PAI commented on #3417
The problem is solved by using PyTorch 1.2.1, THX:)

[2021-03-30 05:23] J-shang commented on #3495
please check if you have `sr5k10ga` metadata in your `~/nni-experiments/.experiment`, like:

[code]

It seems the `logDir` may empty in your metadata.

[2021-03-30 08:22] Roy-Kid commented on #3495
Non, It does the metadata in the .experiment:

![image](https://user-images.githubusercontent.com/42854324/112957514-146f3b80-9174-11eb-908e-1e8890708b1e.png)

And I can use the webUI during the experiment

[2021-03-30 09:25] J-shang commented on #3495
For this experiment, you can set `logDir` as `"logDir": "/home/your_user_name/nni-experiments"` or the `logDir` you specified in config, then try to view again.

And to solve this issue, could you show your `config.yml`, launch command, or other information for our reference to reproduce this problem.

[2021-03-30 10:37] Roy-Kid commented on #3495
After setting the `logDir` it works! Here is my config:
![image](https://user-images.githubusercontent.com/42854324/112975695-8b153480-9186-11eb-961b-7b4af1daa463.png)
All the metadata leave the `logDir` blank.

[2021-03-30 21:25] set92 opened #3499 "Can't replicate output of trial on Windows - TPE - TabNet"
**Environment**:
- NNI version: 2.1
- NNI mode (local|remote|pai): local
- Client OS: Windows
- Python version: 3.8.5
- PyTorch/TensorFlow version: Pytorch 1.7.1+cu110
- Is conda/virtualenv/venv used?: yes
- Is running in Docker?: no

**Log message**:
 - nnimanager.log:
[code]
 - dispatcher.log:
[code]
 - nnictl stdout and stderr:
[code]

[code]

**What issue meet, what's expected?**:
I tried to r

[2021-03-31 04:39] linbinskn commented on #3493
Make sense! The implementation of current NNI quantization refers to [gemmlowp](https://github.com/google/gemmlowp/blob/fcf32e7a0a4d2af46e63eccf0c8fa4d83d0311c5/doc/quantization_example.cc) and it extends range to include 0 in both weights quantization and activation quantization. But it doesn't mean that this implementation is optimal. Since weights have nothing to do with padding, I think keepin

[2021-03-31 06:27] Lijiaoa opened #3502 "for test template"
---
name: Create an issue
about: Report an issue or question while using nni instance (deployment).

---

**Describe the bug**:

**Environment**:
- **NNI version**:
- NNI mode (local|remote|pai):
- Client OS:
- Server OS (for remote mode only):
- Python version:
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?:
- Is running in Docker?:

**Log message**:
 - **nnimanager.log:**
 - **di

[2021-03-31 06:29] #3502 closed

[2021-03-31 08:50] chenbohua3 commented on #3493
I'll handle the topic later this weekend

[2021-04-01 07:20] JohnGithub917 opened #3504 "how to customize dafault metric to multiple metrics"
**What would you like to be added**: web ui should be able to show more metircs

**Why is this needed**: to show more information

**Without this feature, how does current nni work**：

**Components that may involve changes**:

**Brief description of your proposal if any**:

[2021-04-01 10:13] EternalConfession opened #3505 "Bug on GradientFeatureSelection"
**Environment**:
- NNI version: 2.1
- NNI mode (local|remote|pai): local
- Client OS: Ubuntu 20.10
- Server OS (for remote mode only):
- Python version: 3.7.10
- PyTorch/TensorFlow version: 1.8.0+cu111
- Is conda/virtualenv/venv used?: Yes
- Is running in Docker?: No

**Log message**:
 - nnimanager.log:
 - dispatcher.log:
 - nnictl stdout and stderr:

**What issue meet, what's expected?**:

When I

[2021-04-01 11:57] Davidxswang commented on #2587
I ran into the same problem in Windows 10. But I fixed it by
1. running the command:  $env:METRIC_OUTPUT_DIR = 'd:/'
2. copy the generated gpu_metrics file into the temp folder

How to reproduce it?
Open nni/examples/trials/mnist-pytorch/config_windows.yml, change the gpuNum into 1, add localConfig: useActiveGpu: true, then run the experiment.
![image](https://user-images.githubusercontent.com/318

[2021-04-01 15:02] SparkSnail commented on #3496
Hi @Roy-Kid, are you using remote mode to submit job? could you share your full content of nniManager.log?

[2021-04-01 15:26] Roy-Kid commented on #3496
Hi, the experiment fails at the very beginning then the log fold can not be create. Here is some errors raise:

[code]
PS:
After the local mode fails, I try to use remote mode to run the experiment in the HPC of our school. This time the experiment can establish successfully, but the trials are always running in the WebUI. I turn to check out the job queue but find no unfinished job. Our task shou

[2021-04-02 05:38] SparkSnail commented on #3496
Hi @Roy-Kid , from the error information, seems NNI fails to connect to local service localhost:17513, could you please make sure the port 17513 is available on your environment? You could use `nnictl create --config {config_path} --port {port_number}` to set another ports when creating new experiments.
In your remote mode, do you mean that NNI could submit job successfully, but trial status stuck

[2021-04-02 09:42] EternalConfession commented on #3505
I just found that I used the different version of DOC. There's no problem if I specified the right task type, which is regression.

[2021-04-02 09:42] #3505 closed

[2021-04-03 09:48] shiyf369 opened #3510 "Does NNI support HPO on PyTorch DDP training?"
Hi, I'd like to use automatic Hyper Parameter Optimization of NNI on PyTorch DDP distributed training.
Python API:  from torch.nn.parallel import DistributedDataParallel

According to NNI HPO example, I need to execute "nnictl create --config config.yml" to start HPO.
But PyTorch DDP need to execute training command on each distributed node.
Does NNI support HPO on PyTorch DDP training? Is there a

[2021-04-04 12:24] lym-zyl opened #3511 "nni all trials getting failed and no trial log stderr."
**Environment**:
- NNI version:2.1
- NNI mode (local|remote|pai):local
- Client OS:windows
- Server OS (for remote mode only):
- Python version:3.8.8
- PyTorch/TensorFlow version:Tensorflow
- Is conda/virtualenv/venv used?:conda
- Is running in Docker?:no
- Tensorflow:2.3.0
- keras:2.4.0

**Log message**:
 - nnimanager.log: [2021-04-04 19:57:46] INFO [ 'Datastore initialization done' ]
[2021-04-04

[2021-04-05 12:16] kvartet commented on #3495
@J-shang, I encountered this problem when using ``nnictl resume``. I also launched the experiment from Python, and did not set ``logDir`` in the configuration file. In my metadata, both ``webuiUrl`` and ``logDir`` are empty.

[2021-04-06 01:50] J-shang commented on #3495
@kvartet In fact, we did not support `resume` and `view` experiment launched by python in `nni v2.1`, and this feature will support in `nni v2.2` by #3490 .
To solve this issue, try to modify the `logDir` in metadata, and check if there has `./EXPERIMENT_ID/db/nni.sqlite` under `logDir`.

[2021-04-06 02:04] kvartet commented on #3495
oops! Looking forward to the ``nni V2.2``!

[2021-04-06 02:23] xuezu29 commented on #3467
Hi, I encountered the same problem. Have you solved it? ths a lot!

[2021-04-06 02:51] QuanluZhang commented on #3504
@JohnGithub917 , nni supports customizing metrics. you can pass a dict to `nni.report_final_result` and `nni.report_intermediate_result`. if you are still using nni built-in tuners, there must be a key "default" in this dict, other keys can be freely customized. If you are using your customized tuner, then the dict could contain any content.

webui supports showing customized metrics. you can use

[2021-04-06 02:57] xuezu29 commented on #2756
Looking forward to support for the prim::TupleUnpack in speedup process. very thankful ！

[2021-04-06 03:45] QuanluZhang commented on #3510
hi @shiyf369 , yes, NNI supports HPO on Pytorch DDP training. An example is here: https://github.com/microsoft/nni/tree/master/examples/trials/mnist-distributed-pytorch

We support distributed training on training services such as kubeflow, AML, OpenPAI. in these training services, you can specify workers in yaml file.

[2021-04-06 06:18] JohnGithub917 commented on #3504
@QuanluZhang , i passed ```d = {'i': i, 'time': test_acc}  nni.report_intermediate_result(d)```, i used add/remove buttons in webui m but i can't see these values. I checked all the boxes in ```Customize columns```.
nni version: 2.1

[2021-04-06 06:24] QuanluZhang commented on #3504
@JohnGithub917 , yes, the add/remove button only support the keys reported by `nni.report_final_result`. If you want to view the keys you added in the intermediate result, you can click the button at the end of trial row in the trial table,  to view intermediate result, it is supposed to show the curves for "i" and "time".

[2021-04-06 06:42] JohnGithub917 commented on #3504
@QuanluZhang , you mean the little curve button under ```Operation``` ? But nothing shows.

[2021-04-06 06:44] QuanluZhang commented on #3504
@JohnGithub917 , yes.

@Lijiaoa could you help check this issue? thanks.

[2021-04-06 06:59] Lijiaoa commented on #3504
@JohnGithub917 We do not support this feature in versions after v1.7...

[2021-04-06 07:06] JohnGithub917 commented on #3504
@Lijiaoa , ok... This seems to be an useful feature, may i know why it's not supported ?

[2021-04-06 07:25] kvartet commented on #3484
closed as it had been fixed.

[2021-04-06 07:25] #3484 closed

[2021-04-06 08:23] Lijiaoa commented on #3504
Because I think few people care about `intermediate dict result`, they care more about `final dict result`. But you thought it's an useful feature, so we consider adding this feature after `v2.2`. Thanks for your feedback.

[2021-04-07 01:57] #3344 closed

[2021-04-07 02:08] SparkSnail commented on #3480
Can not reproduce trial time issue.

[2021-04-07 03:15] jianzhnie commented on #3420
Here some other automl-toolkit have supported spark such as Hyperopt and Optuna, maybe we  can refer and discuss how to support MLLib in NNI?

[2021-04-07 06:22] dinghuanghao opened #3514 "StructuredFilterPruner can't prune mobilenetv2"
Most convolutions cannot generate masks when use structured filter pruner to prune mobilenetv2.

I think it is because the dependency_aware=True is not well support separable-convolution.

When dependency_aware is True, a depth-wise convolution will change the 1x1 convolution's group before it, this cause the variable "pruned_per_group" to be zero.

===========My Code===========

import torch
from

[2021-04-07 10:21] JohnGithub917 commented on #3504
@Lijiaoa Thanks for the information. Closing this issue.

[2021-04-07 10:21] #3504 closed

[2021-04-07 10:59] JiaojiaoYe1994 commented on #3483
Got it, thank you for the answer!  Will distributed training be implemented?

[2021-04-07 11:18] Davidxswang opened #3515 "Is this a typo on line 75 of nni/nas/pytorch/mutables.py?"
While I was reading the source code, I wondered whether this is a typo, as shown below:

nni/nas/pytorch/mutables.py, line 75
[code]
Should `"_key"` be `self._key` because this method is supposed to return a key/name of a mutable?

[2021-04-08 02:17] shiyf369 commented on #3510
Thank you for your reply.

When I test HPO on PyTorch DDP, I found:
1. NNI doesn't start process of the remote node for PyTorch DDP distributed training, the master node has been waiting for the remote process.
2. nni.report_intermediate_result() can't report result to webserver, the intermediate result can't be shown on webUI.
3. command: “python3 -m torch.distributed.launch --nnodes=2 --node_ran

[2021-04-08 02:21] QuanluZhang commented on #3510
@shiyf369 , you are using kubeflow training service, and have set up kubeflow cluster?

[2021-04-08 02:25] shiyf369 commented on #3510
no, I use remote mode.  trainingServicePlatform: remote

this is my config file:

[2021-04-08 02:25] shiyf369 commented on #3510
no, I use remote mode.  trainingServicePlatform: remote

this is my config file:

[2021-04-08 02:25] shiyf369 commented on #3510
`authorName: default
experimentName: My_example_mnist_distributed_pytorch
trialConcurrency: 1
maxExecDuration: 1h
maxTrialNum: 10
#choice: local, remote, pai, kubeflow
trainingServicePlatform: remote
searchSpacePath: search_space.json
#choice: true, false
useAnnotation: false
nniManagerIp: 189.105.115.145
tuner:
  #choice: TPE, Random, Anneal, Evolution
  builtinTunerName: TPE
  classArgs:
    #ch

[2021-04-08 02:27] shiyf369 commented on #3510
this is my training script:

`import nni
import logging

import argparse
from tqdm import tqdm
import torch
import torchvision
import torch.nn as nn
import torch.nn.functional as F

import torch.distributed as dist
from torch.nn.parallel import DistributedDataParallel as DDP

logger = logging.getLogger('nni_pytorch_dist')

class ToyModel(nn.Module):
    def __init__(self):
        super(ToyModel,

[2021-04-08 03:25] SicleBoypy opened #3516 "ERROR: Restful server start failed"
一直报这个错误，nnictl create反复启动依然失败！

[2021-04-08 03:34] Lycan1003 opened #3517 "Why don't use the old_bias to replace the bias in class QuantizerModuleWrapper?"
compressor.py line 467
[code]
In this class, it uses 'old_weight' as the parameter and 'weight' as the buffer.
**I wonder to know that why don't do the same operation to the bias?**
In quantizer.py line
[code]
It seems to quantize aware bias directly.

[2021-04-08 07:39] yangmingwanli opened #3518 "Training extremely slow with Azure Machine Learning"
**Environment**:
- NNI version: 2.0
- NNI mode (local|remote|pai): remote
- Client OS: Windows 10
- Server OS (for remote mode only): Linux
- Python version: 3.6.12
- PyTorch/TensorFlow version:  PyTorch1.7.1
- Is conda/virtualenv/venv used?: conda
- Is running in Docker?: No

**Log message**:
 - nnimanager.log:
 [2021-04-07 15:24:48] INFO [ 'Datastore initialization done' ]
[2021-04-07 15:24:48]

[2021-04-08 08:22] AliCloud-PAI opened #3519 "A doubt about ProxylessNAS"
Hi, @ultmaster  ~
At below code line:
nni/algorithms/nas/pytorch/proxylessnas/trainer.py#L150

Should the mode of model be in eval() mode under validation?
Thanks :)

[2021-04-08 08:28] ultmaster commented on #3519
I think setting to training mode when validation saves the extra cost of Batch-norm calibration (or setting `track_running_stats` to False). You can refer to papers like SPOS or Once-for-all for why people calibrate batch-norm on supernet. There is still debate on whether this is essential, as some algorithms report good performance even without this trick on some search spaces.

Note that this ve

[2021-04-08 08:30] ultmaster commented on #3515
I doubt that you are right. I think it runs without a problem because this branch is not actually needed.

Submit a PR to fix it if you want.

[2021-04-08 08:31] ultmaster commented on #3483
Do you mean distributed search or distributed retrain?

[2021-04-08 08:31] #3447 closed

[2021-04-08 08:32] #2943 closed

[2021-04-08 08:32] #2939 closed

[2021-04-08 08:33] #2848 closed

[2021-04-08 08:33] #2832 closed

[2021-04-08 08:33] #2798 closed

[2021-04-08 08:33] #3225 closed

[2021-04-08 08:33] #3196 closed

[2021-04-08 08:34] #3171 closed

[2021-04-08 08:34] #3170 closed

[2021-04-08 08:34] ultmaster commented on #2437
Done

[2021-04-08 08:34] #2437 closed

[2021-04-08 08:34] #1991 closed

[2021-04-08 08:35] #3056 closed

[2021-04-08 08:35] #3083 closed

[2021-04-08 08:36] #3324 closed

[2021-04-08 08:36] #3369 closed

[2021-04-08 08:36] #3428 closed

[2021-04-08 08:36] #3440 closed

[2021-04-08 08:38] #2592 closed

[2021-04-08 08:38] #2506 closed

[2021-04-08 08:38] #2869 closed

[2021-04-08 08:38] #3047 closed

[2021-04-08 08:38] #3041 closed

[2021-04-08 09:02] AliCloud-PAI commented on #3519
I see that the validation is not used in Proxylessnas of Retiarii.
If we want to use the pre-trained parameters of the supernet for fine-tuning of sampled arch, the train mode may not be suitable under validation?
Thanks:)

[2021-04-08 09:22] ultmaster commented on #3519
As I said, you need calibrate BN. If you didn't calibrate BN, I suspect that training mode is actually better than validation mode.

[2021-04-08 10:01] AliCloud-PAI commented on #3519
Thanks a lot:)

[2021-04-08 10:01] #3519 closed

[2021-04-08 10:41] EternalConfession opened #3520 "Failed to view Experiments with specified logDir"
**Environment**:
- NNI version: 2.1
- NNI mode (local|remote|pai): local
- Client OS: Ubuntu
- Server OS (for remote mode only): N/A
- Python version: 3.7
- PyTorch/TensorFlow version: PyTorch 1.6
- Is conda/virtualenv/venv used?: Yes
- Is running in Docker?: No

**Log message**:
 - nnimanager.log:
 - dispatcher.log:
 - nnictl stdout and stderr:

**What issue meet, what's expected?**:
I changed th

[2021-04-08 10:47] EternalConfession commented on #3520
It seems that the nnictl view comman will change the logDir.

I first checked the .experiment, the logDir was right.

After I ran:
[code]

The logDir in ~/nni-experiments/.experiment was rewritten by this command.

[2021-04-09 06:47] shiyf369 commented on #3510
@QuanluZhang  Doesn't NNI support remote mode for PyTorch DDP training?

[2021-04-09 07:45] QuanluZhang commented on #3510
@shiyf369 , no, but you have two options to workaround.

let's say one DDP trial runs on three remote node. and you have 3 remote nodes in total.

option 1, set trialConcurrency 3. each worker detect whether it runs on No.1 machine, if it is, it is master, if not, it is worker. In this case, one DDP trial runs as three NNI trials. The drawback of this workaround is that configurations on the two w

[2021-04-09 07:56] Gracia-zhang commented on #3323
Here's the [UI design of TensorBoard.
[https://www.figma.com/file/Pne01CuIXKG3H43d1bnaVN/0409-Fluent-Web-NNI-Tensorboard-view?node-id=40047%3A6959](url)
![0409-Fluent Web-NNI Tensorboard-view-1-Original Trial Details with tensorboard renew](https://user-images.githubusercontent.com/70793865/114148198-1a230900-994c-11eb-8161-078f93c0bffc.png)
![0409-Fluent Web-NNI Tensorboard-view-2-Tensorboard -co

[2021-04-09 08:49] liuzhe-lz commented on #3511
Can you run `run.ps1` manually and check the output?

[2021-04-09 08:52] liuzhe-lz commented on #3499
Are you using concurrency greater than 1? NNI's implementation modified some logic to support concurrent searching.
If not, please check more seeds to verify the value is table.

[2021-04-09 08:57] SparkSnail commented on #3516
@acured to take a look.

[2021-04-09 09:02] acured commented on #3516
Hi @SicleBoypy,
Could you provide more details about this? For example, logs, screenshots, running environment, etc.

[2021-04-09 09:02] #2678 closed

[2021-04-09 09:03] #2007 closed

[2021-04-09 09:04] #1446 closed

[2021-04-09 09:08] kvartet commented on #1398
@Lijiaoa Can you update the status of this issue?

[2021-04-09 09:22] shiyf369 commented on #3510
Got it. Thank you.

[2021-04-09 09:22] #3510 closed

[2021-04-09 09:33] SparkSnail commented on #3518
@yangmingwanli Each run only start one trial job, and then start new run?

[2021-04-09 09:49] SicleBoypy commented on #3516
Thanks you reply, it has been not succeeded in creating, so the log appears to be blank. And I dont get any infomation. For  environment:
conda env:
torch: 1.7.0+cu110
nni: 2.1

[2021-04-09 09:56] acured commented on #3516
Any message on terminal?

[2021-04-09 09:59] SicleBoypy commented on #3516
only info for this:

INFO:  expand searchSpacePath: search_space.json to /home/work/search_space.json
INFO:  expand codeDir: . to /home/work/.
INFO:  Starting restful server...
ERROR: Restful server start failed!
INFO:   Stdout:
-----------------------------------------------------------------------
                Experiment start time 2021-04-08 05:59:36
-----------------------------------------

[2021-04-09 10:27] rapirent opened #3521 "Ran the nas examples and got CUDA run of memory"
**Environment**:
- NNI version: 2.1
- NNI mode (local|remote|pai): local
- Client OS: ubuntu 18.04.5 which is create by docker image pytorch/pytorch:latest
- Server OS (for remote mode only):
- Python version: python 3.7.10
- PyTorch/TensorFlow version: torch 1.8 / tensorflow 2.4.1
- Is conda/virtualenv/venv used?: conda
- Is running in Docker?: yes

root@4c5e1ee96e55:/work/examples/nas/darts# pyt

[2021-04-09 11:36] linbinskn commented on #3517
The reason why we use `old_weight` as parameter is that we want to update weight parameter in high precision(fp32) to increase accuracy and speed up training convergence process. Of course, we can handle `bias` in the same way. However, we think int32 precision is accurate enough for `bias` and the bias updating on this precision will not influence accuracy and training process.

[2021-04-09 16:29] yangmingwanli commented on #3518
@SparkSnail After adding adding gpuNum: 1 and useActiveGpu: true, yes each run only start one trial job, and then start new run.
Without making these changes, it will finish all trials in one run, just very slowly.

[2021-04-10 02:36] Lycan1003 commented on #3517
Thanks for your reply!

[2021-04-10 02:36] #3517 closed

[2021-04-11 15:42] marsggbo opened #3523 "*** NotImplementedError: Deep copy doesn't work for mutables."
when I try to `copy.deepcopy` a model designed by nas mutables, it alerts `*** NotImplementedError: Deep copy doesn't work for mutables.`

[2021-04-12 01:29] yangqin0309 commented on #3451
Hi, has this problem been solved?
I have the same issue with hyperparams tuning by TPE.
![image](https://user-images.githubusercontent.com/69283864/114329273-dca3c300-9b79-11eb-83aa-971ce6d4fc37.png)

[2021-04-12 02:07] acured commented on #3516
Hi @SicleBoypy , is there any log named "nnimanager.log" generated?
If not you can have a try with launch the service part directly by using this cmd:
_"node.exe --max-old-space-size=4096 main.js --port 8080 --mode local --experiment_id <replace your id> --start_mode new --log_dir <replace your log dir>"_
Hope to get some useful information.

[2021-04-12 02:37] SparkSnail commented on #3518
I reproduced this issue, and this seems to be a bug, will fix it ASAP.

[2021-04-12 03:24] SicleBoypy commented on #3516
I get nnimanager.log:
[2021-04-12 03:01:37] INFO [ 'Construct local machine training service.' ]
[2021-04-12 03:01:37] INFO [ 'Change NNIManager status from: INITIALIZED to: STOPPING' ]
[2021-04-12 03:01:37] INFO [ 'Stopping experiment, cleaning up ...' ]
[2021-04-12 03:01:37] ERROR [ 'Tuner has not been setup' ]
[2021-04-12 03:01:37] INFO [ 'Stopping local machine training service...' ]
[2021-04-

[2021-04-12 06:25] QuanluZhang commented on #3451
@yangqin0309 please use the above workaround for now. We are trying to find out the reason why `gpu_metrics_collector` is killed silently.

[2021-04-12 06:59] yangqin0309 commented on #3451
Ok, thanks a lot.

[2021-04-12 07:28] acured commented on #3516
Looks like you need to setup tuner first. Ref here : https://nni.readthedocs.io/en/latest/Tuner/BuiltinTuner.html

[2021-04-12 09:22] ankitaggarwal23 commented on #3515
@Davidxswang Can I work on this issue?

[2021-04-12 09:25] Davidxswang commented on #3515
Sure! It would be much appreciated! Thank you!

[2021-04-12 09:30] ankitaggarwal23 commented on #3515
@Davidxswang It would be great If you could assign me this issue. As I'm a first time contributor.

[2021-04-12 09:42] Davidxswang commented on #3515
Hi @ankitaggarwal23 I think you are right, `self.key` or `self._key` would work.
Sorry, I am not in this project so I cannot assign issues to anyone. I guess in order to contribute to this project, you have to fork the repo and fix the bug and then submit a PR. After that, whoever in the project will approve your PR and merge it into the main branch.

[2021-04-12 09:45] ankitaggarwal23 commented on #3515
@Davidxswang Sure, Thank you for guiding!

[2021-04-12 09:48] Davidxswang commented on #3515
@ankitaggarwal23 You are very welcome!

[2021-04-12 09:52] Davidxswang opened #3525 "A potential bug in nni/nas/pytorch/mutator, line no. 87"
In nni/nas/pytorch/mutator, line no.87, a `.tolist()` is missing to convert the numpy array into a list, as shown below:

[code]

[2021-04-13 09:24] tabVersion opened #3527 "example request: load weight example for pruned model"
**What would you like to be added**:

an example showing how to load weights for a pruned model

**Why is this needed**:

the design is really confusing

I use `Pruner.export_model` to save model weight and masks but I don't know how to assemble them for inference.

[2021-04-13 09:33] tabVersion commented on #3527
I tried the following way but got RuntimeError

[code]

[code]

[2021-04-14 01:44] acured commented on #3516
Hi @SicleBoypy , any update?

[2021-04-14 02:37] Lijiaoa commented on #1398
Hi, @kvartet  This issue had been fixed in `v1.8` by @ultmaster ! So could you help close this issue? Thanks.

[2021-04-14 02:37] SicleBoypy commented on #3516
I only use the  Tuner of TPE, and set up nni by "pip install nni". See the doc，there is no problem for installation. If not, I
 will not succeed in sometimes, but fail in all the time.

[2021-04-14 03:09] SparkSnail opened #3529 "Running trial is still timing when view and experiment status always is INITIALIZED"
**Environment**:
- NNI version: v2.1
- NNI mode (local|remote|pai): local
- Client OS: Linux
- Server OS (for remote mode only):
- Python version: 3.6
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?: no
- Is running in Docker?: no

**Log message**:
 - nnimanager.log:
 - dispatcher.log:
 - nnictl stdout and stderr:

**What issue meet, what's expected?**:
Trials is still calculating r

[2021-04-14 03:16] SparkSnail opened #3530 "create experiment has some unknown info"
**Environment**:
- NNI version: v2.1
- NNI mode (local|remote|pai): local
- Client OS: Windows
- Server OS (for remote mode only):
- Python version:
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?:
- Is running in Docker?:

**Log message**:
 - nnimanager.log:
 - dispatcher.log:
 - nnictl stdout and stderr:

**What issue meet, what's expected?**:
When create experiment in python clie

[2021-04-14 03:59] #1398 closed

[2021-04-14 09:59] ZexinYan opened #3533 "When to support HRNet for pruning?"
**Environment**:
- NNI version: 2.2
- NNI mode (local|remote|pai): local
- Client OS: Linux
- Server OS (for remote mode only): Linux
- Python version: 3.8.3
- PyTorch/TensorFlow version: 1.7.1 pytroch
- Is conda/virtualenv/venv used?: coda
- Is running in Docker?: not

**Log message**:
 - nnimanager.log:
 - dispatcher.log:
 - nnictl stdout and stderr:

**What issue meet, what's expected?**:
When

[2021-04-14 12:41] arvoelke opened #3534 "Resuming TPE experiment crashes tuner"
**Environment**:
- NNI version: 2.1
- NNI mode (local|remote|pai): local
- Client OS: Ubuntu 20.04.2 LTS
- Python version: 3.8.8
- PyTorch/TensorFlow version: `tensorflow==2.4.1`
- Is conda/virtualenv/venv used?: conda
- Is running in Docker?: no

**Log message**:
 - dispatcher.log:
[code]

**What issue meet, what's expected?**:

Expected to be able to resume an experiment that had been stopped. I

[2021-04-14 14:43] maminzhao opened #3535 "Cann't open history experiments. Only the running one can be clicked."
![image](https://user-images.githubusercontent.com/10074630/114729758-dc224c80-9d72-11eb-8ab3-2ea722e18320.png)

[2021-04-15 01:16] kvartet commented on #3535
This is by design. Users can only view the WebUI of the unstopped experiments.
You can use [nnictl resume](https://nni.readthedocs.io/en/latest/Tutorial/Nnictl.html#resume) or [nnictl view](https://nni.readthedocs.io/en/latest/Tutorial/Nnictl.html#view) to resume/view the experiment and open the WebUI URL to view them.

[2021-04-15 02:54] JianJuly opened #3537 "which value is recommended to be reported as Intermediate Result?"
Is the value (loss or acc) of each epoch in training set?
or  the value (loss or acc) of each epoch in testing set?
I am so confused about how to arrange the Intermediate and Finally results.

[2021-04-15 05:40] acured commented on #3516
Hi @SicleBoypy,  Any message on "dispatcher.log"?

[2021-04-15 06:22] SicleBoypy commented on #3516
There is no “"dispatcher.log”  to generate, And I try to again , and find the info in "nnictl_stderr.log":
(node:40346) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'run' of undefined
    at SqlDB.storeExperimentProfile (/home/work/.conda/envs/torch-3090/lib/python3.7/site-packages/nni_node/core/sqlDatabase.js:111:17)
    at NNIDataStore.storeExperimentProfile (/home/work/.con

[2021-04-15 07:12] acured commented on #3516
Hi @SicleBoypy , looks like there are difference issues in your experiment(tuner issue and storage issue).
Could you have a try with a new(pure) env to start the experiment just in case those issue are not caused by current some env setting.

[2021-04-15 07:27] SicleBoypy commented on #3516
I have not changed any , "nnimanager.log“ ：
[2021-04-15 06:11:46] INFO [ 'Construct local machine training service.' ]
[2021-04-15 06:11:46] INFO [ 'Change NNIManager status from: INITIALIZED to: STOPPING' ]
[2021-04-15 06:11:46] INFO [ 'Stopping experiment, cleaning up ...' ]
[2021-04-15 06:11:46] ERROR [ 'Tuner has not been setup' ]
[2021-04-15 06:11:46] INFO [ 'Stopping local machine training s

[2021-04-15 07:46] acured commented on #3516
Your right, but "Cannot read property 'run' of undefined" was not appears in the previous "nnictl_stder.log".

[2021-04-16 06:11] acured commented on #3516
Hi @SicleBoypy , Have you try experiment on any new env?

[2021-04-16 07:02] kvartet commented on #2056
@J-shang

[2021-04-16 08:53] Lijiaoa commented on #3246
I'll close this issue because it had been released in `v2.2` .

[2021-04-16 08:53] #3246 closed

[2021-04-16 14:50] kvartet commented on #3529
When experiment status is INITIALIZED, several progress bars and texts are all blue. But they are all green in the DONE state, which may make users very confused...

[2021-04-17 10:04] fireindark707 opened #3542 "Can NNI be used in TF Estimator?"
**Environment**:
- NNI version: latest
- NNI mode (local|remote|pai): local
- Client OS: Ubuntu
- Server OS (for remote mode only):
- Python version: 3.7
- PyTorch/TensorFlow version: TensorFlow-gpu 1.14.0
- Is conda/virtualenv/venv used?: yes
- Is running in Docker?: no

**Log message**:
 - nnimanager.log:
 - dispatcher.log:
 - nnictl stdout and stderr:

I want to add the intermediate result to t

[2021-04-19 02:20] JianJuly opened #3543 "view experiment failed"
**Environment**:
- NNI version: 2.1
- NNI mode (local|remote|pai): local (using pycharm remote mode)
- Client OS: Ubuntu 16.04
- Server OS (for remote mode only):
- Python version: 3.6.2
- PyTorch/TensorFlow version: pytorch 1.8.1
- Is conda/virtualenv/venv used?: conda used
- Is running in Docker?: N

**Log message**:
 - nnimanager.log:
 - dispatcher.log:
 - nnictl stdout and stderr:

**What issu

[2021-04-19 02:53] ultmaster commented on #3525
Sorry for the late response. Please submit a PR directly to fix it!

[2021-04-19 02:54] ultmaster commented on #3523
This is by design. Deep copy on mutables will cause problems thus we forbid it.

And we are not maintaining the old versions of NAS any more. Please try to use Retiarii if possible.

[2021-04-19 02:56] ultmaster commented on #3521
Your GPU memory is not enough. Please decrease the batch size or use a larger GPU!

[2021-04-19 03:36] ultmaster commented on #3542
`SessionRunHook` can be inherited and you can implement some hook like `LoggingTensorHook` and put `nni.report_intermediate_result` into it. You can refer to the source code of `LoggingTensorHook` for reference.

[2021-04-19 06:04] J-shang commented on #3520
Hello @EternalConfession , thanks for your contribution, we found it is a bug and fixed it in pr #3545 and will release in nni v2.2.

[2021-04-19 06:10] J-shang commented on #3543
Hello @JianJuly , will this #3495 fix your issue for a workaround? If this does not work, please tell us. `view` experiment launched by python will be fully supported in nni v2.2.

[2021-04-19 06:38] JianJuly commented on #3543
I found `n6XH4aFU` metadata in my `~/nni-experiments/.experiment` path, it looks like this
[code]

Then i set the logDir of `n6XH4aFU` to the right value `/home/jianjunming/projects/CRLNMS_clf_AutoML/configs/../checkpoints/nni-experiments`, and save it.
I tried `nnictl view n6XH4aFU` again, and the issue arose again :(
After that i checked `~/nni-experiments/.experiment`, and found out that the `l

[2021-04-19 06:56] J-shang commented on #3543
Oh yes, it is a bug and will fix in nni v2.2, FYI #3545 . Now, you can add

`experiment_config['logDir'] = experiments_dict[args.id]['logDir']`

in `./site-packages/nni/tools/nnictl/launcher.py` L636 for workaround.

[2021-04-19 07:07] JianJuly commented on #3543
This works, thank you!!! Looking forward for V2.2

[2021-04-19 07:07] #3543 closed

[2021-04-19 07:11] JianJuly commented on #3537
Also, how to used my validation set? Or no validation set is needed?

[2021-04-19 08:21] QuanluZhang commented on #3537
@JianJuly , intermediate result is mainly used for users to check a configuration/trial's performance, like learning curve. You can report any value or dict you want. Finally result is your optimization goal. It can be seen as the reward used by tuning algorithms (e.g., tpe). how frequently to report intermediate result can be freely decided by yourself. Note that if you are using curve fitting ea

[2021-04-19 08:29] JianJuly commented on #3537
Thanks a lot. Your suggestion of `not to make intermediate result very frequent` is very valuable. I'd like to report my training loss/acc as intermediate result , and testing auc/acc as final result.

[2021-04-19 08:59] colorjam commented on #3533
Hi @ZexinYan, we currently support pruning for HRNet.
Could you provide more details about what pruner you use that isn't working?

[2021-04-19 09:08] ZexinYan commented on #3533
Thanks for your reply. Could you provide some examples about pruning for HRNet in Cifar10? I can only find resnet or vgg as example.

[2021-04-19 09:15] ZexinYan commented on #3533
In master branch, I got the following error:

[code]

[2021-04-19 09:32] J-shang commented on #3529
change `INITIALIZED` to `VIEWED` when in view mode #3545

[2021-04-19 17:18] yangmingwanli commented on #3518
@SparkSnail , does it look like going to be a hard to fix bug? Is there any workaround before fix is released? Thanks!

[2021-04-20 02:55] arvoelke commented on #1700
What is the currently recommended approach to achieve `skip_on_failure`? It seems that currently if a trial fails then the tuner receives no feedback and it may feel the need to keep trying the same hyperparmeters again and again. If the failure is deterministic then this can lead to an infinite loop where the tuner will keep trying the same parameters and failing indefinitely. Should we wrap the

[2021-04-20 03:20] QuanluZhang commented on #1700
@arvoelke in the previous release, we supported `clone` and `add customized trial` which could deal with temporary failures (can be easily fixed by retry). As you pointed out, some failures are induced by the trial itself (e.g., out of memory, shape mismatch). In this case, it may be better to provide two options to users: using pre-configured default value, fail silently (the current behavior), a

[2021-04-20 06:12] ichejun opened #3548 "Errors when trying to pruning a YOLOv5 model, and use ModelSpeedup.speedup_model() to export to one model pt."
**Environment**:
- NNI version:2.1
- NNI mode (local|remote|pai):local
- Client OS:
- Server OS (for remote mode only):
- Python version:3.7.5
- PyTorch/TensorFlow version:PyTorch 1.7.1
- Is conda/virtualenv/venv used?:no
- Is running in Docker?:no

When I tried to use prunner do the yolov5 model compression (FPGMPruner used), the mask.pt and model.pt were generated.
Then, trying to use the ModelS

[2021-04-20 08:04] JunweiSUN opened #3549 "Broken link on WebUI"
![image](https://user-images.githubusercontent.com/30487595/115360329-1c118580-a1f2-11eb-93ab-37ead0feefd4.png)
Link here should be `https://github.com/Microsoft/nni/tree/v2.1` instead of `https://github.com/Microsoft/nni/tree/2.1.0`

[2021-04-20 08:27] Lijiaoa commented on #3549
Yes. But I think this version should be `v2.1` rather than `v2.1.0`.

[2021-04-20 08:39] JunweiSUN commented on #3549
I think maybe the `version` in `package.json`  was set to `2.1.0` when releasing nni v2.1 which caused this issue. Maybe we should make the version of nni more consistent instead using `2.1.0`, `2.1`, `v2.1` together.

[2021-04-20 13:00] arvoelke opened #3551 "Include sequenceId or failed/stopped trials in nnictl experiment export"
**What would you like to be added**:

`nnictl experiment export` could be extended to include the `sequenceId` information. In addition, it could optionally include the trials that failed or were "early stopped".

**Why is this needed**:

Sometimes it is important to refer back to the `sequenceId` in case that was used somehow in the trial (e.g., to name a model file or round-robin between GPUs, e

[2021-04-20 14:11] arvoelke commented on #3534
I tried this again with `nnictl stop` (instead of a sudden restart) and encountered the exact same issue.

I also tried `pip install dill` as recommended in the logs, but that did not help.

I took a brief look at the code where the error is being reported, and I'm wondering if it maybe the tuner reloading does not support nested search spaces? Or perhaps choices with only one option? My search sp

[2021-04-21 02:17] SparkSnail commented on #3518
Have you tried setting gpuNum:0, and resubmit the job?

[2021-04-21 02:42] liuzhe-lz commented on #3534
Can you provide full experiment config? I have tried following config and the issue did not reproduce.
[code]

[2021-04-21 06:07] yangmingwanli commented on #3518
Just tried that, after setting gpuNum:0, training is still extremely slow, didn't start new run for new trial, but failed after two trials due to "Converting circular structure to JSON" error.

[2021-04-21 10:13] twmht opened #3553 "hard to converage when finetune from model_speedup"
nni version: latest
pytorch version: 1.8

Hi,

I found out when finetune model from pruner.compress(), the result is fine.

but when finetune model from speedup_model(),  the loss is hard to convearge.

I thought those two things are almost equivalent, except that model speedup removes the batch normalization layer.

any idea?

[2021-04-21 14:46] arvoelke commented on #3534
I was able to reproduce it with the following setup.

**test.json**
[code]

**test.py**
[code]

**test.yml**
[code]

Steps to reproduce:
1. `nnictl create --config test.yml`
2. Wait for one trial to successfully complete, and the next one to start running.
3. `nnictl stop`
4. `nnictl resume <expID>`
5. Wait for dispatcher to enter error state.

For step 2, it seems important that the next trial ha

[2021-04-22 01:46] ping-Huang commented on #3548
Q1:
In yolov5, you should add Concat, upsample and SiLU to [infer_from_inshape](https://github.com/microsoft/nni/blob/e85f029bd4e4b1bdf3e679893fb6447e4d6b2c79/nni/compression/pytorch/speedup/infer_shape.py#L240) and [replace_module](https://github.com/microsoft/nni/blob/e85f029bd4e4b1bdf3e679893fb6447e4d6b2c79/nni/compression/pytorch/speedup/compress_modules.py#L10).

In Cancat node, you should mo

[2021-04-22 07:03] ichejun commented on #3548
Thanks for your reply. I am going to modify the files as soon as possible.
As for the Q2, I am wondering if there is any recomended way to ‘pruning the yolov5 without "Detect layer"’？Could you please provide some suggestions?
Thank you very much!

[2021-04-22 08:50] Lijiaoa commented on #3323
Close this issue because it had been released on `v2.2`

[2021-04-22 08:50] #3323 closed

[2021-04-22 08:58] Lijiaoa commented on #2937
@kvartet This issue had been done on v2.x, could you help close this issue?

[2021-04-22 09:02] kvartet commented on #2846
I’m closing this issue as it has no updates from customer for 3 months, please feel free to reopen if you are still seeing it as an active issue.

[2021-04-22 09:02] #2846 closed

[2021-04-22 09:03] Lijiaoa commented on #2779
This issue had been done on v2.0, so will close it.

[2021-04-22 09:04] kvartet commented on #2779
closing the issue as it has been finished.

[2021-04-22 09:04] #2779 closed

[2021-04-22 09:04] Lijiaoa commented on #2672
I will close this issue because it has been done on `v2.x` .

[2021-04-22 09:04] #2672 closed

[2021-04-22 09:05] #2937 closed

[2021-04-22 09:06] Lijiaoa commented on #2668
It has been done on v1.9 by @ultmaster~ so will close this issue now.

[2021-04-22 09:06] #2668 closed

[2021-04-22 09:10] Lijiaoa commented on #2345
@kvartet Could you help close this issue? It had been done a long time ago.

[2021-04-22 09:11] #2345 closed

[2021-04-22 09:16] Lijiaoa commented on #2010
@xuehui1991 @scarlett2018 @yangou1988 PR #2417 is for this issue, @kvartet  Could you help close this issue?

[2021-04-22 09:24] kvartet commented on #2009
closing the issue as it is a duplicate issue

[2021-04-22 09:24] #2009 closed

[2021-04-22 09:24] #2010 closed

[2021-04-22 09:24] Lijiaoa commented on #2661
@ultmaster @tabVersion Looks like we had supported dict intermediate result, but on v1.9-v2.2, we don't support this function.
And now we are planning to resupport dict on v2.3!

[2021-04-22 09:26] Lijiaoa commented on #2555
We had support more friendly hyper-parameter graph by using d3.js @ultmaster
so this issue will be closed.

[2021-04-22 09:26] #2555 closed

[2021-04-22 09:36] Lijiaoa commented on #1483
@martsalz  PR #2586 had support `val_loss as metric`.
@kvartet Could you help close this issue?

[2021-04-22 09:39] Lijiaoa commented on #1411
@suiguoxin nni had support tensorboard function on webui on `v2.2` .

[2021-04-22 09:40] Lijiaoa commented on #1357
@kvartet Could you help close this issue?

[2021-04-22 09:48] #1357 closed

[2021-04-22 09:49] #1483 closed

[2021-04-22 11:18] Davidxswang commented on #3525
@ultmaster I have submitted a PR. https://github.com/microsoft/nni/pull/3561
Thanks!

[2021-04-22 11:43] Davidxswang opened #3562 "Bug in nni/compression/pytorch/speedup/infer_shape.py, line no. 625-626."
Line no. 595 - 630, in  nni/compression/pytorch/speedup/infer_shape.py, is the function `view_outshape`, which is used to infer the input shape (B C H W) from the output shape (B L), as shown below. `mask.mask_index[1]` is the mask on the `L` dimension of the output tensor. Based on the context, I think what the line 625-626 should do is to find out the mask for the `C` dimension of the input tens

[2021-04-22 11:57] Davidxswang commented on #3553
The pruner.compress() only uses a mask (a tensor contains only 1 and 0) to multiply the weight (and bias if any) before calling the module on the input, but all the modules are kept the same, in terms of their shape, weight, and bias, so the model is at the same size. While speedup_model() actually changes the modules, for example, from Con2d(in_channels=16, out_channels=32) to Conv2d(in_channels=

[2021-04-22 12:23] twmht commented on #3553
@davbowman

what i mean `removing batch normalzation` is that it will remove the "dependent" batch normalization layer.  for example, conv(64)->bn(64), if the removed planes are 32, it would be conv(32)->bn(32). am i right?

so is it ok to finetune directly from speedup_model()?

[2021-04-22 12:27] Davidxswang commented on #3553
Sorry, my misunderstanding. Yes, you are right.
I think it is better to finetune from speedup_model().

[2021-04-22 12:29] twmht commented on #3553
my problem is that with the same sparsity. finetune from pruner.compress() or finetune from model_speedup(), the former is fine but the other is hard to conveage.

the problem exists even though reducing the sparsity.

[2021-04-22 12:31] twmht commented on #3553
so my guess is that the un-removed bias of the batch normalization would recover some meaningful activation value.

[2021-04-22 16:33] yangmingwanli opened #3568 "Training slow in Azure DSVM (Standard NC6)"
**Environment**:
- NNI version:  2.1
- NNI mode (local|remote|pai):  local
- Client OS:  Ubuntu 18.04
- Server OS (for remote mode only):
- Python version:  Python 3.6.9
- PyTorch/TensorFlow version: PyTorch 1.4.0
- Is conda/virtualenv/venv used?: conda (env name azureml_py36_pytorch)
- Is running in Docker?:  No

**Log message**:
 - nnimanager.log:
[2021-04-22 06:53:44] INFO [ 'Datastore initiali

[2021-04-23 02:06] suiguoxin commented on #1411
Thanks for the reminder @Lijiaoa

[2021-04-23 02:06] #1411 closed

[2021-04-23 08:43] SparkSnail commented on #3568
Add @acured to take a look.

[2021-04-24 19:23] datapaintings opened #3571 "Transformations available on 'ValueChoice'"
I would like to search for multiinput neural networks with tuned hidden size of each mode, f. e.:

        self.hidden_size_1 = nn.ValueChoice([16, 32, 64, 128, 256, 512], label='hidden_size_1')
        self.hidden_size_2 = nn.ValueChoice([16, 32, 64, 128, 256, 512], label='hidden_size_2')
        self.output_layer = nn.Linear(self.hidden_size_1 + self.hidden_size_2, 2)

Currently, due to document

[2021-04-25 02:38] J-shang commented on #3551
Hello @arvoelke , for the first one, add `sequenceId` to find the tuner on how to reduce the search space is an interesting idea. I think this is a feature worth adding.

For the second, `nnictl experiment export` is used for exporting results & hyper-parameter, and in the latest version, nni won't retry the `failed` trials, so the `failed` trials' hyper-parameters are never used. Or by the rule o

[2021-04-25 06:47] ultmaster commented on #3571
I think it is possible but requires quite a lot of implementation effort. So IMHO, we should put that in backlog.

[2021-04-25 06:50] ultmaster opened #3573 "Graph converter does not work for nested ModuleList"
plan ddl: ~5.13~ 5.18

[code]

This does not work. The exception is as follows:

[code]

[2021-04-25 06:52] ichejun commented on #3548
Hi, @ping-Huang
After I completed the modification of 6 files and adjusted the prune configuration of "Detect layer", I was able to quantify the yolov5 model successfully.Thanks!
For related modifications, please refer to https://github.com/ichejun/nni/commits/master. The 6 commits on "Commits on Apr 25, 2021" are adjustments to the corresponding 6 files.

However, after the adjustment, I encounte

[2021-04-25 09:05] acured commented on #3568
Hi @yangmingwanli,
Could you double check whether GPU is used? You can check it from whether there is a difference on "nvidia-smi".

Under the guarantee of GPU usage, it will take almost 90s for each trail, almost the same with yours. Acutely the example's network and search space is very small, the speed advantage of GPU is not obvious, you can try to modify those search space  parameter to see t

[2021-04-25 09:05] ping-Huang commented on #3548
Hi, @ichejun

Q1: The second parameter of ModelSpeedup() should be the original model with training weights.
[model_speedup.py](https://github.com/microsoft/nni/blob/e85f029bd4e4b1bdf3e679893fb6447e4d6b2c79/examples/model_compress/pruning/model_speedup.py#L66)

Q2: If you don't skip the Detect layer or exclude the exclude the parameters, you may encounter two problems.

First, the filter size of l

[2021-04-25 10:18] ichejun commented on #3548
@ping-Huang Thank you very much for your prompt reply, it helps a lot. As for questions 1 and 2, I will refer to your suggestions and try as soon as possible. For the question 3 about agp pruner, I am going to raise an issue to follow up. Thanks~

[2021-04-25 10:30] ichejun opened #3574 "Two problems encountered when using AGPPruner"
**Environment**:
- NNI version:2.1
- NNI mode (local|remote|pai):local
- Client OS:
- Server OS (for remote mode only):
- Python version:3.7.5
- PyTorch/TensorFlow version:PyTorch 1.7.1
- Is conda/virtualenv/venv used?:no
- Is running in Docker?:no

Hi, I have encountered two problems when using AGPPruner, could you please help to solve?

Q1:
I encountered a problem when I tried  AGPPruner.
The de

[2021-04-26 03:54] #3445 closed

[2021-04-26 05:35] J-shang commented on #3574
hi @ichejun ,
Q1: We are sorry that none of our current schedule pruners supports `exclude`, and this is a feature that should be supported. For a workaround, you can modify the `validate_config` function to pass the validation, similar as `_StructuredFilterPruner.validate_config()`.

Q2: AGPPruner can not work in dependency_aware mode, this is due to current implementation limitations. we will di

[2021-04-26 06:39] kvartet opened #3581 "NNI 2021 May~June Iteration Planning"
This is the plan for the iteration in May~June, it's a 6 weeks iteration. It has been tracked in the [v2.3 Project](https://github.com/microsoft/nni/projects/9).

# Release Plan for v2.3
- Release manager: @ultmaster
- Feature freeze date: 5.21
- Code freeze and demo date: 5.27
- Branch cut and next release planning date: 6.4
- Release date: 6.9

-----

### Retiarii & NAS

- [x] P0 - More high-lev

[2021-04-26 06:49] kvartet commented on #3350
Hello @mbu93, the feature has been released in NNI v2.2, so I will close the issue, feel free to reopen it if you think it is active. Thanks for your contribution again!

[2021-04-26 06:49] #3350 closed

[2021-04-26 17:23] yangmingwanli commented on #3568
Thank you @acured for the explanations.

[2021-04-26 17:23] #3568 closed

[2021-04-27 02:38] ultmaster opened #3582 "NAS visualization improvements: refactor graph representation @98may ddl 5.14"

[2021-04-27 02:43] ultmaster opened #3583 "Pure-python execution engine"
ddl: 5.7

[2021-04-27 02:47] ultmaster opened #3584 "Multi and Auto Compressor"
~ddl: 4.30~

After two meetings, we decide to extend ddl to 5.10

Link #3390

[2021-04-27 02:50] ultmaster opened #3585 "Model compression pipeline"
~ddl 4.30~

ddl 5.6

link #3507

[2021-04-27 02:54] J-shang commented on #3562
Hi @Davidxswang , thanks for your contribution, yes, it is a bug, maybe this can fix it. If it is convenient, you can make a pr to fix it.

[code]

[2021-04-27 02:57] ultmaster opened #3586 "Make selected trials consistent across auto-refresh in detail table"
ddl 5.7

We don't use antd to rewrite table. We fix the bug based on the current fluent ui.

@Lijiaoa

[2021-04-27 03:04] Davidxswang commented on #3515
I'll close it since this has been fixed in version 2.2.

[2021-04-27 03:04] #3515 closed

[2021-04-27 03:05] Davidxswang commented on #3525
I'll close it since this has been fixed in version 2.2.

[2021-04-27 03:05] #3525 closed

[2021-04-27 03:07] J-shang commented on #3584
- [ ] pruner & quantizer: if we need API to recover the wrapper from a file? for simulation next time.
- [ ] multi-compressor:
  - [ ] naming
  - [ ] if we need support schedule pruner? (support one-shot now)
- [ ] auto-compressor
  - [ ] API naming
  - [ ] mode (use one compressor or multi-compressor)
  - [ ] default search space (it is like a tuner, support grid search now)

[2021-04-27 03:12] ultmaster opened #3587 "Support one tensorflow algorithm for model compression"
ddl: ~4.30~ 5.7

Which one? Medium code-quantity, needs evaluation.

Level done. L1 done.

[2021-04-27 03:29] Davidxswang commented on #3562
Thank you! I have submitted the PR.

[2021-04-27 06:06] Lijiaoa commented on #3529
It had been fixed on `v2.2`

[2021-04-27 06:27] J-shang commented on #3529
![image](https://user-images.githubusercontent.com/33053116/116195296-9d25cb00-a764-11eb-9cfc-038cece51832.png)

Seems still timing in `v2.2`

[2021-04-27 09:03] un-knight opened #3590 "What's the NNI's plan to support folded bn?"
I found that NNI doesn't support simulation of bn folding during QAT, so I am curious about what the plan is?

https://github.com/microsoft/nni/blob/063d6b744dc8252fb182acd6a9c2949fec8f8389/nni/algorithms/compression/pytorch/quantization/quantizers.py#L355

[2021-04-27 10:16] Ivanfangsc opened #3591 "Unable to run example mnist-annotation"
**Environment**:
- NNI version: 2.2
- NNI mode (local|remote|pai): local
- Client OS: Windows 10
- Python version: 3.8.5
- PyTorch/TensorFlow version: PyTorch 1.8.1
- Is conda/virtualenv/venv used?: conda
- Is running in Docker?: no

**Log message**:
 - nnimanager.log:
 - dispatcher.log:
 - nnictl stdout and stderr:
[code]

**What issue meet, what's expected?**:
The example is expected to run.

**

[2021-04-28 07:36] #3574 closed

[2021-04-28 13:32] Garand0o0 opened #3592 "Can't open webui"
I run experiment on a remote machine through SSH, and get info like this:

[code]

How should I open the webui on my own computer. Thanks.

[2021-04-29 06:36] ZhuJohnson opened #3593 "Can we have example of utilizing one-shot NAS for DNN models?"
**What would you like to be added**:
More example for one-shot NAS practice of DNN/MLP models
**Why is this needed**:
Didn't find this kind of example in the repo.
**Without this feature, how does current nni work**：

**Components that may involve changes**:

**Brief description of your proposal if any**:
I'd like to apply NAS function to search the model structure for MLP(to searchhow many hidden

[2021-04-29 07:31] QingXIA233 commented on #3451
Hello all,

I have the same issue when I try to use grid search to get the best choice of parameters for Efficientnet-v2-M on my own datasets. When I used a small amount of data, everything went all right, all 15 trials succeeded:
![image](https://user-images.githubusercontent.com/64100948/116514830-2290b300-a8fe-11eb-9775-cd9b8a057402.png)

However, when I tried to use more data, 7 trials succeed

[2021-04-29 07:32] ZhuJohnson opened #3594 "how to change web UI url from 127.0.0.1:8088 to 0.0.0.0:8088"
**Environment**:
- NNI version:1.9
- NNI mode (local|remote|pai): in docker of remote server
- Client OS: Linux version 4.13.0
- Server OS (for remote mode only):
- Python version:3,6,8
- PyTorch/TensorFlow version:tensorflow 2.3
- Is conda/virtualenv/venv used?:
- Is running in Docker?:Yes

**Log message**:
 - nnimanager.log:
 - dispatcher.log:
 - nnictl stdout and stderr:

**What issue meet, wha

[2021-04-29 08:31] BaptisteBrument opened #3595 "nni in remote mode experiment folder"
**Environment**:
- NNI version: 2.1
- NNI mode remote
- Client OS: docker container with nni image
- Server OS: docker container with nni image
- Python version: 3.6.9 (default version in the image)
- PyTorch/TensorFlow version: Tensorflow 2.3.1 (default version in the image)
- Is conda/virtualenv/venv used?: no
- Is running in Docker?: yes

Hello,

I am currently working with NNI and I wanted to

[2021-04-29 20:21] rohin-dasari opened #3596 "Running NNI with Kubeflow Plugin Without of "default" namespace"
**Environment**:
- NNI version: 2.2
- NNI mode (local|remote|pai): kubeflow
- Client OS: Ubuntu 20.04.1 LTS
- Server OS (for remote mode only):Ubuntu 16.04.7 LTS
- Python version: 3.8.3
- PyTorch/TensorFlow version: 2.2.0
- Is conda/virtualenv/venv used?: Conda
- Is running in Docker?: No

**Log message**:
 - nnimanager.log:
 [2021-04-29 16:17:14] INFO [ 'Datastore initialization done' ]
[2021-04-

[2021-04-30 04:41] ultmaster commented on #3593
Good suggestion. Some of what you want can be naturally fit into current one-shot algorithms (e.g., activation function), while for others we need to find papers and even improvise as current one-shot NAS might not work at all.

In summary, we have to investigate what is going on. For now, let's put it into our future plan.

[2021-04-30 08:57] SparkSnail commented on #3595
Are your trials succeeded? Can you show your trial log here? You can get your trial log path from WebUI.
![image](https://user-images.githubusercontent.com/22682999/116672742-1c213a80-a9d5-11eb-946e-2f23592d9b6a.png)

[2021-04-30 09:04] kvartet commented on #3592
hello @Garand0o0, you can refer to [FAQ.html#could-not-open-webui-link](https://nni.readthedocs.io/en/stable/Tutorial/FAQ.html#could-not-open-webui-link) to find the solution. If it doesn't work, you can set ``nniManagerIp`` to your remote server ip.

[2021-04-30 09:06] SparkSnail commented on #3596
NNI does not support setting namespace in configuration yet, but you could change NNI source code for your requirement, and build NNI manually.
change code here:
https://github.com/microsoft/nni/blob/02eab99b9bb280e385a7af71b4c6c4a73bae1f04/ts/nni_manager/training_service/kubernetes/kubeflow/kubeflowTrainingService.ts#L373
Build and install NNI locally:
https://github.com/microsoft/nni/blob/master

[2021-04-30 12:18] BaptisteBrument commented on #3595
Thank you for your reply.
Yes the experiments are succeedeed.
Here are the logs of one of the trials:

- trial.log
[2021-04-30  09:48:42] INFO (nni_syslog_trial/Thread-2) NNISDK_MEb'{"parameter_id": 0, "trial_job_id": "C5op9", "type": "FINAL", "sequence": 0, "value": "0;9755555555555555"}'
[2021-04-30  09:48:53] INFO (nni_syslog_trial/keeper/MainThread) [2021-04-30  09:48:53.074482] INFO subproces

[2021-04-30 18:10] rohin-dasari commented on #3596
Thanks for the response.

I made the change and rebuilt from source, but the error still persists. Is there another specific place where a code change is required? I looked around the ```nni/ts/nni_manager/training_service/kubernetes/kubeflow/``` directory and found some other references to the ```default``` namespace in ```kubeflowApiClient.ts```. I swapped those values out with our namespace, bu

[2021-05-02 15:21] kvartet commented on #3520
hello @J-shang, I met this problem too.
My nni version is v2.2, and when running [Retiarii mnist example](https://github.com/microsoft/nni/blob/master/examples/nas/multi-trial/mnist/search.py), the trail failed with the error message:
``
{"error":"ENOENT: no such file or directory, open '3p715gyd/trials/yK4FG/stderr'"}
``

When I set the ``experiment_working_directory`` to a relative path, it fail

[2021-05-03 10:44] lokinfey opened #3603 "About Apple Silicon"
I think nni needs to support apple silicon , coz Apple silicon is cool machine for ML/Deep learning jobs

[2021-05-04 04:33] kvartet commented on #3276
met this error in Windows :(

[2021-05-05 13:41] lym-zyl opened #3606 "nni2.2 error"
**Describe the issue**:

**Environment**:
- NNI version:2.2
- Training service (local|remote|pai|aml|etc):local
- Client OS:
- Server OS (for remote mode only):
- Python version:3.8.8
- Is conda/virtualenv/venv used?: anaconda3, jupyter
- Is running in Docker?:no

**Configuration**:
 - Experiment config (remember to remove secrets!):nni"s trail "sklearn"
 - Search space:nni"s trail "sklearn"

**Lo

[2021-05-05 14:41] Davidxswang commented on #3562
I'll close this issue since it has been solved and merged into master branch.

[2021-05-05 14:41] #3562 closed

[2021-05-05 17:27] zhanghang1989 commented on #3483
Does NNI support distributed search?

[2021-05-06 02:59] J-shang commented on #3520
@kvartet  fix in pr #3607

[2021-05-07 02:32] un-knight commented on #2918
Hi~ @linbinskn , I meet the same problem during using `DataParallel`, and I found `QAT_Quantizer.compress()` is inherited from `Compressor.compress()` which does nothing but just return `self.bound_model`. So what is meaning by calling `quantizer.compress()` before `model.to('cuda')`? And how can I solve the problem of `RuntimeError: Expected all tensors to be on the same device, but found at leas

[2021-05-07 05:12] 1575018690 opened #3609 "When using gpu to accelerate the calculation of mnist example, an error is reported."
**Describe the issue**:

**Environment**:
- NNI version: v2.0
- Training service (local|remote|pai|aml|etc):local
- Client OS:window 10
- Server OS (for remote mode only):
- Python version:python 3.8
- PyTorch/TensorFlow version:pytorch v1.8
- Is conda/virtualenv/venv used?:conda
- Is running in Docker?:no

**Configuration**:
 - Experiment config (remember to remove secrets!):
authorName: default

[2021-05-07 05:28] 1575018690 opened #3610 "Run the mnist example with gpu, the default metric is abnormal"
**Describe the issue**:When using the GPU accelerated calculation of the mnist example, the default metric is not displayed, but when the GPU accelerated calculation is not used, the default metric can be displayed normally.

**Environment**:
- NNI version:v2.0
- Training service (local|remote|pai|aml|etc):local
- Client OS:window 10
- Server OS (for remote mode only):
- Python version:v3.8
- PyTo

[2021-05-07 05:50] SparkSnail commented on #3596
@rohin-dasari  did you fixed the issue? `Error: 404 page not found` this error seems caused by kubernetes environment, could you double check if you could run kubeflow job successfully without NNI?

[2021-05-07 05:57] SparkSnail commented on #3595
@BaptisteBrument, host machine will start restserver on 8080 and 8081 port, 8080 port is used to connect webUI, 8081 port is used to collect remote metrics. You only need to open 8081 port on host machine.

[2021-05-07 06:49] ultmaster commented on #3603
Could you give a detailed error message to show that NNI does NOT support Apple Silicon?

[2021-05-07 06:57] SparkSnail opened #3611 "V2 config need close version_check"
**Describe the issue**:
V2 config does not support setting version_check=False, but trial_runner still check versions.

**Environment**:
- NNI version: v2.2
- Training service (local|remote|pai|aml|etc): all
- Client OS: all
- Server OS (for remote mode only):
- Python version:
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?:
- Is running in Docker?: no

**Configuration**:
 - Experi

[2021-05-07 07:01] SparkSnail opened #3612 "v2 config AML start experiment error"
**Describe the issue**:
When use v2 config to start AML mode, it will throw `useActiveGpu` undefined error. V1 config is OK.
![image](https://user-images.githubusercontent.com/22682999/117410444-0071e300-af45-11eb-8c61-8bcbec046ddf.png)

**Environment**:
- NNI version: v2.2
- Training service (local|remote|pai|aml|etc): aml
- Client OS:
- Server OS (for remote mode only):
- Python version:
- PyTor

[2021-05-07 08:42] liuzhe-lz commented on #3594
It seems impossible. `0.0.0.0` is a special address and cannot be used as destination IP. Normally it either stands for "any IP" or "no IP".

[2021-05-07 10:10] ssemeniuta opened #3615 "Can't install on macOS 11"
**Describe the issue**:
Cannot install on macOS. Running `python3 -m pip install --upgrade nni` results in:

[code]

Installing other packages, e.g. numpy, works just fine. Please advice what exactly am I missing?

**Environment**:
- Client OS: Macos 11.3.1, pyenv + virtualenv for package management, python 3.8.5
nni installs correctly when using the same python setup on ubuntu 20.04

[2021-05-07 20:13] ssemeniuta commented on #3615
My mistake was forgetting to update pip with `pip install --upgrade pip`. After that nni installs without issues.

[2021-05-07 20:13] #3615 closed

[2021-05-08 08:22] 1575018690 commented on #3610
![nnierror3](https://user-images.githubusercontent.com/28533217/117532328-8b241200-b019-11eb-876d-7b33d8187144.png)

[2021-05-10 02:25] J-shang commented on #3610
Hello @1575018690, could you update NNI version to v2.2 to see if this problem still exists?  We will try to reproduce this, and update in this issue.

[2021-05-10 02:41] ultmaster opened #3620 "Improve support for custom training service"
5.14

[2021-05-10 02:43] ultmaster opened #3621 "Improve search parameters on trial detail page"
@Lijiaoa ddl: 5.21

[2021-05-10 04:11] 666XD opened #3623 "Is it posible to input a list to nni.chose()"
Hi, teams!

Recently, I try to apply the NNI annotation mode to my project, but I would like to make parameters fully control by the args.

For example:
[code]

Is it possible to do it?

[2021-05-10 09:18] un-knight opened #3626 "Some suggestions for NNI quantizer to improve support for pytorch DataParallel API"
**Describe the issue**:
It seems that NNI QAT_Quantizer doesn't support PyTorch `DataParallel` correctly, there are some suggestions for NNI to support `DataParallel` API.

## 1. Assign buffer variables with the in-place operation

https://github.com/microsoft/nni/blob/2ca227f8144f1bc2328a572017904f45afd4812d/nni/algorithms/compression/pytorch/quantization/quantizers.py#L254-L285

According to [py

[2021-05-11 01:40] creater-zq opened #3628 "gpuIndices"
**Describe the issue**:

**Environment**:
- NNI version:2.2
- Training service (local|remote|pai|aml|etc):local
- Client OS:Windows 10
- Python version:3.8.5
- PyTorch/TensorFlow version:1.7.1
- Is conda/virtualenv/venv used?:conda version 10.2
- Is running in Docker?:False

**Configuration**:
 - Experiment config (remember to remove secrets!):config.yml
authorName: default
experimentName: test_nn

[2021-05-11 05:23] JunweiSUN opened #3630 "No trial log on Windows"
In `C:\Users\sjw\nni-experiments\PUcYWEar\trials\sw4hn\run.ps1 `:
[code]

In line 11, nni use `2>&1`, which makes all logs go to stderr. So when users click the `view trial log` button on WebUI, it will display:
[code]

I think we should redirect stdout and stderr to `trial.log` and `stderr` seperately.

[2021-05-11 14:27] ichejun opened #3632 "Does AMCPruner only support 'mobilenet' and 'mobilenetv2' currently?"
Hi!
Does AMCPruner only support 'mobilenet' and 'mobilenetv2' currently? Some comments in the code are confusing：

https://github.com/microsoft/nni/blob/60983149c571840ee9db99a0dd4ebc6185c56dec/nni/algorithms/compression/pytorch/pruning/amc/channel_pruning_env.py#L88

https://github.com/microsoft/nni/pull/2876
and seems it already support resnet?https://github.com/microsoft/nni/blob/60983149c57184

[2021-05-11 19:55] sharoseali commented on #3548
Hi @ichejun i want to do same work ( speed up model with nni ) .. did u get success.. Can u share some  early  steps to put my step in . In my case i m working on yolov3 spp.. and will soon start on v5 .. any suggestions..

[2021-05-12 02:32] scarlett2018 commented on #3628
https://github.com/microsoft/nni/pull/3540
Adding error msg pr owner in to suggest.

[2021-05-12 02:59] acured commented on #3630
Hi @JunweiSUN, Seems it is not correct config for windows, which trial-command is "python3 ***".

Could you have a try with replace "python3" to "python"?

[2021-05-12 03:20] JunweiSUN commented on #3630
Got it. Seems trial.log is not written by run.ps1. Thanks @acured

[2021-05-12 03:20] #3630 closed

[2021-05-12 03:41] creater-zq commented on #3628
Thank you, but I don't quite understand your suggestion. Could you tell me more about it.

[2021-05-12 03:51] aa12356jm opened #3633 "nni pruning in pytorch error"
**Describe the issue**:
 i use nni  pruning  in pytorch to set dependency_aware=true gives error: Exception has occurred: KeyError 'backbone.model_backbone.features.18.0.module'

**Environment**:
- NNI version: 2.2
- Training service (local|remote|pai|aml|etc): local
- Client OS: ubuntu16.04
- Server OS (for remote mode only):
- Python version: 3.7
- PyTorch/TensorFlow version: pytorch 1.5.0
- Is

[2021-05-12 03:54] aa12356jm commented on #3633
[model_last_all.zip](https://github.com/microsoft/nni/files/6463253/model_last_all.zip)
this is model, please unzip the file model_last_all.zip  to get the file model_last_all.pt ,and torch.load('model_last_all.pt', map_location=device)

[2021-05-12 11:41] ichejun opened #3635 "AssertionError when runing amc pruner following the README.md."
**Describe the issue**:
Run the AMCPruner Example following the guide: https://github.com/microsoft/nni/blob/25dea8f5528be7f3f74ca2c2fa42f528f6cdd4eb/examples/model_compress/pruning/amc/README.md
But when I run the last step, an AssertionError showed up.
The logs were show at the bottom.
It seems that speed up does not support group?

**Environment**:
- NNI version: 2.2
- Training service (local|r

[2021-05-12 13:40] LicharYuan opened #3636 "Distribution Code of searching hyper-parameters"
## NNI 学生项目问题概述 / General Question of Student Program

**请简要概述您的问题 / 观点 :**
**Short summary about the question / idea :**
Hi, 在使用NNI超参搜索的时候, 比较好奇 分布式下 是怎么综合多台机器返回的结果的?  直观的想法是 Host收集机器结果, 然后实现搜索算法.
具体的源码能指个路吗? 找了半天没找到...
谢谢!

**请提供 NNI 环境信息 :**
**nni Environment :**
- nni version:999.dev0
- nni mode(local|pai|remote): remote
- OS: Ubuntu 16.04
- python version: 3.7
- is conda or virtualenv used?:

[2021-05-12 18:14] rohin-dasari commented on #3596
I was able to confirm that the namespace I am pointing NNI to does in fact exist. I will work on getting a Kubeflow job to run successfully on the namespace and get back to you.

[2021-05-12 18:50] rohin-dasari opened #3638 "NNI Config V2 Validation Failing Because of Invalid "\\t" Character"
**Describe the issue**:
I am trying to start a new NNI experiment using the v2 config, but I come across a Configuration Validation error that claims that I have, what appears to be, some sort of tab character (\\t) in my yaml file. I know that tabs are not allowed in yaml files, and I have tried explicitly replacing all tabs with spaces, but the validation still fails. The error message is shown

[2021-05-13 03:11] liuzhe-lz commented on #3638
Can you upload the config file as attachment? So I can try it on my machine.

[2021-05-13 03:24] liuzhe-lz commented on #3628
This bug will be fixed in next release.
For now you can walkaround by replacing `3` (int) with `'3'` (str).

[2021-05-13 03:42] kvartet commented on #3320
closed as it had been no response for more than three months

[2021-05-13 03:42] #3320 closed

[2021-05-13 05:25] J-shang commented on #3633
hello @aa12356jm , do you modify the mobilenetv2? I got the following error:
`ModuleNotFoundError: No module named 'nanodet.model.backbone.mobilenetv2_torchvision_QAT'`

Have you tried `dependency_aware=False`? I will check if we support mobilenetv2 with dependency_aware.

[2021-05-13 07:15] J-shang commented on #3632
Yes, it supports `resnet`. You could pull requests to modify the comments if it is convenient. : )

Because AMCPruner develops based on `mobilenet`, `mobilenetv2` open-source implementation, it is hard to expanse to other models.

[2021-05-13 09:02] aa12356jm commented on #3633
yes,i use the version mobilenetv2 for quantize training,  it is ok by set  dependency_aware=False

[2021-05-13 09:53] aa12356jm commented on #3633
我使用中文描述我的需求吧，方便一些，我现在是做一个检测模型，想把这个模型做压缩，现在使用l1filter结构化剪枝剪掉50%的kernel后,想把这些kernel为0的filter删除掉，请问modelspeedup这个函数是实现这个功能的吗？我在你们的basic_pruners_torch.py文件中使用modelspeedup后保存下来的模型大小并没有变化，请问是哪里有问题吗？谢谢

[2021-05-13 10:12] aa12356jm opened #3640 "test_code"
代码设置错误，已解决，谢谢

[2021-05-13 11:08] linbinskn commented on #3626
Very meaningful suggestions, thank you! In the following releases, we will refactor current quantizer implementation and your suggestions will be considered seriously. What's more, you can submit PR to improve current design if possible.

[2021-05-13 11:20] linbinskn commented on #3590
BN folding is in our TODO list. However, it may not be easy to add this feature. Do you think BN folding is necessary feature during QAT? If so, please tell me your reasons.

[2021-05-13 12:23] creater-zq commented on #3628
nice， thanks!

[2021-05-13 12:27] #3640 closed

[2021-05-13 14:16] rohin-dasari commented on #3638
Yes, here you go:

[config_v2.zip](https://github.com/microsoft/nni/files/6472979/config_v2.zip)

Thanks

[2021-05-14 02:29] un-knight commented on #3590
In my case, I will merge bn with convolution in order to support integer-arithmetic-only inference during deployment, so I would like to get a convolution weight scaling factor that simulates bn folding during QAT. In factor, I already support bn folding and binary op(e.g. shortcut add, concate) fake quantization simulation in my own extension for NNI, but there are some prerequisites for the inpu

[2021-05-14 02:34] aa12356jm commented on #3633
i have tried mobilenetv2 by set dependency_aware=true in basic_pruners_torch.py,  it is ok，but it is not ok  in my model by set dependency_aware=true

[2021-05-14 02:43] linbinskn commented on #3590
We will further discuss about how to add this feature into NNI QAT algorithm appropriately. We also look forward to your strategy which may contribute to NNI community.

[2021-05-14 02:54] J-shang commented on #3633
dependency_aware is an experimental feature, and complex structure may lead to failure, like the complex dependencies in shufflenet. So If it is not convenient to display the model, could you help us to find what changes in your model caused the failure?

Anyway, `dependency_aware=False` should work fine.

[2021-05-14 03:09] J-shang commented on #3610
Hello @1575018690, I have tried in a similar environment and it works well on v2.0, it looks strange that nni receives the first intermediate metric, but loses others. Could you show your trial code for reference?

[2021-05-14 03:25] SparkSnail commented on #3636
NNI collect metric result reported by trial jobs in different, and use tuner to generate new parameter.
refer: [architecture doc](https://nni.readthedocs.io/en/stable/Overview.html#overview), [trainingService code](https://github.com/microsoft/nni/tree/master/ts/nni_manager/training_service)

[2021-05-14 05:37] ZhiyuanChen opened #3641 "No error raise for wrong type of result"
**Describe the issue**:

When parsing value in `torch.tensor` with `dtype=torch.float` to `nni.report_intermediate_result` and `nni.report_final_result`, there is no Exception raised and no result recorded.

It is desired to raise a `ValueError`, or auto-convert to python float (raise a `ValueError` when cannot be converted).

**Environment**:
- NNI version:
- Training service (local|remote|pai|am

[2021-05-14 05:49] ZhiyuanChen opened #3642 "Log printed to stderr"
**Describe the issue**:

All logs are printed to stderr

**Environment**:
- NNI version:
- Training service (local|remote|pai|aml|etc):
- Client OS:
- Server OS (for remote mode only):
- Python version:
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?:
- Is running in Docker?:

**Configuration**:
 - Experiment config (remember to remove secrets!):
 - Search space:

**Log message**:

[2021-05-14 08:02] LicharYuan commented on #3636
So, NNI use TypeScript to encode different machine's Infomation and send the relative information by socket?

[2021-05-14 08:05] aa12356jm opened #3645 "Has not supported infering output shape from input shape for module/function: `prim::TupleUnpack`, .prim::TupleUnpack.152"
**Describe the issue**:

**Environment**:
- NNI version:2.2
- Training service (local|remote|pai|aml|etc):local
- Client OS:ubuntu16.04
- Server OS (for remote mode only):
- Python version:3.7
- PyTorch/TensorFlow version: torch1.8.1
- Is conda/virtualenv/venv used?:conda
- Is running in Docker?:no

[2021-05-14 09:09] ultmaster commented on #3641
Excellent! Could you submit a quick fix PR to check the type of final result?

[2021-05-14 09:26] J-shang commented on #3610
Hello @1575018690 , set `num_workers=0` in `torch.utils.data.DataLoader` may solve the problem.

[2021-05-14 09:32] J-shang commented on #3645
Thank you @aa12356jm , `model speedup` is refactoring, #3462, we will use a new approach to auto infer shape, I think it will be supported in the next version.

[2021-05-14 10:24] aa12356jm commented on #3645
can you explain the reason of the problem to me?  i speedup my model, my model consists of three parts: backbone(mobilenetv2)+fpn+head，it is ok if i speedup my backbone.  it gives the above error if i speedup backbone+fpn,
so the error is due to fpn,  but why ? thanks

[2021-05-14 13:18] SparkSnail commented on #3636
NNI use restful server to communicate between different machines, and use IPC to communicate between nniManager and tuner.

[2021-05-14 16:23] LicharYuan commented on #3636
Gotta! Help a lot! 😊

[2021-05-14 16:23] #3636 closed

[2021-05-14 16:27] andrew12678 opened #3646 "Can't run retiarii mnasnet example"
**Describe the issue**:

I try to the example shown here: `nni/examples/nas/multi-trial/mnasnet` by moving to the directory and then running `python3 search.py` and it seems like it loops through each NAS trial but doesn't train anything and exits.

I feel like this is probably down to me not setting up my environment right. Is there some sort of requirements.txt file for this?

**Environment**:
-

[2021-05-15 04:40] 1575018690 commented on #3610
thanks for your reply!
Also tried in nni v2.0, the default metric can not be displayed normally. The code is the official mnist-pytorch.

[2021-05-15 06:22] ichejun commented on #3632
@J-shang OK, thanks~ I pull request to modify the comments in https://github.com/microsoft/nni/pull/3647, and going to try other nets maybe :)

[2021-05-16 17:25] CXX1113 opened #3649 "Is the search space of model parameters for different experiments unrelated?"
**Describe the issue**:
That is, whether NNI is run like this: Suppose the first NNI experiment is forcibly terminated after completing 1/3 of the parameter search space. If we rerun the NNI experiment a second time, but instead of continuing the search from 2/3 of the remaining space, NNI again searches from the entire space.

**Environment**:
- NNI version: 2.2
- Training service (local|remote|p

[2021-05-17 01:37] ichejun commented on #3548
Hi @sharoseali , as for yolo v5, you may follow https://github.com/microsoft/nni/issues/3548#issuecomment-826269418. The comments for Q1 and Q2 may help in some one-shot pruner. I have not tried yolov3 spp yet...:)

[2021-05-17 02:32] J-shang commented on #3645
Hello @aa12356jm , `infer_from_inshape` and `infer_from_outshape` below are all our supported `infer_shape` for now, if you want to speedup your model, seems you need to add implement for `prim::TupleUnpack` in `infer_from_outshape`.

https://github.com/microsoft/nni/blob/dddf0b9efa310443a52467854dea053854f6a134/nni/compression/pytorch/speedup/infer_shape.py

[2021-05-17 05:43] zheng-ningxin commented on #3645
@aa12356jm Hi, Basically, I guess it is caused by the function whose return value is complicated(such as tuple or list of tensors). Could you please show us your code snippet of the model definition to reproduce this problem and fix it~ Thanks.

[2021-05-17 06:12] ultmaster commented on #3646
You should probably open your browser and visit `server_ip:8081` to see the WebUI.

[2021-05-17 06:15] ultmaster commented on #3649
What type of search algorithm are you using? Supposing that you are using grid search, you should be able to resume the experiment and complete the rest of search space.

[2021-05-17 07:05] aa12356jm commented on #3645
yes,  the return value of my model  is tuple/list，this is the code:
# backbone
`

    class MobileNetV2_torchvision(nn.Module):

        def __init__(self, width):
            super(MobileNetV2_torchvision, self).__init__()
            self.model_backbone = mobilenet_v2(pretrained=False, width_mult=width,num_classes=3)

        def forward(self, x):
            x1 = self.model_backbone.features[:7

[2021-05-17 07:08] #3632 closed

[2021-05-17 08:09] #3586 closed

[2021-05-18 03:21] aa12356jm commented on #3645
@zheng-ningxin @J-shang is there any progress?

[2021-05-18 06:46] zheng-ningxin commented on #3635
Hi, thanks for the valuable feedback! I tested this example on the refactored speedup(https://github.com/microsoft/nni/pull/3462) and it works fine. Please have a try when this PR merged. Thanks.

[2021-05-19 01:33] zheng-ningxin commented on #3645
@aa12356jm Yes.
If the middle layer of a model returns a tuple of tensors, there is no problem (the `Tupleunpack` will be manually expanded), if the entire model returns a tuple of tensors, at this time, because the `Tupleunpack` has no subsequent nodes, it cannot be manually expanded and is retained.  I'll submit a PR to fix this ASAP.
FYI,
![issue3645](https://user-images.githubusercontent.com/4

[2021-05-19 02:39] aa12356jm commented on #3645
@zheng-ningxin  i got it ,thanks ,  looking forward to your PR

[2021-05-19 02:45] #2771 closed

[2021-05-19 12:22] lokinfey commented on #3603
Two error about that :
 1. error: The 'websockets' distribution was not found and is required by nni
 2.
<img width="955" alt="Screen Shot 2021-05-19 at 8 15 43 PM" src="https://user-images.githubusercontent.com/4607663/118811604-c5c26000-b8df-11eb-9177-2a672c64ee81.png">

I think apple silicon devices need arm64 arch support ,  tf for apple silicon was pubished ,  I think nni  can release version

[2021-05-19 17:19] ipreetinder opened #3656 "Job management error: Converting circular structure to JSON"
**Describe the issue**:

Hi,

I am running NNI tool on AML and after some number of trial, I start to get this error

"Job management error: Converting circular structure to JSON"

NNI Manager.log
[2021-05-18 18:44:19] ERROR [ 'TypeError: Converting circular structure to JSON\n    at JSON.stringify (<anonymous>)\n    at NNIDataStore.storeTrialJobEvent (/home/<username>/miniconda3/lib/python3.8/sit

[2021-05-20 02:58] ichejun commented on #3635
@zheng-ningxin OK, really look forward to the refactored speedup. BTW, when will it be released? :)

[2021-05-20 03:11] #3633 closed

[2021-05-20 03:45] un-knight commented on #3590
In fact, I am interested in `torch.fx` features, this feature may support QAT without refactoring in model structure codes in the future.

[2021-05-20 06:20] zheng-ningxin commented on #3467
Hi all, thanks for the valuable feedback and sincerely sorry for the late reply.
There is a same issue on the `TupleUnpack`, please reference it for more details.
https://github.com/microsoft/nni/issues/3645
Thanks~

[2021-05-20 06:38] Roy-Kid commented on #3495
@J-shang Hi, I update the nni to v2.2 by `sudo pip3 install --update nni`, then the version of nni update to 2.2 but nnictl still 2.1. Thus, after I run an experiment from python, the `logDir` still leaves blank. Could you tell me how to fix this?

[2021-05-20 06:50] J-shang commented on #3495
@Roy-Kid Hello, this may due to `pip3` and `sudo pip3` called `pip3` in different locations. You could try `python3 -m pip uninstall nni` and make sure you have uninstall `nni`, then `python3 -m pip install nni`. Also, you may need `sudo pip3 uninstall nni` to uninstall the nni installed by `sudo pip3`.

By the way, why you use `sudo`?

[2021-05-20 08:52] learningelectric opened #3657 "About sklearn in nni"
Why does the sklearn example you provided not work? It has been failed.
I really feel sad about it.
please you fix this error. Thank you very much

[2021-05-20 09:30] damon-93 opened #3658 "AttributeError: 'PrunerModuleWrapper' object has no attribute 'weight'"
## NNI 学生项目问题概述 / General Question of Student Program

**请简要概述您的问题 / 观点 :**
**Short summary about the question / idea :**
* 我跑通了nni/examples/model_compress/pruning/model_prune_torch.py这个例子, 使用LevelPruner剪枝模型,但是我想将剪枝的模型保存下来,所以我在main函数中添加了保存模型的代码:

[code]
但是, 运行报错如下:
[code]
我想这个应该是我添加的代码存在问题,不是环境的问题,请您看看,感谢,十分感谢

我也尝试过将apply_compression_results(model, mask_path)这句去除,程序能运行完成,但是产生的use_mask_small_model

[2021-05-20 14:15] Roy-Kid commented on #3495
@J-shang Thanks! I fix it. Using sudo is a very bad habit and I will also fix it in the future. Thanks again for your kindly help!

[2021-05-21 03:09] CXX1113 commented on #3649
OK，I got it. Thanks!

[2021-05-21 03:09] #3649 closed

[2021-05-21 03:25] kvartet commented on #3657
These examples have no problems on my machine. Can you fill in the following template? Maybe I can help you.

**Describe the issue**:

**Environment**:
- NNI version:
- Training service (local|remote|pai|aml|etc):
- Client OS:
- Server OS (for remote mode only):
- Python version:
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?:
- Is running in Docker?:

**Configuration**:
 - Experim

[2021-05-21 03:36] kvartet opened #3659 "Some file was closed twice in Windows pipe"
**Describe the issue**:

![image](https://user-images.githubusercontent.com/48014605/119078458-d3373180-ba28-11eb-8745-5edf66269683.png)

**Environment**:
- NNI version: 2.2
- Training service (local|remote|pai|aml|etc): aml
- Client OS: Windows

[2021-05-21 03:37] kvartet commented on #3659
will be fixed in NNI v2.3

[2021-05-21 04:11] J-shang commented on #3658
@damon-93 Hello, try this may work, but I think will also meet other error:

[code]

And seems your code is the old version, you could update nni version and nni example code.

The model uses 'PrunerModuleWrapper' to simulate the pruning effectiveness, so the model will bigger the origin. And after speedup, the model will be real pruned. Because in your code the model is a wrapped model, so it is

[2021-05-21 05:58] #3611 closed

[2021-05-21 05:59] #3612 closed

[2021-05-21 07:37] suyashhchougule commented on #2225
hi @misslibra which pytorch version were you using for L!filterpruner ?  I am having import error with pytorch 1.8.1 .

[2021-05-21 09:24] creater-zq opened #3660 "SyntaxError: EOL while scanning string literal"
**Describe the issue**:

**Environment**:
- NNI version: 2.2
- Training service (local|remote|pai|aml|etc):local
- Client OS:Windows 10
- Server OS (for remote mode only): Windows 10
- Python version: 3.8.10
- PyTorch/TensorFlow version: 1.8.1+cu102
- Is conda/virtualenv/venv used?: yes
- Is running in Docker?: no

**Configuration**:
 - Experiment config (remember to remove secrets!):
 authorName:

[2021-05-21 09:55] BaptisteBrument opened #3661 "tensorflow GPU inside docker"
**Environment**:
- NNI version: 2.1
- Python version: 3.6.9 (default version in the image)
- PyTorch/TensorFlow version: Tensorflow 2.3.1 (default version in the image)
- Is conda/virtualenv/venv used?: no
- Is running in Docker?: yes

Hello,

I am currently working with NNI and I wanted to try some of the nas algorithms.
I want to be able to use the gpu in order to speed up the process.

I am usi

[2021-05-22 03:06] sergiogcharles commented on #3658
Hi there, I'm getting a similar error using the `LotteryTicketPruner`.

Don't you still have to use apply_compression_results to multiply the weights by the corresponding mask?

[2021-05-22 09:03] Emma0120 commented on #1919
I have the same issue and 'nvidia-smi' command work well in my environment

[2021-05-22 11:01] FTdiscovery commented on #3658
Seconded here. I ran basic_pruners_torch.py (https://github.com/microsoft/nni/blob/af929fdb848092a7b225a498e6d82d82cf6babfa/examples/model_compress/pruning/basic_pruners_torch.py) on the other pruners and added compatibility for the `LotteryTicketPruner`, but reached the same issue as stated above.

<img width="1238" alt="Screenshot 2021-05-22 at 3 50 58 AM" src="https://user-images.githubusercont

[2021-05-22 15:35] #3573 closed

[2021-05-23 08:15] songqiqqq commented on #3591
Any Update?

[2021-05-23 14:43] sharoseali commented on #3066
hi i upgrade my nni with verion 2 its, giving me same error when i run MNIST basic example to check if mt nni is working or not.
When i build using this command , following is the error
[code]
when i run the command `**nnictl create --config nni/examples/trials/mnist-pytorch/config.yml**`
its an output:
`ERROR: [Errno 2] No such file or directory: 'node': 'node'`

[2021-05-23 18:09] sharoseali commented on #3548
@ichejun For Q2 where i have to make changes , that you wrote and for pruning what exactely parameters and py files I have to run

**Q2.About pruning the yolov5 without "Detect layer". My current approach is to put the convolution starting from the 3 detection heads as the exclude parameter in the prune configuration parameters:** these ones below ?

`
    config_list = [{
        'sparsity': 0.03

[2021-05-24 09:07] ultmaster commented on #3660
This could have been fixed in this release. Could you try again by installing from master branch?

[2021-05-24 10:03] sharoseali commented on #2679
@zcx-language  seems that you did work on yolov5 with nni, i want to ask a little favour , can you please guide, how can i make my custom trained yolov5 foe pruning and finetuning using nni. thanks in advance. I tried with my yolov5 weights.
 `python3 basic_pruners_torch.py --pruner slim --pretrain-epochs 1 --fine-tune-epochs 1 --model models/yolov5_best.pt --sparsity 0.7`

`usage: basic_pruners_t

[2021-05-24 11:00] CXX1113 opened #3666 "Why do some places on the curve have dots and some don't?"
Only the data of the dot can be accessed by the mouse, but not by the dot. It makes me very confused.

**Describe the issue**:
Here is an example(TPE method)：
![5BEF809CE39B495B8DF2744E065C3DA9](https://user-images.githubusercontent.com/28216384/119337790-d00aa280-bcc1-11eb-8d78-779e2a194153.jpg)

**Environment**:
- NNI version: 0.2
- Training service (local|remote|pai|aml|etc): local
- Client OS:

[2021-05-25 09:00] #3585 closed

[2021-05-25 09:18] J-shang opened #3669 "iterative pruner follow-up"
Need follow-up:
* ~check compression doc and update expired content.~
* ~`TaylorFOWeightFilterPruner`, `ActivationAPoZRankFilterPruner`, `ActivationMeanRankFilterPruner` check these pruners if need multi-epoch training. (Workaround by batch, need refactor)~
* ~`SlimPruner` check if we need support multi-iteration.~
* `AutoCompressPruner` `ADMMPruner` `SimulatedAnnealingPruner` check the relationsh

[2021-05-25 09:21] seoha-kim opened #3670 "Problem with permission denied in kubflow-nfs mode"
**Describe the issue**:

**Environment**:
- NNI version: 2.2
- Training service (local|remote|pai|aml|etc): kubeflow
- Client OS: ubuntu 18.04
- Server OS (for remote mode only): ubuntu 18.04
- Python version: 3.6.8
- PyTorch/TensorFlow version: torch '1.8.1+cu102'
- Is conda/virtualenv/venv used?: conda
- Is running in Docker?: yes

**Configuration**:
 - Experiment config (remember to remove secr

[2021-05-25 09:23] J-shang commented on #3658
@damon-93 @sergiogcharles @FTdiscovery
Sorry for I lose `apply_compression_results()` in the above code. And I corrected the code.

[code]

[2021-05-25 12:19] #3583 closed

[2021-05-25 16:03] CXX1113 opened #3671 "[Need more info] How to adjust parameters in k-fold cross validation by NNI?"

[2021-05-26 06:08] ZhiyuanChen commented on #3641
Sure thing

[2021-05-26 07:50] #3621 closed

[2021-05-26 09:08] JoyFYan commented on #3591
My code can run without error on version 2.1. But raise the same ValueError when use annotation.

[2021-05-26 14:23] kvartet commented on #3666
To be honest, I don't fully understand what you mean. Are you saying that you can click on the small dots to access the detailed information of the trial, but you can’t click on other positions on the curve? Can you describe your problem again? Of course, Chinese is okay. Maybe @Lijiaoa can offer you help.

By the way, your NNI version is outdated. In the process of continuous evolution, NNI suppo

[2021-05-26 14:55] kvartet commented on #3656
will be fixed in NNI v2.3, please look forward to it~

[2021-05-26 14:58] kvartet commented on #3661
NNI will update docker image dependencies recently, I'll let you know as soon as possible~

[2021-05-27 00:36] kurucan opened #3685 "Support for a Optuna framework?"
Any plans to support Optuna hyperparameter optimization framework?

[2021-05-27 02:05] duchengyao opened #3686 "RuntimeError: unsupported operation type: LayerChoice ? None"
**Describe the issue**:

When trying to run [Pure-python execution engine](https://github.com/microsoft/nni/pull/3605/) by the following code:

[code]

an error raised:

[code]

I found the [to_forward_code](https://github.com/microsoft/nni/blob/e85f029bd4e4b1bdf3e679893fb6447e4d6b2c79/nni/retiarii/operation.py#L137) function seems to be always `RuntimeError`.

[code]
Is this function to be not fi

[2021-05-27 02:09] ultmaster commented on #3686
You don't need codegen for python execution engine.

And this is not what we expect most users would do. See the source code of py engine and tests if you insist on doing all the hacking staff.

[2021-05-27 02:14] duchengyao commented on #3686
Thanks so much!

[2021-05-27 02:14] #3686 closed

[2021-05-27 02:26] aa12356jm commented on #3645
code for debug

`

    import torch,time
    from nni.compression.pytorch.utils.counter import count_flops_params

    import nni
    from nni.compression.pytorch import apply_compression_results, ModelSpeedup

    device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
    model_dir = '/home/notebook/code/personal/study_deeplearning/nanodet-main-new-fa45577/nanodet-main-fpn/tools/de

[2021-05-27 05:35] #3587 closed

[2021-05-27 07:08] #3620 closed

[2021-05-27 07:32] #3141 closed

[2021-05-27 09:58] J-shang commented on #3669
* Automatically find sparsity?
* all masker need to check if related to pruner and if need refactor

[2021-05-27 14:50] ZhiyuanChen opened #3691 "`useActiveGpu` in v2 config"
**Describe the issue**:

When you are using `aml` for training service,

if you set `useActiveGpu` it says:
[code]

if you do not set `useActiveGpu`, there would be a `nnictl_stderr` of no `useActiveGpu`

hard code line 92 at `nni_node/training_service/reusable/environments/amlEnvironmentService.js` as
[code]
is a temporary solution

**Environment**:
- NNI version: 2.2.0
- Training service (local|

[2021-05-27 15:06] ipreetinder commented on #3656
Thanks for the update. When is NNI 2.3 getting released?

[2021-05-27 15:51] ZhiyuanChen opened #3692 "AzureBlob is not working at all"
**Describe the issue**:

**Environment**:
- NNI version: 2.2.0
- Training service (local|remote|pai|aml|etc):
- Client OS:
- Server OS (for remote mode only):
- Python version:
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?:
- Is running in Docker?:

**Configuration**:
 - Experiment config (remember to remove secrets!):
 - Search space:

**Log message**:
 - nnimanager.log:
 - dispa

[2021-05-27 16:58] #3691 closed

[2021-05-28 01:19] #3584 closed

[2021-05-28 06:01] shiyf369 opened #3697 "Can we set default values of hyper parameters for HPO?"
Because we know some default configuration can reach good accuracy, we want to use these default configuration as startup parameters.
How do we set it? Thank you.

[2021-05-28 08:35] ultmaster commented on #3671
Would you elaborate on your problem? What parameters on what k-fold cross validation?

[2021-05-28 08:42] Lijiaoa commented on #3666
@CXX1113 We connect these points to see the trend, so only the dots could be accessed by the mouse.

[2021-05-28 09:10] SparkSnail commented on #3670
NNI does not have permission to access `/tmp/mount` folder, how do you mount your nfs server? Not sure if this is your user account/group issue, did you tried create a file under the folder manually?

[2021-05-29 03:25] seoha-kim commented on #3670
Yes i created /tmp/mount folder manually
I mounted nfs server with command
mount (nfs server ip):/(nfs_folder) /(mounted folder) with rw, sync, insecure, no_subtreecheck, root_squash option

[2021-05-29 03:58] seoha-kim commented on #3670
it is not mounted at /tmp/mount, /home/user/data folder.. shoud i mount at /tmp/mount folder again?

[2021-05-29 08:07] ZhiyuanChen commented on #3692
There have been multiple fixes related to this, such as https://github.com/microsoft/nni/commit/dc54f4add0ea1837be0a14f353cf6bcf6e68bb95#diff-565ba57b03353e31298a41ef4ee74afbd0099281ff6cb0a9ac43d1e3d277c7f3, https://github.com/microsoft/nni/commit/817ec68b3778c96443b5da7a24f468a8eff7f3fa#diff-d1bcf072e272393fb78e9a25195dc53b8e6aa9b16e234d73b9893048cc0b428b, etc.
Can I ask if there is an expected d

[2021-05-30 11:01] 666XD opened #3698 "v2 config valid fail ('OpenpaiConfig: trial_cpu_number is not set')"
**Describe the issue**:

Using v2 config on pai and get the following error.
`ERROR: Config V2 validation failed: ValueError('OpenpaiConfig: trial_cpu_number is not set')`
`ERROR: 'NoneType' object has no attribute 'get'`

But I can't find a way to set the trial CPU number on v2 config.

**Environment**: ubuntu 18
- NNI version: 2.2
- Training service (local|remote|pai|aml|etc): pai
- Python versi

[2021-05-31 02:01] kim-seoha commented on #3670
I tried to mount the /tmp/mount folder again, but the same error appears. @SparkSnail

[2021-05-31 02:49] scarlett2018 commented on #3692
@liuzhe-lz

[2021-05-31 02:51] scarlett2018 commented on #3685
investigation needed. @kurucan - are you using Optuna HO framework today? how are you seeing it been supported by NNI?

[2021-05-31 02:52] ultmaster commented on #3581
# Endgame

## Tests

- [ ] Auto compression (#3631) Bin
- [ ] DNGO tuner (#3479) Yuge
- [ ] Model compression e2e example (#3507) (#3688) Ning
- [ ] Track trial stdout (#3690) (#3653) Yuge
- [ ] Support for 3rd-party training service (#3662) Shinai
- [ ] Tensorflow slim pruner (#3614) Ning
- [ ] HPO benchmark (#3644) Ayan
- [ ] Improved search parameters on trial detail page (#3651) Yuge
- [ ] Rep

[2021-05-31 03:44] SparkSnail commented on #3670
I see, this `/tmp/mount` folder is created in container by kubernetes, and nfs path is mounted into container by volumeMounts, [refer](https://github.com/microsoft/nni/blob/master/ts/nni_manager/training_service/kubernetes/kubeflow/kubeflowTrainingService.ts#L440).
Suggest to submit a kubeflow job setting NFS volumeMounts without NNI to debug, and check if the mounted folder in container has RW pe

[2021-05-31 05:56] kvartet commented on #3530
fixed in #3634, so closing this issue.

[2021-05-31 05:56] #3530 closed

[2021-06-01 03:05] QuanluZhang commented on #3685
@kurucan , which part of Optuna do you want to be supported by NNI, the tuning algorithms in Optuna?

[2021-06-01 03:16] QuanluZhang commented on #3697
@shiyf369 , this is a very good feature request. currently, we have not supported specifying initial configurations yet. I have two proposals for this feature request. first, providing a new field in experiment config yaml file, e.g., `initial_trial_configs` which is list of trial configurations. These configurations must be included in the specified search space. Second, adding another field for

[2021-06-01 04:31] ultmaster opened #3706 "Upgrade minimum requirements of node and python"
python >= 3.7
node >= 12

[2021-06-01 09:57] JanikPi opened #3710 "NNI.Experiment; Optimization mode gets internally set to 'maximize' when working on remote device"
**Describe the issue**: Im fairly new to programming and NNI so maybe Im missing something. I want to launch NNI via script from python using nni.experiment. When Im working on my local machine everything seems to work well. But if i start NNI locally using a remote-desktop tool (still using training_service='local') the optimize_mode from exp.config.tuner.class_args['optimize_mode'] seems to alwa

[2021-06-02 02:44] ultmaster commented on #3710
This seems to be a WebUI issue. @Lijiaoa please follow.

[2021-06-02 02:46] ultmaster commented on #3698
You can set `trialCpuNumber` in `trainingService`. It's missing in docs. We will update soon.

[2021-06-02 03:50] 666XD commented on #3698
It's worked!  Thanks!

And I found that
* `localStorageMountPoint`
* `trial_memory_size`
* `storage_config_name`

are also request for PAI mode, or it will fail on the validation part, but it does not appear in the docs too.
And what does `localStorageMountPoint` used for?

Besides, `nniManagerStorageMountPoint` seens not working correctly.
I get this message
`ERROR: Config V2 validation failed: V

[2021-06-02 06:54] ilyanelken opened #3714 "Tensorflow support for misc. pruning algorithms"
Hi,

I see that almost all the pruning algorithms are supported for PyTorch.
When there will be support for TF?

Thanks,
Ilya

[2021-06-02 09:20] zhengqinwen95 opened #3717 "No content of default metric in web UI"
**Describe the issue**:
 I run my code in a server container,  as shown below.

`nvidia-docker run   -w /home/work \
                    -v xxx/nni:/home/work/nni \
                    -p 8125:8125 \
                    -p 51188:51188 \
                    -it xxx/nni_slim:test-0.0.6 /bin/bash`

`nnictl create -c /home/work/nni/examples/trials/mnist-pytorch/config.yml -p 8125`

Find no content in

[2021-06-02 11:00] coooffee opened #3718 "quantizers don't override compress(), so how do they work?"
**Describe the issue**:
    quantizers' usage like this:

    quantizer = QAT_Quantizer(model, configure_list, optimizer)
    quantizer.compress()

    but the compress() doesn't impleted in QAT_Quantizer or DoReFa or other quantizers, so how do the quantizers work?

 thx a lot.

[2021-06-03 04:10] kvartet commented on #3656
the target date is 6.9

[2021-06-03 04:11] liuzhe-lz commented on #3698
Sorry the doc is outdated. We are updating it now. For a fast example, trial memory size can be "8gb" or "8192MB" or similar.
localStorageMountPoint is the mount point of NFS storage on local machine. This is the old nniManagerMountPoint.

[2021-06-03 05:24] liuzhe-lz commented on #3714
Currently we don't have enough devs working on TensorFlow support, so the progress will be relatively slow.
You can suggest the algorithm you most want to try, and we will put it on higher priority.

[2021-06-03 08:06] kim-seoha commented on #3670
![image](https://user-images.githubusercontent.com/79685160/120609001-bec55100-c48c-11eb-96f0-d04352dac38c.png)

current /etc/exports option in nfs server

and the results of ls -al are as below (nfs server)
![image](https://user-images.githubusercontent.com/79685160/120609484-2b405000-c48d-11eb-86c3-07e8388c2244.png)
![image](https://user-images.githubusercontent.com/79685160/120609531-372c1200-c

[2021-06-03 09:05] #3718 closed

[2021-06-03 09:50] SparkSnail commented on #3717
Could you start your experiment using `nnictl create --debug` , and upload nniManager.log here?

[2021-06-03 12:19] Lamply commented on #2001
Really need this feature. It's too hard to use NNI in private training platform.

[2021-06-03 23:58] QuanluZhang commented on #2001
[`nnictl experiment save/load`](https://nni.readthedocs.io/en/stable/Tutorial/Nnictl.html#experiment) should meet your requirement. You can save the experiment executed in the private training platform, download the saved, and load it in your local machine. then use [`nnictl view`](https://nni.readthedocs.io/en/stable/Tutorial/Nnictl.html#view) to view your experiment in local.

[2021-06-04 05:02] zhengqinwen95 commented on #3717
[nnimanager.log](https://github.com/microsoft/nni/files/6595864/nnimanager.log)

[2021-06-04 05:03] zhengqinwen95 commented on #3717
[nnimanager.log](https://github.com/microsoft/nni/files/6595868/nnimanager.log)

[2021-06-04 05:18] kvartet commented on #2364
Seems it had been merged, so I closed this issue. Feel free to reopen it.

[2021-06-04 05:18] #2364 closed

[2021-06-04 05:35] kvartet opened #3724 "NNI 2021 June~July Iteration Planning"
This is the plan for the iteration in June~July Iteration, it's a 6 weeks iteration.

# Release Plan for v2.4
- Release manager: @QuanluZhang
- Feature freeze date: July 14
- Code freeze and demo date: July ~21~ ~23~ 26
- Branch cut and next release planning date: ~July 28~ August 2
- Release date: August ~2~ ~4~ 11

### Retiarii & NAS

- [x] P0 - NAS visualization
  - [x] trial detail/content re-

[2021-06-04 07:26] liuzhe-lz commented on #3661
Master branch has updated. Expected to fix in v2.3 release next week.

[2021-06-04 07:27] liuzhe-lz commented on #3638
Yaml library has been updated. Expected to be fixed in v2.3 release next week.

[2021-06-04 07:28] liuzhe-lz commented on #3591
Expected to be fixed in v2.3 release next week.

[2021-06-04 07:31] liuzhe-lz commented on #3628
Expected to be fixed in v2.3 release next week.

[2021-06-04 07:41] J-shang commented on #3669
* Refactor `compress()` in `IterativePruner`.
* `Slim`, `TaylorFOWeightFilterPruner`, `ActivationAPoZRankFilterPruner`, `ActivationMeanRankFilterPruner` need real iterative.
* Add full test (l2filter, Taylor, NetAdapt, SimulatedAnnealing, AutoCompress, AMC, Sensitivity, ADMM, Lottery Ticket)

[2021-06-04 08:30] J-shang commented on #3669
* iterative -> (apply sparsity rate to layer & pruning) / (pruning by other conditions)

[2021-06-04 09:26] BaptisteBrument commented on #3661
That is good news, Thank you.

[2021-06-04 14:47] Dannypung opened #3728 "add_argument in NNI"
**Describe the issue**:

parser.add_argument('--tolerance',type=int,default=100,help='tolerance for earlystopping')

If my parameters are set this way, can I search for better parameters directly as shown in the example ？If not, how do I change the code？THX

[2021-06-06 03:04] shiyf369 commented on #3697
Thank you for your reply.  Our requirement is very simply. The hyper parameters can be assigned a default value, NNI run the default value first in trials.

For example, the "learning_rate" can be assigned a default value 0.008.
{
    "learning_rate": {"_type": "uniform", "_value": [0.0001, 0.1], "_default_value": 0.008}
}

[2021-06-07 02:37] ultmaster commented on #3728
Yes. Please follow the example. You can overwrite the args with the parameters got from `nni.get_next_parameter()`.

[2021-06-07 05:58] SparkSnail commented on #3717
There is no [`Sending metrics`](https://github.com/microsoft/nni/blob/master/ts/nni_manager/training_service/local/localTrainingService.ts#L482) log information in log file, there should be some unknown issue when nodejs listen file in this container, it may caused by OS issue.
For workaround here, you could use `remote` mode to start experiment, set remoteIp as 127.0.0.1 to connect machine. In re

[2021-06-07 06:06] SparkSnail commented on #3670
I didn't find issue in your nfs command, I think you should check if kubernetes could mount your NFS server into container using NFS volumeMounts successfully. https://kubernetes.io/docs/concepts/storage/volumes/#nfs

[2021-06-07 07:14] Lijiaoa commented on #3710
@JanikPi Thanks for reportering this issue. It is webui bug and will be fixed on `v2.5`.

[2021-06-08 02:32] QuanluZhang commented on #3724
From Ali PAI team
- [ ] global sort, importance sort on all layers
- [ ] QAT improvement, PTQ initialization (set scale, zero point), post-training quantization
- [ ] new model compression algorithms (e.g., Bert), model-specific compression (not that generic), sparsifying training and sparsifying operator

[2021-06-08 04:51] seoha-kim commented on #3670
I think that kubernetes could mount nfs server and use nfs volume successfully
because kubeflow mounted nfs folder normally and experiment with katib completed without any problems...
I want to use nni rather than katib becuase nni has better search algorithm...
I tried exporting my nfs server with root_squash option and mouting /tmp/mount folder at my nfs client ...
but it results in same problem

[2021-06-08 09:48] FinderSerg opened #3734 "Early trial stop based on some time limit"
**What would you like to be added**:
Max time a trial can run after which it would be terminated.
[code]

**Why is this needed**:
Some of the parameters sets takes a lot more time to evaluate than other and it would be nice to have possibility to terminate them based on some time limit to check more other sets in given time.

**Without this feature, how does current nni work**：
It takes a lot of t

[2021-06-08 12:05] kvartet commented on #3659
closed as it had been fixed in #3729

[2021-06-08 12:05] #3659 closed

[2021-06-08 17:18] rmfan opened #3739 "Add some way of prepending the url prefix value to all of the included static files, etc."
**What would you like to be added**:

Right now there is a flag `--url_prefix` to have the UI be available at `http://<ip>:<port>/<url_prefix>`. I would also like some way for the UI's dependent javascript, css, etc files to be located at `http://<ip>:<port>/<url_prefix>/static` instead of `http://<ip>:<port>/static`. This may be similar to Tensorboard's `--path_prefix` flag.

**Why is this needed

[2021-06-09 02:54] Lijiaoa commented on #3739
Hi, @rmfan
We support `prefix` on nni `v2.3`.  you could start an experiment by `nnictl create ... --url_prefix yourPrefix` and the webui webportal is `http://<ip>:<port>/yourPrefix/oview`. It will be released soon.

[2021-06-09 03:05] #3734 closed

[2021-06-09 03:37] liuzhe-lz commented on #3739
Thanks for your report. But seems we are too late for v2.3 release.
For now I suggest to workaround by copying static files to reverse proxy's path and add a special rule. All NNI experiments should share same static files.
We will fix this in v2.4.

[2021-06-09 06:55] #3301 closed

[2021-06-09 07:06] #1917 closed

[2021-06-09 07:13] Lijiaoa opened #3746 "Experiment list could not open experiment with prefix"
**Describe the issue**:

could not open the experiments that set prefix, because this list has not store prefix value.

![image](https://user-images.githubusercontent.com/61399850/121309590-f0c72f00-c934-11eb-853f-9acba11e2c37.png)

**Environment**:
- NNI version: master(v2.3)
- Training service (local|remote|pai|aml|etc):
- Client OS:
- Server OS (for remote mode only):
- Python version:
- PyTorc

[2021-06-09 07:25] #3728 closed

[2021-06-09 07:43] scarlett2018 commented on #3671
@CXX1113 - can you make your question more clear by answering @ultmaster 's further clarifications? thanks.

[2021-06-09 07:46] #3666 closed

[2021-06-09 07:49] #3594 closed

[2021-06-09 07:50] #3592 closed

[2021-06-09 07:53] #3542 closed

[2021-06-09 07:56] #3553 closed

[2021-06-09 08:04] #3537 closed

[2021-06-09 08:05] #3535 closed

[2021-06-09 08:08] #2525 closed

[2021-06-09 08:10] scarlett2018 commented on #3486
@SparkSnail - do you need more info or log from @Roy-Kid ?

[2021-06-09 08:32] scarlett2018 commented on #3493
@chenbohua3 / @linbinskn / @ultmaster - has the above fixed got in the recent candidate release?

[2021-06-09 08:35] scarlett2018 opened #3756 "Does NNI support distributed search?"
Does NNI support distributed search?

_Originally posted by @zhanghang1989 in https://github.com/microsoft/nni/issues/3483#issuecomment-832874012_

[2021-06-09 08:35] #3483 closed

[2021-06-09 08:40] #3370 closed

[2021-06-09 08:43] scarlett2018 commented on #3373
@liuzhe-lz - just to double check, this is supported in the released v2.1 and later versions? thanks.

[2021-06-09 08:43] #3418 closed

[2021-06-09 08:44] scarlett2018 commented on #3427
@J-shang - this is to double check the fix has been released in v2.1 and later releases. if so, we can close this issue.

[2021-06-09 08:45] #3469 closed

[2021-06-09 08:46] #3468 closed

[2021-06-09 08:47] #3429 closed

[2021-06-09 08:49] scarlett2018 commented on #2756
@QuanluZhang @zheng-ningxin - ping to check the latest status of this fix.

[2021-06-09 08:50] scarlett2018 commented on #2667
close the issue as there are no further inquiry or discussion for long time.

[2021-06-09 08:50] #2667 closed

[2021-06-09 08:53] scarlett2018 commented on #2332
closing as speedup tool has been provided in previous release.

[2021-06-09 08:53] #2332 closed

[2021-06-09 08:54] scarlett2018 commented on #2591
@QuanluZhang - with the release of Retiarii, I suppose this ability is enabled. may we close this issue?

[2021-06-09 08:55] #2932 closed

[2021-06-09 08:56] scarlett2018 commented on #3200
@zheng-ningxin / @twmht - may I know the latest status of this issue? thanks.

[2021-06-09 08:57] QuanluZhang commented on #2591
yes, this ability will be supported in v2.3

[2021-06-09 08:57] scarlett2018 commented on #3318
@zheng-ningxin - would you mind share the latest status of this issue? thanks!

[2021-06-09 08:58] J-shang commented on #3527
The first way is using `apply_compression_results` https://nni.readthedocs.io/en/stable/Compression/Tutorial.html#export-compression-result

Or just
[code]

The speedup error can refer this: https://github.com/microsoft/nni/issues/assigned/J-shang

[2021-06-09 09:00] #3756 closed

[2021-06-09 09:03] J-shang commented on #3427
@scarlett2018 yes, this feature has released in v2.1 and this issue can be closed.

[2021-06-09 09:03] #3427 closed

[2021-06-09 09:06] #83 closed

[2021-06-09 09:44] #537 closed

[2021-06-09 09:46] #687 closed

[2021-06-09 09:47] #1301 closed

[2021-06-09 09:48] #721 closed

[2021-06-09 09:48] #878 closed

[2021-06-09 09:50] #919 closed

[2021-06-09 09:51] scarlett2018 commented on #930
popping up to know the status.

[2021-06-09 09:59] #983 closed

[2021-06-09 10:00] scarlett2018 commented on #1165
@QuanluZhang - i believe this is supported with #2287, right?

[2021-06-09 10:01] #1205 closed

[2021-06-09 10:02] #1300 closed

[2021-06-09 10:03] #1484 closed

[2021-06-09 10:04] #1573 closed

[2021-06-09 10:05] #1566 closed

[2021-06-09 10:08] #1371 closed

[2021-06-09 10:09] #1442 closed

[2021-06-09 10:09] #1530 closed

[2021-06-09 10:09] #1587 closed

[2021-06-09 10:10] #2392 closed

[2021-06-09 10:10] #2359 closed

[2021-06-09 10:11] #2112 closed

[2021-06-09 10:11] #1725 closed

[2021-06-09 10:12] #1626 closed

[2021-06-09 10:33] potoo0 commented on #3276
- windows 10
- python 3.8
 could install `ruamel.yaml` to solve this:
[code]

[2021-06-09 12:14] #2591 closed

[2021-06-10 01:17] scarlett2018 commented on #1752
@LuckGuySam @cjissmart @QuanluZhang @SparkSnail - Has the problem been solved？

[2021-06-10 01:19] scarlett2018 commented on #3380
@qfyin @liuzhe-lz - Has the problem been solved? may we close the issue? thanks.

[2021-06-10 01:20] scarlett2018 commented on #3516
@SicleBoypy - Has the problem been solved?

[2021-06-10 01:24] scarlett2018 opened #3786 "SMAC trial waiting problem"
Hello all,

I have the same issue when I try to use grid search to get the best choice of parameters for Efficientnet-v2-M on my own datasets. When I used a small amount of data, everything went all right, all 15 trials succeeded:
![image](https://user-images.githubusercontent.com/64100948/116514830-2290b300-a8fe-11eb-9775-cd9b8a057402.png)

However, when I tried to use more data, 7 trials succeed

[2021-06-10 01:25] scarlett2018 commented on #3451
as the original problem has been resolved, closing this issue and opening a new issue for the latest comment in #3786

[2021-06-10 01:25] #3451 closed

[2021-06-10 01:28] scarlett2018 commented on #2243
@c-h-j  @ragavvenkatesan - ping to check whether this is still a problem on your side, thanks.

[2021-06-10 01:30] #2001 closed

[2021-06-10 01:32] #3495 closed

[2021-06-10 01:32] #2587 closed

[2021-06-10 01:34] #2933 closed

[2021-06-10 01:36] #2096 closed

[2021-06-10 01:39] #3548 closed

[2021-06-10 01:43] scarlett2018 commented on #2343
@Amoukk @SkyloveQiu - are you still seeing the problem? thanks.

[2021-06-10 01:47] #2851 closed

[2021-06-10 01:48] #1529 closed

[2021-06-10 01:49] #1803 closed

[2021-06-10 01:50] scarlett2018 commented on #3066
@liuzhe-lz any suggestion?

[2021-06-10 01:51] scarlett2018 commented on #3236
@liuzhe-lz @kvartet - has this one been released in 2.x? thanks.

[2021-06-10 01:52] #2446 closed

[2021-06-10 01:52] twmht commented on #3200
@scarlett2018

I replace the the convolution layer with `nn.Identity` if the whole layer is masked out. But I did not submit the PR yet.

[2021-06-10 01:53] #3459 closed

[2021-06-10 01:54] #2849 closed

[2021-06-10 01:55] #2858 closed

[2021-06-10 01:58] scarlett2018 commented on #3177
closing as the problem has been fixed.

[2021-06-10 01:58] #3177 closed

[2021-06-10 01:59] #3405 closed

[2021-06-10 02:00] #3520 closed

[2021-06-10 02:01] #3529 closed

[2021-06-10 02:02] #3658 closed

[2021-06-10 02:03] zheng-ningxin commented on #3200
@twmht  Thanks for the reminding, we should replace the `conv` with `identity` when the whole conv layer is masked out. Due to the speedup is under refactoring, you can submit you PR when this [PR](https://github.com/microsoft/nni/pull/3462) is merged. Thanks.

[2021-06-10 02:03] scarlett2018 commented on #2056
@kvartet @J-shang - is this a bug?

[2021-06-10 02:05] scarlett2018 commented on #3717
@zhengqinwen95 - had you tried this suggestion? does it work for you? may we close the issue? thanks.

[2021-06-10 02:06] #3714 closed

[2021-06-10 02:07] #3698 closed

[2021-06-10 02:08] #3697 closed

[2021-06-10 02:09] #3685 closed

[2021-06-10 02:10] #3671 closed

[2021-06-10 02:11] zheng-ningxin commented on #2756
@scarlett2018  Same issue with [link](https://github.com/microsoft/nni/issues/3645). Please refer this [issue](https://github.com/microsoft/nni/issues/3645) for more details.

@xuezu29  I have fix this in the [refactored speedup](https://github.com/microsoft/nni/pull/3462), please have a try when this pr merged, or you can clone the corresponding branch and compile the NNI manually. Please let me

[2021-06-10 02:13] scarlett2018 commented on #3657
Closing as we can not reproduce the issue, @learningelectric .  Feel free to reopen if you are able to reproduce it, thanks.

[2021-06-10 02:13] #3657 closed

[2021-06-10 02:15] #2756 closed

[2021-06-10 02:17] #3606 closed

[2021-06-10 02:21] ultmaster commented on #3710
fixed in #3731

[2021-06-10 02:21] #3710 closed

[2021-06-10 02:33] kvartet commented on #3656
had fixed in #3705, so I close this issue, free feel to reopen it.

[2021-06-10 02:33] #3656 closed

[2021-06-10 02:44] kvartet commented on #3660
hello @creater-zq, this had been fixed in #3634, but what made your experiment failed is not this error. Can you try again by installing from master branch or waiting for v2.3 release?

[2021-06-10 05:16] J-shang commented on #2056
@scarlett2018 It‘s hard to reproduce and I think this may not a bug right now, we have not encountered this
problem in recent versions, this might due to dispatcher exit in an unexcept way in old version.

[2021-06-10 05:35] kvartet commented on #2056
@dsindex Can you upgrade to the latest version and try again?

[2021-06-10 05:52] J-shang commented on #3533
Hi, @ZexinYan
Here has a similar issue https://github.com/microsoft/nni/issues/3645 for your reference, and this issue will be fixed in pr https://github.com/microsoft/nni/pull/3462. You could have a try when this pr merged, or clone this branch then install and try.

[2021-06-10 06:32] kvartet commented on #3236
@maxxx580 @scarlett2018 - this feature had been released in v2.1, so I'm closing this issue, feel free to reopen it.

[2021-06-10 06:32] #3236 closed

[2021-06-10 06:41] kvartet commented on #3486
hello @Roy-Kid , seem it had been fixed in the previous version, could you upgrade the NNI version and try again? Thank you :)

[2021-06-10 06:51] zhengqinwen95 commented on #3717
I will try this method, you can close this issue, thanks for your help.

[2021-06-10 06:55] #3717 closed

[2021-06-10 06:58] kvartet commented on #3276
To avoid this issue, NNI substitutes ``ruamel.yaml`` with PyYAML in pr #3702, which will be released in v2.3.

[2021-06-10 07:00] #3276 closed

[2021-06-10 08:05] SkyloveQiu commented on #2343
@scarlett2018 We decided to use WSL for that, the problem was resolved by using wsl

[2021-06-10 08:22] #2343 closed

[2021-06-10 08:26] kvartet commented on #3628
hello @creater-zq, I'm closing this issue as it had been fixed, free feel to reopen it if you still think it an active issue.

[2021-06-10 08:26] #3628 closed

[2021-06-10 08:30] kvartet commented on #3635
It seems this feature will release in NNI v2.4 in July. Maybe you can pull the master branch and install nni from the source code when this pr is merged.

[2021-06-10 08:31] kvartet commented on #3623
@QuanluZhang

[2021-06-10 08:34] kvartet commented on #3610
@J-shang, could update the status of this issue?

[2021-06-10 08:36] kvartet commented on #3609
hello @J-shang, it is a duplicated issue with #3610, if it is, I will close it...

[2021-06-10 08:37] kvartet commented on #3591
@Ivanfangsc @songqiqqq @JoyFYan I'm closing this issue as it had been fixed, free feel to reopen it if you still think it an active issue.

[2021-06-10 08:37] #3591 closed

[2021-06-10 08:38] J-shang commented on #3609
@kvartet yes, this seems can be closed.

[2021-06-10 08:38] #3609 closed

[2021-06-10 08:39] kvartet commented on #3595
@BaptisteBrument, it seems that your problem had been solved, so I will close this issue, feel free to reopen it

[2021-06-10 08:39] #3595 closed

[2021-06-10 08:40] kvartet commented on #3596
@rohin-dasari Any updates? Thank you!

[2021-06-10 08:41] dsindex commented on #2056
@kvartet

after upgrading to 2.2. it works well. thank you!

[2021-06-10 08:41] ultmaster commented on #3661
Bumped to cuda 10.2. Release is coming. Please be a little more patient.

[2021-06-10 08:44] kvartet commented on #2056
@dsindex, thanks for your feedback! It seems that this problem no longer exists in the latest version of NNI, so I will close this issue, feel free to reopen it.

[2021-06-10 08:44] #2056 closed

[2021-06-10 09:21] J-shang commented on #3610
yes, it is a known issue when using `torch.utils.data.DataLoade` under `Windows`, set `num_workers=0` may solve this problem.
@1575018690, can metric be displayed normally after set `num_workers=0` in `mnist.py`? If this does not work, feel free to tell us, and we would try to find if there have other issues.

[2021-06-10 10:52] Anon-Artist commented on #3380
Yes sure the problem is fixed
Thank you 😊

[2021-06-10 13:24] kvartet commented on #3534
@liuzhe-lz ^ ^

[2021-06-10 13:26] kvartet commented on #3521
hello @rapirent, could you try to decrease the batch size or use a larger GPU and update the status of this issue? Thank you!

[2021-06-10 13:29] kvartet commented on #3518
@SparkSnail is it a bug that needs to be fixed?

    this error had been fixed in NNI v2.3.

[2021-06-10 13:32] kvartet commented on #3511
hello @lym-zyl, could you follow this and update the status?

[2021-06-10 13:35] kvartet commented on #3499
hello @set92, could you follow this and update the status of the issue? Thank you!

[2021-06-10 13:35] kvartet commented on #3496
hello @Roy-Kid, could you follow this and update the status of the issue? Thank you!

[2021-06-10 13:36] #3480 closed

[2021-06-10 13:39] kvartet commented on #3475
hello @koklimabc, could upgrade the version of NNI and try again? If this issue still exists, please upload `dispatcher.log` as an attachment? Thank you!

[2021-06-10 13:43] kvartet commented on #3463
hello @LilAnthony123, could you follow this and update the status of this issue? Thank you!

[2021-06-10 13:44] kvartet commented on #3453
hello @YuyaKobayashi, could you update the status of this issue? Thank you!

[2021-06-10 13:48] Roy-Kid commented on #3496
Hi, @SparkSnail @kvartet !
I have left the institute and not use HPC anymore, so I hardly test the new version. So sorry for that. Once I have the chance I will try it ASAP.

I think the confusing thing is that we submit the task by using a queue system like PBS, so how to write the script to run the trials, not on the management node makes me confused.  If you have any idea, please update the tut

[2021-06-10 14:09] kvartet commented on #3384
hello @xDuck, could you follow this and update the status of this issue? Thank you!

[2021-06-10 14:10] kvartet commented on #3380
I will close this issue as this problem had been solved, feel free to reopen it.

[2021-06-10 14:10] #3380 closed

[2021-06-10 14:13] xDuck commented on #3384
Sorry did not see response - we ended up solving the problem by re-structuring the model, I forget the specifics.

[2021-06-10 14:13] #3384 closed

[2021-06-10 14:18] kvartet commented on #3373
hello @szhang963, your feature request had been supported. You can use v2 config with inline search space and add comments as you want, refer [here](https://nni.readthedocs.io/en/latest/reference/experiment_config.html#local-mode-inline-search-space).

[2021-06-10 14:20] set92 commented on #3499
The concurrency is not "trialConcurrency: 2" in config.yml that I already posted, or is another configuration?
I thought the issue was close because at the end the answer were "check more seeds..." but the problem was that I couldn't reproduce the output of NNI, that's why I provided all the code and dataset since maybe is a problem of understanding, but since I got that small answer without tryin

[2021-06-10 14:27] kvartet commented on #3385
@J-shang, is AutoCompression Framework supported in NNI v2.3 satisfy the user's need? if it is, I will close this issue~

[2021-06-10 14:29] kvartet commented on #3342
hello @risemeup, which problem did you encounter? Could you upgrade the version of NNI and try again? Thank you.

[2021-06-10 14:30] kvartet commented on #3343
@SparkSnail, could you help update this issue? Thanks~

[2021-06-10 14:38] kvartet commented on #3328
@QuanluZhang, it seems that classic NAS has been refactored in Retiarii, so should we update the doc of tuners used by NAS in the  HPO part?

[2021-06-10 14:41] kvartet commented on #3294
We are discussing this feature and will support it in the future. Thanks for your issue again.

[2021-06-10 14:43] kvartet commented on #3227
It seems the problem had been solved, so I will close this issue, feel free to reopen it.

[2021-06-10 14:43] #3227 closed

[2021-06-10 14:43] kvartet commented on #3206
hello @zheng-ningxin - would you mind sharing the latest status of this issue? thanks!

[2021-06-10 14:45] kvartet commented on #3198
hello @aflyhat, could you follow this and update the status of this issue? Thank you!

[2021-06-10 14:47] kvartet commented on #3169
hello @Dong7777, could you follow this and update the status of this issue? Thank you!

[2021-06-10 14:50] kvartet commented on #3162
hello @bregmangh, I will close this issue as it has not been updated for more than three months, feel free to reopen it if you still think it an active issue.

[2021-06-10 14:51] kvartet commented on #3161
@liuzhe-lz - would you mind sharing the latest status of this issue? thanks :)

[2021-06-10 14:52] kvartet commented on #3152
hello @jyhengcoder, I will close this issue as it has not been updated for more than three months, feel free to reopen it if you still think it an active issue.

[2021-06-10 14:52] #3152 closed

[2021-06-10 14:53] kvartet commented on #3147
hello @CSH360, I will close this issue as it has not been updated for more than three months, feel free to reopen it if you still think it an active issue.

[2021-06-10 14:53] #3147 closed

[2021-06-10 14:54] #3162 closed

[2021-06-10 14:55] kvartet commented on #3129
@liuzhe-lz, seems this had been finished, so I will close this issue, feel free to reopen it.

[2021-06-10 14:55] #3129 closed

[2021-06-10 14:56] kvartet commented on #3136
hello @J-shang - would you mind sharing the latest status of this issue? thanks!

[2021-06-10 14:58] kvartet commented on #3100
We had supported this feature partially in NNI v2.0 and will enhance it continuously, feel free to offer more suggestions. Thank you again!

[2021-06-10 15:00] #3099 closed

[2021-06-10 15:09] kvartet commented on #3094
hello @Seokjoongg, can you follow [this tutorial](https://nni.readthedocs.io/en/latest/Compression/Overview.html#compression-pipeline) and try again? Thank you!

[2021-06-10 15:10] kvartet commented on #3090
hello @abuvaneswari, I will close this issue as it has not been updated for more than three months, feel free to reopen it if you still think it an active issue.

[2021-06-10 15:13] kvartet commented on #3087
@liuzhe-lz, seems this feature had been finished, so I will close this issue, feel free to reopen it.

[2021-06-10 15:13] #3087 closed

[2021-06-10 15:14] kvartet commented on #3045
hello @Cathy-t , I will close this issue as it has not been updated for more than three months, feel free to reopen it if you still think it an active issue.

[2021-06-10 15:14] #3045 closed

[2021-06-10 15:14] kvartet commented on #3050
hello @guojunyao419 , I will close this issue as it has not been updated for more than three months, feel free to reopen it if you still think it an active issue.

[2021-06-10 15:14] #3050 closed

[2021-06-10 15:15] kvartet commented on #3086
@liuzhe-lz - would you mind sharing the latest status of this issue? thanks!

[2021-06-10 15:26] YuyaKobayashi commented on #3453
Sorry, I have forgotten close this issue.

[2021-06-10 15:26] #3453 closed

[2021-06-10 23:34] QuanluZhang commented on #3328
@kvartet we can remove PPOTuner from HPO tuners, as PPO has been supported in Retiarii framework (i.e., `nni.retiarii.strategy.PolicyBasedRL`)

[2021-06-11 01:38] J-shang commented on #3136
@kvartet We change `stop()` logic in local training in v2.0, and I think this issue has been solved and can be closed.

[2021-06-11 01:38] #3136 closed

[2021-06-11 01:44] J-shang commented on #3385
Yes, AutoCompression Framework is partial what this issue needs, and we need to improve sparsity recommendations in the future.

[2021-06-11 02:28] chasingw opened #3811 "how to except last layers in SensitivityPruner"
**Describe the issue**:
I use config_list set the op_names which I want to prune. but it seems not work because last layer is also pruned.
the config_list is
[code]
and the output is
[code]
and I found `exclude` param in this doc [Compression/Tutorial](https://nni.readthedocs.io/en/stable/Compression/Tutorial.html)
but it seems not work for SensitivityPruner？
**Environment**:
- NNI version: 2.0
-

[2021-06-11 03:37] SparkSnail commented on #3343
`nnictl view` command is already fixed in latest version of NNI, please upgrade to latest version and try again.

[2021-06-11 03:41] kvartet commented on #3343
hello @OliverGrein, could you follow this and try again? Thank you!

[2021-06-11 08:09] QuanluZhang opened #3813 "[Retiarii] support CGO execution engine"
**What would you like to be added**: an execution engine (i.e., CGO execution engine) in Retiarii for system-level optimizations.

**Why is this needed**: it makes model exploration faster

**Without this feature, how does current nni work**：can use pure-python execution engine or graph-based execution engine

**Components that may involve changes**: the NNI Retiarii part

[2021-06-11 08:13] QuanluZhang opened #3814 "[Retiarii] migrate FBNet from NAS 1.0 to Retiarii framework"
**What would you like to be added**: migrate FBNet from NAS 1.0 to Retiarii framework

**Why is this needed**: NAS 1.0 will be deprecated

**Without this feature, how does current nni work**：still works for now

**Components that may involve changes**: the NNI Retiarii part

[2021-06-11 08:24] J-shang commented on #3811
@chasingw If you want to use `exclude`, you can modify the validate code for a workaround, this pr is for your reference: https://github.com/microsoft/nni/pull/3815

[2021-06-11 08:30] #1239 closed

[2021-06-11 08:31] #1265 closed

[2021-06-11 08:33] #1533 closed

[2021-06-11 08:35] #1542 closed

[2021-06-11 08:36] #1689 closed

[2021-06-11 08:38] #1700 closed

[2021-06-11 08:42] #1774 closed

[2021-06-11 08:43] #1782 closed

[2021-06-11 08:45] #1801 closed

[2021-06-11 08:53] QuanluZhang commented on #2591
@curiousjit , co-optimizing hyper-parameter and neural architecture is achieved by `nn.LayerChoice` and `nn.ValueChoice`. Jointly optimizing hyper-parameters in training logic will be supported in v2.4

[2021-06-11 09:16] kvartet commented on #3028
hello @xiajingjie, I will close this issue as it has not been updated for more than three months, feel free to reopen it if you still think it an active issue.

[2021-06-11 09:16] #3028 closed

[2021-06-11 09:26] kvartet commented on #3024
hello @Sundrops, this feature had been supported in NNI v2.3, so I will close this pr. Feel free to reopen it, thanks for your suggestions again!

[2021-06-11 09:26] #3024 closed

[2021-06-11 09:30] #2967 closed

[2021-06-11 09:31] #2938 closed

[2021-06-11 10:11] kvartet commented on #2922
I will close this issue as it has not been updated for more than three months, feel free to reopen it if you still think it an active issue.

[2021-06-11 10:11] #2922 closed

[2021-06-11 14:13] curiousjit commented on #2591
I see. Thank you for the info! Looking forward to it.

[2021-06-11 15:38] externalsupplierstaff commented on #3660
when is the following release? I can't install from source (company proxy + my own limitations). Is there any workaround?

[2021-06-12 01:34] saikatG opened #3826 "Does sensitivity pruner only support conv2d layers?"
The pruner does not seem to be working with other layers e.g. `Linear`? `SensitivityPruner.py` contains the following code, which seems to only add conv2d layers.

[code]

[2021-06-12 21:27] maxxx580 commented on #2928
I saw the PR, and it looks great. I look forward to v2.3.

[2021-06-14 16:46] rohin-dasari commented on #3638
Just tried it out with v2.3rc0, but the error appears to persist. Which Yaml library is causing the problem? Is it ruamel.yaml?

[2021-06-15 01:39] J-shang commented on #3826
Yes, sensitivity pruner only supports `Conv2d` right now because most pruners used in `SensitivityPruner` only support `Conv2d`, i.e. `l1`, `l2`, `fpgm`. Do you want to use `level` to fine-grained pruning the model or other needs? We could discuss and find what we can do next to improve this pruner.

[2021-06-15 03:08] jianliu-ml opened #3829 "sqlite3.OperationalError: unable to open database file"
Here is the command:

cd ~/git/nni/examples/trials/mnist-annotation
nnictl create -c config.yml --port 8004

The error is "ValueError: ExperimentConfig: search_space and search_space_file must be set one"

I use the updated config.yml

ANd the Error is:
Traceback (most recent call last):
  File "/home/jliu/venv3/bin/nnictl", line 8, in <module>
    sys.exit(parse_args())
  File "/home/jliu/venv3/l

[2021-06-15 03:10] jianliu-ml commented on #3829
nnictl create -c config.yml --port 8004
nnictl view b9JhTvAg

[2021-06-15 03:25] jianliu-ml commented on #3591
Hi, this still produces an error!!

Traceback (most recent call last):
  File "/home/jliu/venv3/bin/nnictl", line 8, in <module>
    sys.exit(parse_args())
  File "/home/jliu/venv3/lib/python3.6/site-packages/nni/tools/nnictl/nnictl.py", line 272, in parse_args
    args.func(args)
  File "/home/jliu/venv3/lib/python3.6/site-packages/nni/tools/nnictl/launcher.py", line 553, in view_experiment
    m

[2021-06-15 04:02] saikatG commented on #3826
Yes, I am using `level` pruning on (non-vision) models which dont have any `Conv2d` layers.

[2021-06-15 08:07] kvartet opened #3830 "DL solution without any decisions regarding the neural architecture of the model"
**Describe the issue**:

does NNI have a solution for DL that allows me to feed in the inputs, outputs and evaluate the model while leaving me out of any decisions regarding the neural architecture of the model? Most of the examples I have seen force me to make some layer choices

-------------------------------
This issue was asked on Gitter, author: @8W9aG

[2021-06-15 08:27] MagicPF opened #3831 "AMC issues happened when fine-tuning the model"
[2021-06-15 16:18:56] INFO (nni.compression.pytorch.speedup.compressor/MainThread) infer module masks...
Traceback (most recent call last):
  File "amc_train.py", line 214, in <module>
    net = get_model(args)  # for measure
  File "amc_train.py", line 83, in get_model
    ms.speedup_model()
  File "/home/comp/e9205945/.local/lib/python3.6/site-packages/nni/compression/pytorch/speedup/compressor.

[2021-06-15 08:43] kvartet commented on #2877
This feature had been supported in PR #3076 and released in NNI v2.0. So I will close this issue, feel free to reopen it.

[2021-06-15 08:43] #2877 closed

[2021-06-15 09:08] kvartet commented on #2874
hello @gaozhangyang, I will close this issue as it has not been updated for more than three months, feel free to reopen it if you still think it an active issue.

[2021-06-15 09:08] #2874 closed

[2021-06-15 09:20] kvartet commented on #2577
closed this issue because classic NAS had been refactored.

[2021-06-15 09:20] #2577 closed

[2021-06-15 09:22] kvartet commented on #2545
hello @haoshuji, I will close this issue as it has not been updated for more than three months, feel free to reopen it if you still think it an active issue.

[2021-06-15 09:22] #2545 closed

[2021-06-15 09:36] kvartet commented on #2537
hello @juliocspires, it seems the feature had been supported in NNI, so I will close this issue, feel free to reopen it.

[2021-06-15 09:37] #2537 closed

[2021-06-15 09:41] kvartet commented on #2529
this feature had been supported, see [here](https://nni.readthedocs.io/en/stable/Tutorial/HowToLaunchFromPython.html). So I will close this issue.

[2021-06-15 09:41] #2529 closed

[2021-06-15 09:44] J-shang commented on #3829
Hi @jianliu-ml, seems you use `nnictl view` to view an un-successful launched experiment. If you want to start a new experiment with a new config, try using `nnictl create -c new_config.yml`. And if you want to find the log of the broken experiment, you can find the log files under `~/nni-experiments/EXPERIMENT_ID`.

[2021-06-15 09:48] kvartet commented on #2505
hi @QuanluZhang, does Retiarii support this feature? would you mind sharing the latest status of this issue? thanks!

[2021-06-15 09:50] kvartet commented on #2428
@QuanluZhang, is this a bug that needs somebody to fix it?

[2021-06-15 10:02] kvartet commented on #2328
hello @qiutzh, NAS on NNI had migrated to Retiarii Framework, please try it and update the status of your issue, refer [here](https://nni.readthedocs.io/en/latest/nas.html). Thanks!

[2021-06-15 10:04] kvartet commented on #2309
closed as pr had been merged.

[2021-06-15 10:04] #2309 closed

[2021-06-15 10:05] kvartet commented on #2311
closed as pr had been merged.

[2021-06-15 10:05] #2311 closed

[2021-06-15 10:28] kvartet commented on #2238
closed as the type of docs had been changed to the reStructuredText

[2021-06-15 10:28] #2238 closed

[2021-06-15 10:30] kvartet commented on #1990
@Lijiaoa - would you mind testing this issue existing now?

[2021-06-15 10:33] kvartet commented on #1985
@kvartet - need to test whether this issue exists in the latest version.

[2021-06-15 10:41] kvartet commented on #1741
@liuzhe-lz - Is there any update of this doc? Two years passed...

[2021-06-15 10:43] kvartet commented on #1752
@kvartet - need to test whether this issue exists in the latest version.

[2021-06-15 10:44] #3328 closed

[2021-06-15 10:53] kvartet commented on #1724
@Lijiaoa - would you mind checking whether this feature had been supported in the latest version of NNI? If it it, I will close this issue. Thank you~

[2021-06-15 10:55] kvartet commented on #1635
is seems this feature had been supported, so I will close this pr

[2021-06-15 10:55] #1635 closed

[2021-06-15 11:05] kvartet commented on #1511
@kvartet - need to test whether this issue exists in the latest version.

[2021-06-15 11:12] kvartet commented on #1165
yes, it had been supported, although I'm not sure whether in this pr. I will close this issue, feel free to reopen it.

[2021-06-15 11:12] #1165 closed

[2021-06-15 11:13] kvartet commented on #930
@kvartet - need to test whether this issue exists in the latest version.

[2021-06-15 12:10] kvartet opened #3834 "How to start from a given point(set of parameters) in the search space"
**Describe the issue**:

Hello,
How can I force nni to start from a given point (set of parameters) in the search space?

Originally posted by @kalavinka in Gitter

[2021-06-15 12:51] kvartet commented on #3348
hello @nothingeasy, sorry for my late reply.

If you want to rerun failed trials, you can use the ``Customized trial`` button, refer [here](https://nni.readthedocs.io/en/latest/Tutorial/WebUI.html). If the status of the experiment is ``stopped``, you need to resume it and if the status is ``done``, you need to change the ``maxTrialNumber``. By the way, NNI does not provide a mechanism to rerun all

[2021-06-15 12:53] #3348 closed

[2021-06-16 01:06] J-shang commented on #2428
@QuanluZhang @kvartet We deprecated most pruners and quantizers include AGPPruner in TensorFlow since nni v1.8, and I think this issue can be closed.

[2021-06-16 02:38] kvartet commented on #2428
hello @bothrasumit, you can upgrade the version of NNI and try again. It seems not a problem now, so I will close this issue, feel free to reopen it.

[2021-06-16 02:38] #2428 closed

[2021-06-16 03:20] ultmaster commented on #3830
Good point. We will design and try to support this feature in future releases.

[2021-06-16 03:29] zheng-ningxin commented on #3831
Hi, thanks for the valuable feedback! This is a same issue with https://github.com/microsoft/nni/issues/3635. I tested this example on the refactored speedup(https://github.com/microsoft/nni/pull/3462) and it works fine. Please have a try when this PR merged, or you can clone this branch and install the NNI from source code. Thanks~~

[2021-06-16 03:30] kvartet commented on #3829
v2.3 had been released, you can try it.

[2021-06-16 03:32] kvartet commented on #3660
hello @externalsupplierstaff, v2.3 had been released! you can upgrade the version of NNI and try it

[2021-06-16 03:43] jianliu-ml commented on #3829
Hi, @kvartet, thank you very much for such a release!

[2021-06-16 03:45] 8W9aG commented on #3830
Thanks for looking into this, some features that would be great are:

* Feed in a current model that works, and maybe start the search from
* Search is never-ending (ie it keeps going further and further from the current model)

Is there anything I can do to help this along?

[2021-06-16 03:52] jianliu-ml commented on #3829
Hi, @kvartet, I have run the experiments without any problem!
And I will close this issue thread. Thank you again.

[2021-06-16 03:52] #3829 closed

[2021-06-16 05:18] iksooman commented on #3342
I don't remember the error clearly. It was like 'can't find nnictl command'
I just tested new version of NNI. And now it is working on virtualenv either. Thank you

[2021-06-16 05:57] jianliu-ml opened #3839 "tunerGpuIndices may not work"
In v2.3, I use the following config:

useAnnotation: true
trialCommand: python train.py
trialCodeDirectory: .
trialGpuNumber: 1
trialConcurrency: 2
maxTrialNumber: 10
maxExperimentDuration: 1h
`tunerGpuIndices: 5,6`
tuner:
  name: TPE
  classArgs:
    optimize_mode: maximize
trainingService:
  platform: local
  useActiveGpu: false

And train.py only specifies `device = 'cuda'`.

When the trial is

[2021-06-16 05:59] QuanluZhang commented on #2505
@zl-hw , yes, you can write your mutator following [this document](https://nni.readthedocs.io/en/stable/NAS/Mutators.html). The logic of this mutator tries different places for up/down sampling

[2021-06-16 07:44] xiaowu0162 opened #3840 "Let compressor handle partial name matches"
**What would you like to be added**: let the compressor select a module if its name **contains** a name from the `op_names` list in the config_list.

**Why is this needed**: I would like to capture the modules with names `bert.encoder.layer.0.attention.self.value`, `bert.encoder.layer.1.attention.self.value`, ..., `bert.encoder.layer.11.attention.self.value`

**Without this feature, how does curre

[2021-06-16 08:24] cruiseliu commented on #3839
You need to specify trial GPU indices in this case.
[code]

[2021-06-16 09:22] twmht opened #3841 "Why change slim pruner to iterative pruner?"
**Describe the issue**:
The original implementation of slim pruner is a one shot pruner (https://github.com/foolwood/pytorch-slimming).

They regularize batch normalization to train a model first. and then prune the model based on the final batch normalization statistic. so it's a one shot pruner.

So why you change slim pruner to iterative pruner (https://github.com/microsoft/nni/blob/master/nni/

[2021-06-16 09:26] #3581 closed

[2021-06-16 09:27] kvartet commented on #3581
closed as v2.3 has been released.

[2021-06-16 09:33] kvartet commented on #3342
thanks for your reply! I will close this issue because it seems not exist, feel free to reopen it :)

[2021-06-16 09:33] #3342 closed

[2021-06-16 10:15] Lijiaoa commented on #1724
@kvartet This issue had been fixed on `v1.6` look like this [picture:](https://user-images.githubusercontent.com/61399850/76919459-f685be80-6903-11ea-9cb5-0ca6a5dd75d3.png) , so could close this issue.

[2021-06-16 10:16] J-shang commented on #3841
Hi @twmht, thanks for your issue, it is a good question. We put slim pruner into iterative pruner because we want to handle the sparsity regularization process (sparsify gamma in batch normalization in slim) in nni. And in the future, we also want to handle the retrain (finetune) process to achieve true iteration as described in the paper (https://arxiv.org/pdf/1708.06519.pdf).

![image](https://u

[2021-06-16 10:18] Lijiaoa commented on #1990
It is by design... Also, we refactor the search ([the design](https://www.figma.com/file/HX8Og03m2rwNU1TS6rMTF1/0416-Fluent-Web-NNI-Filter?node-id=40047%3A6959)) on nni `v2.3`. It had fixed this question.

[2021-06-16 11:14] twmht commented on #3841
@J-shang

Thank you for the helpful comment.

So
 `epochs_per_iteration`  in https://github.com/microsoft/nni/blob/master/nni/algorithms/compression/pytorch/pruning/iterative_pruner.py#L81  means that the number of multi-pass?

But in my opinion, most of one shot pruners can be trained with multi pass scheme, did you train with  L1FilterPruner  with iterative manner?

[2021-06-16 14:20] jianliu-ml commented on #3839
Hi, I have added `gpuIndices: 5,6` but it does not work.

[2021-06-16 14:32] jianliu-ml commented on #3839
Hi, I have added gpuIndices: 5,6 as you suggest, but it does not work.

[2021-06-17 01:18] J-shang commented on #3841
@twmht

Yes, `epochs_per_iteration` means the number of multi-pass.

You are right, most one-shot pruners in nni have an iterative scheme (L1Filter, FPGM), we will support the iterative manner for these pruners in the future. The reason why we migrated slim at first is that we think the sparsify process belongs to the pruning algorithm.

[2021-06-17 01:21] #3841 closed

[2021-06-17 02:32] kvartet commented on #1990
as it has been fixed, I will close this issue

[2021-06-17 02:32] #1990 closed

[2021-06-17 02:33] #1724 closed

[2021-06-17 02:49] liuzhe-lz commented on #3839
Please check `~/nni-experiments/<experiment-id>/trials/<trial-id>/run.sh`
There should be a line `export CUDA_VISIBLE_DEVICES='5'`.
If that's the case, then check if it works without NNI: `CUDA_VISIBLE_DEVICES=5 python train.py`.

[2021-06-17 03:57] jianliu-ml commented on #3839
Hi, thanks! The command works after a re-installation of nni.
And I would close this issue.
Thanks again!

[2021-06-17 03:57] #3839 closed

[2021-06-17 08:52] liuzhe-lz commented on #3638
v2.3 has switched to pyyaml from ruamel.yaml.
I tried your config and it does not contain '\t' so I assumed it was an environment problem.
Have you tried config files from official examples? Does the problem affects every config files or only a specific one?

[2021-06-17 08:53] liuzhe-lz commented on #3638
v2.3 has switched to pyyaml from ruamel.yaml.
I tried your config and it does not contain '\t' so I assumed it was an environment problem.
Have you tried config files from official examples? Does the problem affects every config files or only a specific one?

[2021-06-17 09:01] liuzhe-lz commented on #3161
This should have been fixed.

[2021-06-17 09:01] #3161 closed

[2021-06-17 09:06] liuzhe-lz commented on #2928
https://github.com/liuzhe-lz/nni-training-service-template
This is a naive example for 3rd-party training service. It's considered an early preview since the APIs and toolchain are not formalized yet.

[2021-06-18 10:11] twmht opened #3848 "AGP Pruner may be messed by the bias of batch normalization?"
training from model_speedup() is good since the bias of batch normalization can be masked out.

The [example](https://github.com/microsoft/nni/blob/master/examples/model_compress/end2end_compression.py)  shows an end to end trainer, where the model is speed up before fine tuning.

However, Some iterative pruner like AGP pruner, which would update the mask after some iterations. So it can't speed u

[2021-06-21 02:54] #3848 closed

[2021-06-21 06:13] shovalf opened #3853 "Dispatcher stream error, tuner may have crashed."
**Describe the issue**:

The code worked a couple of months ago. Today it did not - I want it to do 200 trails but it always stops after 20 trails (meaning it succeeds to run 20 trails only) every time I run it and gives me the error 'Dispatcher stream error, tuner may have crashed'. I saw other issues and tried changing the versions of sklearn and scipy as said here https://github.com/microsoft/n

[2021-06-21 09:26] jinfagang opened #3855 "RuntimeError: Only tensors, lists, tuples of tensors, or dictionary of tensors can be output from traced functions"
Got this error when try prune a HUGE model like MaskRCNN.

I tried both from torchvision and detectron2, all not work, is there any example on how to compress such big models?

[2021-06-22 01:30] J-shang commented on #3855
Hello @jinfagang , could you show more information about this error? such as the pruning code, the pruner used, and the full error log. It seems the type of return value in your model is not in `tensors, lists, tuples of tensors, or dictionary of tensors`, please check your model and [this issue](https://github.com/apache/tvm/issues/7971) may help you.

[2021-06-22 03:41] un-knight opened #3857 "`max_workspace_size` is not compatible with tensorrt8.x"
The following codes will invoke `AttributeError: 'tensorrt.tensorrt.Builder' object has no attribute 'max_workspace_size'` in the TensorRT 8.0.0.3. So it seems that `max_workspace_size` attribute has been removed in TensorRT8

https://github.com/microsoft/nni/blob/ef15fc81967fa13c74da6147931fde236464bf04/nni/compression/pytorch/quantization_speedup/integrated_tensorrt.py#L126

reference issues: ht

[2021-06-22 07:42] CommandoHuan opened #3858 "Cannot install NNI"
I've followed the guide here: https://nni.readthedocs.io/en/stable/Tutorial/InstallationLinux.html#installation  in Ubuntu 18.04 LTS on Jetson Nano
But when execute the command 'python3 setup.py develop' it raise error:

# Downloading node.js from https://nodejs.org/dist/v10.23.0/node-v10.23.0-linux-x64.tar.xz
# Extracting node.js
# Downloading yarn from https://github.com/yarnpkg/yarn/releases/do

[2021-06-22 07:54] liuzhe-lz commented on #3853
What's your search space?

[2021-06-22 08:48] shovalf commented on #3853
[search_space.txt](https://github.com/microsoft/nni/files/6692731/search_space.txt)

[2021-06-22 08:58] Emma0120 opened #3859 "keep TUNER_NO_MORE_TRIAL status when using GridSearch Tuner"
**Describe the issue**:
Every time I try GridSearch Tuner, I'm always confronted with this TUNER_NO_MORE_TRIAL status. I tried to wait for several minutes but the status wouldn't change.

**Environment**:
- NNI version: v2.2
- Training service (local|remote|pai|aml|etc): local
- Client OS: Ubuntu 18.04.3 LTS
- Server OS (for remote mode only):
- Python version: Python 3.7.3
- PyTorch/TensorFlow ve

[2021-06-23 04:10] acured commented on #3859
Hi @Emma0120 , Is there any message on the UI section  named “# Trial numbers” ? Or any trials log in the /nni-experiments directory?
BTW, if you working on linux, You had better using "python3" to instead "python" to avoid link issue.

[2021-06-23 06:50] jinfagang opened #3864 "RuntimeError: Has not supported infering output shape from input shape for module/function: `SiLU`, model.0.conv.act"
Acivation functions SiLU support?

Or, how to write a simply infer_shape for this op since activation actually doesn't change shape at all. It should be easily pass by ModelSpeedup

[2021-06-23 07:22] acured commented on #3859
Actually we highly recommend you to use 'codeDir' to instead adding 'cd' command in config.trial.command.

[2021-06-23 10:00] kalavinka commented on #3834
Just as a follow-up - As a workaround for this issue, we have initialized the experiment with a fixed combination of parameters and then used `nnictl update` to change that to a wider range after the first trial. It would still be nice to have it as a default option though. Thank you for your interest.

[2021-06-23 10:51] mallamsripooja commented on #3857
Yes, same issue here. Had to downgrade to older version of Tensorrt.

[2021-06-23 15:13] johnnylili commented on #3645
Have you solved this problem? My model structure is very similar to yours. I changed the branch code named speedup_v2, but there are still problems with reasoning.

[2021-06-23 15:14] johnnylili commented on #3645
@aa12356jm Have you solved this problem? My model structure is very similar to yours. I changed the branch code named speedup_v2, but there are still problems with reasoning.

[2021-06-23 15:14] johnnylili commented on #3645
Have you solved this problem? My model structure is very similar to yours. I changed the branch code named speedup_v2, but there are still problems with inference

[2021-06-23 18:00] saikatG opened #3865 "SimulatedAnnealing Pruner goes into infinite loop"
Hi,

I found that the [Simulated Annealing Pruner](https://github.com/microsoft/nni/blob/v2.2/nni/algorithms/compression/pytorch/pruning/simulated_annealing_pruner.py) goes into an infinite loop when the target sparsity is >0.8.

I observed that this mainly happens during initialization when it tries to generate sparsities in an [infinite loop](https://github.com/microsoft/nni/blob/3638072f4bb8466

[2021-06-24 01:17] zheng-ningxin commented on #3645
@johnnylili Could you please show the code snippet of the model definition? so that I can run it with speedup_v2 and check what's wrong. Thanks.

[2021-06-24 02:08] linbinskn commented on #3857
Exactly, this problem exists due to api updating after TensorRT8.0. Have supported the latest version in PR #3866 , please wait for it merged.

[2021-06-24 02:31] J-shang commented on #3865
Hi @saikatG

Yes, it is hard to satisfy the constraint (you mentioned in L218) with a large target sparsity rate if we only depend on `random`, it may cost a long time to find an appropriate result, though it is what say in the paper.
https://github.com/microsoft/nni/blob/3638072f4bb84666b0499c7fcf75122288fe3206/nni/algorithms/compression/pytorch/pruning/simulated_annealing_pruner.py#L212-L213

An

[2021-06-24 02:53] johnnylili commented on #3645
@zheng-ningxin  你好，我这边可以加你个微信吗？方便我把代码发给您，与您沟通。

[2021-06-24 03:16] zheng-ningxin commented on #3645
@johnnylili Ok, please send me your Wechat id through the email Ningxin.Zheng@microsoft.com.

[2021-06-24 03:46] kvartet opened #3867 "Incorrect determine of budget exhausted in Retiarii Experiment"
**Describe the issue**:

In Retiarii Framework, when the experiment exits, there are some problems in determining whether the budget is exhausted.

The following is the error message of a failed experiment with `debug=True`.

**Environment**:
- NNI version: v2.3
- Training service (local|remote|pai|aml|etc): aml
- Client OS: Windows
- Python version: 3.8
- PyTorch/TensorFlow version: Pytorch 1.6
-

[2021-06-24 07:12] 1575018690 opened #3869 "nni's mnist-pytorch example runs failed"
**Describe the issue**:
nni's mnist-pytorch example runs failed

**Environment**:
- NNI version:v2.3
- Training service (local|remote|pai|aml|etc):local
- Client OS:window10
- Server OS (for remote mode only):
- Python version:v3.8
- PyTorch/TensorFlow version:v1.8
- Is conda/virtualenv/venv used?:conda
- Is running in Docker?:

**Configuration**:
 - Experiment config (remember to remove secrets!)

[2021-06-24 07:18] J-shang commented on #3869
Hi @1575018690

Could you show the trial error log? (Click this button)
![image](https://user-images.githubusercontent.com/33053116/123219291-51db2f00-d4ff-11eb-87ca-9ad7addc84a6.png)

[2021-06-24 07:53] 1575018690 commented on #3869
thanks for your reply!
the error log is :
![屏幕截图 2021-06-24 155223](https://user-images.githubusercontent.com/28533217/123224361-55bd8000-d504-11eb-9fe4-f6e1d11e439d.png)

[2021-06-24 08:02] J-shang commented on #3869
Got it. Can you show your `config.yml` and check if there has something like this:
[code]

[2021-06-24 11:59] 1575018690 commented on #3869
How do I run run.ps1? Is it run in cmd?

[2021-06-24 12:01] 1575018690 commented on #3869
run.ps1:
$env:PATH="C:\Users\STU.L\anaconda3\envs\pytorch_gpu;C:\Users\STU.L\anaconda3\envs\pytorch_gpu\Library\mingw-w64\bin;C:\Users\STU.L\anaconda3\envs\pytorch_gpu\Library\usr\bin;C:\Users\STU.L\anaconda3\envs\pytorch_gpu\Library\bin;C:\Users\STU.L\anaconda3\envs\pytorch_gpu\Scripts;C:\Users\STU.L\anaconda3\envs\pytorch_gpu\bin;C:\Users\STU.L\anaconda3\condabin;C:\Program Files (x86)\Common Fi

[2021-06-24 14:10] sayakpaul opened #3873 "Case study suggestions for making Retiarii accessible"
**What would you like to be added**:

More case studies on the byproducts of Neural Architecture Search:

* MobileNetV3
* MobileDet
* Swish

These case studies do not need to fully implemented. Minimal demonstrations should be sufficient enough for users to expand the case studies.

Also being able to specify hardware-aware constraints in the search space is an important use-case for NAS. An examp

[2021-06-24 14:36] QuanluZhang commented on #3873
@sayakpaul , thanks for your great suggestions. we have an WiP pr [here](https://github.com/microsoft/nni/pull/3868) which implemented the space of Swish. We expect users to directly use this module in their PyTorch/TensorFlow model to automatically find out the best activation function specifically for their model.

[2021-06-24 14:48] sayakpaul commented on #3873
Great. I will look into it for sure. Should I keep this issue open for other suggestions?

[2021-06-24 14:52] QuanluZhang commented on #3873
yes, we can keep it open for now :)

[2021-06-24 14:55] sayakpaul commented on #3873
Sure, thank you. You might want to add a relevant label to this issue for better/easier triage.

[2021-06-24 18:47] saikatG commented on #3865
Yeah, I think this makes sense. It still respects the original requirement that layers with more weights should be pruned more and is pretty cheap.

[2021-06-25 01:17] J-shang commented on #3869
Hi @1575018690

You can run it in PowerShell.

[2021-06-25 03:32] liuzhe-lz commented on #3858
NNI does not support ARM CPUs.
If you want to have a try anyway, you can change download URL of [node.js](https://github.com/microsoft/nni/blob/master/setup_ts.py#L68) and [yarn](https://github.com/microsoft/nni/blob/master/setup_ts.py#L74) in `setp_ts.py`.

[2021-06-25 03:57] ultmaster commented on #3873
Added your vote for MobileNetV3 and MobileDet. Will consider them in future planning. :)

[2021-06-25 03:59] sayakpaul commented on #3873
Sure. I personally think teaching the developers how to go about constructing informative search spaces itself is very rewarding.

[2021-06-25 04:17] liuzhe-lz commented on #3853
The bounds of "uniform" must be sorted. It should be `[1e-5, 1e-2]` and `[1e-4, 1e-2]`.

[2021-06-25 04:21] liuzhe-lz commented on #3853
duplicate of #1496

[2021-06-25 04:21] #3853 closed

[2021-06-25 14:53] saikatG commented on #3865
If you want, I can raise a PR to add this fix. Please let me know if you have any other suggestions as well.

[2021-06-26 00:25] zheng-ningxin commented on #3645
@johnnylili Hi, I have supported the model you send to me, please pull the latest version of speedup_v2 and try again, if you meet some problems, please feel free to contact me through the email or Wechat, thanks~

[2021-06-26 08:19] CommandoHuan commented on #3858
Thank for your help.

[2021-06-28 03:13] J-shang commented on #3865
Hi @saikatG ,

Of course, you can raise a PR to improve this pruner, and due to this is not mentioned in the paper, please explain this in doc. Thanks for your contribution.

[2021-06-28 08:29] un-knight opened #3882 "`ModelSpeedupTensorRT()` can't quantize the model as expected."
Currently, `ModelSpeedupTensorRT` can't quantize the model as expected. Let's taking [mixed_precision_speedup_mnist.py](https://github.com/microsoft/nni/blob/master/examples/model_compress/quantization/mixed_precision_speedup_mnist.py) as an example.

The following config specifies which operation we want to be quantized. Here we expect `conv1, relu1, conv2, relu2` to be quantized.

https://github

[2021-06-29 09:03] KersyTom opened #3883 "window sklearn regression example trial keeps waiting"
**Describe the issue**:
The sample of sklearn is executed under the windows platform, and the trial status on the web-ui is always displayed as waiting

**Environment**:
- NNI version:2.3
- Training service (local|remote|pai|aml|etc):local
- Client OS:windows7
- Server OS (for remote mode only):
- Python version:3.6.3
- PyTorch/TensorFlow version:None
- Is conda/virtualenv/venv used?:virtualenv
-

[2021-06-29 23:43] rohin-dasari commented on #3638
Just confirmed that the latest release no longer throws this issue anymore. I tried both with the official examples and with some config files I had written.

If it was an environment problem, I'm not sure what it could've been.

Closing now since the original error is no longer being thrown.

Thanks!

[2021-06-29 23:43] #3638 closed

[2021-06-30 02:47] J-shang commented on #3869
This may be a bug, if the user has %something% in the `PATH`, it may add additional `"`, i.e.

[code]

[2021-06-30 07:46] KersyTom opened #3889 "AttributeError: 'HyperoptTuner' object has no attribute 'name' in python api mode"
**Describe the issue**:
when i wan start an experiment by using python api,ihave met some questions,i configured 'ExperimentConfig' class,add a 'tpe' tuner,a local train service
- code
[code]
-  questions
https://github.com/microsoft/nni/blob/749a463aeeab98d08a428f1a7c2494982da23515/nni/experiment/config/base.py#L91
https://github.com/microsoft/nni/blob/749a463aeeab98d08a428f1a7c2494982da23515/nni

[2021-06-30 11:28] KersyTom commented on #3889
i was mix up some api function between 2.3 and 2.0,now i have changed to 2.0,my code can run success.
- code
[code]

[2021-06-30 11:28] #3889 closed

[2021-06-30 11:47] BaptisteBrument commented on #3661
Hi again,

I have pulled the new image (v2.3) and it seems like the issue is not fixed.
Tensorflow2.3 is built for cudnn7.6 and cuda10.1
It cannot work with cudnn8.2 and cuda10.2
From what I know the only way to make Tensorflow2.3 compatible with these libraries is to build it from sources.
The other solution would be to use the libraries listed above but I don't know If it could break other insta

[2021-06-30 13:44] QuanluZhang commented on #3883
@KersyTom ，could you try to set `use_active_gpu` true, or remove this field from conf.yaml, to check whether it works?

[2021-07-01 01:48] chenbohua3 commented on #3590
We are going to add bn-fold to qat quantizers, more details can be found in #3890 . Look forward to your suggestions.

[2021-07-01 02:05] un-knight commented on #3590
@chenbohua3 That's really great!

[2021-07-01 02:08] linbinskn commented on #3882
Thank you for pointing out this bug! Have fixed this problem in #3893.

[2021-07-01 04:56] KersyTom commented on #3883
@QuanluZhang,hi quanlu,thanks for your reply,I have changed these configurations, and my computer does not have a GPU device, but the problem still exists, the following is my screenshot
![remove_gpu_config](https://user-images.githubusercontent.com/50256515/124065965-5dcc7100-da6a-11eb-9f28-9c6198f70257.jpg)
![set_true](https://user-images.githubusercontent.com/50256515/124065963-5dcc7100-da6a-11

[2021-07-01 06:43] #3882 closed

[2021-07-01 06:49] dlml opened #3894 "not supported aten::squeeze"
![图片](https://user-images.githubusercontent.com/35597616/124079274-814be780-da7b-11eb-93d2-fc4abcc63e0a.png)

[2021-07-01 07:42] #3452 closed

[2021-07-01 09:28] QuanluZhang commented on #3883
@KersyTom , I cannot reproduce your problem using your provided code and configuration. my environment is

NNI version:2.3
Training service (local|remote|pai|aml|etc):local
Client OS:windows10
Server OS (for remote mode only):
Python version:3.8.8
PyTorch/TensorFlow version:None
Is conda/virtualenv/venv used?:conda
Is running in Docker?:no

[2021-07-01 09:50] zheng-ningxin commented on #3864
Hi, thanks for the valuable feedback!
SiLU has been supported in the https://github.com/microsoft/nni/pull/3462, you can clone this branch and install from source and try again.

In addition, if you want to support SiLU in current NNI, you can just reuse the shape inference function of 'RELU'.
[code]

[2021-07-01 12:15] QuanluZhang commented on #3883
@KersyTom , if you are still encountering this problem, please provide the complete log file. From the log you have provided above, nnimanager has received the first trial config, it is strange that this trial is waiting.

[2021-07-01 12:17] KersyTom commented on #3883
@QuanluZhang, my CLient OS is win7, I just used my colleague’s computer, and it runs successfully, i'm not sure my experiment runs failed caused by my win7 os，i will try again if i can find another win7 computer

[2021-07-03 01:31] crawlingcub opened #3900 "KeyError when using SlimPruner with AGPPruner"
**Describe the issue**:

Hi,

The Slim pruner expects a `sparsity` key in the pruner configuration. However, AGP's config contains `initial_sparsity` and `final_sparsity`. Should the initialization logic in `SlimPrunerMasker` be moved to `calc_mask` instead?

I will be happy to raise a PR based on your suggestions.

Let me know if you need more info.

Thanks!

**Environment**:
- NNI version: 2.2
-

[2021-07-03 18:45] trotsky1997 opened #3901 "When pruning a pruned model,It would be better if not ctreate a new wrapper"
**at beginning:**
` Linear(in_features=128, out_features=10, bias=True)`
after pruned once:
[code]

 **it works.butafter pruned twice:**
[code]
**it would stucked at apply mask to weight, bias**
[code]

solvement?
1. set PrunerModuleWrapper.weight = PrunerModuleWrapper.module.weight
or
2. take the wrapped modules out from that internel wrappers.
3. ...

[2021-07-05 03:13] J-shang commented on #3900
Hi @crawlingcub, we fix this in `nni v2.3`, you could try agp with slim in the new version.

[2021-07-05 09:01] Davidxswang commented on #3901
Maybe you can call `_unwrap_model` method (defined in the class `Compressor`) before pruning the same model again. The `_unwrap_model` method will take the module out of the wrapper for each wrapped module in the model being pruned. @trotsky1997

[2021-07-05 11:50] zheng-ningxin commented on #3894
Thanks for the valuable feedback! I'll support the squeeze operator ASAP, I' let you know when it's ready. Thanks.

[2021-07-05 15:08] trotsky1997 commented on #3901
yes,i have use this method already,that works fine

[2021-07-05 15:19] yuezhuang1387 opened #3902 "no such file or directory, open 'logs\1625494862.352834\graph.json'"
**Describe the issue**:
When I try to use NAS visualization, after making sure that all logs files are generated, opening the port (http://127.0.0.1:6060/) will report the following error,
![image](https://user-images.githubusercontent.com/61401199/124492252-c909a080-dde6-11eb-9ea2-00696c949ff0.png)
But all the logs files are generated
![image](https://user-images.githubusercontent.com/61401199/12

[2021-07-06 06:04] acured commented on #3902
Seems there is one more space in your command, "logs/1625494862. 352834". Remove it and try again?

[2021-07-06 07:32] iksooman opened #3903 "how to save best child net and load for inference"
I tested enas code of nas example.
After fitting trainer, I founded there's no best child net saving code.
Could you tell me how to save the best child net and load for inference?

[2021-07-06 09:11] yuezhuang1387 commented on #3902
Hi, thanks, I'm sure there are no spaces. My operation process is as follows:
1. Make sure that the logs file is generated and is not empty
![image](https://user-images.githubusercontent.com/61401199/124572861-9362c700-de7b-11eb-8ce7-d22eb21d5daa.png)
2. Enter the nnictl command in cmd, it shows NNI NAS board is running
![image](https://user-images.githubusercontent.com/61401199/124573195-e8064200

[2021-07-06 09:13] guoxiaojie-schinper opened #3905 "Task is always in a waiting state in the remote machine"
**Describe the issue**:

I use nnictl to create a task to schedule to a remote machine, and the GPU on the remote machine is also sufficient, but it keeps prompting the following message.

[2021-07-06 17:09:47] INFO (TrialDispatcher) TrialDispatcher: 1 live env, and 1 reusable, but no GPU available so request a new one.

GPU information in the remote machine:

+------------------------------------

[2021-07-06 11:47] agemagician opened #3906 "Pytorch Lighting Support"
**What would you like to be added**:
To add support and integration for PyTorch lighting

**Why is this needed**:
Accelerate research and results.

**Without this feature, how does current nni work**：
Using PyTorch code, which takes a lot of time.

**Components that may involve changes**:
I am not 100% sure.

[2021-07-06 16:28] maxxx580 opened #3909 "NNI installation issue with ConfigSpace-0.4.7"
**Describe the issue**:

`nni[BOHB]` has a dependency `ConfigSpace==0.4.7`, which causes the installation to fail with the error below. The issue is originated from the ConfigSpace package. ConfigSpace uses the `numpy` in its `setup.py` without declare it as a `setup_requires` ([source](https://github.com/automl/ConfigSpace/blob/v0.4.7/setup.py#L4)). If `numpy` is not installed in the current envi

[2021-07-07 02:37] crawlingcub commented on #3900
Thanks, I will try it out

[2021-07-07 02:49] ultmaster commented on #3903
We have a export in the trainer, which will export the searched architecture and saved it in the json.

[2021-07-07 02:51] ultmaster commented on #3902
Are you sure `logs/1625494862. 352834` is in your current folder? I found that your current working directory may be wrong.

[2021-07-07 02:53] acured commented on #3905
Could you try to add "nniManagerIp" in your config file and try another run?

[2021-07-07 03:18] guoxiaojie-schinper commented on #3905
Thanks for your reply, I have the add "nniManagerIp" in my config file, but it doesn't work. Config file as following:

[code]

[2021-07-07 03:35] iksooman commented on #3903
@ultmaster But the saved json contains selected choices by controller. right?
Then is it possible to save trained child network using the selected choices?

[2021-07-07 06:52] acured commented on #3905
Is your nnimanager machine reachable by your remote machine? You can have a quick test from remote machine. This problem seems caused by can not reach the local machine from remote.

[2021-07-07 06:53] JohnsenJiang commented on #3645
"RuntimeError: Has not supported infering output shape from input shape for module/function: `prim::TupleUnpack`, .prim::TupleUnpack.46"

multiple outputs of a neural network still arise the error above. thanks for share the solution. I had tried the newest nni sourcecode.

class SubNet(nn.Module):
    def __init__(self):
        super(SubNet, self).__init__()
        self.conv1 = nn.Conv2d(512, 1

[2021-07-07 07:22] zheng-ningxin commented on #3645
@JohnsenJiang have you tried on this branch https://github.com/microsoft/nni/pull/3462？

[2021-07-07 07:38] LianShuaiLong opened #3912 "nni可以和horovod一起使用么？"
**Describe the issue**:

我想使用nni在模型训练过程中进行超参调节，但是我的模型训练采用的是horovod分布式训练，想知道nni可以和horovod一起使用么？有没有demo什么的？

**Environment**:
- NNI version:
- Training service (local|remote|pai|aml|etc):
- Client OS:
- Server OS (for remote mode only):
- Python version:
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?:
- Is running in Docker?:

**Configuration**:
 - Experiment config (remember to remo

[2021-07-07 07:44] JohnsenJiang commented on #3329
RuntimeError: Has not supported infering output shape from input shape for module/function: `aten::exp`, .aten::exp.44

nni can't support for torch.exp(), thanks for your reply.

class ExpTestNet(nn.Module):
    def __init__(self):
        super(ExpTestNet, self).__init__()
        self.backbone = models.vgg16_bn(pretrained=True).features

    def forward(self, x):
        x = self.backbone(x)

[2021-07-07 08:02] JohnsenJiang commented on #3645
The net i mentioned above works on your speedup_v2 branch. Thanks for your help! My fault to misunderstand your reply above my issue. @zheng-ningxin

[2021-07-07 10:10] yuezhuang1387 commented on #3902
Thanks, I solved this problem, just set the path to the global path, like this:
nnictl webui nas --logdir E:\Pytest\NAS\logs\1625650756.0291245 --port 6060

[2021-07-07 11:43] zheng-ningxin commented on #3329
Hi, thanks for the valuable feedback, aten::exp has already been supported in this branch https://github.com/microsoft/nni/pull/3462？ Please have a try and let me know if there is some problem.