[2022-09-28 02:50] J-shang commented on #5144
hello @Alex-Songs, you could customize the replace function and pass it in by `customized_replace_func` API

please refer Conv2d replacement and implement Conv1d:  https://github.com/microsoft/nni/blob/7811307c240ff3e87166d48c8d012da426852838/nni/compression/pytorch/speedup/compress_modules.py#L443

It's welcome to contribute back to NNI after you implement it.😆

[2022-09-28 02:51] scarlett2018 commented on #3626
Thanks @un-knight for the interactive feedbacks. This will be part of the long term efforts in @J-shang 's Quantization and Pruning plan, we will reference this issue as a use case of the bigger feature in future releases, stay tuned!

[2022-09-28 02:59] matluster commented on #5079
You might want to try the latest version (v2.9).

[2022-09-28 02:59] scarlett2018 commented on #5139
Per scrum discussion today, we will discuss the update the current API to change the "Running" status to "Tuner_No_More_Trial" in 3.0.

Thanks @makonaga for reporting the issue, stay tuned on the update.

[2022-09-28 03:07] siwuxei commented on #5146
The nnictl_stderr

--------------------------------------------------------------------------------
Experiment kzeu062b start: 2022-09-28 11:00:20.397803
--------------------------------------------------------------------------------
Set-PSReadLineOption : The predictive suggestion feature cannot be enabled because the console output doesn't support virtual terminal processing or it's redir
ected

[2022-09-28 03:08] siwuxei commented on #5146
The nnictl_stderr

--------------------------------------------------------------------------------
Experiment kzeu062b start: 2022-09-28 11:00:20.397803
--------------------------------------------------------------------------------
Set-PSReadLineOption : The predictive suggestion feature cannot be enabled because the console output doesn't support virtual terminal processing or it's redir
ected

[2022-09-28 03:21] cruiseliu commented on #5142
Please try following command in `ts/nni_manager` folder:
[code]

It should find `tsc` in `ts/nni_manager/node_modules/.bin/tsc`, which is a symlink to `ts/nni_manager/node_modules/typescript/bin/tsc`.

If `tsc` is not there, please remove `node_modules` folder and run `/Users/shuffleofficial/nni/toolchain/yarn/bin/yarn`.

If the file is there but cannot be found, then there might be something wron

[2022-09-28 03:33] scarlett2018 commented on #5071
Let's update the doc for the limitation and discuss about the design for WebUI later.

[2022-09-28 03:35] cruiseliu commented on #5142
To further debug it, you can add a line `"debug": "echo $PATH",` to `package.json` line 6 ("scripts" section)
Then you can run `yarn debug` to check searching paths.
It should include `/Users/shuffleofficial/nni/ts/nni_manager/node_modules/.bin`

[2022-09-28 04:24] makonaga commented on #5139
@matluster @matluster @scarlett2018
Thank you.
I could understand the reasons leading to this phenomenon.
(And I could also confirm that this does not happen by setting ”dedup=False.”)
I will close this issue.

[2022-09-28 04:24] #5139 closed

[2022-09-28 06:50] Alex-Songs commented on #5136
@J-shang  I found the problem, the problem is that NNI currently does not support Conv1d, so the program is stuck.

[2022-09-28 10:47] Louis-J commented on #5143
it's occurred when solving other issues. we plan to repair this issue in #5107.

[2022-09-28 12:58] lixiaopeng123456 opened #5148 "Pruning: TypeError: to() received an invalid combination of arguments"
**Describe the issue**:
Hello, I'm using NNI to prune the detection model ssdlite-mobilenetV2 in mmdetection (https://github.com/open-mmlab/mmdetection). And an error as shown in the title occurred when running the function ModelSpeedup(model, torch.rand(1, 3, 256, 256).cuda(), masks).speedup_model().  The forward process works fine while the  update mask for .aten::to fails. Is there any solution

[2022-09-28 14:00] DDDOH commented on #5142
https://github.com/microsoft/nni/issues/5142#issuecomment-1260335580
I upgrade yarn_version in setup_ts.py to 1.22.19, and run `python setup.py clean`,
then `python setup.py build_ts ` (and failed again with error message exactly the same as before).

gets
[code]
And there is no tsc in the `ts/nni_manager/node_modules/.bin/` folder:
<img width="852" alt="image" src="https://user-images.githubuserc

[2022-09-29 03:20] J-shang commented on #5148
hello @lixiaopeng123456 , thanks for your report, this is a known issue and will be fixed in next release.

@Louis-J could you give a workaround for current nni version?

[2022-09-29 03:47] lixiaopeng123456 commented on #5148
Thanks for your reply, looking forward to the next version.

[2022-09-29 03:48] lixiaopeng123456 commented on #5148
Thanks for your reply, looking forward to the next version.

[2022-09-30 07:17] scarlett2018 commented on #5148
@J-shang - is this target to 2.9.1 or later?

[2022-09-30 11:55] DDDOH opened #5149 "Remove trials from experiment"
**What would you like to be added**:
Remove trials from experiment, either in the web page or in the command line.

**Why is this needed**:
Sometime one trial may get strange result due to numerical issue, which is difficult to anticipate in advance. The strange result will prevent users from reading the result in an appropriate scale.

<img width="1118" alt="image" src="https://user-images.github

[2022-10-02 02:56] QuanluZhang commented on #5146
@siwuxei , thanks for reporting this issue. Could you manually check the files under the folder "C:\Users\SiWuXie\Desktop\Dll\experiment\9yg5pvfz\trials\"? Which files are created and which files are not.

[2022-10-06 02:32] siwuxei commented on #5146
Thank you for your reply. There is no such file in this folder.

[2022-10-06 02:34] siwuxei commented on #5146
I tried to change the nni version, but this problem still exists. When executing Python files on CMD, you can see that nni reports intermediate results and final results.

[2022-10-06 02:38] siwuxei commented on #5122
这个方法我尝试过，没有解决问题，在终端执行py文件，可以看到nni返回了中间结果，但就是生成不了trial.log文件，更换nni版本也不行，以前我使用nni==2.5.0是可以的，现在不行了

[2022-10-06 08:51] QuanluZhang commented on #5146
@siwuxei , I noticed this line "[2022-09-28 10:45:05] INFO (NNIManager) Trial job a8qqO status changed from WAITING to SUCCEEDED" in your nnimanager.log. It is a little strange that this trial's status changed from WAITING directly to SUCCEEDED without staying in RUNNING state for a while. Does your trial finish very quickly?

BTW, have you tried nni's example (for example this one: https://github

[2022-10-06 13:00] siwuxei commented on #5146
Thank you, it's my { trialGpuNumber: 1, trialConcurrency: 2 } configuration problem.

[2022-10-06 13:26] siwuxei commented on #5146
I found that the intermediate results can't be fed back too fast, otherwise there will be problems. Like #5117

[2022-10-06 15:04] hitesh-hitu opened #5150 "Inference fails after speed up"
There are many add layers in my model. Pruning and speed up will happen without any issue. I have used dependency aware mode.

When I run the inference on the compressed model, there is a mismatch in the number of channels in the add layer. Please fix this issue as soon as possible.

[2022-10-07 09:25] QuanluZhang commented on #5146
@siwuxei , thanks for your update. Have you run your experiment successfully now?

[2022-10-07 09:27] siwuxei commented on #5146
Yes, thank you. Now the case is running normally.

[2022-10-08 02:23] J-shang commented on #5148
Hope we could solve this in 2.9.1

[2022-10-08 03:23] Lijiaoa commented on #5149
hi @DDDOH Thanks for raising this issue. Looks like that we could provider a button in website to filter this trial `The strange value (if quite large)` in all chart. And could you give more details about `Remove trials from experiment by the command line`? Expect your reply.

[2022-10-08 08:24] scarlett2018 commented on #4981
@Louis-J /@ultmaster - had this work completed in 2.9?

[2022-10-08 08:28] scarlett2018 commented on #5150
@hitesh-hitu - would you mind share the model to reproduce the problem?
cc @J-shang

[2022-10-08 08:30] scarlett2018 commented on #5146
closing the issue as the case can be running normally.

[2022-10-08 08:30] #5146 closed

[2022-10-08 08:35] scarlett2018 commented on #5142
@cruiseliu - more suggestions?

[2022-10-08 08:37] scarlett2018 commented on #5079
@AL3708 - had you get a chance to upgrade your nni to 2.9?

[2022-10-08 08:51] DDDOH commented on #5149
Actually I am not quite familiar with the existing command line tool, maybe something like
`nni -exp_id xxxx -remove trial_id`?

[2022-10-08 09:12] Lijiaoa commented on #5149
**summary:**
when an experiment has some strange trial:
1. could delete these trials from webui chart
2. could delete these trials by nnictl command
database still store all trials, only delete it from visualization aspect

@DDDOH Is that okay?

[2022-10-08 09:35] DDDOH commented on #5149
Yes that's perfect!

[2022-10-08 15:54] weixingp opened #5152 "Speedup - Error when updating mask for aten::div"
**Describe the issue**:

The following error occurred when updating mask for aten::div:
unsupported operation: more than one element of the written-to tensor refers to a single memory location. Please clone() the tensor before performing the operation.

**How to reproduce it?**:
The issue can be reproduced by pruning this model and speedup after.
[Model](https://github.com/Megatvini/DeepFaceForger

[2022-10-09 03:57] xiaoxiaowangchong commented on #4416
I had the same problem. Did you solve it?

[2022-10-09 06:40] zjh908491372 opened #5153 "QAT quantized with multiple inputs"
dummy_input = torch.randn(1, 3, 224, 224)

    dummy_input2 = (torch.randn([1, 3, 56, 56]),
                    torch.randn([1, 3, 28, 28]))

    example = (dummy_input, *dummy_input2)
    optimizer = torch.optim.SGD(model.parameters(), lr=0.01, momentum=0.5)
    quantizer = QAT_Quantizer(model, configure_list, optimizer, dummy_input=example)

QAT_Quantizer how to enter multiple values in the dumm

[2022-10-09 12:33] ABChh26 commented on #5122
没尝试过

[2022-10-09 12:44] ABChh26 commented on #5122
可能还是路径问题吧，默认情况下，nni-experiments这个文件夹不在content下，我这个问题可能也是误打误撞解决了，抱歉啊家人！这个是我的config.yml，我每次都是路径切换到train_reg.py所在文件夹，然后在ipynb文件中运行：
searchSpaceFile: space.json
experimentName: pyg
experimentWorkingDirectory: "/content/drive/MyDrive/exp"
trialCommand: python train_reg.py
trialGpuNumber: 1
trialConcurrency: 2
maxExperimentDuration: 24h
tuner:
  name: TPE
  classArgs:
    optimize_mode: maximize

traini

[2022-10-09 12:58] ABChh26 commented on #5122
会员过期了……

[2022-10-09 13:04] siwuxei commented on #5122
这个问题我已经解决了， 请查看#5122，问题在于{trialGpuNumber: 1，trialConcurrency: 2}设置，请调整该配 {trialGpuNumber: 1， trialConcurrency: 1}即可，该问题可关闭

[2022-10-10 01:57] Lijiaoa commented on #5122
@ABChh26 you could follow this suggestion to fix your issue. Thanks!

[2022-10-10 02:09] Lijiaoa commented on #5071
- [x] had updated the doc in PR #5147

[2022-10-10 02:14] iceking112 commented on #5071
@Lijiaoa  Can this be added to the framework as a feature

[2022-10-10 02:45] liuzhe-lz commented on #5142
Please run `yarn` in `ts/nni_manager` directory (not nni directory), and then check:
1. Whether there is a `typescript` directory in `node_modules`.
2. Whether there is `typescript@^4.3.2` (or other version) entry `yarn.lock` file.
3. Whether there is `"typescript": "^4.3.2"` in `package.json` file.

If the first answer is yes, please try manually make the symlink and run `yarn build` to compile.

[2022-10-10 04:28] Louis-J commented on #5152
It's a bug that has been reproduced in #5018. The reason is that we should randomize all the intermediate tensor variables, but the randomize function did not treat un-contiguous tensor correctly.
the fix is in #5141.

[2022-10-10 05:36] weixingp commented on #5152
Thanks for the reply, it solved the above issue.

The pruning and speedup can be completed without issue, but inference fails after speed-up:
RuntimeError: Given groups=1, weight of size [82, 705, 1, 1], expected input[10, 574, 8, 8] to have 705 channels, but got 574 channels instead

I am using the dependency-aware mode

[2022-10-10 08:26] Lijiaoa commented on #5136
the same issue as #5144

[2022-10-10 08:28] #5136 closed

[2022-10-10 08:52] Louis-J commented on #5046
you can use
[code]
to set gpu, and then nni will automatic chose gpu.

Is there any code to config gpu manually in your main.py?

[2022-10-11 07:15] ABChh26 commented on #5122
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

            没有，但是我在config.yml文件里设置了实验工作路径(experimentWorkingDirectory)解决了这个问题

                                2351428409

                                    ***@***.***

        签名由
        网易邮箱大师
        定制

    On 9/13/2022 10:43，Yuge ***@***.***> wrote：

Have you tried to ca

[2022-10-11 08:45] chengpr commented on #4665
如果你是使用只有一个检测层/标准的Yolo格式时，你可以尝试一下我说的这个方法。
官方提供了两种生成yolo的形式，一种是基于Darknet框架生成的（.cfg)另一种是通过（.yaml）文件实现的，我通过Darknet那个版本实现了剪枝。
在NNI官方demo中有一个yolo3的剪枝demo，其中最重要的一点是跳过没有在库中的函数，这里面就包括了yolo层

你可以尝试一下是否能够进行对应的剪枝实现
发件人:                                                                                                                        "microsoft/nni"

[2022-10-12 01:10] Lijiaoa commented on #5122
I'll close this issue because this problem had been resolved. If you still have any questions please feel free to reopen it. Thanks.

[2022-10-12 01:18] Lijiaoa commented on #5046
hi @rockcor Could you follow @Louis-J suggestion and provide some other information? Thanks!

[2022-10-12 01:50] Lijiaoa commented on #5133
hi @mairkiss Thanks for reporting this issue! We need some time to run an example to confirm this performance issue `the QAT quantization accuracy is low`. And now we are working on the stable version.

[2022-10-12 02:00] #5122 closed

[2022-10-12 02:04] Lijiaoa commented on #3590
hi @un-knight Thanks for using nni. Looks like this issue had been resolved at that time. Could you help confirm and closing it? Thanks!

[2022-10-12 02:08] Lijiaoa commented on #5152
RuntimeError: Given groups=1, weight of size [82, 705, 1, 1], expected input[10, 574, 8, 8] to have 705 channels, but got 574 channels instead
I am using the dependency-aware mode

Thanks for @weixingp raising new issue. Could you provide more details for debugging?

[2022-10-12 02:38] #5117 closed

[2022-10-12 03:03] hitesh-hitu commented on #5150
Hi,

I can't share the exact model because of IP. I'll try to share the backbone and see if I can replicate the issue on the same.

[2022-10-12 05:02] Louis-J commented on #5148
Does the problem only occur on gpu? I can't reproduce it on cpu in ssdlite_mobilenetv2_scratch_600e_coco.

[2022-10-12 05:13] Louis-J commented on #5152
The channels error happens before, but we haven't solved it yet. We are going to solve it in version 3.x.

[2022-10-12 05:22] lixiaopeng123456 commented on #5148
Yes,  the problem occur on gpu.  I will test it on cpu and get back to you. Thanks!

[2022-10-12 05:24] lixiaopeng123456 commented on #5148
Yes, the problem occur on gpu. I will test it on cpu and get back to you. Thanks!

[2022-10-12 05:40] lixiaopeng123456 commented on #5148
The problem occur on cpu.
![image](https://user-images.githubusercontent.com/54618126/195258888-9debed05-97d3-40d7-a4ef-8c76fe58bf1d.png)

test code：python demo/image_demo.py tests/data/10.jpg configs/ssd/ssdlite_mobilenetv2_scratch_600e_hand.py work_dirs/ssdlite_mobilenetv2_scratch_600e_hand/epoch_120.pth --device cpu --score-thr 0.5
My test.py：
# Copyright (c) OpenMMLab. All rights reserved.
imp

[2022-10-12 08:02] Lijiaoa opened #5156 "template for model compression and speedup"
template for `model compression and model speedup`

**Describe the issue**:

**NNI version**:

**Demo or example**:

**Reproduce progress**:

**Type(bug | feature)**:

[2022-10-12 15:04] #3590 closed

[2022-10-13 03:03] Louis-J commented on #5148
thanks, and please offer the `ssdlite_mobilenetv2_scratch_600e_hand.py`.

[2022-10-13 06:04] Louis-J commented on #5148
i didn't reproduce it on ssdlite_mobilenetv2_scratch_600e_coco, so i think only on ssdlite_mobilenetv2_scratch_600e_hand it can be reproduced

[2022-10-13 07:30] Louis-J commented on #5134
The torch.jit.trace will check if there are dynamic branches in the model.

I think the check and a better error message are also necessary for the new speedup feature to be refactored with torch.fx.

[2022-10-13 13:22] lixiaopeng123456 commented on #5148
ssdlite_mobilenetv2_scratch_600e_hand.py is as follows：

_base_ = [
    '../_base_/datasets/coco_detection.py', '../_base_/default_runtime.py'
]

model = dict(
    type='SingleStageDetector',
    backbone=dict(
        type='MobileNetV2',
        out_indices=(4, 7),
        norm_cfg=dict(type='BN', eps=0.001, momentum=0.03),
        init_cfg=dict(type='TruncNormal', layer='Conv2d', std=0.03)),

[2022-10-14 06:18] Tonyhao96 opened #5157 "HPO not terminate as expect `max_experiment_duration`"
**Describe the issue**:

How to understand `experiment.config.max_experiment_duration = "1m"` option? The HPO process keeps running although reaching DDL.

I just use the example configuration:
[code]
**Environment**:
- NNI version: 2.9
- Training service: local
- Client OS: Unbuntu 20.04
- Python version: 3.9
- PyTorch/TensorFlow version: Pytorch 1.12
- Is conda/virtualenv/venv used?: conda
- Is

[2022-10-14 06:48] Lijiaoa commented on #5157
@Tonyhao96 I run the [example](https://github.com/microsoft/nni/blob/master/examples/tutorials/hpo_quickstart_pytorch/main.py) and set `max_experiment_duration = '1h'`. I aslo got this error. Thanks for raising this bug.

[2022-10-14 07:04] Lijiaoa commented on #5142
hi @DDDOH Did you still have the install issue? You could follow the @cruiseliu suggestions.

[2022-10-14 07:21] J-shang commented on #5156
### Report a Bug

**Describe the bug**

**Environment**
platform: linux | windows ...
python: 3.7 | 3.8 | 3.9 ...
nni: v2.8 | v2.9 ...
pytorch: 1.10 | 1.11 | 1.12 ...
cuda: 10.3 | 11.1 | 11.3 | ...

**How to reproduce**
Showing the code is helpful for us to locate the issue.

### Feature request

**Describe the feature**

**Motivations**

**Alternatives**

**Additional context**

[2022-10-14 07:49] Tonyhao96 commented on #5157
Thanks! @Lijiaoa

Besides, I wonder to know how to disable Web UI and print results in command lines.

[2022-10-14 07:58] Lijiaoa commented on #5157
so why not see these results in webui...

[2022-10-14 08:07] Tonyhao96 commented on #5157
Thanks for your quick response.

I am doing some system research work based on NNI. How can I get the debugging information from CLI instead of entering nni-experiments dir to check the log?

[2022-10-14 08:40] Louis-J commented on #5148
thanks. i'll try it

[2022-10-14 08:43] #5134 closed

[2022-10-14 08:50] lixiaopeng123456 commented on #5148
Thanks, I will also test it on ssdlite_mobilenetv2_scratch_600e_coco. If it is ok, i will check the difference.

[2022-10-14 08:53] Lijiaoa commented on #5157
hi @Tonyhao96 Could you try the hpo experiment again? My machine could work now, it seems that it may be because of the cache in the browser. I suggest you change a port(`experiment.run(8099)`) to try. Thanks~

[2022-10-14 09:34] Tonyhao96 commented on #5157
I change to the port 8099, but still keep running after 1min DDL

![Screenshot from 2022-10-14 17-32-36](https://user-images.githubusercontent.com/27758466/195814120-454260ab-1b63-42c6-85a6-438f82e71319.png)

[2022-10-14 10:22] Lijiaoa commented on #5157
`no_more_trial` is not the same as the experiment status `Running`. It means tuner could not dispatch trial because this experiment had reached max duration `1min`. So I suggest you set `max_duration` to `1h` and re-run the experiment.

[2022-10-14 10:34] Tonyhao96 commented on #5157
Noted,  the DDL meaning is different from Ray Tune.

Thanks!

[2022-10-14 10:34] #5157 closed

[2022-10-14 14:24] unikcc opened #5159 "How to set independent gpuIndices and maxTrialNumberPerGpu for each machine under remote mode?"
**Describe the issue**:
I want to set specific GPU indices for each machine under NNI's remote mode.
For example, let machine1 use GPU with index `0` and `1`, and let machine2 use GPU with index `1`, etc.
The detailed setting is as follows.
However, it didn't work at all.
For each machine, no matter what I set, the program will use each GPU card on that machine.
In addition, each card will only ru

[2022-10-15 08:41] SunlightBoi opened #5160 "validation_step doesn't work when using lightning"
**Describe the issue**:
The validation_step() function in customized  pytorch_lightning module  doesn't work, which causes a KeyError 'val_loss' in teardown() function.
Here is my customized  module:
[code]
part of main:
[code]
console information:
[code]
**Environment**:
- NNI version: 2.9
- Training service (local|remote|pai|aml|etc): local
- Client OS: ubuntu 18.04
- Server OS (for remote mode

[2022-10-15 08:59] lixiaopeng123456 commented on #5148
The problem still occurs when i test it on ssdlite_mobilenetv2_scratch_600e_coco. Can you provide your test code and you environment? I wonder if there is something wrong with my code. Thanks!

[2022-10-15 09:02] lixiaopeng123456 commented on #5148
The problem occurs on ssdlite_mobilenetv2_scratch_600e_coco. Can you provide your code and environment? I wonder if there is something wrong with my test code. Thanks!

[2022-10-15 12:34] LS11111 opened #5161 "hpo 远程问题"
**Describe the issue**:

HPO 远程运行的例子在哪里可以找到呢

**Environment**:
- NNI version:
- Training service (local|remote|pai|aml|etc):
- Client OS:
- Server OS (for remote mode only):
- Python version:
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?:
- Is running in Docker?:

**Configuration**:
 - Experiment config (remember to remove secrets!):
 - Search space:

**Log message**:
 - nnimanage

[2022-10-15 12:36] #5161 closed

[2022-10-16 12:29] ultmaster commented on #5160
I'm not sure whether the train and val dataloader here have been properly serialized and sent to trials, because none of them is wrapped with nni.trace. As you can see in the documentation, all the parameters of pl.Lightning needs to be traceable, so that they can be restored in another process.

One more tip: you can actually use datamodule directly rather train/val dataloaders because there is a

[2022-10-16 12:32] ultmaster commented on #5160
Oh, sorry I didn't realize you are using Proxyless. I thought it was multi-trial. Proxyless doesn't use validation_step by default, because it always need gradients. This is by design.

Doc improvements are always welcome.

[2022-10-16 14:29] SunlightBoi commented on #5160
Is that mean i can just remove the validation_step() and on_validation_epoch_end(), and change 'val_loss' to 'train_loss'?
But how can i validate the model after every training epoch through Proxyless? Is there any example?
Besides, i tried the Multi-trial strategy as follow:
[code]
but the search process finished immediately without any training:
[code]
and got an additional text *'1 failed model

[2022-10-16 15:41] imsaumil opened #5162 "Dispatcher stream error, tuner may have crashed"
**Describe the issue**:

**Environment**:
- NNI version: 2.9
- Training service (local|remote|pai|aml|etc): Local
- Client OS: Windows 10
- Server OS (for remote mode only):
- Python version: 3.7.13 (also tried with 3.9.12)
- PyTorch/TensorFlow version: torch 1.12.1+cu116
- Is conda/virtualenv/venv used?: Yes
- Is running in Docker?: No

**Configuration**:
 - Experiment config (remember to remove

[2022-10-17 02:34] #5119 closed

[2022-10-17 02:55] matluster commented on #5160
You don't need to "report_xxx_result" in one-shot strategy. It's not used.

You have to retrain. See [this tutorial](https://nni.readthedocs.io/en/stable/tutorials/darts.html).

As I said previously, your serialization might not be correct. Try to add some `nni.trace` following my suggestion.

[2022-10-17 03:10] SunlightBoi commented on #5160
Thanks. It's really helpful

[2022-10-17 03:10] #5160 closed

[2022-10-17 07:45] #5156 closed

[2022-10-17 08:09] Louis-J commented on #5148
sorry, I can't reproduce the issue both on cpu and gpu in both ssdlite_mobilenetv2_scratch_600e_coco and ssdlite_mobilenetv2_scratch_600e_hhand.

![image](https://user-images.githubusercontent.com/12299798/196106617-81259be6-b157-4597-8904-2872f948236d.png)

I think the point difference comes comes from elsewhere. could you please add the code below and show me the result?

code:

[code]

position

[2022-10-17 22:05] liuzhe-lz commented on #5162
Please add `"debug": true` to experiment config and check `dispatcher.log`.
Also, monitor when does the dispatcher process (`python -m nni --exp_parms [long base64 string]`) ends (with Task Manager or `top`).

[2022-10-17 22:08] liuzhe-lz commented on #5159
We are aware the GPU usage detection script does not work for some environments. We are working on it.

[2022-10-18 06:55] Louis-J commented on #5148
thanks a lot.

the graph code of model.backbone.conv1 is totally equal to my graph code.  the bad 'aten::to' isn't here, still don't konw where the 'aten::to' is from.

could you please add the code below and show me the result? if the result is too long you can upload the output text file.

code:

[code]

position: between `pruner._unwrap_model()` and `ModelSpeedup(model, torch.rand(1, 3, 256, 25

[2022-10-18 06:58] Louis-J commented on #5148
and i try to write a fix in https://github.com/Louis-J/nni/blob/fix_5148/nni/compression/pytorch/speedup/jit_translate.py. please replace your local jit_translate.py and try it. i think it can solve the 'aten::to' problem.

[2022-10-18 08:04] J-shang commented on #5153
hello @zjh908491372 , sorry for long time no response, please try to modify this line
https://github.com/microsoft/nni/blob/860ad5cf3b24047b5e411f9cba4f9f5b250de605/nni/compression/pytorch/quantization/observers.py#L16
to
[code]

and add the following function in the file

[code]

[2022-10-18 09:12] dianxin556 commented on #4160
I also meet the same problem , so how to solve it?

[2022-10-18 09:18] rk2900 opened #5167 "Can it be easily used it in Microsoft Singularity?"
Many users are using clusters. However, NNI has not support the interface to easily adaptation to run on those clusters, without support of job scheduling, job maintaining, result aggregation and metric calculating, which has significantly limited the usability of NNI on advanced clusters such as Singularity.

**What would you like to be added**: easy port to Singularity cluster in Microsoft.

**W

[2022-10-18 14:19] imsaumil commented on #5162
Please find the dispatcher log file : [dispatcher.log](https://github.com/microsoft/nni/files/9811332/dispatcher.log)

I am getting the same error with concurrency = 1.

[2022-10-19 02:00] Lijiaoa commented on #3549
hi @JunweiSUN Thanks for raising this bug. It had been fix in PR #5154.

[2022-10-19 02:07] Lijiaoa commented on #5127
hi @crj1998 Thanks for raising this bug. It's caused by the localstorage and had been fixed in PR #5145!

[2022-10-19 02:28] #3549 closed

[2022-10-19 02:40] liuzhe-lz commented on #5167
We are planning to support Amulet on v3.1.

[2022-10-19 12:27] lixiaopeng123456 commented on #5148
Thanks a lot! The problem has been solved.

[2022-10-19 12:27] #5148 closed

[2022-10-19 15:18] imsaumil commented on #5162
Hi @liuzhe-lz, I was following the recent commit regarding letting the WebSocket reconnect. I tried upgrading nni and it gives the same error.

**COMMAND PROMPT OUTPUT:**
[2022-10-19 11:14:39] Web portal URLs: http://10.76.56.148:8057 http://169.254.31.88:8057 http://169.254.194.255:8057 http://169.254.35.0:8057 http://127.0.0.1:8057
Error: Dispatcher stream error, tuner may have crashed.
    at E

[2022-10-20 02:30] #5127 closed

[2022-10-20 08:40] chi2nagisa opened #5172 "Speedup - Has not supported replacing module with type: Hardswish"
**Describe the issue**:
When I performed speedup on MobileNetv3-small (the official model in torchvision), it went wrong with replacing the Hardswish module. Here are the error messages:
[code]

I tried to replace Hardswish with no_replace function, the speedup process can pass. But it went wrong when converting the model to onnx. The dimension mismatch occured with the multiplication operation in

[2022-10-20 08:51] Jonxjdong opened #5173 "Question on GlobalSparsityAllocator while pruning"
Hello,

When using NNI to do pruning job, it seems that only TayorFOPruner & SlimPruner support GlobalSparsityAllocator in the sparsity allocating stage, while the rest pruner has to use NormalSparsityAllocator.

After I went through the whole non-iterative pruners on VGG/Resnet model, the pruners using GlobalSparsityAllocator perform better than the ones using NormalSparsityAllocator. And from th

[2022-10-21 01:07] ayj8655 opened #5174 "Quantization tutorial error"
**Describe the issue**:

I was doing a quantization tutorial (quantization_quick_start_mnist, quantization_speedup)
However, I runnig the tutorial on Jupyter notebook and an error occurred
Both tutorials have errors in the same code

![image](https://user-images.githubusercontent.com/30970014/197086848-2bdaef50-cf5d-48e0-b13f-352e17927516.png)

**Environment**:
- NNI version: 2.9
- Training servic

[2022-10-21 06:28] Lijiaoa commented on #5174
the same issue with #5002 and #4938

[2022-10-21 06:45] Lijiaoa commented on #5153
hi @zjh908491372 Could you update the issue status?

[2022-10-21 06:50] Lijiaoa commented on #5131
looks like the fixed PR had been merged, so this issue could be closed? @Louis-J @hshwang88

[2022-10-21 08:34] scarlett2018 opened #5175 "NNI v3.0 preview iteration plan"
Release manager: @liuzhe-lz
Release start date: 10.31
Feature freeze date (at most 30 days): ~~2.10~~ 2.20
Code freeze date & first package: ~~2.17~~ ~~2.24~~ 2.28
Tutorial freeze: ~~2.24~~ 3.3
Release date (3 weeks since feature freeze): ~~3.3~~ 3.10

## Misc ##

* NAS Fine-tune
* HPO integrated to other tool
* Speed up support with Graph (Chunyang)

[2022-10-21 08:56] J-shang commented on #5173
Hello @Jonxjdong , good question! There is no problem for other pruners supporting `GlobalSparsityAllocator` from a technical point of view. The reason why other pruners did not support `GlobalSparsityAllocator` is we don't know if it works on these pruners. From the original paper of `TayorFOPruner` and `SlimPruner`, the authors used the global sort in their pruning algorithm, so we support `glob

[2022-10-21 09:15] Lijiaoa commented on #5086
hi @Tyqfat we had support the Chinese folder in the master branch! Could you help us see how it works? I would be honored if you could test the latest master, of course, please ignore this message if it bothers you. Thanks!

[2022-10-21 21:43] hshwang88 commented on #5131
Thanks a lot

[2022-10-21 21:43] #5131 closed

[2022-10-23 13:47] makonaga opened #5176 "aws S3 as shared storage"
I would like to be sure about the development roadmap for NNI.

Currently Azure Blob and NFS are supported as shared storage, are there any plans to support aws S3 in the future?

[2022-10-24 00:39] liuzhe-lz commented on #5175
## NAS ##

* Refactor `nas.nn`
  * Search space
    * Support `uniform` and `normal` mutable types
    * Support constraints between parameters
    * Support annotation of search space
    * Prettify model space interface
  * Strategy
    * Symbolic execution engine
    * Strategy for new space
  * Execution
    * Support single-process mode
* Refactor `nas.experiment`
  * Rewrite `exp.__init__` a

[2022-10-24 00:39] liuzhe-lz commented on #5175
## Compression ##

* Common
  * Open more module type in compression
  * Wrapper refactor
  * Simplify invocation path
  * Config key redesign
  * Integrate with fvcore/thop
* Disillation
  * Distillation as a util
  * Pruning examples
  * More distillation loss computing method
* Pruning
  * Remove pruning v1
  * System support block-sparse
  * Huggingface extension
  * More pruning op type
* Spe

[2022-10-24 00:39] liuzhe-lz commented on #5175
## HPO ##

* Change default `optimize_mode`
* Pythonic search space factory
* Sklearn tutorial

## NNI Manager ##

* Refactor training service framework
  * Compatibility layer for old training services
  * Merge new local
  * Merge new remote
* Update NNI manager
  * Callback based shutdown
  * Fix & new experiment life cycle test cases
* Refine utilities
  * Log collect
  * Metric collect (check

[2022-10-24 00:39] liuzhe-lz commented on #5175
## Web UI ##

* Unify max/min buttons
* Show cluster info
* Select all & select none
* Export trials to CSV
* Hide trials from chart
* New design for overview page

[2022-10-24 00:49] liuzhe-lz commented on #5162
The last 2 log files are full log? The dispatcher log looks like being forcibly killed.

[2022-10-24 02:13] Lijiaoa opened #5177 "install error"
**Describe the issue**:
I use the command `python3 -m pip install --user --no-cache-dir -i https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple nni==2.10a1` to install nni

Looks like the nni had been installed successfully, but have some error log, and couldn't start an experiment successfully.
![1](https://user-images.githubusercontent.com/61399850/197434896-c6accab7-9a55-47c2

[2022-10-24 02:16] Lijiaoa commented on #5150
hi @hitesh-hitu I'm very pleasure if you could provide the demo for debug!

[2022-10-24 03:23] Lijiaoa commented on #5177
WARNING: Ignoring invalid distribution -ip (d:\python\lib\site-packages)
Requirement already satisfied: pip in d:\python\lib\site-packages\pip-22.1-py3.10.egg (22.1)
Collecting pip
  Downloading pip-22.3-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 3.6 MB/s eta 0:00:00
WARNING: Ignoring invalid distribution -ip (d:\python\lib\site-packages)
Installing collecte

[2022-10-24 07:53] #5177 closed

[2022-10-24 10:22] Louis-J commented on #5172
reproduced. it's a complicated known bug that has been issued in #4945 and #4991. we may fix it in v3.0 or after

[2022-10-25 06:16] kingaza opened #5180 "error in trial example"
**Describe the issue**:
error happens when runing trial examples for pytorch/sklearn/...

Traceback (most recent call last):
  File "/home/hejiew/anaconda3/bin/nnictl", line 8, in <module>
    sys.exit(parse_args())
  File "/home/hejiew/anaconda3/lib/python3.9/site-packages/nni/tools/nnictl/nnictl.py", line 497, in parse_args
    args.func(args)
  File "/home/hejiew/anaconda3/lib/python3.9/site-pa

[2022-10-25 07:03] Lijiaoa commented on #5180
hi @kingaza Could you update the experiment `dispatcher log` and `nnimanager log`? You could find it in `nni-experiments/experimentID/log` folder.

[2022-10-25 07:45] F0xZz opened #5181 "About the run the example quant code show the error"
**Describe the issue**:
reference website:https://nni.readthedocs.io/en/stable/tutorials/quantization_quick_start_mnist.html

**Environment**:
- NNI version:2.9
- Training service (local|remote|pai|aml|etc):wsl-ubuntu20.04
- Client OS:windows11
- Server OS (for remote mode only):wsl-ubuntu20.04
- Python version:3.8.10
- PyTorch/TensorFlow version: 1.10.2+cu113
- Is conda/virtualenv/venv used?: no

[2022-10-25 08:40] kingaza commented on #5180
**dispatcher.log**
[code]

[2022-10-25 08:41] kingaza commented on #5180
**nnimanager.log**
[code]

[2022-10-25 11:23] twei55 opened #5182 "ValueError: high - low < 0"
Hi people,

I am getting the above stated error when starting my experiments. I have no idea what is going wrong here, any mistake in my search space?

I remember that the same experiment setup was running fine with a previous NNI version but don't know the exact version number any more.

I guess it is not related but I updated to poetry for dependency management lately, now I ran into this issue.

[2022-10-25 19:52] twei55 commented on #5182
Ok, got it solved. I had to reverse the learning_rate range order.

[code]

[2022-10-25 19:52] #5182 closed

[2022-10-26 02:31] LXP-Never opened #5183 "GRU does not support quantification"
**Describe the issue**:

**Environment**:
- NNI version:2.9
- Training service (local|remote|pai|aml|etc):colab
- Client OS: linux(colab)
- Server OS (for remote mode only): colab
- Python version: python 3.7.15
- PyTorch version:1.12.1+cu113
- Is conda/virtualenv/venv used?:
- Is running in Docker?:no

**How to reproduce it?**:
[code]
[2022-10-26 02:30:02] WARNING: Module gru does not have parame

[2022-10-26 02:55] liuzhe-lz commented on #5180
You are trying to view a stopped a experiment, right? Is that experiment created with the NNI v2.9?

[2022-10-26 05:46] puyiwen opened #5184 "Problem about saving and loading nni pruned model"
**Describe the issue**:
Hi,I use a simple function to pruned my model and use `torch.save `to save pruned model.
But, when I load it I have a question like this.
[code]
I dont know why?Can you help me? Thank you very much!!

**Environment**:
- NNI version:
- 2.7
- Python version:
- 3.9.7
- PyTorch version:
- 1.10.0
- Is conda/virtualenv/venv used?:
- use conda
- Is running in Docker?:
- No

**Conf

[2022-10-26 07:22] kingaza commented on #5180
you are right, I made a stupid mistake.

[2022-10-26 07:22] #5180 closed

[2022-10-26 08:27] Smile-L-up commented on #4939
How does it work?

[2022-10-26 08:27] Yaolang003 commented on #4939
您的邮件已收到，谢谢

[2022-10-26 08:32] Louis-J commented on #5184
please offer your model. I tried a simple model with conv2d pruned but could not reproduce it.

[2022-10-26 08:32] J-shang commented on #4939
the link is updated, please using https://github.com/microsoft/nni/tree/v2.9/examples/tutorials/scripts

[2022-10-26 08:35] Alex-Songs opened #5185 "assert len(args) >= len(self.undetermined) AssertionError"
lib/python3.8/site-packages/nni/compression/pytorch/speedup/jit_translate.py", line 226, in __call__
    assert len(args) >= len(self.undetermined)
AssertionError

[2022-10-26 08:36] Smile-L-up opened #5186 "> How does it work?"
the link is updated, please using https://github.com/microsoft/nni/tree/v2.9/examples/tutorials/scripts

_Originally posted by @J-shang in https://github.com/microsoft/nni/issues/4939#issuecomment-1291686612_

[2022-10-26 08:39] Alex-Songs commented on #5185
model is:
(subsampling): Conv2dSubsampling(
    (conv): Sequential(
      (subsampling/pad0): ConstantPad2d(padding=(0, 0, 2, 0), value=0)
      (subsampling/conv0): Conv2d(1, 32, kernel_size=(3, 3), stride=(2, 1))
      (subsampling/relu0): ReLU()
      (subsampling/pad1): ConstantPad2d(padding=(0, 0, 2, 0), value=0)
      (subsampling/conv1): Conv2d(32, 32, kernel_size=(3, 3), stride=(3, 1))

[2022-10-26 09:03] Smile-L-up opened #5187 "Error reported when NNI was used to prune Albert-tiny"
**Describe the issue**:
I'm just pruning the linear layer. Everything seemed fine, but the following problem occurred when I was about to use the ModelSpeedup module to speed up the model.

[code]

[code]
[code]

**Environment**:
- NNI version:2.9
- Training service (local|remote|pai|aml|etc):
- Client OS:
- Server OS (for remote mode only):
- Python version:3.8
- PyTorch/TensorFlow version:1.12.1

[2022-10-26 09:04] #5186 closed

[2022-10-27 01:18] #5184 closed

[2022-10-27 02:25] J-shang commented on #5183
hello @LXP-Never , NNI only support compressing `Module` which has attribute `weight`, and I find in `torch.nn.GRU`, there is no `weight`, but has `'weight_ih_l{}{}', 'weight_hh_l{}{}'`.

https://pytorch.org/docs/stable/_modules/torch/nn/modules/rnn.html#GRU

Fortunately, NNI is planning to support compressing any parameters, buffers, inputs and outputs in the `Module`, this feature will be implem

[2022-10-27 02:34] Louis-J commented on #5185
it does have a problem. when the modelspeedup doing inference, it should run at the leaf module level such as 'pad0', 'conv0' but not at op level.

I can't reproduce it in a simple model with conv2d. so I need your help.
please offer a simple code that can reproduce it, and your nni version.

[2022-10-27 02:51] J-shang commented on #5187
hello @Smile-L-up,

in your file
[code]

please try change
[code]
to
[code]

we will fix this in nni 2.10

[2022-10-27 03:35] Smile-L-up commented on #5187
Wonderful ! That will work, but  need to duplicate that tensor, as shown in the following code.

[code]

Thanks again for your help!

[2022-10-27 05:02] J-shang commented on #5187
hello @Smile-L-up ,

why `tensor = tensor.clone()` is needed? in this case, the original tensor will not be randomized, and this function actually has no effect. Do you mean in your model, this bool tensor should not be randomized?

[2022-10-27 05:24] Smile-L-up commented on #5187
I just wanted it to run. I didn't think about it that much. If  not, the following problems will occur. So how do I handle this?

runtimeerror: unsupported operation: more than one element of the written-to tensor refers to a single memory location. please clone() the tensor before performing the operation.

[2022-10-27 05:44] Smile-L-up commented on #5187
In addition, when I try to make predictions after loading the accelerated model, the following problems occur.

Load the model
[code]

The following error occurs:
[code]
This still seems to pass the original structure of transformers, leading to dimensional errors.

[2022-10-27 06:34] J-shang commented on #5187
Seems that you pruned the linear module in huggingface transformer attention, in fact, the linear in huggingface transformer attention has additional semantics (like multi-head), `ModelSpeedup` cannot perceive this.
For example, in your model has 12 heads for each layer, and each entire head should be pruned or kept, prune partial head should be forbidden.

So when you want to prune QKV in attenti

[2022-10-27 07:53] qingzhouzhen opened #5188 "prune pointpillar with mmdetection3d"
I want to prune pointpillar on mmdetection3d framework, but the model has more than one input`def forward(self, img, img_metas, return_loss=True, **kwargs):`, which makes it not suitable for speedup: `ModelSpeedup(model, dummy_input=torch.rand([10, 3, 32, 32]).to(device), masks_file=masks).speedup_model()`
so I just prune and speedup the backbone: `model.backbone` follow steps:
step1 : load origin

[2022-10-27 09:23] Smile-L-up commented on #5187
Hi, The first step looks a little confusing, so I just tried the second step, because it looked like i could just speed up ffn21 without doing the first step. ffn1_masks is filtered from masks. But similar mistakes still occur, can't I just prune the ffn1?

The config_list as follows:
[code]
The ffn1_masks as follows:
[code]
Also, for the first part, is there a complete example? [https://nni.readt

[2022-10-28 01:10] Faye-XDU opened #5190 "TypeError: Cannot read properties of undefined (reading 'startsWith')"
**Describe the issue**: When I finished the whole nni experiment successfully, NNIManager prompted an error: `ERROR (NNIManager) TypeError: Cannot read properties of undefined (reading 'startsWith')`. I don't know if this will have any effect on the completion of the experiment

**Environment**:
- NNI version: nni
- Training service (local|remote|pai|aml|etc): local
- Client OS: linux
- Python ver

[2022-10-28 07:25] Louis-J commented on #5188
for many mmdetection3d models, there is a `forward_dummy` function in the model, so you can try to prune it by:
[code]

or you can write a custom forward if the forward_dummy cannot use.

[2022-10-28 08:14] liuzhe-lz commented on #5190
I guess it's just logging states and does not harm.
However please provide the full NNI manager log for us to debug it. Thanks.

[2022-10-28 11:29] Faye-XDU commented on #5190
The full NNI manager log is too long to provide.
[code]

Also I would like to ask if I can't open the web page provided by nni, how should I get the right parameters that I end up with.

[2022-10-31 02:10] Lijiaoa commented on #5162
hi @imsaumil Do you still have this installation issue? Could you update it? Thanks!

[2022-10-31 02:16] J-shang commented on #5187
yes. you can skip step 1, the first step is pruning the QKVO head. the following is an example, but it contains additional logic that you may not care.
[https://nni.readthedocs.io/en/stable/tutorials/pruning_bert_glue.html](https://github.com/microsoft/nni/issues/url)

Yes, you can only speedup ffn1, could you show your entire code for I could reproduce it to find the problem?
which model and prun

[2022-10-31 02:32] wwdok opened #5192 "Please provide updated example code of pruning"
**What would you like to be added**:
provide updated example code of pruning

**Why is this needed**:
I got warning: `WARNING: The old API trainer,traced_optimizer,criterion,training_batches,mode,dummy_input will be deprecated after NNI v3.0, please using the new one evaluator,training_steps,mode,dummy_input` when runing the example pruning code from [here](https://github.com/microsoft/nni/blob/ma

[2022-10-31 03:07] J-shang commented on #5192
Thanks for your reminder! we will update the latest examples in v3.0!

[2022-10-31 08:03] Lijiaoa commented on #5190
When the experiment status is `stopped`, the webui has also stopped. So you can use `nnictl resume your-experiment-ID` to get the experiment running again. @Faye-XDU

[2022-10-31 08:23] sunlinlin-aragon commented on #5185
I have the same problem in efficientnet-b0, Request help。
![1](https://user-images.githubusercontent.com/15337197/198963642-9f0b7293-b6f2-45ac-9527-80da5006c293.png)

[2022-10-31 12:20] Louis-J commented on #5185
can you offer a runnable and reproduceable code? I can't reproduce it.

[2022-10-31 16:45] imsaumil commented on #5162
Hi @Lijiaoa, I am still facing this issue but running it on a cluster as opposed to my local computer solved the problem. But I am still unable to figure out why does it not work on my local computer.

[2022-10-31 17:25] AngusHuang17 commented on #5046
I meet the same error. And I try the setting as @Louis-J  metioned but it couldn't solve the problem.

[2022-11-01 02:12] shihuiyu opened #5193 "ERROR: Graphs differed across invocations!"
**Describe the issue**:

When i pruned yolov7 model, i met this error:

“
Traceback (most recent call last):
  File "/home/shihuiyu/yolov7-main/prune.py", line 750, in <module>
    train(hyp, opt, device, tb_writer)
  File "/home/shihuiyu/yolov7-main/prune.py", line 194, in train
    m_speedup = ModelSpeedup(model, dummy_input=torch.rand([1,3,640,640]).to(device), masks_file='/home/shihuiyu/yolov7

[2022-11-01 03:52] Faye-XDU commented on #5190
But my biggest issue is that I can't access the URL when I'm running on a remote server.

[2022-11-03 07:50] amznero opened #5202 "Some NAS Search Strategy won't exit even the experiment reaches the maxTrialNum"
**Environment**:
- NNI version: 2.8
- Training service (local|remote|pai|aml|etc): Local
- Client OS: Ubuntu 18.04
- Server OS (for remote mode only):
- Python version: 3.8
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?: conda
- Is running in Docker?: Yes

**Configuration**:
 - Experiment config:
   - NAS(Retiarii) + RegularizedEvolution

**Describe the issue**:

When I use the `Re

[2022-11-04 02:17] lixuechenAlfred commented on #5173
Actually I have done some experiments to check out if  `GlobalSparsityAllocator`  works on other basic pruners. Basically, NormPruners and ADMMPruner have little improvement (they all use NormMetricsCaculator). FPGM has to do some extra math to conduct cross-layer comparison. ActivationMeanRank supports well, while APoZ turns out unsatisfied. APoZ may be a good metric for unstructured pruning, but

[2022-11-04 02:46] J-shang commented on #5173
Sure, any contribution is welcome. we will adjust the directory structure in v3.0, and some improvements will be done on wrapper, please be aware of this. If you have any question, we could communicate at any time😉. Which pruners are you currently planning to support for?

[2022-11-04 05:02] ultmaster commented on #5202
We are aware that it's a known issue, and 've been already working on a fix.
Thanks for your contribution!

[2022-11-04 07:40] doubelejjyy opened #5203 "How to selectively input training data during hpo"
The current hpo run is: `experiment.config.trial_command` = 'python model.py'
But what I want is to not write the training data in model.py, but to pass in different data during the experiment, how to achieve this

[2022-11-04 09:32] Smile-L-up commented on #5187
Hello, I tried to use prune_head for module pruning according to example [https://nni.readthedocs.io/en/stable/tutorials/pruning_bert_glue.html](url), but there was no pruning at all for attention heads. As I increased sparsity rate, there was a situation where all attention heads were pruned. Do you know the possible reason? Is it because there really is no attention heads to prune?  The model de

[2022-11-05 05:41] ToniButland1998 opened #5204 "AttributeError: 'Conv2d' object has no attribute 'layer_quant_setting'"
**Describe the issue**:
When I call

calibration_config =quantizer.export_model(model_path =  ...)

it shows this error message:
AttributeError: 'Conv2d' object has no attribute 'layer_quant_setting'
![image](https://user-images.githubusercontent.com/42618317/200104335-c6bb1b02-c99b-460e-8e42-667772e36ef0.png)

[2022-11-06 07:27] qingzhouzhen commented on #5188
I follw your suggestion, but I got an error:
[code]
it seems op not support?

[2022-11-06 13:39] qingzhouzhen opened #5205 "About pruning model on multi GPUs"
is there any example about pruning model on multi GPUs? I had tried prune mode with multi GPU, but it failed(forget to collect log), then I prune model with one GPU and save model to disk, after that, I load the model and finetune the model with multi GPUs.

[2022-11-07 02:08] Lijiaoa commented on #5143
hi @wwdok This bug will be fixed in pr #5107!

[2022-11-07 02:10] J-shang commented on #5187
hello @Smile-L-up , if I understand correctly, the dim 0 of `out_lin` weight is not the head dim, but the dim 1 is. So if you want to use `out_lin` to denote which head should be pruned, different from using QKV mask, output linear mask should be transpose, here is an example you could have a try.

[code]

[2022-11-07 02:17] Lijiaoa commented on #5204
hi @ToniButland1998 Thanks for raising this issue. Could you provide more details for us to debug this problem, such as your `code` or `example` and the reproduced progress?

[2022-11-07 07:04] qw1319 commented on #4578
nni.common.serializer.PayloadTooLarge: Pickle too large when trying to dump <nni.nas.nn.pytorch.mutator.ParameterChoiceMutator object at 0x7fa9b9e48be0>. This might be caused by classes that are not decorated by @nni.trace. Another option is to force bytes pickling and try to raise pickle_size_limit

I had the same problem

[2022-11-07 10:37] zjh908491372 opened #5209 "Errors may be caused by “slice” operation"
Code:

  def forward(self, x, z):

        x1 = x[:, : N]

        y = self.conv(x)
        y = self.add(x, y)

        return y, x1

RuntimeError: Unsupported function op node type: prim::TupleConstruct

File "nni_pruner.py", line 517, in <module>
    ModelSpeedup(model, example, masks).speedup_model()
  File "/home/yuyin/.pyenv/versions/anaconda3-2020.02/envs/pytorch/lib/python3.8/site-packages/

[2022-11-07 12:26] J-shang commented on #5204
hello @ToniButland1998 , did you export twice? `xxx.layer_quant_setting` will be deleted after export.

[2022-11-07 12:30] J-shang commented on #5205
hello @qingzhouzhen , which pruner do you use? you could show your code if convenience, we are going to write some examples on multi-gpu recently.

[2022-11-08 04:20] ToniButland1998 commented on #5204
Hi J-Shang, Thank you for your remind. I did export it twice. Now I only export once, and it works. Thanks.

[2022-11-08 05:19] J-shang commented on #5205
speedup will change the model, so if you mean multi-gpu is DDP, you should put the original model into DDP wrapper after speedup.

have you tried prune model with multi-gpu, then rewrap the model with DDP and finetune.

[2022-11-09 02:04] Lijiaoa commented on #5209
hi @zjh908491372 Thanks for raising this issue. So what's your nni version and how to reproduced your problem? Could you provide your experiment example?

[2022-11-09 02:16] Lijiaoa commented on #5162
@imsaumil 2.10 will be released soon! and I suggest you to use v2.10, maybe this issue had been resolved in that version!

[2022-11-09 07:20] Hap-Zhang commented on #5185
@Louis-J Hi, i have the same problem when run this demo, could you have a look?
https://github.com/microsoft/nni/blob/master/examples/model_compress/pruning/legacy/speedup/speedup_yolov3.py

[2022-11-09 07:23] Hap-Zhang commented on #5185
@Louis-J I run this demo in docker:
docker pull msranni/nni , the nni version is 2.9

[2022-11-09 09:13] XYAskWhy commented on #5205
What if we use _pruing while training_ methods, such as TaylorFO and Slimming?

[2022-11-09 09:45] zjh908491372 commented on #5209
nni 2.9
    model.to(device)
    pre_flops, pre_params, _ = count_flops_params(model, example)
    g_epoch = 0

    # Start to prune and speedup
    print('\n' + '=' * 50 + ' START TO PRUNE THE BEST ACCURACY PRETRAINED MODEL ' + '=' * 50)

    config_list = [{
        'sparsity_per_layer': 0.5,
        'op_types': ["Conv2d", "Linear"],
    }]

     pruner = L1NormPruner(model, config_list)

    _,

[2022-11-09 11:33] zjh908491372 commented on #5209
Does the compressed model structure need to be rewritten after model speedup

[2022-11-09 20:42] conceptofmind commented on #4578
@qw1319 I will take a look at your suggestion as I was unable to resolve this issue previously.

[2022-11-10 02:47] Lijiaoa commented on #5204
We'll close this issue as completed if you have any questions please reopen it.

[2022-11-10 02:49] #5204 closed

[2022-11-10 02:52] zjh908491372 commented on #5209
[2022-11-10 10:48:36] Slice dim:1, Slice obj:slice(0, 4, 1)
[2022-11-10 10:48:36] Model has Slice operation, and the operand size=torch.Size([8, 32, 28, 28]), Slice object:(slice(None, None, None), slice(0, 4, 1))
[2022-11-10 10:48:36] Model has Slice operation, and the operand size=torch.Size([8, 32, 28, 28]), Slice object:(slice(None, None, None), slice(0, 4, 1))
[2022-11-10 10:48:36] Update mas

[2022-11-10 03:12] J-shang commented on #5205
You could use pruner with DDP.
Additionally, we found that TaylorFO has bug in DDP (pruning is independently on each device), we will fix this in v3.0.
Slimming seems work well in DDP, you could directly prune model in DDP and generate masks.

If speedup is used, you should rewrap the model by DDP, this is because speedup will replace the layers in the original model to smaller ones, then the old

[2022-11-10 03:20] liuzhe-lz commented on #5203
You can use [`nni.get_sequence_id()`](https://nni.readthedocs.io/en/stable/reference/hpo.html#nni.get_sequence_id) (returns integer index) or [`nni.get_trial_id()`](https://nni.readthedocs.io/en/stable/reference/hpo.html#nni.get_trial_id) (returns string unique ID) in trial code and load different data depending on the return value.

[2022-11-10 03:21] zjh908491372 commented on #5209
Using torch.narrow instead of python 's slice operator will not report an error, but there is another error。

  File "nni_pruner.py", line 523, in <module>
    ModelSpeedup(model, example, masks).speedup_model()
  File "/home/yuyin/.pyenv/versions/anaconda3-2020.02/envs/pytorch/lib/python3.8/site-packages/nni/compression/pytorch/speedup/compressor.py", line 550, in speedup_model
    self.replace_c

[2022-11-10 18:58] sathishkumark27 opened #5218 "I am very new to NNI can you please provide a MS NNI + Pytorch Lightning example for HPO"
**Describe the issue**:
I am very new to NNI can you please provide a MS NNI + Pytorch Lightning example for HPO

**Environment**:
- NNI version:
- Training service (local|remote|pai|aml|etc):
- Client OS:
- Server OS (for remote mode only):
- Python version:
- PyTorch/TensorFlow version:
- Is conda/virtualenv/venv used?:
- Is running in Docker?:

**Configuration**:
 - Experiment config (remember

[2022-11-11 03:35] nico-zck opened #5220 "Error when run nni in remote mode "ERROR (NNIManager) TypeError: Cannot read properties of undefined (reading 'type')""
**Describe the issue**:

Got errors during the running of NNI:
  - Local mode works well. It only happens when using remote mode.
  - It works as expected at the beginning. Probably, it happened when a task was completed.
  - Enabling debug mode when reproducing this bug.

[code]

**Environment**:
- NNI version: 2.9
- Training service (local|remote|pai|aml|etc): remote
- Client OS: ubuntu
- Server

[2022-11-11 04:24] rockcor commented on #5046
@AngusHuang17
`pip install nni==2.5` may solve the problem

[2022-11-11 04:29] rockcor commented on #5046
you mean run with **nni python api**? why command line tool fails

[2022-11-11 06:05] Louis-J commented on #5209
thanks for the issue response. the `UnBalancedGroupError` is reproduced before but it's hard to repair. we are refactoring the ModelSpeedup and once it's done, we will deal with the `UnBalancedGroupError`.

[2022-11-11 08:14] liuzhe-lz commented on #5046
GPU scheduler is somehow broken currently. We will solve it in 3.0 release.

[2022-11-11 08:44] rockcor commented on #5046
got it. thanks for your contribution

[2022-11-11 14:10] sunpeil opened #5224 "AttributeError: 'torch._C.Node' object has no attribute 'schema'"
I use the tool to try to prue my model such as (https://github.com/microsoft/nni/blob/dab51f799f77aa72c18774faffaedf8d0ee2c977/examples/model_compress/pruning/admm_pruning_torch.py)
I only change the model(with restnet) and the dataloader:
But now there is some problem when I use ModelSpeedup
  File "<ipython-input-7-25297990bbbb>", line 1, in <module>
    ModelSpeedup(model, torch.randn([1, 2, 22

[2022-11-13 07:30] briancpark commented on #5185
I have the same issue when doing densenet121 from torchvision's pretrained models.

[2022-11-14 01:58] Lijiaoa opened #5225 "customized trial issue from wechat"
**Describe the issue**:
您好，这个操作如何使用命令执行？
hi, could I use nni-command to do it?
![customized_png](https://user-images.githubusercontent.com/61399850/201559099-8b160c93-fdb1-4bbb-90a1-ffd7aa811312.png)

**Environment**:
- NNI version: --
- Training service (local|remote|pai|aml|etc):
- Client OS:
- Server OS (for remote mode only):
- Python version:
- PyTorch/TensorFlow version:
- Is conda/virtualen

[2022-11-14 03:02] Lijiaoa commented on #5190
I want to know your nni version you used.

[2022-11-14 03:29] Louis-J commented on #5224
i think the version of pytorch which you are using is less than 1.8.
the `ModelSpeedup` supports pytorch >= 1.9 on nni 2.9, and it will support pytorch >= 1.8 on next nni 2.10,

[2022-11-14 03:29] sunpeil commented on #5224
您发给我的信件已经收到。--------------------------------------------梁沛阳的私人邮箱This is an automatic reply, confirming that your e-mail was received.Thank you

[2022-11-14 03:40] Louis-J commented on #5188
It seems that this model cannot be traced by torch.jit.trace to get a torchscript model. We can only do speedup on torchscript models.
there is a page https://mmclassification.readthedocs.io/en/latest/tools/pytorch2torchscript.html but I don't know whether it works.
In this case only, you can try another pytorch version or another python version. It may help.

[2022-11-14 03:46] Louis-J commented on #5185
reproduced. We are trying to refactor the ModelSpeedup now.

[2022-11-15 01:54] zctang opened #5227 "After AGPpruner, FLOPsand params did not change，already do the ModelSpeedup"
**Describe the issue**:
Using New version，But the FLOPs，params did not change after AGPpruner. already do the ModelSpeedup
Before AGPpruner：
+-------+--------------------------------+--------+------------------+-------------------+-------------------+------------+---------+
| Index | Name                           |  Type  |   Weight Shape   |     Input Size    |    Output Size    |   FLOPs    | #

[2022-11-15 06:23] liuzhe-lz commented on #5190
You can use [`nnictl experiment export`](https://nni.readthedocs.io/en/stable/reference/nnictl.html#nnictl-experiment-export)

[2022-11-15 12:16] Faye-XDU commented on #5190
`nni 2.7`

[2022-11-15 12:17] Faye-XDU commented on #5190
Thanks for your reply! I will try it later.

[2022-11-16 02:31] #5106 closed

[2022-11-16 02:32] Louis-J commented on #5193
sorry i have no time to reproduce it now. i'll do after refactored the ModelSpeedup.

[2022-11-16 03:21] QuanluZhang commented on #3623
NNI annotation is not maintained anymore. It is replaced by NNI NAS interface (https://nni.readthedocs.io/en/stable/nas/construct_space.html).

[2022-11-16 03:21] #3623 closed

[2022-11-16 03:36] liuzhe-lz commented on #1623
Removed hyperopt from required dependency.

[2022-11-16 03:36] #1623 closed

[2022-11-16 03:37] liuzhe-lz commented on #5086
Fixed in v2.10

[2022-11-16 03:37] #5086 closed

[2022-11-16 07:11] nnzs9248 commented on #4991
Hi, any progress in this ? @Louis-J

[2022-11-16 07:18] nnzs9248 commented on #5106
p1 - ~~a bug in speedup replace_module: https://github.com/microsoft/nni/issues/4991. @Louis-J ~10/10~~

 any progress in this？

[2022-11-16 07:21] nnzs9248 commented on #4796
any progress in this？

[2022-11-16 08:06] nnzs9248 commented on #4864
using nni 2.10, still facing the same bug when pruning

[2022-11-16 08:30] zctang commented on #4645
But engine.compress() always get the error :
File "QAT_torch_quantizer_lucas.py", line 229, in main
    engine.compress()
  File "/home/tzc/anaconda3/envs/mlsd/lib/python3.8/site-packages/nni/compression/pytorch/quantization_speedup/integrated_tensorrt.py", line 291, in compress
    _, self.onnx_config = fonnx.torch_to_onnx(self.model, self.config, input_shape=self.input_shape,
  File "/home/tzc/a

[2022-11-16 09:08] Lijiaoa commented on #4991
will confirm that, please wait some time, thanks!

[2022-11-16 10:58] Louis-J commented on #4991
sorry no progress so far. it's hard to fix, and we are now refactoring ModelSpeedup in 3.0. then we will try to fix it.

[2022-11-17 03:31] Louis-J commented on #5018
the `expand_as` is solved in #5141 included in version 2.10. you can try with the latest version 2.10 now.

[2022-11-17 13:06] singagan opened #5231 "PyTorch Pruning with ProxylessNAS"
Hi,

I am interested in using pruning with ProxylessNAS. So I added a new class like "MBInvertedConvLayer_Sparse" in ProxlyessNAS example that applies pruning in [forward pass](https://github.com/microsoft/nni/blob/aec9962673e033f0d8d7784ac8dfba3ee198f0e3/examples/nas/oneshot/proxylessnas/ops.py#L309).

example:

[code]

However, I get the below error:

[code]
Any idea how I could hack proxylessNA

[2022-11-18 01:56] XYAskWhy commented on #5205
Hey, after careful experiments, I found Slimming have similar problem with TaylorFO. If we prune while DDP training, we always end up with different pruned model on different GPU after speedup. For TaylorFO, the prune training process can't sync grads, thus leads to different weights on different GPU, and finally leads to different pruned model on different GPUs which can't be continued to further

[2022-11-18 01:58] ToniButland1998 opened #5232 "Unexpected BatchNorm layer"
**Describe the issue**:
![img](https://user-images.githubusercontent.com/42618317/202596923-059e2389-68a1-44cb-83dd-0ca9e73c8fa1.png)

I used QAT quantized and pass a **dummy_input** into the quantizer. But the net work I got, compared the original no quantized model, has another bn_module batchNorm layer after each Conv2D layer. Therefore, although my quantized pytorch model can work, my exported

[2022-11-18 03:28] J-shang commented on #5205
Thanks for your feedback, it's helpful!
We are trying to fix DDP issues in https://github.com/microsoft/nni/pull/5217 , and it will merge in v3.0.

For `SlimPruner`, you could have a try to modify:
https://github.com/microsoft/nni/blob/c31d2574cb418acfb80c17bb2bd03531556325bd/nni/algorithms/compression/v2/pytorch/pruning/basic_pruner.py#L610

to

[code]

FYI @Bonytu

[2022-11-18 05:00] J-shang commented on #4991
Hello @nnzs9248 , could you give us a demo to reproduce your issue? so that we could make sure they are the same issue.

[2022-11-18 08:15] Lijiaoa commented on #5203
hi @doubelejjyy Could I close this issue as completed?

[2022-11-18 09:09] XYAskWhy commented on #5205
I did what you suggested, and registered `replace_syncbatchnorm` func in compress_modules.py to make speedup work.
It turns out that pruned models on different GPUs are 'almost' identical, but a few layers are still not same. Which is quite puzzling since bn buffers across GPUs seems to be equal now. Did you used random number or random function in the slimming algorithm?

[2022-11-18 09:09] ultmaster commented on #5231
Firstly please upgrade NNI to the latest version.

Secondly `MBInvertedConvLayer_Sparse` looks like a hack itself. And `Proxyless` is also a hack. I don't have confidence that these two hacks will work together.

[2022-11-18 09:18] J-shang commented on #5205
@XYAskWhy could you show a demo to reproduce your issue? I think nni did not use random gen in slimming algorithm, but random is used in speedup for sparsity propagation.

[2022-11-18 09:36] xiadingZ opened #5234 "doesn't support lr scheduler while using pytorch lightning evaluator"
**Describe the issue**:
When I use pytorch lightning evaluator,  I can't create lr scheduler in `configure_optimizers`
here is part of my  code
[code]

**Environment**:
- NNI version: 2.10
- Training service (local|remote|pai|aml|etc): local
- Client OS: linux
- Server OS (for remote mode only):
- Python version: 3.8
- PyTorch/TensorFlow version: 1.13.0
- Is conda/virtualenv/venv used?: conda
- Is

[2022-11-18 13:05] XYAskWhy commented on #5205
OK,I will make a demo for you next Monday. Thank you and have a nice weekend.

[2022-11-20 18:24] zzzzzx-1115 opened #5235 "maxTrialNumerPerGpu does not seem to work"
**Describe the issue**:
When I tried to train the mnist example in the remote mode, there was always only one trial running in the only GPU I have, and other trials were all waiting. I found several issues like #608 and #2415 mentioned this, and I also set `useActiveGpu` to be `True` and `maxTrialNumberPerGpu` to be greater than 1, but they did not work. Please tell me how to deal with it, thanks!

[2022-11-20 23:33] Seyedfarazeftehar opened #5236 "HPO for a deep MLP Regression Tensorflow model"
Hi
I am trying to do HPO for a deep MLP Regression Tensorflow model.
My question is that I read the below documentation, but I could not find how to tune the number of layers and I want to use PTE.
https://nni.readthedocs.io/en/latest/tutorials/hpo_quickstart_tensorflow/model.html
It should be mentioned that I am doing my HPO on High Performance Computing (HPC) server. Should I consider any points

[2022-11-21 01:35] Lijiaoa commented on #5235
related issue with https://github.com/microsoft/nni/issues/5159

[2022-11-21 02:28] J-shang commented on #4786
We are refactoring quantization speedup and suppose it can release in v3.0.

[2022-11-21 02:30] #4060 closed

[2022-11-21 02:42] ultmaster commented on #5234
Could you try to raise the pickle size limit to 1MB by `export PICKLE_SIZE_LIMIT=1048576`?

[2022-11-21 09:13] xiaoerqi opened #5237 "NAS export source code error"
**Describe the issue**:
With the NAS, i want export source code, but when i set exp_config.execution_engine = 'base', it has a error:

Exception has occurred: PayloadTooLarge
Pickle too large when trying to dump <nni.nas.nn.pytorch.mutator.ParameterChoiceMutator object at 0x7f1f99a64c40>. This might be caused by classes that are not decorated by @nni.trace. Another option is to force bytes picklin

[2022-11-21 09:38] xiaoerqi commented on #5234
Thank you for your advice ，but  after raise the pickle size limit to 1MB by export PICKLE_SIZE_LIMIT=1048576, it also have same error：
Traceback (most recent call last):
  File "NAS/grid_search.py", line 128, in <module>
    exp.run(exp_config)
  File "/meda_home/ai0400/miniconda3/envs/tf2-GPU/lib/python3.8/site-packages/nni/nas/experiment/pytorch.py", line 298, in run
    self._save_experiment_ch

[2022-11-21 15:12] yolo2233 opened #5239 "Infinite waiting in remote mode"
**Describe the issue**:
Hi, I ran into the infinite waiting issue when using remote mode. I started 3 VMs on google cloud and one serves as nni_manager, other two is for training. For configuration file, all the IP address are internal IPs. I double check that from the manager node, I can connect to the training nodes via ssh using internal IP. I also tried using my local laptop MacBook pro 2018 a

[2022-11-21 16:14] #5190 closed

[2022-11-22 02:08] XYAskWhy commented on #5205
Sorry I'm not authorized to share the exact code, but I can share the gist of it. I'm using nni in mmdetection to prune mask-rcnn-r50, what i did is to insert nni's TaylorFO/Slimming prune code
 in epoch_based_runner.py of mmcv. ( https://github.com/open-mmlab/mmcv/blob/abb600ad8d34c0d1bc88b01c4d2526ebdea1f8dc/mmcv/runner/epoch_based_runner.py#L118)

[2022-11-22 21:12] singagan commented on #5231
Thanks. How do you mean "Proxyless is also a hack"?
Is there any other NAS approach that might be better suited?
Thank you!

[2022-11-23 02:28] matluster commented on #5231
"Proxyless is also a hack": ProxylessNAS is implemented by manipulating the backward pass, and did some forwards there. It has certain assumptions for the input and output format, which I'm not sure whether it will work with your space.

Maybe you can try ENAS.

Also I noticed that you are using the legacy NAS examples, which is long out-of-date. Please try the [new examples](https://nni.readthedo

[2022-11-23 02:29] matluster commented on #5237
Please try to raise pickle size limit by `export PICKLE_SIZE_LIMIT=1048576`.

Also there are many known issues with "base" execution engine. I wouldn't recommend trying it.

[2022-11-23 03:09] J-shang commented on #5019
have moved `.scripts` to `nni_assets`, close this issue

[2022-11-23 03:09] #5019 closed

[2022-11-23 03:10] J-shang commented on #4189
close this issue for the feature has expired

[2022-11-23 03:10] #4189 closed

[2022-11-23 03:24] Lijiaoa commented on #3610
hi @1575018690 I'll close this issue as completed, if you have any problems please reopen it!

[2022-11-23 03:33] xiaoerqi commented on #5237
Thank you for your answer. I tried to set PICKLE_ SIZE_ LIMIT, but it seems to have no effect. Even I ran the script provided in exsample form https://github.com/microsoft/nni/blob/b06f3921fbb483740d5f43d12f4866f08aa95ea6/test/retiarii_test/naive/search.py，also with the same error. I hope this function can have a stable version

[2022-11-23 05:08] singagan commented on #5231
@matluster Thanks for the quick reply. I see. Yes, I modified the input/output format to match my space.
Thanks for pointing out the new examples. I am looking for a hardware-aware NAS. Maybe I can inject some hardware metrics in ENAS as well.

[2022-11-23 11:08] ultmaster commented on #5237
I noticed the version in retiarii_test is really out-of-date. Sorry for that.

Could you try the example in examples/nas/multi-trial/mnist?

[2022-11-23 21:30] #2907 closed

[2022-11-24 01:12] cruiseliu commented on #5239
The most likely reason is that the remote worker cannot access NNI manager's IP.
We are trying to solve these kinds of issues in next release (v3.0) by:
  - improve diagnostic information to clarify the concrete cause
  - allow to establish the connection from NNI manager side

[2022-11-24 01:17] cruiseliu commented on #5236
You can use a hyper-parameter like `'layer_num': {'_type': 'choice', '_value': [3, 4, 5]}` and then in model code, build the network depending on the value:
[code]

[2022-11-24 01:18] cruiseliu commented on #5235
We are working on a fix for next release.

[2022-11-24 07:04] zctang commented on #4645
OK，Thanks

[2022-11-25 01:53] J-shang commented on #5227
hello @zctang , AGPPruner start to iterate pruning from sparsity=0 to the sparsity you set, so if
[code]
then it will not prune the model, you can have a try with, for example, `'total_iteration': 10,`,

additionally, `finetuner` should be a callable function, https://nni.readthedocs.io/en/v2.8/reference/compression/pruner.html#agp-pruner

[2022-11-25 02:08] J-shang commented on #5232
hello @ToniButland1998 , in fact, these two bn is the same obj, in `QuantizerIdentityWrapper`, it will directly return input in forward:
[code]
and all the wrapper is for simulating the quantization effect, if you want to export to ONNX, please using `quantizer.export_model` to get the quantized model weight and the calibration_config, then load the model with the quantized weight and then export

[2022-11-25 02:18] J-shang commented on #5205
Thank you, we will have a try.

[2022-11-25 07:50] Lijiaoa commented on #5236
Thanks for @Seyedfarazeftehar raising this usage issue. Could you close this issue as completed? Thanks!

[2022-11-25 07:53] Lijiaoa commented on #5231
@singagan Could you close this issue as completed?

[2022-11-25 07:57] Lijiaoa commented on #5224
@sunpeil Thanks for raising this issue. Could you close this issue if you had not any problem?

[2022-11-25 08:06] #5231 closed

[2022-11-25 08:07] mawj111 opened #5245 "WARNING: throw some args away when calling the function "upsample_nearest2d""
**Describe the bug**:
When I use the ModelSpeedup function, the terminal reports a warning as follow.
**WARNING: throw some args away when calling the function "upsample_nearest2d"**
This causes errors in the sampling process on the FPN network. **Does ModelSpeedup not support this operation?**
I would appreciate it if someone can answer it.

**Environment**:
- NNI version: 2.10
- Training service

[2022-11-26 14:33] RunningLeon opened #5248 "how to add channel constriction in the pruning config"
Hi, I've look through the docs and could not find how to set in the pruning config(suppose we use l1-norm-pruner) so that remained convs have channel number that is divisible by a certain number, say 8.
Thanks.

[2022-11-27 03:57] ToniButland1998 commented on #5232
@ [J-shang](https://github.com/J-shang) Thank you very much for your advice. My question is about '**quantizer.export_model()**'. I think I can only use it once in one script, according to its property. However, during training, we usually need to export it for many times for different epochs. Therefore, I would like to know how can we use '**quantizer.export_model()**' for multiple times? Thank y

[2022-11-28 03:16] J-shang commented on #5248
hello @RunningLeon , sorry we don't have this feature right now, but it's on our to-do list, which stage you want to apply the `channel constriction`, in pruner simulated pruning or in pruning speedup or both?
And could you explain why this feature is important to you so that we can re-evaluate this feature's priority?

For now, there is a workaround can make the remained channel number can be div

[2022-11-28 07:54] RunningLeon commented on #5248
@J-shang Hi, thanks for your reply. I'd prefer both.
The motivation is that for backends like TensorRT, if the channel number meets some requirements, the performance would be better. For instance, for structured sparsity for TensorRT, the channel number should be 128 * x, see this [doc](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#dla-structured-sparsity).
The workarou

[2022-11-28 14:56] #5236 closed

[2022-11-29 02:55] J-shang commented on #5248
@RunningLeon , hello, thanks for your information. I believe this is a reasonable motivation for us to make this feature a higher priority, we will discuss about this feature and let you know if this is done.

[2022-11-29 03:14] RunningLeon commented on #5248
Thanks a lot. Looking forward to this feature.

[2022-11-30 23:24] ToniButland1998 opened #5253 "AssertionError: Could not found shapes for layer body.conv1" for QAT_quantizer()"
**Describe the issue**:

I am using QAT_quantizer() and my quantize config is :

Config_list = [{
'quant_tyes': ['input'],
'quant_bits': {'input': 8},
'op_types': ['Conv2d']
}]
 I call the quantizer by "quantizer = QAT_quantizer (net, config_list, optimizer)" without passing "dummy_input". But I encounter such error "Traceback (most recent call last):
  File "quantize.py", line 184, in <module>